[2020-11-24 05:58] #537 closed, assigned to nobody

[2020-11-25 06:54] Matin69 opened #538 "After retry or resume , the download does not complete"
**After 50 to 70% of the download**, I get **REQUEST_NOT_SUCCESSFUL** error, when i :
1 - close and reopen the Fetch
2 - pause and resume the download
3 - allow the Fetch to try download auto
and the download does not complete
i saw almost similar scenarios in issues so i migrate to version 1.3.4 of Android X and everything is fine , but this is not we want and this is not the correct way.
so i wa

[2020-12-01 17:55] SudoDios opened #540 "Not work"
fetch.cancel(id);
fetch.delete(id);

not working on service onStartCommand()

[2020-12-16 05:29] rohangho commented on #171
Hi when we are updating the url using  **"fetch.updateRequest(oldRequestId, newRequest, callback, callback) "**
the download is starting again from the beginning.
Is it possible to continue the dowmload from the same place again?

[2020-12-16 18:59] omidnaghipoor opened #541 "onProgress call only when download completed"
I'm trying to download a single zip file and show a progress percent.
The problem is onProgress callback called only when download is completed.
How can I update progress percent during download progress?

[2020-12-19 10:19] #531 closed, assigned to nobody

[2020-12-19 10:20] praveenkumar2K06 opened #542 "Error during downloading"
I am getting FILE_NOT_FOUND error when enqueing request

[2020-12-20 12:13] harrisaliqamar commented on #513
@ghost how did you fix DefaultFetchNotificationManager issue? Please help @tonyofrancis , I am having the same issue, whenever I click on pause or cancel button nothing happens and the notification disappear automatically.

[2020-12-21 22:21] #439 closed, assigned to tonyofrancis

[2020-12-21 23:35] #516 closed, assigned to nobody

[2020-12-21 23:37] #525 closed, assigned to nobody

[2020-12-21 23:44] tonyofrancis commented on #526
@l132a @iroidzeel Fetch only attaches one Callback listener to the connectivity manager when a fetch instance is created. The callback is also un-registered after you release the fetch instance.

Looks like the problem occurs when multiple instance of fetch is created and not released correctly.
How many instances of Fetch are you creating in your application? Most of the time, 1 shared instance o

[2020-12-21 23:48] tonyofrancis commented on #542
@Hacker437 If you are running Fetch on Android 10 and above you need to have the proper storage permissions. You get the FILE_NOT_FOUND when fetch is unable to create the file on the device.

See: https://developer.android.com/about/versions/10/privacy/changes

Also I will be updating the sample app to work with Android 10 and above.

[2020-12-21 23:57] tonyofrancis commented on #541
@omidngp74 I just tested the library and onProgress callback on the FetchListener is always called.

You can also attach a FetchObserver to observe download progress

[code]

Let me know if this works for you.

[2020-12-22 00:00] tonyofrancis commented on #540
@SudoDios I would be happy to help. We will need more code to understand what is not working exactly.

fetch.cancel(id);
fetch.delete(id);

The above methods operate asynchronously and take callback methods for success and error. The callbacks will let you know when the operation is complete.

[2020-12-22 00:02] tonyofrancis commented on #538
@Matin-Javatar I would be more than happy to look into this issue. Please provide sample code so we can reliably replicate this issue.

[2020-12-22 00:15] tonyofrancis commented on #536
@badrazizi Thanks for using Fetch.

Depending on your `FetchConfiguration` settings or the retry setting on the request
[code]
Fetch will attempt to re-download the file. Setting these settings to **NOT** retry should solve this issue.

When Fetch retries a failed download it will do its best to start where it left off. If it cannot verify the data integrity the download will continue from the beg

[2020-12-22 00:21] tonyofrancis commented on #534
@thib-rdr Thanks for using Fetch and sorry for the very late reply.

Looks like there is no easy way to inject your own `FetchHandlerImpl`. I am currently working on an update in the next few days and can add this functionality for you.

[2020-12-22 00:22] tonyofrancis commented on #532
@zunjae let us know if @badrazizi solution worked well for you.

[2020-12-22 00:28] tonyofrancis commented on #530
@kambrish

Before enqueuing Requests to Fetch, you can first check if the file was already downloaded.
[code]

 If not, you can enqueue the new request but be sure to set the EnqueueAction to`request.setEnqueueAction(EnqueueAction.REPLACE_EXISTING);` This will force fetch to clear the old request and to download the file again. See EnqueueAction Java docs for more information.

[2020-12-22 00:34] tonyofrancis commented on #528
@sanjaysingh1990 I was able to successfully download the file using Fetch.
[code]
Here is the MD5 hash of the file: `93148314a92e6912490deefca14940d1` and its 16.2MB

The error `REQUEST_NOT_SUCCESSFUL` signals that there was an issue with the server `REQUEST_NOT_SUCCESSFUL`. Could be a very slow connection. Please try on a different connection and let us know how it worked for you.

[2020-12-22 00:36] tonyofrancis commented on #527
@NotNotMarshall I have some time this week to look into this issue. Will test and report back.

[2020-12-22 00:39] tonyofrancis commented on #524
@joelphilippage This looks like an okhttp client error. Can you create your own OkHttpDownloader and pass that to Fetch for testing?

[code]

[2020-12-22 09:03] zunjae commented on #532
The solution was pretty bullshit and didn't address my concerns. I did find the solution myself eventually.

[2020-12-22 09:03] #532 closed, assigned to tonyofrancis

[2020-12-22 16:08] arjun1194 opened #543 "Feature Request: Ability to encrypt downloads while saving"
Hi there, an app I am developing requires me to encrypt the videos while saving them so they are not accessible otherwise, please include this feature also in your library

[2020-12-22 19:41] tonyofrancis commented on #523
@joelphilippage I have tested this several ways on my end and have been unable to replicate this issue. Is it possible to provide me with a sample project so I can replicate?

[2020-12-22 19:43] tonyofrancis commented on #522
@alighasemia81 Are you experiencing this issue on a different server/url?

[2020-12-22 19:54] tonyofrancis commented on #521
@badrazizi Thanks for reporting this issue. I will be setting the okhttp version to 3.12.12 to support older version.

[2020-12-22 19:56] #520 closed, assigned to nobody

[2020-12-22 19:57] #517 closed, assigned to tonyofrancis

[2020-12-22 20:01] alighasemia81 commented on #522
yes.i had this experiencing with many servers

[2020-12-22 20:02] alighasemia81 commented on #522
yes.i had this experiencing with many servers

[2020-12-22 20:05] tonyofrancis commented on #513
@harrisaliqamar The DefaultFetchNotificationManager does not work well for all applications. It is best to provide Fetch with your own customer implementation and override the ` fun postDownloadUpdate(download: Download): Boolean` method. It would actually be easy and you would have more customization.

[2020-12-22 20:28] tonyofrancis commented on #543
@arjun1194 You can encrypt files you download with Fetch. First you must provide Fetch with your customer implementation of StorageResolver and override the `getRequestOutputResourceWrapper` method.

[code]

[code]

[2020-12-22 22:12] tonyofrancis commented on #512
Found the bug. working on a fix.

[2020-12-22 22:24] tonyofrancis commented on #511
If someone can provide any steps or code to reproduce this issue it would help me narrow down the problem more quickly.

[2020-12-22 22:26] tonyofrancis commented on #522
@alighasemia81 can you share a url so I can test?

[2020-12-23 07:52] alighasemia81 commented on #522
sure

https://cdn.wave-music.ir/new_data/mp3s/homayoun_shajarian/homayoun_shajarian_koli_remix.mp3

[2020-12-23 08:28] #543 closed, assigned to tonyofrancis

[2020-12-23 11:36] XiXiongMaoXiong commented on #527
Thank you very much, I appreciate your hard work! ♥

[2020-12-23 15:13] tonyofrancis commented on #527
@NotNotMarshall Thanks. I am working on releasing the new version today. Will report back

[2020-12-23 15:14] tonyofrancis commented on #419
New update coming out later today. Will post back.

[2020-12-23 15:20] tonyofrancis commented on #522
Thanks. Looking into it.

[2020-12-23 20:14] tonyofrancis commented on #419
@jpvs0101 A new version of Fetch 3.0.12 & AndroidX version 3.1.6 has been released

[2020-12-23 20:14] tonyofrancis commented on #512
@Braxeo  A new version of Fetch 3.0.12 & AndroidX version 3.1.6 has been released

[2020-12-23 20:14] tonyofrancis commented on #521
@badrazizi  A new version of Fetch 3.0.12 & AndroidX version 3.1.6 has been released

[2020-12-23 20:15] tonyofrancis commented on #527
@NotNotMarshall  A new version of Fetch 3.0.12 & AndroidX version 3.1.6 has been released

[2020-12-23 20:15] tonyofrancis commented on #522
@alighasemia81  A new version of Fetch 3.0.12 & AndroidX version 3.1.6 has been released. Please let me know if it fixes your issue

[2020-12-23 20:16] tonyofrancis commented on #534
@jpvs0101 A new version of Fetch 3.0.12 & AndroidX version 3.1.6 has been released. You are now able to add your custom FetchHandler

[2020-12-23 20:16] tonyofrancis commented on #511
A new version of Fetch 3.0.12 & AndroidX version 3.1.6 has been released

[2020-12-23 20:16] tonyofrancis commented on #526
@jpvs0101 A new version of Fetch 3.0.12 & AndroidX version 3.1.6 has been released

[2020-12-23 20:17] tonyofrancis commented on #538
@jpvs0101 A new version of Fetch 3.0.12 & AndroidX version 3.1.6 has been released

[2020-12-23 20:17] tonyofrancis commented on #541
@jpvs0101 A new version of Fetch 3.0.12 & AndroidX version 3.1.6 has been released

[2020-12-23 23:02] badrazizi commented on #536
It's did not solve it, If the server return response code 404 yes fetch fail and i can update request link to working one.
But if server return response code 200 while resource not found fetch actually overwrite the file with new response which is usually "text/html", Here it should check content-type or content-length or both before continue from the beginning to avoid overwrite file with differe

[2020-12-24 05:47] Hacker437 commented on #542
I am testing my app on Redmi 7 android 9

[2020-12-24 05:47] Hacker437 commented on #542
I will send a screen recorded video if needed.

[2020-12-24 10:17] #542 closed, assigned to tonyofrancis

[2020-12-24 10:17] praveenkumar2K06 commented on #542
Thanks.Now i can download

[2020-12-26 10:07] XiXiongMaoXiong commented on #527
Awesome!

[2020-12-28 17:28] tonyofrancis commented on #536
I see what you are saying. Let me look into this further. Will report back.

[2020-12-29 12:25] vikas-shrma opened #545 "Download File when app is killed or in background"
HI
i am unable to implement, download video when application is killed or in hide and no able to create notification
can anyone provide me sample code for the same

any help would be appreciated
Thanks

[2020-12-29 21:12] Quuantum-Studios opened #546 "Unable to enque the request, throwing error always"
showing this error

`12-30 02:38:30.183 E/ActivityThread: Failed to find provider info for com.example.dporter.meterconfig.configcontentprovider`
and this is code I'm using

`    public void downloadThis(String url, final String fileName){
        Dexter.withContext(this)
                .withPermissions(
                        Manifest.permission.READ_EXTERNAL_STORAGE,
                        Ma

[2020-12-31 06:26] Hacker437 commented on #545
Try using a Android service
Sample code
[(https://raw.githubusercontent.com/Hacker437/AppDownload/main/DownloadService.java)]

[2020-12-31 06:35] praveenkumar2K06 commented on #545
@vksBhardwaj Try using Android service.
If you use Kotlin, Please tell me I will update the code
[Sample Code](https://raw.githubusercontent.com/Hacker437/AppDownload/main/DownloadService.java)

Still any doubts, Please Ask

[2020-12-31 07:40] ZYRzyr opened #547 "Function description error"
I found two errors in the function description, which bothered me for a long time at first

![image](https://user-images.githubusercontent.com/13146645/103399737-6dcbcc80-4b7d-11eb-9254-1f6260c10ef1.png)
![image](https://user-images.githubusercontent.com/13146645/103399746-76bc9e00-4b7d-11eb-87d2-d7e534f71118.png)

 -----------------------

![image](https://user-images.githubusercontent.com/131466

[2021-01-03 08:51] irvine752 opened #548 "301 Responses"
I started using your lib recently. Currently getting a 301 for the request below. It works fine on the browser. Is the redirect turned on by default?
The original URL for the request is http://traffic.libsyn.com/heyfrasepodcast/HOLLY_HOLM2_FINALLLL.mp3?dest-id=539050
The redirect is https://traffic.libsyn.com/heyfrasepodcast/HOLLY_HOLM2_FINALLLL.mp3?dest-id=539050

[2021-01-03 09:07] #548 closed, assigned to nobody

[2021-01-06 13:03] vikas-shrma commented on #545
Thanks @Hacker437 for Quick reply.
I ma using Kotlin it will be very helpful. if you update code in Kotlin

Thanks

[2021-01-08 05:06] praveenkumar2K06 commented on #545
Here is the gist in kotlin
[Gist](https://gist.github.com/Hacker437/0b6c2ae1a513f4711bff182f6a0aa941)

[2021-01-09 14:20] arosca-nl commented on #511
I have the issue with http://195.85.182.90:52633/AndroidAPI/AuthList/20_20210107_155300.gz
When using same path, `onCompleted` gets called even when no internet, after the first real download.

`file = new File(getFilesDir(), "csv.gz");`
`Request request = new Request(url, Uri.fromFile(file));`

[2021-01-12 06:18] #521 closed, assigned to tonyofrancis

[2021-01-14 05:36] jpvs0101 commented on #419
@tonyofrancis Tried 3.1.6. Apkmirror works. Rapid pause/resume fixed. But goto http://tamilblasters.ws/ try download a torrent. Download successful. But file seems corrupt. Still 3.1.0 rocks!

[2021-01-14 11:27] DavidKmn opened #549 "Issues with Storage Access Framework"
I am trying to integrate fetch to work with the Storage Access Framework. Decided to use https://github.com/anggrayudi/SimpleStorage which simplifies the use. Using it however an error of UNKNOWN_IO_ERROR keeps getting thrown. How can we use Fetch to support SAF, am I missing something?

[2021-01-14 19:26] DavidKmn commented on #549
Fetch uses java.io.File, I will assume that it does not support scoped storage yet. Or does Fetch to have scoped storage support for API 29+?

[2021-01-15 09:33] DavidKmn commented on #545
In your gist you have a BroadcastReceiver, not sure why you have one and you create a new instance of fetch in the onReceive method which also I am not sure what is supposed to be doing. There are now 2 different instances one in the service and one in the receiver, what is the point of this @Hacker437?

[2021-01-18 04:50] praveenkumar2K06 commented on #545
@DavidKmn Otherwise, I cannot pause, resume, cancel the download when the button is clicked. I don't know if it can be done in a single instance only @tonyofrancis can tell.

[2021-01-25 09:05] aartikov opened #551 "Files get corrupted when SAF is used"
Sample: https://github.com/aartikov/Fetch-Bug

Steps  to reproduce:
1. Run the sample on Android API 28 Emulator (Android version is important here!)
2. Click "Select Directory" button, select any directory.
3. Click "Download" button.
4. Wait while a part of file is downloaded and turn off wi-fi in the system settings.
5. Wait a little bit, turn on wi-fi. Wait while downloading is completed.
6. F

[2021-01-25 09:14] aartikov opened #552 "EnqueueAction.REPLACE_EXISTING does not work when SAF is used"
Sample: https://github.com/aartikov/Fetch-Bug

Steps to reproduce:
1. Replace `request.enqueueAction = EnqueueAction.UPDATE_ACCORDINGLY` to `request.enqueueAction = EnqueueAction.REPLACE_EXISTING`.
2. Run sample on any device or emulator.
3. Select a directory and press "Download". Downloading is failed.

Stacktrace:
[code]

[2021-01-25 09:31] aartikov opened #553 "File has 0 bytes when a completed download is started again."
Sample: https://github.com/aartikov/Fetch-Bug

Steps to reproduce:
1.  Remove line `fetch.remove(download.id)   // Workaround for https://github.com/tonyofrancis/Fetch/issues/553`
2. Select a directory, download file.
3. Press "Remove".
4. Press "Download". File is downloaded immediately. File size is zero.

[2021-01-25 09:36] aartikov opened #554 "Strange notification text when SAF is used."
Sample: https://github.com/aartikov/Fetch-Bug
File name in a notification looks like "primary:Music/Test/818.mp3".

[2021-01-25 09:41] aartikov opened #555 "Allow to hide Pause button in a notification"
I don't need a Pause button in a notification for my application.
It is required a lot of copy-paste to hide this button: https://gist.github.com/aartikov/9e2c383fbdaaddc71602fe48a3f92fde
Could you please make it simpler?

[2021-01-26 03:50] anggi117 opened #556 "UNKNOWN error during download using vps apache2"
Hii, in my list download data when im using hosting server they can download
but if using vps i got error code : UNKNOWN_ERROR
any solution ?? thanks anyway

[2021-01-26 09:00] #556 closed, assigned to nobody

[2021-01-26 09:01] anggi117 opened #557 "How to turn off background process download ??"
Hii, thanks for nice library
I wanna ask how to turn off background proccess after i close application using home button?

im search in backgroundHandler but idk how to turn off that
Thank you anyway

[2021-01-27 05:02] praveenkumar2K06 commented on #557
Hey, Try using fetch.cancel() if you want to stop in onDestroy() method.

[2021-01-27 05:14] praveenkumar2K06 commented on #555
Instead of using Fetch DefaultFetchNotificationManager(context).Use a notification of your own. I will provide gist for that [Gist](https://gist.github.com/Hacker437/23b9b9c060f99eb1586814c404ff4684). If you any doubt, please ask

[2021-01-27 06:55] anggi117 commented on #557
how using onDestroy man? im declare in my main can't work

[2021-01-27 08:18] AlirezaGhanbarinia opened #558 "What is Priority?"
thank you for useful library

what are the priority properties in the Fetch Library?

what is the difference between high, normal and low?

when high priority is set to a download request, does Fetch do the request earlier or the request will be repeated when fails?

[2021-01-28 17:02] praveenkumar2K06 commented on #557
Can u share the file that you are making

[2021-01-30 19:02] tonyofrancis commented on #558
By default, Fetch downloads requests on a first come first serve basis. Priority helps boost a request to the top of the queue based on importance.

For example:  If Fetch is currently downloading the maximum number of request it can handle, and a request with a high priority comes in. It will try to pause a low or normal priority request and begin downloading the high priority request.

[2021-01-30 19:04] tonyofrancis commented on #555
@aartikov as @Hacker437 recommended. It would be much easier and flexible to create your own Fetch NotificationManager that you can pass into the fetch builder.

[2021-01-30 19:11] tonyofrancis commented on #554
@aartikov Fetch uses the DefaultNotificationManager to create notifications. It does not always get it right for all applications. The best thing to do would be to create your own FetchNotificationManager to handle your app's notifications.

[code]

[2021-01-30 19:15] tonyofrancis commented on #553
@aartikov. Is this issue happening for the same download request or different download request with different url?. Does the app have the proper write permissions?. Same issue on physical device and emulator? Different Android Versions?

[2021-01-30 19:21] tonyofrancis commented on #552
@aartikov From the look of the stack trace. The DefaultStorageResolver attempted to create the file at the location but was not able to. Incorrect file path or write permission issue.

The DefaultStorageResolver does not cover ever edge case. It would be best to create your own StorageResolver that Fetch can use. Eg:

[code]

[2021-01-30 19:22] tonyofrancis commented on #551
See my comment here: https://github.com/tonyofrancis/Fetch/issues/552#issuecomment-770267314

[2021-01-30 19:25] tonyofrancis commented on #549
@DavidKmn thanks for using Fetch. By default Fetch uses the java.io.File and simple SAF via the DefaultStorageResolver.

You can provide Fetch with your own StorageResolver to handle creating, renaming, deleting, and storing data. Eg:

[code]

Take a look at the `StorageResolver` Java docs for more information.

[2021-01-30 19:28] tonyofrancis commented on #547
@ZYRzyr Good catch. will update this in the next release.

[2021-01-30 19:30] tonyofrancis commented on #546
@toppersdesk This error is not related to Fetch but to a ContentProvider.

[2021-01-30 19:33] #541 closed, assigned to tonyofrancis

[2021-01-30 19:33] #540 closed, assigned to tonyofrancis

[2021-01-30 19:36] tonyofrancis commented on #511
@arosca-nl If the download already exist and completed Fetch will always call onCompleted. You will first have to delete the request by calling fetch.delete()

[2021-01-30 19:36] #511 closed, assigned to tonyofrancis

[2021-01-30 19:36] #512 closed, assigned to tonyofrancis

[2021-01-30 19:36] #513 closed, assigned to tonyofrancis

[2021-01-30 19:37] #522 closed, assigned to tonyofrancis

[2021-01-30 19:37] #524 closed, assigned to tonyofrancis

[2021-01-30 19:37] #528 closed, assigned to tonyofrancis

[2021-01-30 19:37] #526 closed, assigned to tonyofrancis

[2021-01-30 19:37] #530 closed, assigned to tonyofrancis

[2021-01-30 19:37] #534 closed, assigned to tonyofrancis

[2021-01-30 19:38] #538 closed, assigned to tonyofrancis

[2021-01-30 19:38] #523 closed, assigned to tonyofrancis

[2021-01-31 21:07] aartikov commented on #553
@tonyofrancis It is the same request - the same http url and the same local file uri. The app has permissions, because it can create a file. I have tried on a device with Android 9 and on emulators with Android 9 and Android 11. The same issue.

[2021-02-01 15:24] DavidKmn commented on #549
Thanks for the help @tonyofrancis. Love the library 👍

[2021-02-01 15:25] DavidKmn commented on #545
@tonyofrancis Any thoughts on this?

[2021-02-03 11:43] iztou opened #559 "Please add Response's header to Download"
sometimes i want check file integrity , there are some useful info in the header and i want get it. thanks~

[2021-02-03 11:50] iztou commented on #559
oh,i find it,thanks

[2021-02-03 11:50] #559 closed, assigned to nobody

[2021-02-04 14:54] mrrohit1 opened #560 "setDownloadConcurrentLimit is not working"
[code]

I am using above configuration. But when i am adding more than two request it still starts downloading 3rd or 4th request

[2021-02-08 04:35] Jatin-Sondagar opened #561 "Downloading in Background Without Blocking UI Thread."
Hello there
I have integrate Fetch in one of my projects and its working quite well.
But I want to know if fetch downloads files in background or not because it some time makes UI jittery and laggy.
So, can you assist me with this issue?

[2021-02-10 13:06] praveenkumar2K06 commented on #561
@Jatin-Sondagar Fetch uses another thread, It didn't have any UI Jittrey Or something

[2021-02-14 05:02] Jatin-Sondagar commented on #561
ok thanks for letting me know

On Wed, Feb 10, 2021 at 6:37 PM Praveen Kumar <notifications@github.com>
wrote:

[2021-02-15 12:44] W7orld opened #562 "How can i add file size to request?"
I want do diaply the file size to the user before starting download, I found this way to get file size for download `fetch.getContentLengthForRequest(...)` but this way not added the file size to fetch database!! So how can i adding the size to request with the result of `fetch.getContentLengthForRequest(...)` ?

Or there another way to do that?

[2021-02-17 20:41] W7orld commented on #560
I have same issue. But with me sometimes happened and sometimes works fine
Any idea to fix it?

[2021-02-24 08:43] rocketcodely opened #563 "I am facing the issue of unknown IO Exception while enqueuing the download"
I am facing the issue of unknown IO Exception while enqueuing the download
Please help me..
![Screenshot from 2021-02-24 14-11-41](https://user-images.githubusercontent.com/79150607/108973407-4e977a00-76aa-11eb-9cbb-8fb85f1a7c77.png)
Here is my way of adding dowload to manager.If here is any problem then please help me......

[2021-02-24 20:35] fernandodeveloper opened #564 "How to set timeout?"
How to set timeout?

I'm using http default download

`final FetchConfiguration fetchConfiguration = new FetchConfiguration.Builder(this)
                .enableRetryOnNetworkGain(true)
                .setAutoRetryMaxAttempts(2)
                .setDownloadConcurrentLimit(2)
                .setHttpDownloader(new HttpUrlConnectionDownloader(Downloader.FileDownloaderType.SEQUENTIAL))

[2021-02-27 23:54] W7orld commented on #406
Does we should calling `fetch.retry(result.getId()); `on update success?
[code]

[2021-03-01 15:46] voleep opened #565 "Download stuck at QUEUED Status"
When I try to download a file with 1,80GB from Google Drive shared link which is loaded on WebView and then when it get download url reuest it returns to MainActivity as a result and call download, but stucks on QUEUED, I tried to download from Google Drive on PRDownloader and doesn't work too.

[2021-03-02 06:28] nishu3389 opened #566 "Can i use this library in android 11 scoped storage"
Do this library supporting the Android 11 ?
Are you using scoped storage to save the files?

[2021-03-02 14:43] dkaera opened #567 "Potential memory leaks"
Hello guys,
I've implemented a dynamic data loading with Fetch library. Everything is going fine and the library works as expected, thank you for your work, but when I started profiling the app in StrictMode, the StrictMode handler is always throwing the potential memory leak errors.
I tried to resolve it in my fork branch, but it leads to a stuck loading :(
So, I need to investigate the issues de

[2021-03-03 08:01] mahdices opened #568 "encryption"
Hi
I want to encrypt file before store on internal storage
How can i access chunks after download and encrypt and store

[2021-03-03 10:01] #568 closed, assigned to nobody

[2021-03-08 09:50] thib-rdr opened #569 "Database is locked ?"
Hi,

Without any modifications to my code, after upgrading to the last version of Fetch, I get an error on request enqueue, that prevents downloading files.

[code]
[code]

I'll try to dig up, but that's very odd, as I sometimes have this error, sometimes just nothing happens... I'll try to dig up the code, and see what is the problem, but if someone has the same bug and has found the source, that

[2021-03-08 11:41] thib-rdr commented on #569
Just a quick comment, the culprit seems to be `fetch.removeAll();`

[2021-03-10 20:43] fanok1 opened #570 "How to download a file if the server returns code 206"
I add to header "range" but fetch trow TimeOutException. Someone will know how to decide?

[2021-03-12 12:03] rkandroid opened #571 "Downloading M3U8 manifest file itself instead of Videos"
Thank you for this beautiful library. I really appreciate your work. I am having an issue while downloading M3U8 videos. The library is downloading M3U8 manifest file itself instead of videos. How can I download videos that are mentioned in that manifest file? Thank you.

[2021-03-13 20:57] AbreuY opened #572 "How to avoid layout blinking when downloading?"
When a file is downloaded, the design always flashes as the download completes. How can this be avoided? Just update the progress bar.

![image](https://user-images.githubusercontent.com/5095949/111044116-fc31b980-841c-11eb-8774-a4174270b419.png)

[2021-03-17 05:12] zubairehman opened #573 "Is there any way to set MIME Type"
Hi,

Thanks for such a great library.
I am trying to download an APK via Fetch but after download, I'm unable to parse/install it using the package manager. Seems like the file is corrupted. Is there any way I can set the MIME Type or parse the APK after download?

Note: The same APK works fine if I use the native download manager.

This is how I'm setting mime type for now:

[code]

[2021-03-17 09:27] zubairehman commented on #573
i changed `Downloader.FileDownloaderType` to `Downloader.FileDownloaderType.SEQUENTIAL` and it worked. Could you please provide a solution for `PARALLEL` downloads

[2021-03-29 10:25] thib-rdr commented on #569
I'm still having this problem, sometimes with calls to `fetch.resumeGroup(FETCH_GROUP_ID);`, for some reason and the thing is I can't catch this error because the exception is not propagated to my code...

[2021-03-30 07:51] AlirezaGhanbarinia opened #574 "SecurityException"
thank you for useful library

A crash has been reported in our crash log reffering to Fetch library.would you please check this log?
Device : Samsung Galaxy A50 (Android 11)

`java.lang.RuntimeException:
  at android.app.ActivityThread.performLaunchActivity (ActivityThread.java:3792)
  at android.app.ActivityThread.handleLaunchActivity (ActivityThread.java:3968)
  at android.app.servertransaction.

[2021-03-30 08:16] rahul5629 commented on #408
sir when i click on pause in notification click then notification dispear

[2021-03-30 09:50] rahul5629 opened #575 "Notification disappear"
when i click on pause in notification pause click then notification disappear

[2021-03-30 12:19] rahul5629 opened #576 "downloading file status show wrong"
when file downloading then i destroy app then again open app then status always in database downloading form not paused status

[2021-03-30 13:41] KunalDhyani commented on #572
Hi, I was having problem with same issue and it got solved by  implementing
"onBindViewHolder(holder, position,payloads)" function inside the RecyclerViewAdapter.
 There you can use the payload list's zeroeth element and bind or modify your item again.
(Here you need to cast your object to desired type)

To invoke this particular function, you need to use "notifyItemChanged(position, PayloadObject

[2021-04-06 14:42] alexanderprodan commented on #574
Hey! We got the same issue that leads to an instant app crash. We believe the root cause is an exception thrown by the Android OS. Another library has fixed it like that: https://github.com/DataDog/dd-sdk-android/commit/58c1adf2d7ee485b551b3adff25b11eee0f4b4a9

Any chance to get a fix for that. :)  Thanks a lot and keep up the good work!

[2021-04-07 11:23] Jatin-Sondagar opened #577 "Request Update Issue"
I want to update Request URL (the url fetch uses to download file).
Actually I have some URL parameters that changes after some time so how will I manage that in request and download obejcts.
For example : If a url = **https://www.abc.com/folder/files1.mp3?uid=abcd&params=aaaa&params=bbb**
Here uid changes after sometime so how will I manage this in updating request.

I need this resolved ASAP as

[2021-04-10 13:29] m4ysam commented on #563
This error is often due to a storage permission.
 It will be removed after granting the permission.

[2021-04-13 11:22] jemshit opened #578 "Doc update"
`DefaultNotificationManager` [here](https://github.com/tonyofrancis/Fetch/blob/c450f681035ed47d2bd6e5e2b7cf4b921665e669/fetch2/src/main/java/com/tonyodev/fetch2/FetchConfiguration.kt#L244) should be `DefaultFetchNotificationManager`

[2021-04-13 11:35] jemshit commented on #545
I think it is ok as long as they share same [namespace](https://github.com/tonyofrancis/Fetch/blob/c450f681035ed47d2bd6e5e2b7cf4b921665e669/fetch2/src/main/java/com/tonyodev/fetch2/FetchConfiguration.kt#L85)

[2021-04-13 14:58] jemshit commented on #571
If HLS is not live stream, you might be able to read each segments relative path inside manifest, then download each segment one by one. But those segments are in .TS format probably and in small length (few seconds)
.

[2021-04-13 16:04] praveenkumar2K06 commented on #561
Please close the issue,If your doubt has been clarified

[2021-04-13 16:09] praveenkumar2K06 commented on #575
@rahul5629 There is a problem with Default Fetch Notification Manager

[2021-04-13 18:54] jemshit opened #579 "MediaStore Uri not supported"
Hi, i'm trying to use this library and it seems like a great work 👍

I want to download file to shared storage (_Movies/myVideo.mp4_). Currently Fetch supports `file:///files/` and `content://com.contentprovider.provider/` URIs.

- `file:///files/` this is for (app-private directories + `getExternalStoragePublicDirectory`)
- `content://com.contentprovider.provider/`, i think this is for Files crea

[2021-04-14 10:42] jemshit commented on #569
Same with `.deleteAll()`. Error does not go away even if fetch is closed and new fetch is created with same namespace

[2021-04-14 13:34] #561 closed, assigned to nobody

[2021-04-14 13:34] Jatin-Sondagar commented on #561
Thanks for your support.

[2021-04-15 15:12] passmanagerapp opened #580 "Http links not downloaded"
Hi, I want to download Http links, I used this code snippet but whenever I start a request, it gives the  UNKOWN_IO_ERROR.

 ` val okHttpClient = OkHttpClient.Builder().build()

        val fetchConfiguration = FetchConfiguration.Builder(requireContext())
            .setDownloadConcurrentLimit(5)
            .setHttpDownloader(OkHttpDownloader(okHttpClient,Downloader.FileDownloaderType.SEQUENTIAL

[2021-04-15 16:09] passmanagerapp commented on #580
If I use
`setHttpDownloader(HttpUrlConnectionDownloader(Downloader.FileDownloaderType.PARALLEL))` , it gives me error "HTTP CONNECTION NOT ALLOWED.Use Https. What should I do ?

[2021-04-15 17:20] passmanagerapp commented on #580
I forgot to add android:networkSecurityConfig="@xml/network_security_config" line to Manifest.xml file. Thanks, it works now!

[2021-04-16 09:51] passmanagerapp commented on #545
I have a question. Should I use my Fragment class (which has resume,start,cancel buttons of a download link) instead of DownloadService class ? Or I mean can I use the codes in the DownloadService in my fragment class directly ? At the end there is an url in the DownloadService but I get the url from the user which needs an edit text.

[2021-04-16 09:55] praveenkumar2K06 commented on #545
@passmanagerapp Yes you can use Fetch in a fragment.

[2021-04-16 09:56] praveenkumar2K06 commented on #545
@passmanagerapp Do you need background downloading?

[2021-04-16 11:53] passmanagerapp commented on #545
@Hacker437 Yes I need background downloading

[2021-04-16 12:04] passmanagerapp commented on #545
@Hacker437  But fragment can't extends Service. What should I do to start downloading process in Fragment and continue to backgrond downloading when app is killed or in background.

[2021-04-16 12:37] passmanagerapp commented on #545
I have created a DownloadService class and DownloadCompleteReceiver as you did in the code. In fragmet, with a button I want to start the service, here is what I did for  this:
`button.setOnclickListener {
serviceIntent = Intent(context(),DownloadService::class.java)
serviceIntent.putExtra("requestID",request.id)
context().startService(serviceIntent)
}`
`btnPause.setOnclickListener {
serviceIntent

[2021-04-16 16:09] passmanagerapp commented on #545
How can I use the same fetch instance and request instance in Service in my Fragment ? Now the background process is working fine, but when I open the app, the UI is reset.

[2021-04-17 02:22] husam47 commented on #579
Same issue am trying to update my apps to supports android 11, but facing this issue for android 10, and 11, any quick solution ???

[2021-04-18 11:16] winnerawan commented on #71
any update ?

[2021-04-20 12:53] passmanagerapp opened #581 "How to change the downloaded file name?"
Hi. Thanks for this amazing library!
I want to give the ability for user to change the file name. They will be able to change it before the downloading starts.

I didn't find any method for this.How can I do this ?

[2021-04-21 11:46] #581 closed, assigned to nobody

[2021-04-21 11:46] #580 closed, assigned to nobody

[2021-04-21 23:09] passmanagerapp commented on #572
recyclerView.itemAnimator = null that worked for me.

[2021-04-26 09:16] jemshit commented on #579
How i converted [Uri to OutputStream](https://stackoverflow.com/a/67252441/3736955).

[2021-04-27 15:54] praveenkumar2K06 commented on #545
I am sorry I too don't know.

[2021-04-27 19:14] Shabinder opened #582 "Download is returning an empty file"
When I download  a mp3 file , fetch returns empty file and exec success callback

[2021-04-27 19:15] Shabinder commented on #582
example link:  http://dl28.y2mate.com/?file=M3R4SUNiN3JsOHJ6WWQ3aTdPRFA4NW1rRVJIOG5mSXdqSjRPd2xzSkFMeE5xSVJrOGZHc0w0SnVPNk1Hd3NIcE5kZFk1U3pkZE1UQUZBZUF1cFFwVERpSDQ1MFd1QzNPL2NVQlRNTjlWMTJ6cU9leGwzcFJuQlhsZjlTR01iMUZaRHhZc1VWMG1BaVcyN3JudGh2LzRTMy85Z09PZkhkTXRESUhPTXJBOEl0QWlDeVpTZTdyeG9RUXJ5UGFzTHhFeXFQWTVpZjNodUFZb1k1NFgxQnhQWk5TMU5HNGxQck5zVk1tbEp3ajBFeXpxT3l2T1pnZ0VLbWhlQ0owTnkwMjdlYmpUQWtieWpF

[2021-04-30 07:54] hypeben commented on #461
I don't know why the issue is closed because the bug still exists in the latest version. OnCompleted is being called twice, it's very frustrating.

[2021-04-30 17:55] gardenappl commented on #582
Does this happen if you download the same file multiple times in a row? Or does it happen with brand new filenames, too?

~~I'm asking beacuse I have the same issue but I can't reproduce it (just users are complaining).~~ There is a similar issue #403 and they say:

1. in Fetch configuration, set `enableFileExistChecks(false)`
2. when creating a request set `enqueueAction = EnqueueAction.REPLACE_E

[2021-04-30 18:46] Shabinder commented on #582
It happens with brand new filenames too, something needs updating in this lib, it started a few days earlier and It only happens with some types of links, some download just fine.
I didn't had the time to debug/troubleshoot as I was already planning to move to my own custom implementation of downloading files , so I did finally.

[2021-05-03 10:36] rahul5629 opened #584 "Release build apk app minimize download failed"
In release app build when app minimize and device lock download failed but working in debug

[2021-05-03 21:36] moisoni97 opened #585 "Warning: unchecked operations"
When building the project I got the following warning: `[unchecked] unchecked generic array creation for varargs parameter of type FetchObserver<Download>[]
            fetch.attachFetchObserversForDownload(request.getId(), this)`

[code]

Does the library need to add the specifiers to it's array?

[2021-05-04 15:40] sahaand commented on #579
@jemshit
Hi,
I have a same issue, would you please say that how did you solve this issue? I'll be thankful if you help me

[2021-05-04 15:44] jemshit commented on #579
@saeedata either download using okhttp without this library. Or use fetch to download to app private directory first, then copy to shared storage and delete temp file.

[2021-05-04 15:57] sahaand commented on #579
@jemshit yeah I thought about these answers. BTW, thank you so much bro.

[2021-05-05 22:11] moisoni97 opened #586 "Migrate from jcenter"
`jcenter` is at end of life, please migrate it to Maven Central.

[2021-05-06 13:48] ptatiya opened #587 "How to check the file is fully downloaded ????"
suppose my file size is 100 mb and i downloaded file upto 50 mb and closed app and reopen the app and click on that file so app getting crash because it is not fully downloaded ..and when i checked the file size at device it is showing 100 mb ...so can you please help me to get me the actual downloaded file size to check the file is fully downloaded or not ...how to get actual downloaded file leng

[2021-05-07 13:10] sanjannanair91 opened #588 "java.io.IOException: file_allocation_error"
Hi,

I am getting the below error:

2021-05-07 18:33:02.996 11561-19062/com.kk.train E/LibGlobalFetchLib: FileDownloader download:DownloadInfo(id=2056976545, namespace='LibGlobalFetchLib', url='http://www.mydomain.com/mobileapp/update.apk', file='/storage/emulated/0/Android/data/com.kk.train/files', group=0, priority=HIGH, headers={clientKey=SD78DF93_3947&MVNGHE1WONG}, downloaded=0, total=6499986,

[2021-05-07 14:00] gardenappl commented on #582
Nevermind, it turned out that my bug was completely unrelated to Fetch, sorry.

[2021-05-07 14:05] Shabinder commented on #582
btw what was it? maybe mine is related too, which I don't think it is, however, what harm does it do to know.

[2021-05-07 15:35] gardenappl commented on #582
It's probably unrelated. https://gitlab.com/gardenappl/mitch/-/issues/22

I have an app that downloads and installs APKs. Someone said that the download happens "too quickly" and then the installation fails silently. I thought it was because the downloaded APK was empty. It turned out that downloading worked perfectly fine, but the APK was not installing because MIUI doesn't support PackageInstall

[2021-05-09 00:09] shinobu254 opened #589 "Download in sd card"
Hello, I want to know how I can place so that the downloads are saved in the micro sd card ?

[2021-05-09 13:33] tatsuya25 opened #590 "[BUG] repalceExtras not working"
when using replaceExtras it throws with java.lang.IllegalArgumentException: Too many bind arguments.  2 arguments were provided but the statement needs 1 arguments.

[2021-05-10 08:36] andj207 commented on #590
I have this issue too

    java.lang.IllegalArgumentException: Too many bind arguments.  2 arguments were provided but the statement needs 1 arguments.
        at android.database.sqlite.SQLiteProgram.<init>(SQLiteProgram.java:72)
        at android.database.sqlite.SQLiteStatement.<init>(SQLiteStatement.java:34)
        at android.database.sqlite.SQLiteDatabase.executeSql(SQLiteDatabase.java:1920)

[2021-05-14 07:24] thib-rdr commented on #569
I ended up downgrading Fetch to v3.1.4, the latest version that didn't have the problem...

[2021-05-14 15:33] Awsom3D commented on #587
What I do is I download files in a /tmp/ folder, then when `onCompleted` is called I move the completed file from the /tmp/ folder into the correct folder.

[2021-05-15 20:16] amin-amini commented on #215
From my experience, this issue still exists in `xfetch2 version: 3.1.6` and as I've seen (I don't know why) but that file will be created with the length of 0 and this is how I managed to fix it :

[code]

[2021-05-18 02:46] andj207 opened #591 "Rename file not work"
The file uri from download object is: `content://com.android.externalstorage.documents/tree/primary%3AMovies/document/primary%3AMovies%2FBoc%20seal%20Macbook%20Air%202020%20M1%20chinh%20hang%20Viet%20Nam%20S.mp4`

when rename it, I pass the new file name for example: `test.mp4`, the library actually renames the file in the storage but it updates the download info incorrectly. Check in the file `Fe

[2021-05-20 10:11] MuhammadSulaiman001 commented on #506
I am facing the same issue!

[2021-05-22 16:14] pbgetwayscitech opened #592 "Can you provide a sample code in java for downloading a google drive pdf file in java"
can you provide a sample code in java  for downloading a google drive file . while i am trying to download i am getting this error :

java.net.ProtocolException: Too many follow-up requests: 21

sample drive link :

https://drive.google.com/file/d/1AqjIoYo3B7m5H-huGqXR1myoPcMvHPIM/view?usp=sharing

[2021-06-05 15:37] #592 closed, assigned to nobody

[2021-06-08 06:09] AlirezaGhanbarinia opened #593 "Kotlin and coroutine"
Is it clear when you migrate to Kotlin and coroutine?

[2021-06-08 06:10] #558 closed, assigned to tonyofrancis

[2021-06-08 06:11] AlirezaGhanbarinia commented on #558
thank you

[2021-06-11 09:28] cemrich commented on #586
Jcenter will continue to work for a read-only repository, but new packages can no longer be uploaded. See [their announcement](https://jfrog.com/blog/into-the-sunset-bintray-jcenter-gocenter-and-chartcenter/) for more information.

The linter in Android Studio 4.2 starts complaining about the usage of jcenter so many people will try to get rid of it the next months:
![grafik](https://user-images.g

[2021-06-14 19:04] ravivghl commented on #545
can you share your sample code. i could not find out your sample code

[2021-06-14 19:05] ravivghl commented on #545
@Hacker437 can you provide me sample code, full working in background.

[2021-06-24 07:46] andj207 opened #594 "EBADF (Bad file descriptor)"
Download video mp4 file throw Bad file description on my Realme C1 and Xperia Z1 with release build, work well with debug build.

Android 9
The video url is: `https://v.pinimg.com/videos/mc/720p/29/8b/e4/298be43b0ab83f7608767ae5bc767071.mp4`
The file uri to save (permission has been granted): `content://com.android.providers.downloads.documents/tree/raw%3A%2Fstorage%2Femulated%2F0%2FDownload%2FMus

[2021-06-24 12:14] saeed74 commented on #461
its still happening in xfetch 3.1.6

[2021-06-25 03:22] andj207 commented on #594
When I set `minifyEnabled false` and `shrinkResources false` in release build, it works well.
If I turn those things on, I set proguard as following, it still not works, the error `Bad file descriptor` is still there.

    -keep class com.tonyodev.fetch2.** { *; }
    -keep class com.squareup.okhttp3.** { *; }

[2021-06-25 11:36] saeed74 commented on #566
Fetch Library still wont accept URI as input, any update is scheduled?

[2021-06-28 05:54] wax911 commented on #571
Even after downloading the segment files you'll need ffmpeg to concact the segment files into a full video. This is certainly possible but I would imagine that it requires quite a lot changes around how downloads are scheduled or represented.

[2021-07-05 10:04] BigQinger opened #595 "URL More than 3 times redirect ,Download Failed: REQUEST_NOT_SUCCESSFUL"
When a URL redirect more than 3 times,it will download failed:REQUEST_NOT_SUCCESSFUL

e.g. url = "http://debug.mobads.baidu.com/clk?url=https%3A%2F%2Fcover%2Ebaidu%2Ecom%2Fcover%2Fdeeplink%5Fandroid%3FdownloadUrl%3D29611749%26ssl%3D1&s=0260db22d7b31f53"

Here is the solution:
package com.tonyodev.fetch2
class HttpUrlConnectionDownloader
fun execute
line 72
change 'if' to 'while':

while ((code ==

[2021-07-05 12:53] SharyRajpoot opened #596 "File Name is not Fetch when download a file"
I am trying to download a file and your lib. is downloading it but can't able to fetch a file name from it.
Just for the reference this lib. is able to fetch a file name [Android Http Download Manager](https://github.com/coolerfall/Android-HttpDownloadManager).
You may can get a help from this lib. for improving your lib.

[2021-07-06 03:16] NiaNingXue commented on #509
same issue

[2021-07-09 10:22] Quuantum-Studios opened #597 "Resume supported on fly encryption example"
Thank you so much for creating this library @tonyofrancis . After reading solutions for different issues and spending a week implementing this library according to my needs, I can literally see how much hard work you have put into it by responding to issues and providing fixes. Really appreciate your dedication to this. I'll surely try to contribute to this soon.

I have implemented this library i

[2021-07-09 22:02] Quuantum-Studios commented on #597
This is the code I managed to write after some research. But it's giving a download error.

` public static class MyStorageResolver extends DefaultStorageResolver {
        String ALGORITHM = "Blowfish";
        String MODE = "Blowfish/CBC/PKCS5Padding";
        String IV = "!a3edr45";
        String KEY = "xxxxxxxx";
        Cipher cipher;

        public MyStorageResolver(Context context) {

[2021-07-09 22:54] Quuantum-Studios commented on #597
This is the error i got in logs

`2021-07-10 04:19:15.724 E/LibGlobalFetchLib: FileDownloader download:DownloadInfo(id=-1757988576, namespace='LibGlobalFetchLib', url='https://file-examples-com.github.io/uploads/2017/10/file-example_PDF_500_kB.pdf', file='/storage/emulated/0/Download/tdesk/file-example_PDF_500_kB.pdf', group=0, priority=HIGH, headers={}, downloaded=0, total=469513, status=DOWNLOAD

[2021-07-09 22:59] Quuantum-Studios commented on #470
Can you help with this #597 related issue with your provided example code?

[2021-07-21 21:29] moisoni97 commented on #563
**Off-topic:**
Hey @sahilsingh09092007 , what color scheme and font are you using?

[2021-07-28 07:35] andj207 commented on #594
It's all about the `contentResolver.openFileDescriptor(fileUri, "w")` in the class `StorageResolverHelper.kt`.
When using with Storage Access Framework the file path is a Document uri, if the download is paused and then resumed, the file will be cleared to 0 byte and continued append the new bytes on Android version <= 9 (Realme C1 and Xperia Z1).

The fix is: contentResolver.openFileDescriptor(fi

[2021-08-06 15:10] CarsonRedeye commented on #348
I can replicate this issue on the latest version. I've tried to debug this and I think this line is problematic:
FetchHandlerImpl.kt line 123
`var existingDownload = fetchDatabaseManagerWrapper.getByFile(downloadInfo.file)`
In my situation the urls rotate every 15 minutes or so to include a new token in the path, then when I try to observe the download via `getDownload(enqueuedRequest.id)` that id

[2021-08-09 18:30] arunkr83 opened #598 "Can anyone help me to implement this in Service class java"
Will this work for parallel downloads in background?

public class MediaDownloadService extends Service {

    private Fetch fetch;

    private final FetchListener fetchListener = new FetchListener() {
        @Override
        public void onAdded(@NonNull Download download) {

        }

        @Override
        public void onQueued(@NonNull Download download, boolean waitingOnNetwork) {

[2021-08-14 10:30] Udhayarajan opened #599 "Use mavenCentral"
Hello,
  This is a gentle reminder to you guys to use/publish the package using Maven Central. Jcenter is deprecated.

See [this](http://developer.android.com/r/tools/jcenter-end-of-service) for more information

[2021-08-14 10:34] Udhayarajan commented on #599
#586 has an issue already sorry to create a new issue.

[2021-08-14 10:34] #599 closed, assigned to nobody

[2021-08-15 07:53] Udhayarajan commented on #598
Post log details of errors

[2021-08-15 07:57] Udhayarajan commented on #565
Same problem with me. Download was not even started after DOWNLOAD_QUEUED. Did you have any fixes for this?

[2021-08-16 09:47] alashow commented on #594
Thanks @andj207, your patch https://github.com/andj207/Fetch/commit/49ca46e10d548f1bd7a94ba2cf4fef7ff5b233f7 fixes file corruption issues some of my users were facing (xperia, asus phones). I couldn't reproduce the bug myself but after  testing the patch with affected users, they reported file corruptions have stopped.

/cc @tonyofrancis

[2021-08-18 01:43] Udhayarajan commented on #571
Use FFmpeg is may not be the good idea. While I use my own downloader (before using Fetch2). I have just get multiple input stream (for each URL one stream) but only one output stream. I won't close output stream unless all file are downloaded. Consider a video file of size 4 bytes(ideally) then next video file adds on same file after 4th byte

[2021-08-18 13:25] wax911 commented on #571
So instead of having individual files (playlist segments) and joining them at the end you just write each segment into one output stream (final file)? I have to say, I've never tried that before

[2021-08-18 13:56] Udhayarajan commented on #571
First of all sorry for my bad English for the previous comment I made. But you got the point. Just append all playlist segments' data (byte[]) one after another sequential results in perfect Video Files.

[2021-08-25 05:30] Udhayarajan commented on #565
Found! if there is any problem with the file path(local path) this kind of problem arises. Try changing fileName or filePath or file extension to proceed to download.

[2021-08-25 05:38] Udhayarajan commented on #571
Is there any way to download M3U8 videos using this Library? It is an awesome library but documentation and support lacks.

[2021-08-25 21:23] tzugen commented on #586
@tonyofrancis Hey, are you planning to do this? Otherwise I would think of publishing a fork to Mavencentral myself if thats ok for you..

[2021-08-28 03:44] Udhayarajan commented on #571
@wax911 I have tried the same idea in windows but it results in a broken video file. Video plays but frames repeated, skipped etc. However, in android, it runs smoothly. I have no idea why. So don't follow my steps to download the HLS video. If you use FFmpeg there is a command:

 `ffmpeg -i "<M3U8URL>" -codec copy output.mp4`

To download Video from the M3U8 file. No need to worry of downloading

[2021-09-01 08:57] FraMag33 commented on #586
Hi, Have you published the lib on Maven Central?

[2021-09-01 17:09] wax911 commented on #571
Thanks for the heads up @Udhayarajan I am aware of the `ffmpeg` command, but in this specific scenario if you use that then you'd be delegating the everything to `ffmpeg` which would defeat the purpose of using fetch

[2021-09-02 13:48] FraMag33 commented on #586
Have you published the lib on Maven Central?

[2021-09-02 15:14] tzugen commented on #586
No, decided to not use a library for our project...

[2021-09-04 12:58] imansdn commented on #317
this issue still exists for me on Fetch 3.1.6...
[code]
`
java.lang.OutOfMemoryError: Could not allocate JNI Env
    at java.lang.Thread.nativeCreate(Thread.java)
    at java.lang.Thread.start(Thread.java:731)
    at java.util.concurrent.ThreadPoolExecutor.addWorker(ThreadPoolExecutor.java:941)
    at java.util.concurrent.ThreadPoolExecutor.execute(ThreadPoolExecutor.java:1348)
    at com.tonyodev

[2021-09-06 08:48] amir215909 opened #600 "what is the strategy of library for downloading same file ?"
I save files with a unique id, I wonder if the library provides a way for ignoring or replacing the file ( I don't want to download a file that already exists).

[2021-09-15 13:36] olskaw opened #601 "Unexpected Download Behaviour"
At first, thank you for this library and the nice interface!

For an app I like download multiple files concurrently, but I don't understand the behaviour of the downloads.

**Environment**
- `implementation 'androidx.tonyodev.fetch2:xfetch2:3.1.6'`
- Android 10
- minSdk 25, targetSdk 31
- Manifest:
  - uses permission "android.permission.INTERNET"
  - uses permission "android.permission.WRITE_EXT

[2021-09-15 15:13] AlirezaIvaz opened #602 "Unknown I/O error when using whitespace in file path"
If the file path contains a white space, I get this error: `UNKNOWN_IO_ERROR`.

Example path with error: `/storage/emulated/0/My Folder/test.txt`

Searching the web, I found the following two ways:

1. Replace whitespace with `\\ `, for example: `/storage/emulated/0/My\\ Folder/test.txt`
2. Replace whitespace with `%20`, for example: `/storage/emulated/0/My%20Folder/test.txt`

But I get this error

[2021-09-15 15:26] AlirezaIvaz commented on #602
I checked again, storage permission was wrong.

[2021-09-15 15:26] #602 closed, assigned to nobody

[2021-09-17 10:45] BlackVick commented on #378
Hello @tonyofrancis, Great job on this library. It has been smooth up until now. I keep getting "Unexpected End of Stream" error

[2021-09-17 10:46] BlackVick opened #603 "Unexpected End of Stream Error"
Hello @tonyofrancis, Great job on this library. It has been smooth up until now. I keep getting "Unexpected End of Stream" error

[2021-09-20 05:33] AbdelrahamanKh opened #604 "REQUEST_NOT_SUCCESSFULL when download video from google user content"
first, thank you for this great library
I have a problem when I try to download video from google user content
like this URL:  https://lh3.googleusercontent.com/MOwGC2EpWDVD1PTijRZbNZwDmP3Ji4QnGFDTkcgSCSZcCZBoBRrg-AvrG082K75fuVJWSdjW3DL-sG16UMnbSwkOen-ienBkMkwutUbiqYaeZbD1dE3mOfNm3hnN0sLLFXyg9akAqg=m18
it shows me a **REQUEST_NOT_SUCCESSFULL** error

here is my sample code

[code]
what should i do

[2021-09-20 07:48] AlirezaGhanbarinia opened #605 "has this library discontinued?"
This library has not been developed for a long time, in fact that many issues have been registered, has this library discontinued develop?

[2021-09-25 14:40] HashirLabs opened #606 "Add an option to send request body with post method"
Add an option to send request body with post method

[2021-09-25 16:54] Awsom3D commented on #605
So far @tonyofrancis looks active on some private repos (so he's alive and well !) but no news of him on this one.
Tried to reach him via Twitter. No answer.

[2021-09-28 09:15] #603 closed, assigned to nobody

[2021-09-28 14:04] Rahul7f commented on #600
@amir215909 did you get the solution?

[2021-09-29 15:25] AbdelrahamanKh opened #607 "REQUEST_NOT_SUCCESSFULL when download .zip file"
like this URL :
https://www.learningcontainer.com/wp-content/uploads/2020/05/sample-zip-file.zip
I get REQUEST_NOT_SUCCESSFULL error
any help?

[2021-09-30 19:12] junior-jornada commented on #302
this works, but the files get corrupted on download. have any tips?

[2021-10-01 16:33] junior-jornada opened #608 "Custom Time Out"
## Context
   on my server it takes 20 seconds to generate a document, after generating it is returned, taking into account this scenario I need to increase the library's default timeout, in my code it works, but the file cannot be opened.

## Code:
[code]

[2021-10-01 16:38] junior-jornada commented on #564
I have the same question.

Set setHttpDownloader(getOkHttpDownloader()) <<

[2021-10-01 18:44] junior-jornada commented on #368
how did you solve it?

[2021-10-02 07:00] amir215909 commented on #600
We decided not to use this library, Instead, we used [https://github.com/amitshekhariitbhu/Fast-Android-Networking](Android fast networking) library and modified it a little bit.

[2021-10-06 06:05] LathiyaVinal opened #609 "Getting CursorWindowAllocationException randomly ."
Hello @tonyofrancis
I am using fetch version **3.1.5**.

I am getting this crash in my live project .
Not able to generate crash but here is full crash report attached  .

Please take a look and let us know further to eliminate this crash

![image](https://user-images.githubusercontent.com/63045485/136148564-787819ba-48ba-4c1d-af1d-bfbb381a6988.png)

[2021-10-06 12:50] Ashok-Rupeek commented on #588
same issue (java.io.IOException: file_allocation_error) from onError() callback method, any update on this? @tonyofrancis

[2021-10-11 05:42] Ashok-Rupeek opened #610 "(java.io.IOException: file_allocation_error) from onError() callback method"
very often it throws this error not sure the exact reason, can anyone help on this?

[2021-10-11 15:39] SudoDios opened #611 "Error add download"
Error name -> UNKNOWN_IO_ERROR

[2021-10-11 16:22] SudoDios commented on #611
please help

[2021-10-13 15:00] AbdelrahamanKh commented on #611
make sure you grant the permission first to write/read external storage
also, you don`t have a file with the same name as the file you are trying to download

[2021-10-13 19:38] SudoDios commented on #611
i granted permissions read&write.
what does **also, you don`t have a file with the same name as the file you are trying to download** ?

[2021-10-13 20:12] SudoDios commented on #611
Yes, you are right.  Those files have problems that have `"*/:<>?\|` Characters in their names

[2021-10-13 20:13] SudoDios commented on #611
Question in stack overflow
https://stackoverflow.com/questions/2679699/what-characters-allowed-in-file-names-on-android

[2021-10-13 20:13] #611 closed, assigned to nobody

[2021-10-14 09:55] JosephSanjaya opened #612 "How to Add GSON Body"
Thanks for awesome library, i wonder how to add Gson Data Class as Body Content using Fetch.

[2021-10-14 12:06] cemrich commented on #594
I have the same issue on a Pocophone F1 with Android 11 and several other device/sdk combinations. I traced the issue down to the `minifyEnabled true` setting in debug builds.

I think I fixed it by adding following progruard rules:

[code]

I would like them to be more specific, but at least it is working now.

[2021-10-14 12:07] cemrich commented on #594
Also, this may be a diplicate of #454 where I got the proguard rules from.

[2021-10-14 17:17] AbdelrahamanKh opened #613 "Please help some links can`t be downloaded"
there are some links can`t be download although it can be downloaded by other apps
like this URL https://s-delivery28.mxdcontent.net/v/2b2b8eab80300dcf1787e7a8374282f1.mp4?s=5dggdPKrUfZQI7t9rQn-SA&e=1634246920&_t=1634227575
it gives me REQUEST_NOT_SUCCESFUL
I need help with this

[2021-10-15 00:23] alashow commented on #594
Proguard rules alone didn't fix the problem in my case.

[2021-10-15 11:03] AbdelrahamanKh commented on #613
and there are  more and more links that can`t be download with fetch even if  I put these links in the sample app it also can`t be downloaded I really need a help what is the problem with these links ?
why It can be download by other apps but not with fetch :/

[2021-10-21 12:02] Velord commented on #603
I used OkHttpDownloader and it always on a first attempt throw I/O exception when downloading from S3. You can resolve this issue via migrate to HttpUrlConnectionDownloader or set setAutoRetryMaxAttempts.

[2021-10-23 17:02] BlackVick commented on #603
Alright thanks

[2021-10-28 20:56] kesha-antonov commented on #586
Any news please?

[2021-10-28 21:19] moisoni97 commented on #586
Latest `JCenter()` release is also available on `JitPack: implementation 'com.github.tonyofrancis.Fetch:xfetch2:3.1.6'`

[2021-10-29 00:55] kesha-antonov commented on #586
thanks

[2021-10-31 22:02] sahaand commented on #579
I could integrate this library with Media store and sdk 30 without changing the library, Actually there are two bugs in the library, the first is in requesting to get storage permission in android 30, and the other is in creating file in Mediastore because the library seems that supports uri, however by implementing these problems in my app, I could integrate it with sdk 30.
I also want to say, as

[2021-11-01 11:23] W7orld opened #614 ""Fetch" does not download files on SDK 30+"
Hello
I had to upgrade targetSdkVersion from 29 to 31. But i got problem on android 11, "Fetch" does not download files on android 11!

I guess on sdk 30+ require using SAF to access files and "Fetch" not support SAF

How i can fix it?

[2021-11-22 13:47] JakubNeukirch commented on #614
Me too, but library seems abandoned

[2021-11-26 12:40] kesha-antonov commented on #559
Hey
Did you find a way to get it?

[2021-11-26 13:33] kesha-antonov commented on #423
I have the same
everything is null

[2021-11-27 03:08] JosephSanjaya opened #615 "Issue Crash on Notification on Android 12 Behavior Changes (Pending Intent Flag)"
Library crash when building pending intent for notification

## Expected Behavior

Application not crashing when using **DefaultFetchNotificationManager**

## Current Behavior

Crash catch stack:

[code]

## Possible Solution

Add FLAG_IMMUTABLE or FLAG_MUTABLE flag on PendingIntent

[2021-11-27 06:30] W7orld commented on #614
Unfortunately yeah ):

You can use this solution :
`Environment.getExternalStoragePublicDirectory(Environment.DIRECTORY_DOWNLOADS).getAbsolutePath() ` use this path to downloads

[2021-11-29 12:27] JosephSanjaya commented on #615
Any solution?, my company need to release the app in 1 week, im using this to download report. can you look forward to it?

[2021-11-30 17:59] subhadiprudra commented on #441
android:requestLegacyExternalStorage="true"

add on manifest under application section

[2021-12-04 11:51] ByteSpectra opened #616 "Don't Know why it is not loaded in my kotlin project."
I add the dependecy but my project does not load its classes etc. Although syn finished successfully, but not working like other libraries.

[2021-12-11 03:58] AbreuY commented on #572
Thank you, guys! @passmanagerapp @KunalDhyani

[2021-12-11 13:46] SudoDios commented on #615
too

[2021-12-12 07:52] SudoDios commented on #615
Use This :
[Fetch Cs](https://drive.google.com/file/d/10JMjKpQr3Zlx9RkkSXfslXKbUyN4ShUF/view?usp=sharing)

[2021-12-19 15:26] sairajsawant commented on #586
`androidx` versions are not available on `jcenter()` - where can I get them?

[2021-12-19 15:35] moisoni97 commented on #586
What do you mean by `androidx` versions?

I use AndroidX and this dependency from jitpack works: `implementation 'com.github.tonyofrancis.Fetch:xfetch2:3.1.6'`

[2021-12-20 05:59] sairajsawant commented on #586
sorry @moisoni97, i meant okhttp

[2021-12-20 14:19] moisoni97 commented on #586
For that I think you should implement this dependency: `implementation 'com.github.tonyofrancis.Fetch:xfetch2:3.1.6'` and then implement `fetch2okhttp` as a module to your app.
If you are like me and hate modules, `fetch2okhttp` package contains only 2 classes so you can create them inside your project, but for that, you also need to implement `okhttp` dependency separately in your `build.gradle`

[2021-12-24 14:09] kingsammalik opened #617 "Setting Notification Manager"
'DefaultFetchNotificationManager' is abstract; cannot be instantiated

this error message is coming.

this is my code

FetchConfiguration fetchConfiguration = new FetchConfiguration.Builder(mContext)
                .setDownloadConcurrentLimit(10000)
                .setNotificationManager(new DefaultFetchNotificationManager(mContext))
                .setHttpDownloader(new OkHttpDownloader(Downlo

[2021-12-29 22:31] alashow opened #619 "Testing with Roboelectric"
Hello.

Is there a way to test Fetch with Roboelectric?

`fetch.enqueue` calls gets stuck because it uses `uiHandler.post`, which never completes while using Roboelectric.

[2022-01-02 19:10] Serkali-sudo commented on #571
combining ts files to full video without ffmpeg may be possible.
Lets say we have all the ts file urls in the list.
I am writing this code without IDE so there may be some syntax errors
You probably should use this inside AsyncTask
[code]

[2022-01-03 18:58] wax911 commented on #571
@Serkali-sudo have you tested this though? Does the final output play properly

[2022-01-03 19:33] Serkali-sudo commented on #571
i didnt tested but it should work and it will work only if you are already able to parse ts file links from m3u8.I can make full example and test it if you want .

[2022-01-04 00:59] #619 closed, assigned to nobody

[2022-01-04 09:18] wax911 commented on #571
Please do, that would be great! 😺 your solution sounds similar to what's below

[2022-01-08 14:42] moisoni97 commented on #526
Occasionally I still see this "ConnectivityManager$TooManyRequestsException" exception in Crashlytics, but it happens very rarely...  for like 40k installs, 6 crash events affecting 5 users.
I tried to investigate it but I cannot find the root problem...

[2022-01-12 07:40] anshul1235 commented on #419
I got same issue, the file is corrupted after downloading.. (was able to reproduce with 2 image files both less then 5kb) if it helps sharing the file here. (works with SEQUENTIAL though). everything works fine in 3.1.0. @tonyofrancis
![img_1641551956283_01308675397049486996](https://user-images.githubusercontent.com/6327351/149084400-ce0fdf09-4321-474d-83ff-b4aaab267c0a.JPEG)

[2022-01-24 11:12] orijoseph commented on #565
I have the same issue, stuck in onQueued

[2022-01-27 11:37] Jamalzahid opened #620 "Duplicate class com.tonyodev.fetch2core.server.FileResponse$CREATOR found in modules jetified-fetch2core-3.0.12-runtime (com.tonyodev.fetch2core:fetch2core:3.0.12) and jetified-xfetch2core-3.1.6-runtime (androidx.tonyodev.fetch2core:xfetch2core:3.1.6)"
Duplicate class com.tonyodev.fetch2core.server.FileResponse$CREATOR found in modules jetified-fetch2core-3.0.12-runtime (com.tonyodev.fetch2core:fetch2core:3.0.12) and jetified-xfetch2core-3.1.6-runtime (androidx.tonyodev.fetch2core:xfetch2core:3.1.6)

I'm Using File server dependency and fetch both at same but it gives error as both include same classes as duplicate. If I use only
implementation

[2022-01-27 11:41] #620 closed, assigned to nobody

[2022-02-03 12:28] cloubiel opened #621 "The library is only available in jcenter"
jcenter is deprecated, when do you think that the library will be available in other repositories as mavenCentral or google?

[2022-02-06 10:02] moisoni97 commented on #621
See #586

[2022-02-09 05:26] bhumikash-tech opened #622 "Video not downloading after first video"
I successfully downlaod a one video but when I try to download with another video url , the download process doesn't work at all . Why ?????

[2022-02-15 09:39] orkndev opened #623 "can i influence document loading? i need encrypt document before saving it"

[2022-02-19 07:03] khsuzan commented on #614
I am also failing with android API 30+ onwards :(

[2022-02-24 07:59] nikzdevz commented on #592
Hey have you got solution for this?

[2022-02-24 14:47] nikzdevz commented on #604
Have you got any way to solve this problem?

[2022-02-24 16:09] nikzdevz commented on #316
@cdn34 Have you tried same configuration with google drive?

what's is this?

[2022-02-24 20:14] nikzdevz commented on #565
@Udhayarajan and @orijoseph can somebody tell me solution about this too

[2022-02-28 14:48] ov3rk1ll opened #624 "Download stuck in QUEUED after reboot with WIFI_ONLY"
I'm creating a new download with `NetworkType` set to `WIFI_ONLY` while on a mobile connection.
The download has status `QUEUED` at this point and will start to download as soon as I connect to a WiFi network - so that part is working.

But if I reboot the unit while connected only to mobile data, the download will never start after the reboot even if there is a WiFi connection.

I'm checking for

[2022-02-28 15:15] nikzdevz commented on #517
I got the solution for this issue. You'll have to add header Referrer and value will be getintopc

[2022-03-04 07:35] Abhishek1029 opened #625 "Download Data Status lost"
I have downloaded video from url using fetch library and after updating the app from playstore the Status of those videos that are saved in fetch library are lost.
Therefore I am not able to get the downloaded videos

[2022-03-24 07:28] ExcailburWei opened #627 "getTag() is null"
version:3.0.12
request.setTag(tag);
onError print Request.getTag() is null

[2022-03-26 13:42] watsonsong opened #628 "How to limit the download bandwidth?"
Hi, is there a way to limit the download bandwidth. Per download task or the total bandwidth for a fetch instance?

[2022-03-27 08:01] watsonsong commented on #628
I find the issue: https://github.com/tonyofrancis/Fetch/issues/464 and https://github.com/tonyofrancis/Fetch/issues/192.
But I don't know how to implement a custom downloader, which override the getRequestBufferSize. The custom buffer size can used to control the download speed?

[2022-03-27 08:24] watsonsong opened #629 "How to change url when retry?"
If I have multi-url for the same file. How can I give the urls and change when network error and retry?

[2022-03-29 19:57] #572 closed, assigned to nobody

[2022-04-10 23:59] Sternbach-Software opened #630 "Does Fetch persist download.progress?"
Incredibly impressed with the library. I want to display the progress of downloads in my app. Does `cancel()` reset progress? Also, if I wanted to save the progress to my db, which callback in `FetchListener` will be called when the system shuts down the app. `onPaused()`?

[2022-04-11 08:16] Mahmoood commented on #627
Did you try to get 'tag' from the 'download' object not from the 'request'?

[2022-04-18 15:41] samstone19943 opened #631 "Does concurrent limit only apply to enque(List)?"
I am trying to download a lot of files at once, but I don't want all of the downloads to fail if one of them does, which the kdoc on `enqueue(List<Request>)` says will happen. So when I in queue them one by one, it seems that the concurrent limit is not respected, and they are simply processed one at a time.

[2022-04-24 17:36] Sternbach-Software commented on #497
@tonyofrancis Any timeline on when we can expect version 4?? Anxiously waiting!

[2022-04-24 18:01] Sternbach-Software commented on #497
I am making a fork ([here](https://github.com/shmueldabomb441/Fetch)) that will add `fun getAllDownloads(): kotlin.Flow<List<Download>>` to the dao, because that is all _i_ need. I will post to this thread when I have a working version.

[2022-04-25 00:46] Sternbach-Software commented on #497
I finished. The copy-pastable files are [here](https://github.com/shmueldabomb441/Fetch/tree/v3.0/flowablefetch) (18 classes in total, all in one package).

Just copy-paste them into your project, and instead of calling `Fetch.getInstance(fetchConfig)` call `FlowableFetch.getInstance(flowableConfig, { fetchConfig })`, where flowableConfig is an instance of `FlowableFetchConfiguration` instead of `

[2022-04-25 18:42] wax911 commented on #497
@shmueldabomb441 Do you have a PR/branch for your changes on your fork would love to review the changes (saw the folder)

[2022-04-27 14:36] FelipeRRM-Carrot opened #632 "Where is the source code for the androidx libraries?"
I need to download the source code of this library to make some modification and fixes (since it has been abandoned apparently) but  when I download source code I do not see the Android X versions in the project. Where are the folders related with the Android X implementation?

[2022-04-27 15:35] #632 closed, assigned to nobody

[2022-05-17 04:06] TheDam1999 opened #633 "Android 12 can't call onCompleted method"
Android 12 can't call onCompleted method, 100% loading process returns to onQueued. Please tell me how to fix it. With Android 11 this library is still in use.

[2022-05-18 10:46] mohSalah66 opened #634 "Release"
Hello mates, is there is any release soon because there are important fixes like this #626 ?
Thanks.

[2022-05-19 06:40] qq84266454 opened #635 "about extras"
I cannot modify the value of the extras.

[2022-05-19 07:39] qq84266454 commented on #627
i have the same question with you.

[2022-05-19 07:49] qq84266454 opened #636 "why download.getRequest() return different object"
**download.getRequest() == download.getRequest()**  will return false. it is wiread.

[2022-05-30 10:15] moisoni97 commented on #633
On my Samsung S10+ with Android 12, everything works and the onCompleted method is called. I guess it's something with your code... or maybe it's depending on the device...

[2022-06-06 16:51] TheDam1999 commented on #633
I found the cause. because FLAG_UPDATE_CURRENT is deprecated.thank.

[2022-06-06 16:51] #633 closed, assigned to nobody

[2022-06-08 06:32] rishabh876 commented on #597
@toppersdesk were you able to find a solution for this?

[2022-06-09 05:05] sharif-rcis opened #637 "ConnectivityManager$TooManyRequestsException"
android.net.ConnectivityManager$TooManyRequestsException: null
    at android.net.ConnectivityManager.convertServiceException(ConnectivityManager.java:2887)
    at android.net.ConnectivityManager.sendRequestForNetwork(ConnectivityManager.java:3060)
    at android.net.ConnectivityManager.registerNetworkCallback(ConnectivityManager.java:3365)
    at android.net.ConnectivityManager.registerNetworkCal

[2022-06-15 01:28] imcloud commented on #636
This function should not be named ‘get’, how about 'fork' 😄😄

[2022-06-23 06:35] ryancode-commit opened #638 "Targeting S+ (version 31 and above) requires that one of FLAG_IMMUTABLE or FLAG_MUTABLE be specified when creating a PendingIntent."
Fetch there is an error in compileSdkVersion 31 and above & targetSdkVersion 31 and above
because DefaultFetchNotificationManager there is a Pending intent with Flag_current_update

[2022-06-26 16:26] 557711 commented on #638
Kindly Solve this issuse Owner of library

[2022-07-11 15:58] prasenjitpickcel opened #639 "com.tonyodev.fetch2.exception.FetchException: request_not_successful"
If i try to download multiple files at a time.

Till 50 files it gets downloaded successfully but in the 51 th file i get the following exception

com.tonyodev.fetch2.exception.FetchException: request_not_successful
        at com.tonyodev.fetch2.downloader.SequentialFileDownloaderImpl.run(SequentialFileDownloaderImpl.kt:129)
        at com.tonyodev.fetch2.downloader.DownloadManagerImpl$start$$inl

[2022-07-19 21:46] AbdelrahamanKh opened #640 "Fatal Exception: android.database.sqlite.SQLiteDatabaseLockedException database is locked (code 5 SQLITE_BUSY)"
Fatal Exception: android.database.sqlite.SQLiteDatabaseLockedException
database is locked (code 5 SQLITE_BUSY)

**sometimes**  is thrown when I call

`fetch = Fetch.Impl.getInstance(getFetchConfiguration(context));`

[2022-07-21 14:20] thib-rdr commented on #640
That's a bug with the latest version, I ended up using the version 3.1.4, the last that does not have this issue

[2022-07-27 09:05] DanteAndroid opened #641 "How to listen all downloads are finished?"

[2022-07-29 07:24] Karim0x1 commented on #635
You have to use the fetch.replaceExtras() function.

[2022-08-17 08:12] GaoYuCan opened #642 "Repeat download a file and cause unknown error"
When the value of EnqueueAction is INCREMENT_FILE_NAME, repeated downloading a file will cause a unknown error. After debugging, I found the reason, and there is a bug in prepareDownloadInfoForEnqueue funcation of FetchHandlerImpl.
As shown in the following figure.
![image](https://user-images.githubusercontent.com/32543216/185068426-29bda035-3581-4513-bee1-4047e22be24b.png)
After modifying the co

[2022-08-17 13:50] satyam2593 opened #643 "Timeout for Fetch Request"
Hey, I am using Fetch for downloading some files How can I cancel any request if not downloaded due to any reason in 12Hour?

Can You Please provide me with any leads to achieving this, any help will be helpful

[2022-08-18 08:24] zilong-zZ commented on #565
@nikzdevz Because my file name contains "_", you can try to change the file name

[2022-08-27 08:32] shreyaag1 commented on #638
Please update the library!

[2022-08-31 07:43] OmidNejadabbasi commented on #638
@shreyaag1 @ryancode-commit @557711

I managed to fix the bug by copying and pasting the code into my own class file and corrected the PendingIntent flag.
Here is the link to my code : https://gist.github.com/OmidNejadabbasi/ccda264acc68a65be6004199344d168f

Remember that you should instantiate and pass this object to setNotificationManager() method.

[2022-09-05 15:37] alireza1055 opened #644 "some of files disappeared after download"
Hi
Some of my users are reporting   files disappeared  after hours or days after downloading and they download those files again
Why this happened?

[2022-09-05 20:28] #527 closed, assigned to tonyofrancis

[2022-09-13 14:31] OmidNejadabbasi commented on #598
What errors do you get ? because i can make it work without writing my own service

[2022-10-11 16:05] ghost opened #645 "Chain validation failed"
//finish

[2022-10-11 16:07] ghost commented on #645
Can certificate verification be disabled?

[2022-10-12 03:02] #645 closed, assigned to nobody

[2022-10-30 14:35] sanjaysingh1990 commented on #638
Thank you for  this fix

[2022-11-03 08:20] ryancode-commit commented on #638
I can't paste it
Make a new class or edit DefaultFetchNotigicationManager?

[2022-11-03 10:35] OmidNejadabbasi commented on #638
Yes, you should create your own .java file and paste my code and then use that class. I have tested it and it works!

[2022-11-04 02:29] sanjaysingh1990 commented on #638
This fix worked for me as well after some fixes like string and drawable resources linking.

[2022-11-04 03:43] ryancode-commit commented on #638
For import net.omidn.fetchme.R.drawable and import net.omidn.fetchme.R.string
Do you use library? Or what?

[2022-11-04 04:24] sanjaysingh1990 commented on #638
replace these drawable and string resources with your local resources.

[2022-11-05 07:08] teraiyamayurcontact opened #646 "Facing issue while generate"
Could not GET 'https://jitpack.io/com/tonyodev/fetch2/fetch2/3.1.6/fetch2-3.1.6.pom'. Received status code 401 from server: Unauthorized

Please review and let me know if any solution

Thanks in advance

[2022-11-05 08:03] teraiyamayurcontact opened #647 "Caused by: org.gradle.api.resources.ResourceException: Could not get resource 'https://jitpack.io/com/tonyodev/fetch2/fetch2/3.0.12/fetch2-3.0.12.pom'."
Caused by: org.gradle.api.resources.ResourceException: Could not get resource 'https://jitpack.io/com/tonyodev/fetch2/fetch2/3.0.12/fetch2-3.0.12.pom'.

[2022-11-05 16:23] chirag-deshwal commented on #644
Can you share the dir path? Can Provide additional information or app URL link. To help.

[2022-11-08 11:21] JAINPRINCE1234 opened #648 "The free download manager application download stuck in queued in mobile"
Hi, I am JAINPRINCE1234 The free download manager application download stuck in queued in mobile  how does I fix
![Screenshot_20221108-163737](https://user-images.githubusercontent.com/117731663/200551382-d2ee7122-0766-4fd6-843c-961840de7234.jpg)

[2022-11-08 11:21] #648 closed, assigned to nobody

[2022-11-22 11:41] ryancode-commit commented on #638
Thank you so much.

[2022-11-22 15:03] andr3aLucch3si85 opened #649 "Download groups separately"
I have to implement this situation:
I have a list with n rows. Each rows corresponds to a resource with n media to downloads. I want to download more rows (each media) at same time and update progress for each group.

[2022-11-23 08:52] andr3aLucch3si85 commented on #461
Same error for me!!

[2022-11-30 10:38] namdhis commented on #616
You have to import it manually.