[2017-02-04 14:23] IRMobydick opened #1 "Notification"
Is there any notification?

[2017-02-04 15:21] tonyofrancis commented on #1
@IRMobydick If you are talking about Android notifications, fetch does not support this feature. Status and progress update for requests are posted to attached FetchListeners like this.

[code]

[2017-02-04 16:08] IRMobydick commented on #1
Yeah, that's exactly what i'm talking about 👍

[2017-02-04 16:14] #1 closed

[2017-02-15 18:14] burhanaksendir opened #2 "Progress"
Great, thanks. I have a question:
How to display progress of number of bytes download and % of data download ?

[2017-02-15 21:02] tonyofrancis commented on #2
@burhanaksendir version 1.0.0 only reports the progress/percentage of a download request.

[code]

New version 1.0.1 which will be released soon will support download percentage ,downloaded bytes,
and total bytes.

[code]
I have pushed this code up to Github and is stable enough to use. Once 1.0.1 is finalized, it will be pushed up to bintray/marven.

[2017-02-15 21:11] burhanaksendir commented on #2
Great job! Thank you for your effort.
Kind regards,

[2017-02-15 21:21] #2 closed

[2017-02-16 15:21] HassanRaza1112 opened #3 "DownloadId"
My downloadId = -1 what is the reason please help me asap .

[code]

[2017-02-16 17:15] tonyofrancis commented on #3
The reasons why you may be getting an ID of -1 when enqueuing could be the following:

1. Fetch could not enqueue your request because the device ran out of space.
2. Fetch already contains this request. A request with the same downloaded file path already exist and is managed by Fetch. **Fetch does not override local files.**
3. The file you want to download/enqueue is already located in the dire

[2017-02-17 09:45] HassanRaza1112 commented on #3
OK got it , but how can I check if the file already exists or not ?

On Feb 16, 2017 10:15 PM, "Tonyo Francis" <notifications@github.com> wrote:

The reasons why you may be getting an ID of -1 when enqueuing could be the
following:

   1. Fetch could not enqueue your request because the device ran out of
   space.
   2. Fetch already contains this request. A request with the same
   downloaded fil

[2017-02-17 13:01] HassanRaza1112 opened #4 "How to check if file already exists ?"
Hey Tony !
 You're very helpful so far,I want to check if the downloading file already exists or not ? Is there  any method ? If exists do share with me .

[2017-02-17 13:02] #3 closed

[2017-02-17 13:41] HassanRaza1112 opened #5 "Onupdate() method is not calling in fetch.addListner"
[code]

[2017-02-17 15:11] tonyofrancis commented on #4
When a download request has been completed; all FetchListeners attached to an instance of Fetch will be notified.
[code]
Fetch also has other methods you can uses to get the status of a request.
[code]

[2017-02-18 13:52] burhanaksendir opened #6 "Human readable error message"
Is there a way to get Human Readable error messages?

[2017-02-18 16:49] tonyofrancis commented on #6
When the Fetch Service encounters an error for a request, the error information is passed to all FetchListeners attached to an instance of Fetch. The error is also stored in the Fetch Service database and can be queried later via `fetch.get(downloadId);` Below are a few examples of how you can retrieve the error for a request that failed.

[code]

[2017-02-18 17:21] burhanaksendir commented on #6
Thanks a million

[2017-02-18 17:21] #6 closed

[2017-02-18 18:29] burhanaksendir opened #7 "Notifying the User"
How to show download progress in NotificationBar? Looks like:
<img src="https://dl.dropboxusercontent.com/u/91846918/AndroidNotificationAccess/Notification_access.gif" />

[2017-02-18 18:47] tonyofrancis commented on #7
Fetch does not support Android Notifications. The FetchListener provides all the information needed to create your own Notifications.

[2017-02-18 18:47] #7 closed

[2017-02-19 14:43] burhanaksendir opened #8 "update issue"
I'm trying to download a video from a URL:
http://www.sample-videos.com/video/mp4/720/big_buck_bunny_720p_2mb.mp4

progres and fileSize not updating while downloading a file.

D/fetchDebug: id:237955074420,status:901,progress:0,error:-1
I/fetchDebug: id: 237955074420 downloadedBytes: 444171 / fileSize: -1
D/fetchDebug: id:237955074420,status:901,progress:0,error:-1
I/fetchDebug: id: 237955074420 d

[2017-02-19 21:49] tonyofrancis commented on #8
@burhanaksendir The request is downloading, but the server did not provide the content-length(file size) of the video for Fetch to determine the percentage progress. This normally happens when the content you want to download is small. What you can do is add a check to your code to determine when progress is 0 and fileSize is -1. This is an indication that the download progress cannot be determine

[2017-02-19 21:50] #4 closed

[2017-02-19 21:50] #5 closed

[2017-02-21 14:36] #8 closed

[2017-02-24 22:45] burhanaksendir opened #9 "multi-task downloads"
Start another file after it finishes downloading one. How do I start multiple file downloads at the same time?

[2017-02-25 23:20] tonyofrancis commented on #9
@burhanaksendir Fetch does not support parallel downloads. In order to provide the best user experience, Fetch runs one download at a time in the background. Each request is queued and processed in the order they were enqueued. Each request enqueued is queued with a priority of **Normal**. If you have a download that needs to be executed as soon as possible, you can enqueue it with a priority of *

[2017-02-26 14:28] burhanaksendir commented on #9
Thanks

[2017-02-26 14:28] #9 closed

[2017-02-27 13:22] mrTimay opened #10 "Clear database and all downloads"
Is there a way to clear the database to allow re-downloads?
Also is there a way to stop and clear all downloads in progress?

[2017-02-27 14:59] tonyofrancis commented on #10
@mrTimay The following code allows you to clear all downloads in the database.

[code]

Fetch downloads one request at a time. If you want to delete the current downloading request you can do something like this.
[code]

I may implement a removeAll() method in the next version release. I did not add one because I did not want users of the API using it loosely being that everything gets deleted.

[2017-02-27 16:17] #10 closed

[2017-03-02 01:10] burhanaksendir opened #11 "Progress and filesize issues"
Scenario:
The file is being downloaded:

D/ fetchDebug: id:30547713379280,status:901,progress:25,error:-1
I/ fetchDebug: id: 30547713379280 downloadedBytes: 7428602 / fileSize: 29189424

Then I pause the download and close the application.
Progress and filesize are calculated incorrectly when I reopen the application and resume it.

D/ fetchDebug: id:30547713379280,status:901,progress:100,error:-1

[2017-03-02 01:34] tonyofrancis commented on #11
@burhanaksendir is it possible to provide me with the download link? I would like to run a test. What I am noticing from the example above is that the file sizes are different.

[2017-03-02 01:43] burhanaksendir commented on #11
sample link:
https://archive.org/download/Mozart_347/05.mp3

[2017-03-02 12:49] tonyofrancis commented on #11
@burhanaksendir I was able to reproduce this bug and will be working on a fix today. Thanks for reporting it.

[2017-03-02 15:49] tonyofrancis commented on #11
The fix for this bug has been pushed to the GitHub probject. I will be pushing out Fetch 1.0.2 in a few hours. Thanks

[2017-03-02 15:49] #11 closed

[2017-03-02 17:23] burhanaksendir opened #12 "getProgress() and getDownloadedBytes() issues"
Scenario 2:
The file is being downloaded.
https://archive.org/download/Mozart_347/05.mp3

D/fetchDebug: id:165363055600,status:901,progress:5,error:-1
I/fetchDebug: id: 165363055600 downloadedBytes: 1875132 / fileSize: 17487404
D/fetchDebug: id:165363055600,status:901,progress:6,error:-1
I/fetchDebug: id: 165363055600 downloadedBytes: 2207640 / fileSize: 17487404
D/fetchDebug: id:165363055600,stat

[2017-03-02 17:58] tonyofrancis commented on #12
@burhanaksendir Thanks for reporting this bug. I noticed it when I was fixing the other progress bug you reported earlier. I am working on a fix and will push it up as soon as possible.

[2017-03-02 18:01] burhanaksendir commented on #12
@tonyofrancis Thank you so much.

[2017-03-02 21:10] tonyofrancis commented on #12
A bug fix for this issue has been pushed to GitHub. This fix will make it into Fetch 1.0.2 which will be released in a few hours.

[2017-03-02 21:10] #12 closed

[2017-03-05 06:42] ahshoaib opened #13 "Configuration Problem"
The build.gradle is configured and during rebuild gives the following errors:

/Users/shoaibrafa/AndroidStudioProjects/AppSaraaiV3/app/build/intermediates/res/merged/debug/values-v24/values-v24.xml
Error:(3) Error retrieving parent for item: No resource found that matches the given name 'android:TextAppearance.Material.Widget.Button.Borderless.Colored'.
Error:(4) Error retrieving parent for item:

[2017-03-05 06:45] ahshoaib opened #14 "Cofiguratin problem"
The build.gradle is configured and during rebuild gives the following errors:

/Users/shoaibrafa/AndroidStudioProjects/MyApp/app/build/intermediates/res/merged/debug/values-v24/values-v24.xml
Error:(3) Error retrieving parent for item: No resource found that matches the given name 'android:TextAppearance.Material.Widget.Button.Borderless.Colored'.
Error:(4) Error retrieving parent for item: No res

[2017-03-05 06:46] #13 closed

[2017-03-05 13:29] tonyofrancis commented on #14
@ahshoaib The Fetch library is using the following gradle configuration
[code]

From your code snippet it seems that your app is using v24 of the build tools or support library. Please verify that this is true. Try changing it to match Fetch's configuration and let me know if that worked.

[2017-03-06 15:46] #14 closed

[2017-03-10 18:36] Mahan3340 opened #15 "Progress"
Hi , I Keep logging the progress amount but it will not go up to 100 but the files is already downloaded

[2017-03-11 12:10] tonyofrancis commented on #15
Hello @Mahan3340 can you share the download link or example code?

[2017-03-11 13:04] Mahan3340 commented on #15
Hey , I just deleted the line Checking for the downloadID and Status in onUpdate Listener and its just working fine (don't know if this was the problem) but just there is another quick thing that I would appreciate if you add it soon and that's somehow be able to disable the auto download when pushing new downloads to Fetch instance cause its not working even when I call pause() method just after

[2017-03-11 14:43] tonyofrancis commented on #15
It may be best for you to store your requests in a list. When you are ready for the download to begin, enqueue that list using `fetch.enqueue(list);`

[2017-03-11 15:13] Mahan3340 commented on #15
Goood ! and wont this act like the normal fetch.enqueue(a single request ) ? I mean starting the download immediately

[2017-03-11 15:20] tonyofrancis commented on #15
Yes. Once you enqueue the first download in the list will begin to download.

[2017-03-11 15:35] Mahan3340 commented on #15
ahaa got it thank you so much

[2017-03-11 19:26] #15 closed

[2017-03-13 06:18] ahshoaib opened #16 "Intenet Service startForeground(notificationId, notification);"
Hello!

I am using fetch on the intent service. on the intent service I am calling startForeground method. The problem is when I close my app the download also stops. As I expect it should continue the download.

Thanks

[2017-03-13 15:10] tonyofrancis commented on #16
Fetch will continue to download the file in the background. If you intent service is killed, The instance of Fetch will no longer receive status updates via the Fetch Listener but the download will still be processing in the background. If you would like to share your code or an example, I would be glad to have a look.

[2017-03-14 05:37] ahshoaib commented on #16
Thanks for the reply. Sorry for not being clear! when I start download and then I press the home button my app goes in the background and the download continues, but when I kill the app from background ( Keeping the home button pressed and then killing the process) the download stops. I have written a simple download program that continues downloading even if I kill the app process, but that progr

[2017-03-15 14:53] tonyofrancis commented on #16
@ahshoaib sorry for the late reply. When you kill an application's process, everything that runs in the process is killed(The way it suppose to work). Fetch does not run on an independent process. It runs on your applications process, so it will be killed and downloading will stop.

What you are describing seems more like an application design issue. What I recommend doing is scheduling an alarm,

[2017-03-16 15:58] #16 closed

[2017-03-22 21:44] tuhin10 opened #17 "Is it possible to get the download speed?"

[2017-03-22 21:45] tuhin10 opened #18 "Add support for OkHttp library"

[2017-03-22 22:57] tuhin10 opened #19 "Any plan to support multi downloading?"

[2017-03-23 11:15] tonyofrancis commented on #17
Fetch does not currently support download speed reporting. I have not been successful in finding the proper formula to get this feature to work correctly, but I am looking into it.

[2017-03-23 11:20] tonyofrancis commented on #18
As of Android 4.4, OkHttp became the engine that powers HttpUrlConnection. I want to keep Fetch dependency free as much as possible, but If you would like to use OkHttp, you can fork the project and easily replace HttpUrlConnection with OkHttp.

[2017-03-23 11:22] tonyofrancis commented on #19
I do plan on supporting multi downloads in the next major release of Fetch, but I cannot make any hard promises.

[2017-03-24 15:29] #17 closed

[2017-03-24 15:29] #18 closed

[2017-03-24 15:29] #19 closed

[2017-03-27 17:58] milindrc opened #20 "error in verbose"
com.tonyodev.fetch.exception.EnqueueException: DatabaseHelper already containsFilePath a request with the filePath:

[2017-03-28 15:26] tonyofrancis commented on #20
@milindrc This error occurs when a request that was already enqueued is being enqueued again. The FetchService database already contains this exact request and will not enqueue it again.

I do notice that the logging can be excessive and will try to find the best way to enable and disable logging.

[2017-03-28 17:19] milindrc commented on #20
I am getting the error, even for a new url. I even reinstalled the app cleared the cache and did a  reset to everything.

On Mar 28, 2017 8:56 PM, Tonyo Francis <notifications@github.com> wrote:

@milindrc<https://github.com/milindrc> This error occurs when a request that was already enqueued is being enqueued again. The FetchService database already contains this exact request and will not enqueu

[2017-03-30 07:48] sanatyanky1988 opened #21 "Parallel download"
download not allowed in parallel only one download at a time.

[2017-03-30 11:28] tonyofrancis commented on #21
@sanatyanky1988 It is something I am looking into, and hoping to integrate in the next release.

[2017-03-30 11:30] tonyofrancis commented on #20
@milindrc That is not the intended behavior.  Are you able to replicate this and share a sample project with me?

[2017-03-30 11:30] sanatyanky1988 commented on #21
great work!! any plans for next release soon?

[2017-03-30 13:08] tonyofrancis commented on #21
@sanatyanky1988 Ill have to do extensive testing before integrating such a change and that may take time. But I will keep this issue open until the next release and will post back here. I am hoping to do so very soon.

[2017-04-02 05:24] milindrc commented on #20
Here is the code where I am using it it’s giving an not fatal error at the .enqeue

submissionDownloadAttachment.setOnClickListener(new View.OnClickListener() {
                        @Override
                        public void onClick(View v) {
                            final Fetch fetch = Fetch.getInstance(activity);
                            Request request = new Request("http://" + data

[2017-04-06 01:23] tonyofrancis commented on #20
@milindrc I was not able to replicate this issue.

[2017-04-09 12:55] tonyofrancis commented on #21
@sanatyanky1988 Parallel Downloads have now been added to Fetch 1.1.0. Check out the Readme, App Sample and Fetch Documentation.

[2017-04-09 12:55] #21 closed

[2017-04-09 12:55] #20 closed

[2017-04-16 15:05] bobongski opened #22 "How to re download file?"
Hi,

Nice fetcher by the way I have an error:
com.tonyodev.fetch.exception.EnqueueException: DatabaseHelper already containsFilePath a request with the filePath:

How can I re download file using this fetcher? thanks

[2017-04-17 11:22] altaf2892 opened #23 "onupdate never called"
[code]

[2017-04-17 15:19] leeyc09 commented on #23
i think you add fetch listener before fetch enqueue.

[2017-04-18 03:30] tonyofrancis commented on #23
@altaf2892 The main reason why the file is not being downloaded in the example you provided is because you are adding a separator before the file name, so your file path ends up having an invalid filePath. You only need to provide the filePath eg: `/storage/downloads` and the file name eg `test.txt`

example Request:`new request(getCacheDir(),"sample.txt");`

[2017-04-18 03:44] tonyofrancis commented on #22
@bobongski To re download the file at the same filePath, you must first delete the existing request by calling `fetch.remove(id)`. If you do not have/saved the download ID, you can call `fetch.get(request)`. This method will return a RequestInfo object if Fetch contains the request. You can then call `fetch.remove(requestInfo.getId())` to delete the request. See the JavaDocs for more on the get me

[2017-04-18 04:46] altaf2892 commented on #23
@leeyc09  it totally cleared in above example that   i have added enqueue  before the onupdate

[2017-04-18 04:48] altaf2892 commented on #23
@tonyofrancis  i got log from below code
` /storage/sdcard0/VideoDownloader MakeMostOfNow - Find your way with the Data Strong Net.mp4`
**code **
`public void fetchMethod(String url, String fileName) {
        List<Model> contacts = mydb.getAllContacts();

        File file = new File(Environment.getExternalStorageDirectory() + File.separator + getString(R.string.app_name));
        if (!file.exis

[2017-04-18 15:42] tonyofrancis commented on #23
@altaf2892 I noticed a few things:

1. You may be trying to enqueue a request that was already enqueued and `fetch.enqueue(id);` is returning a download ID of  -1. This means that the request was not inserted and will not download. **Note**: You cannot have two requests with the same download path. While testing you may want to delete the previous test request by calling `fetch.removeAll();` or ap

[2017-04-18 21:22] pethanihiten opened #24 "When kill App. Downloading stop."
Hi,

I have download long file it is download but when app kill in background download stoped. and it is not a store in database.

Thanks

[2017-04-19 06:08] altaf2892 commented on #23
[new1.txt](https://github.com/tonyofrancis/Fetch/files/931969/new1.txt)
**see text file and i have attached full code maybe i am doing something wrong or something else so plz have look at**

[2017-04-19 10:23] altaf2892 commented on #24
if u want to keep download running u should downloading i service ...

[2017-04-19 11:03] pethanihiten commented on #24
@altaf2892
yes, there is download in services.

[2017-04-19 11:05] altaf2892 commented on #23
**what   fetch.remove(id); actually does**

`start.setOnClickListener(new View.OnClickListener() {
                @Override
                public void onClick(View v) {

                    url = bundle.getString("url");
                    dirPath = bundle.getString("filepath");
                    fileName = bundle.getString("filename");
                    final Request request = new Request(

[2017-04-19 11:25] altaf2892 commented on #23
ok now i update get called but i have two question
****

[2017-04-19 11:39] sough opened #25 "How to have single Fetch instance?"
Hello, I want to add to a single download queue from different activities and have single listener, is it possible?

[2017-04-19 11:52] altaf2892 commented on #23
**please have look at file**

still same problem update never called but download is ongoing..see below both file

[Desktop.zip](https://github.com/tonyofrancis/Fetch/files/933968/Desktop.zip)

**please above zip it having two class files and please soon update  i m just about to finished this task**

[2017-04-19 16:51] #22 closed

[2017-04-19 17:03] tonyofrancis commented on #25
@sough This can easily be done. Fetch does not depend on the Activity context, but on the Application context. You can create a single instance of Fetch in a wrapper class and share it throughout you application. You can do something like this:

Example:
[code]

Hope this helps

[2017-04-19 17:23] tonyofrancis commented on #23
@altaf2892 Notice what is happening in your Activity's `onCreate(Bundle)` method. You are creating an instance of Fetch in this method. Once the method returns, Your fetch instance is then claimed by the garbage collector. Your fetch instance needs to be an instance field in your Activity class. The same goes for your Service code.

[2017-04-19 17:48] tonyofrancis commented on #24
@pethanihiten @altaf2892 Fetch performs all download operations in a background service called FetchService. When an app is placed in the background, it will continue to download requests. If the app is killed, that means all services and components of the app are killed. That is the expected behavoir. What you can do is create a service that will start the fetch service again. You can use the `Al

[2017-04-19 20:16] hitenpethani commented on #24
@tonyofrancis
ok, i will handle this. i have download your simple demo and used multiple file download example when download start going to main screen listview list clear atomically . How can i manage multiple file download with database? how to store file in database and handle to start/pause/cancel/stop. you shown fetch folder in databasehelper.java file and methods. i need you help.

[2017-04-20 05:56] sough commented on #25
Thx, I just made all settings + listener in CustomApplication class, as I understood that Fetch depends only from AppContext and every call of Fetch.getInstance(context) will return that instance from CustomApplication

[2017-04-20 12:28] altaf2892 commented on #23
if u mean to say is i declare globally fetch and do  fetch = Fetch.getInstance(this);on create or onstartcommand in service if yes then i have tried it bu no luck...

[2017-04-20 12:58] altaf2892 commented on #24
@hitenpethani  did u solve your issue?

[2017-04-20 13:19] pethanihiten commented on #24
@altaf2892
no, @tonyofrancis give a feedback. he is right. when app kills all the background process automatic stopped. if other solution possible of your side. so I will send my simple demo and implement my project.

[2017-04-20 15:58] MaciekZ-NHM opened #26 "Possibility to change the download URL when it expires"
Hello, i would like to use this library into my project, but i have one problem.
I have download URL with expiration time, and when user pause download, expiration time is over, and user want to resume download, fetcher give me STATUS_ERROR, that is fine.
My ask is: is there any possibility to change download URL to continue download file with different download link?
Because for now i can't conti

[2017-04-20 19:11] tonyofrancis commented on #26
@MaciekZ-NHM This is a very interesting scenario. It is possible to implement this in Fetch. I would have to find/test for the best way to implement this feature and to also test for the effects this can have on the library. Let me circle back back in a day.

[2017-04-20 19:11] #25 closed

[2017-04-20 19:14] tonyofrancis commented on #23
@altaf2892 Have you tired implementing this code and testinh it in a different project? I have been successful in testing all the code you provided and cannot replicate the issue.

[2017-04-20 19:22] tonyofrancis commented on #24
@hitenpethani Fetch stores all requests in a database with their current state,progress and other information needed. What you can do is call the `fetch.get()` method. This method will return all requests that are currently being managed by Fetch. You can then iterate over the list and populate your listview with the current download state, etc for each request.

[2017-04-21 06:19] altaf2892 commented on #23
i tried it in diff project now i gets updated but when app get destroyed i lose running download file

`
[code]
`
public class MainActivity extends AppCompatActivity {

    @Override
    protected void onCreate(Bundle savedInstanceState) {
        super.onCreate(savedInstanceState);
        setContentView(R.layout.activity_main);
        Intent intent = new Intent(this, AppService.class);

[2017-04-21 14:19] tonyofrancis commented on #23
@altaf2892 Being that the library works in your other projects and the listener is working as intended, there is not much I can help with. The issues you are facing seems to be more of an implementation issue within your project.

[2017-04-21 14:19] #23 closed

[2017-04-21 14:24] #24 closed

[2017-04-24 06:16] sough opened #27 "How to remove task, but remain file downloaded"
I count number of files currently downloading and if 1 of them is done, i call fetch.get().size() to update count. But that size remains the same and fetch.remove(id) deletes downloaded file eather. Something like removeTask(id) possible?

[2017-04-24 07:49] MaciekZ-NHM commented on #26
Thank you for the quick answer, I'll wait ;)

[2017-04-24 14:21] tonyofrancis commented on #27
@sough The `fetch.get()` method returns all request that are managed by the FetchService. One of the reasons why the `fetch.remove(id)` method deletes both the request and the file is because Fetch needs to keep track of downloads so that it does not override files on the file system that are not tired to a specific request. Say for example we have a request pointing to a file and another request

[2017-04-25 03:49] sough commented on #27
Thx, that solves my issue

[2017-04-25 03:49] #27 closed

[2017-04-25 03:52] sough opened #28 "How to download files to internal storage?"
I want to have my files be private

[2017-04-25 08:30] sough opened #29 "No char escaping while write http path to DB"
android.database.sqlite.SQLiteException: near "text": syntax error (code 1): , while compiling: INSERT INTO requests VALUES ( 5800091702000, 'http://ex.com/some'text.txt', '/storage/emulated/0/Download/id.txt', 900, '{}', 0, 0, -1, 600 )

[2017-04-25 09:17] sough commented on #29
Writing to db you need something like DatabaseUtils.sqlEscapeString(String). But then have to convert that string back to normal http string =(

[2017-04-26 13:46] tonyofrancis commented on #29
@sough Thanks for catching this. Will fix and ship in next release.

[2017-04-26 13:51] tonyofrancis commented on #28
@sough The Request class has a constructor that also takes in a Directory path. You can pass in the path of a directory on the internal/primary storage. Say for example you want to store the downloads in the data directory inside of your application. You can simply call context.getDataDir() to get the directory.

[2017-04-26 13:52] tonyofrancis commented on #26
@MaciekZ-NHM Still looking into this. I will keep this thread updated

[2017-04-27 03:43] sough commented on #29
When you plan it?

[2017-04-27 18:51] tonyofrancis commented on #29
some time next week.

[2017-04-27 21:22] tonyofrancis commented on #29
This issue has been fixed and will make it in the next version of fetch. I will post another update in this thread.

[2017-04-27 21:22] #28 closed

[2017-04-28 02:05] tonyofrancis commented on #29
Version 1.1.1 has been pushed

[2017-04-28 02:05] #29 closed

[2017-04-28 02:21] tonyofrancis commented on #26
@MaciekZ-NHM Version 1.1.1 has been pushed and contains a new method `fetch.updateUrlForRequest(id,url)`. This will allow you to update the url of a download request that has been enqueued. If a url expires and the download cannot continue, The request status will be set to `Fetch.STATUS_ERROR` and fetch listeners will be alerted. After updating a request's url, it status will automatically be set

[2017-04-28 02:21] #26 closed

[2017-04-29 15:51] raju249 opened #30 "Get the List of all queued requests"
Hi @tonyofrancis
This is one of the awesome library I have seen so far, very easy to user, very light weight and well documented.
I just have one question, how do I get the list of queued requests ?

Thanks for your help 😄

[2017-04-29 19:06] tonyofrancis commented on #30
@raju249 You can get all requests from the database by status.
[code]

[2017-04-30 03:24] raju249 commented on #30
Ok,
Thanks for you help  😊

[2017-04-30 03:24] #30 closed

[2017-04-30 07:28] raju249 opened #31 "How does Fetch notifty the app about file already present"
Hi @tonyofrancis ,

I want that my app should be notified by fetch if the requested file already exists.
I tried in the listener to get it notified, but couldn't.

I used ```Fetch.ERROR_ENQUEUE_ERROR``` and ```Fetch.ERROR_FILE_ALREADY_CREATED``` but couldn't get any response from fetch.

Any idea ?

Thanks,

[2017-04-30 13:47] tonyofrancis commented on #31
@raju249 If a request already exist, when enqueuing a request into Fetch, Fetch will return -1 as the id which means that the request could not be enqueued because it is already in the database.
[code]

## Advanced
You can use `Fetch.ERROR_ENQUEUE_ERROR` and `Fetch.ERROR_FILE_ALREADY_CREATED` if you are working **directly** with the FetchService. You can used the FetchService directly if you want

[2017-04-30 15:20] raju249 commented on #31
Great, Thanks @tonyofrancis
Once again @tonyofrancis , this is the most awesome down-loader library I have seen for android.
🙌 🙌 Hats off.

Closing this issue, and my problem was that I didn't know that ```id``` is ```-1``` for enqueue error. 😄

[2017-04-30 15:20] #31 closed

[2017-05-01 10:02] altaf2892 opened #32 "downloading file not being paused with download id"
project links removed code snippet commented

[2017-05-02 05:21] tejas-simprosys opened #33 "Exception download exception"
com.tonyodev.fetch.exception.DownloadInterruptedException: DIE
 at com.tonyodev.fetch.FetchRunnable.run(FetchRunnable.java:128)
 at java.lang.Thread.run(Thread.java:856)

In sample when i am start single download getting this exception.

[2017-05-02 13:50] tonyofrancis commented on #32
Ill have a look at the sample and will post back here

[2017-05-02 13:52] tonyofrancis commented on #33
@tejas-simprosys Does it crash the app? Can you explain more/steps of what is happening?

[2017-05-02 19:29] tonyofrancis commented on #32
@altaf2892 Have not been able to have a look at your code. Can you replicate the issue and post the logs here? Do the downloadId match the request id you want to pause?

[2017-05-03 23:38] waister opened #34 "How can I download a file that has already been downloaded?"
For example, the user downloaded a file and then deleted it from the sdcard. In the future, he wants to download the file again, but Fetch throws the exception:
EnqueueException: DatabaseHelper already containsFilePath a request with the filePath: [...]

Is there a way to force the download?

Thanks for lib!

[2017-05-04 08:14] ioltean opened #35 "Wrong progress when downloading big files (Tested with 4.2 GB file)"
httpURLConnection.getContentLenght() is not working correct when the file is bigger than the Integer.MAX_VALUE. In this case it will return -1 and I guess that's why the progress you return will always be 0%.

An option to fix this issue would be to get the content length directly from the headers and convert it to long:

Long.valueOf(connection.getHeaderField("Content-Length"))

instead of:

priv

[2017-05-05 07:29] altaf2892 commented on #32
`if (fetch != null) {
                    List<RequestInfo> requestInfo = fetch.get();
                    for (int i = 0; i < requestInfo.size(); i++) {
                        if (requestInfo.get(i).getId() == model.getId()) {
                            Log.e("match", requestInfo.get(i).getId() + "  " + model.getId());
                            try {
                                fetch.paus

[2017-05-05 18:23] jacobtabak opened #37 "`getInstance` method name is a misnomer"
The `getInstance` method with a context parameter implies there is a single instance of Fetch per context. If you support multiple instances per context (which you do), you may want to consider renaming the method to `newInstance`. See item 1 in Effective Java for the naming conventions for static factory methods.

[2017-05-05 18:58] jacobtabak opened #39 "Concurrent download limit problems"
If you try to set the download limit to something that is above `FetchConst.MAX_DOWNLOADS_LIMIT`, the method silently sets the value to the default value, which is 1.

This is problematic partially because `MAX_DOWNLOADS_LIMIT` isn't public, so you're relying on the developer to use second hand knowledge to not call that method with a value greater than 7.

Why is there a hard coded limit to how m

[2017-05-06 13:36] tonyofrancis commented on #32
@altaf2892 you do not have to get all the requests from fetch in order to match the one you are looking for. Simply call `fetch.get(downloadId)` and it will return the request if it exists. Attach a FetchListener to fetch before performing any operations in order to get status updates of a request. Have a look at the sample code in this project.

[2017-05-06 13:36] #33 closed

[2017-05-06 13:41] tonyofrancis commented on #35
This fix will make it in the next release 1.1.2. @ioltean Thanks!

[2017-05-06 13:41] #35 closed

[2017-05-06 13:52] tonyofrancis commented on #37
@jacobtabak thanks. The getInstance method will be deprecated, and the newInstance method will be added. This will make it in the next release. Fixed.

[2017-05-06 13:52] #37 closed

[2017-05-06 14:01] tonyofrancis commented on #39
@jacobtabak My initial thought was to limit concurrent downloads to provided the best user experience possible(Thinking overall system performance). I set max to 7 because I felt it was a good fit. I do not have data to back the max limit, and was waiting on the community to provide feedback.

[2017-05-06 14:28] tonyofrancis commented on #34
@waister Every time the FetchService starts, its verifies the database by checking that the downloaded files still exist. If a file was deleted or cannot be accessed, the service sets the request status to `Fetch.STATUS_ERROR` with an error value of `Fetch.ERROR_FILE_NOT_FOUND`.

What you can do is query fetch for the request and check its status. If the status is invalid, remove the request and e

[2017-05-06 17:39] raju249 opened #40 "Design for supporting multiple downloads"
Hi @tonyofrancis ,

I wanted help in designing the feature to support multiple downloads in my application.
How do I go about updating progress for each download in same notification ?

I have been thinking of showing something like ```1 of 4 in progress``` in the notification and then when `1` completes update the notification as ```2 of 4 in progress```.

Any idea on this of what should be the e

[2017-05-06 19:40] tonyofrancis commented on #40
@raju249 Please have a look at the sample app in this Project. There is a GamesActivity class that shows you how to do what you described.

[2017-05-06 19:40] #40 closed

[2017-05-08 05:46] ShantiRanjanDas opened #41 "Not able to download redirected url in android version 4.4(Kitkat)"
It is not downloading form redirected links, as I am using Vimeo video for download, As the first links which Vimeo provides is an "https url" and later it changes to "http url" . Here I am proving a vimeo link from which am trying to download a video,

https://player.vimeo.com/play/720138981?s=210197530_1494265285_b46e1ab154e0464a03760f8805892af8&loc=external&context=Vimeo%5CController%5CApi%5CRe

[2017-05-08 07:11] altaf2892 commented on #32
as u suggested  i did but the problem is if i have same video in a downloading and its paused or any other but not downloading  and if i request for same file its getting started downloading but not getting paused ....
`holder.pause.setOnClickListener(new View.OnClickListener() {
            @Override
            public void onClick(View v) {
                Toast.makeText(holder.itemView.getConte

[2017-05-08 15:54] jacobtabak commented on #39
I feel like a "one size fits all" limit of 7 may be lacking since Androids come in all shapes and sizes. I also feel strongly that the silent failure when attempting to set a limit over the hard-coded cap should be addressed.

[2017-05-09 02:06] tonyofrancis commented on #41
@ShantiRanjanDas Thanks for reporting this. Seems like Fetch needs a little bit of tuning to get redirects to work properly. I will look into this and do hope to find a solution as soon as possible. Ill keep this issue open and post updates here.

[2017-05-09 02:09] tonyofrancis commented on #39
@jacobtabak Agreed. Ill remove the limit and update the documentation. Thanks!

[2017-05-09 02:09] #34 closed

[2017-05-09 02:14] tonyofrancis commented on #32
@altaf2892 Are you sure you are pausing the right request with the right id? Please compare the id when you have enqueued the request with the model id when you are clicking the pause button. I do have a feeling they do not match.

[2017-05-09 05:21] ShantiRanjanDas commented on #41
Thanks for your support @tonyofrancis

[2017-05-09 10:21] ShantiRanjanDas commented on #41
@tonyofrancis it is still not downloading and giving me "unknown handshake error"

Here is the log,
05-09 15:46:31.046 23729-23729/test.download.app E/download_id: 26066080638565
05-09 15:46:31.747 23729-23831/test.download.app E/NativeCrypto: ssl=0x60b9d410 cert_verify_callback x509_store_ctx=0x61a778c0 arg=0x0
05-09 15:46:31.747 23729-23831/test.download.app E/NativeCrypto: ssl=0x60b9d410 cert_v

[2017-05-09 12:15] waister commented on #34
Now it worked!!!
Thank you very much for the help and I'm sorry I did not respond.

[2017-05-12 06:38] KulwinderSinghRahal opened #42 "FetchService is running always in backgound?"
i have noticed that after calling fetch.release(); method on fetch instance the FetchService is not stop it is running forever even  if not downloading anything. did i need to do anything else to stop this service.

[2017-05-14 18:16] tonyofrancis commented on #42
@KulwinderSinghRahal The FetchService is not stopped when calling fetch.release(). The FetchService only stops after all downloads are complete. Are you able to reproduce this bug?

[2017-05-15 04:49] KulwinderSinghRahal commented on #42
Actually I am creating Download manager app with your library therefore I'm creating Service in which getting  instance of Fetch. my service class handles actions like start,stop,pause etc. So when my app is destroyed I'm sending Bus(otto) message to service to stop my service class if not downloading anything. it destroy the service and release fetch if not downloading but after destroying servic

[2017-05-15 07:32] ShantiRanjanDas opened #43 "fetch view is reducing it size with weight."
What I see is, When I use weight for height of fetch view. it is reducing its size,I will try to explain with the help of an example.
Please do visit this [link ](https://cloud.githubusercontent.com/assets/28480802/26046631/6def42c6-396d-11e7-84e5-3304399eb5ed.png).

As I have used the main views as "Linear layout" with "weight_sum=2", and two views one is video_view and the other is textview. I a

[2017-05-16 09:03] RealAction opened #44 "Is there a way to remove request from Fetch's database"
Assume that user downloaded a file and move that file to other folder or delete it, they cannot download that file again because it save into Fetch's database. Is there a way to let user re-download?

[2017-05-16 09:04] RealAction opened #45 "Is there a way to query/get all request saved in Fetch's database"
As title, is there a way to query/get all request saved in Fetch's database (when user turn off the app and open it next time to resume download)

[2017-05-17 19:25] jacobtabak opened #46 "Need a "get" method that accepts several download IDs"
It appears that Fetch is lacking a method that allows you to query for a list of download IDs. Would you be opposed to adding a method that looks like this:

`public synchronized List<RequestInfo> get(long... ids)`?

[2017-05-17 20:22] AnushSR commented on #42
Thanks for the amazing library!

As the OP said, the service runs in the background even after all downloads have been completed.

Tried calling remove(id) removeAll() and release() but the service doesn't stop. Is this the correct way to stop the service?

[2017-05-18 22:36] muzaffer652 opened #47 "On devices lower than Android 6.0"
Hello,

Marshmallow does not download on low-end devices

Status = 905 in log output

`public class SingleDownloadActivity extends AppCompatActivity implements FetchListener {

    private static final int STORAGE_PERMISSION_CODE = 100;

    private View rootView;
    private TextView progressTextView;
    private TextView titleTextView;

    private long downloadId = -1;
    private Fetch fetch;

[2017-05-19 00:33] #32 closed

[2017-05-19 00:35] tonyofrancis commented on #41
@ShantiRanjanDas I am still looking into this

[2017-05-19 00:38] tonyofrancis commented on #42
It seems that there is a bug thats preventing fetch from stopping properly. I am looking into it and will update as soon as possible. In the mean time a work around is to call `context.stopService(new Intent(context,FetchService.class))`.

[2017-05-19 00:39] tonyofrancis commented on #43
Closing this issue. Its not related to fetch.

[2017-05-19 00:39] #43 closed

[2017-05-19 00:41] tonyofrancis commented on #44
@RealAction The FetchService automatically removes the entry for a request if the file is moved or deleted. Can you provide me a sample app or log?

[2017-05-19 00:45] tonyofrancis commented on #46
@jacobtabak sounds good! Ill update this post when its implemented. I am hoping for a release in the new few days.

[2017-05-19 01:14] tonyofrancis commented on #39
done. This will be in version 1.1.2 in fetch which will be released in the next few days.

[2017-05-19 01:14] #39 closed

[2017-05-19 01:14] tonyofrancis commented on #46
done. This will be in version 1.1.2 of Fetch which will be released in the next few days.

[2017-05-19 01:14] #46 closed

[2017-05-19 01:18] tonyofrancis commented on #45
`fetch.get()`

[2017-05-19 01:18] #45 closed

[2017-05-19 01:25] tonyofrancis commented on #44
@RealAction disregard my previous answer. The following is how Fetch handles downloaded files that have been removed.

Every time the FetchService starts, its verifies the database by checking that the downloaded files still exist. If a file was deleted or cannot be accessed, the service sets the request status to `Fetch.STATUS_ERROR` with an error value of `Fetch.ERROR_FILE_NOT_FOUND`.

What you

[2017-05-19 02:05] tonyofrancis commented on #42
This has been fixed and will make it in the next version of Fetch 1.1.2. The new version will be released in a few days. Please check back.

[2017-05-19 02:05] #42 closed

[2017-05-19 02:11] tonyofrancis commented on #47
@muzaffer652  A status of 905 means that the request was removed/deleted. There may be a race condition going on. I am looking into this and will update this issue with what I find.

[2017-05-19 10:42] tonyofrancis commented on #41
@ShantiRanjanDas are you able to download these links with fetch on a different version of android? I am unable to view them in a web browser. This does not look like a redirection issue.

[2017-05-19 15:29] RealAction commented on #44
i made simple example so you can see issue: https://github.com/DevOfLife/TestDownload5
step:
- click into folder icon to download the sample image (located on Downloads folder of sd card)
- close the app then re-open the app
- click into folder icon again to download

result log:
05-19 22:28:34.359 8084-8084/com.devoflife.app.testdownload E/aaaa: aaaa:904 //status
05-19 22:28:34.359 8084-8084/com.

[2017-05-19 19:50] jacobtabak opened #48 "`FetchConst` should probably be public"
When you query the status of a download, you get a `RequestInfo` object that has a `status` value which is an integer that corresponds to the status codes in `FetchConst`. However, since `FetchConst` is not public, there is no way to to perform logic on the status unless the client app hard codes those values.

[2017-05-19 20:19] tonyofrancis commented on #48
@jacobtabak the Fetch class implements FetchConst. You you can access the different statuses and error messages like so: `Fetch.STATUS_DOWNLOADING or Fetch.ERROR_FILE_NOT_FOUND*`. FetchService also extends FetchConst.

[2017-05-19 20:24] tonyofrancis commented on #44
Seems like there is a bug. I am looking into it

[2017-05-19 20:32] jacobtabak commented on #48
Hm, I don't find that very intuitive. What is the point of having those consts live anywhere other than in the place they are defined? It seems like FetchConst should be a public class and all of the members should be `public static final`.

[2017-05-19 20:33] jacobtabak opened #49 "Should -1 should be defined in FetchConst?"
It seems that -1 is a magic const that means there is no error. If this is the case, should it be defined in FetchConst?

[2017-05-19 21:01] DevOfLife commented on #48
as tonyo said, the Fetch class implements FetchConst
and Fetch defined public, so don't worry about FetchConst public or not
anyone code different, i cannot see the reason of "FetchConst should be a public class"

[2017-05-19 22:33] #48 closed

[2017-05-20 13:57] muzaffer652 commented on #47
fetch.removeall (); Erased.
And everything worked fine

[2017-05-22 00:06] #47 closed

[2017-05-22 00:12] tonyofrancis commented on #49
@jacobtabak I see what you are saying. Fetch uses -1 to indicated that there is no error, -1 could also mean that a request was not enqueued. Fetch contains a constant `DEFAULT_EMPTY_VALUE = -1` but its name/use is not clear. Ill have to define proper constants. Thanks for the suggestion.

[2017-05-22 00:42] tonyofrancis commented on #49
New Constants have been added to FetchConst

[code]

[2017-05-22 00:42] #49 closed

[2017-05-23 10:38] tonyofrancis commented on #44
@RealAction Can you try this work around and let me know if it works for you? I am still looking into this issue.

Work Around:
[code]

[2017-05-23 14:57] DevOfLife commented on #44
the code you post above fix half of issues, that make me confuse. Let me explain in 2 script:

Script 1 (success):
- Download the file
- User manually kill app completely (by click phone's menu button then slide to kill app)
- Delete the downloaded file
- User open app again then download
- Result: work perfect (download again success)

Script 2 (not success):
- Download the file
- User kill app (

[2017-05-29 06:56] ShantiRanjanDas commented on #41
No

[2017-05-31 14:53] CeJienAJPC opened #50 "Enhancement: Display the File size (of the File being downloaded)"
Thanks

[2017-05-31 15:30] rupinderjeet commented on #50
for me, in `onUpdate()`, `fileSize` is always -1. and, hence, progress is always zero. When a download completes Fetch shows its `fileSize` and progress(100) both.

[2017-05-31 15:36] CeJienAJPC commented on #50
Sorry. Didn't have a close look at what FETCH offers. **long downloadedBytes, long fileSize**

My bad. Thanks.

[2017-05-31 15:36] #50 closed

[2017-05-31 15:38] CeJienAJPC opened #51 "Method Count for FETCH?"
Can someone tell me the methodCount for this library?
Thanks

[2017-05-31 18:21] jacobtabak opened #52 "Scalability issues with a large amount of downloads"
There are several issues I've encountered while trying to see if this library would scale for a large amount of downloads. I've tried enqueueing 500+ downloads at once and there are a few major issues. Doing this takes several seconds and causes noticeable lag in the UI.

1. Even in a transaction, executing multiple queries is much more expensive than executing a single query. When inserting multi

[2017-06-01 13:57] tonyofrancis commented on #52
@jacobtabak I have some free time this weekend and will defiantly take a look into some of your concerns and keep you updated

[2017-06-03 21:04] ebkhmobile commented on #44
HI
if I want to update an downloaded file, Fetch don't allow me! and return -1 as download id.
I think that u must add a method to remove download data from fetch database without deleting the file.
if i use fetch.RemoveAll() it will work good but this method will delete my old file. so if my updat crash, then i have no file!

[2017-06-05 06:42] DevOfLife commented on #51
if you mean download count, you can use mFetchInstance.get().size();

[2017-06-06 23:50] tonyofrancis commented on #52
@jacobtabak I have been working on a completely new rewritten version of Fetch which will solve many of the shortcomings of the old version. I will have something testable before the week end.

[2017-06-07 05:16] jacobtabak commented on #52
Great, looking forward to it

On Tue, Jun 6, 2017, 6:50 PM Tonyo Francis <notifications@github.com> wrote:

[2017-06-07 14:40] nikola5ra opened #53 "Downloading not resumed after app is restarted"
Hi Tony,

Thanks for awesome library :)
In order to make it perfect I mast report one issue that I noticed.

So if you do next everything work fine:
1. start downloading
2. pause downloading
3. resume downloading

But if you do
1. start downloading
2. pause downloading
3. kill the app
4. start the app and resume downloading
then nothing happened. On onUpdate I received status 900 which I saw that

[2017-06-07 15:32] tonyofrancis commented on #53
@nikola5ra Thanks for reporting. Are you able to replicate this behavior in another project?
In you application's onCreate method you can call `Fetch.startService(context);` and the queued downloads should start downloading without having to call `fetch.resume(downloadid);`.

[2017-06-08 12:33] nikola5ra commented on #53
Hi Tonyo,

Thanks for the answer, that was really quick.

I try Fetch only on one project.
With Fetch.startService(context) I made work around. Thing is when I pause download and restart the app that request have status 902 (paused) not 900. So I still do fetch.resume(downloadId) and then on onUpdate when I get status 900, I do Fetch.startService(context) which will continue downloading from point

[2017-06-08 18:21] tonyofrancis commented on #53
@nikola5ra Happy to help.

[2017-06-08 18:21] #53 closed

[2017-06-17 15:49] jacobtabak opened #54 "Integrate CI (CircleCI)"
It would be great to build the app with CircleCI so we can green light pull requests from external developers before merging. I can take care of this issue if you can give me the appropriate permissions, otherwise I can fork the repo and set it up on my fork and then we can copy the config in this repo.

[2017-06-17 15:50] jacobtabak opened #55 "Add support for batching requests"
As an additional (optional) request parameter, it would be nice to be able to batch downloads. Additionally, it would be great to be able to batch all functions that you can perform on an individual request, like deleting, pausing, etc. The batch ID could be a user-supplied string.

[2017-06-18 17:33] tonyofrancis commented on #55
@jacobtabak A pull request has been submitted for this feature

[2017-06-18 17:33] #55 closed

[2017-06-18 17:35] tonyofrancis commented on #54
@jacobtabak I was able to setup the CircleCI for the project. Would be nice to have a second pair of eyes to make sure that it was setup correctly and is not missing anything.

[2017-06-23 13:28] moshlp opened #59 "Fetch with HTTPS authentication?"
how do I implement HTTPS authentication? I need to access a file under HTTPS and also authentication by token, is Fetch able to do that?

thanks

ps; adding user/pass on header or something similar

[2017-06-24 10:37] tonyofrancis commented on #59
@moshlp you are able to pass this information as a header.

[2017-06-26 12:21] Mithrandir21 opened #60 "Shorten "onUpdate" interval"
Hi

First, thank you for some nice coding. Very helpful and elegant.

Secondly, I was wondering if there was any specific reason to restrict `onUpdate` calls to 2 seconds?

I'm using Fetch to download some smaller files.
Because of a somewhat higher network speed, I only see this sequence: <br>1. Enqueue download<br>2. 100% progress.

This is because the update interval is set to the `Utils.hasTwo

[2017-06-29 13:36] sriram-kakarala commented on #44
@RealAction  - Not sure if I am understanding correctly, but if you want to re-download the same file at the same Location, just do a fetch.retry(old_download_id). I am doing the same and it seems to work. Although having the file removed from Fetch DB easily is desirable, this workaround seems to work for me in both the cases.

[2017-06-30 01:17] tonyofrancis commented on #60
@Mithrandir21  Thanks.
Being that the FetchListeners are updated on the UI thread you do not want to bombard the UI thread with updates causing it to be sloooowww. If the file is a few megs its reasonable to show 100% if it takes less than a second on a really fast network.

[2017-07-07 13:14] Hades08154711 commented on #60
I would also very much welcome the possibility to override the default time.

[2017-07-10 08:46] kplanz commented on #60
Would also appreciate this PR :)

[2017-07-11 12:59] Mithrandir21 commented on #60
@tonyofrancis You are right, we should not be attempting to update the UI with progress updates faster than the UI can actual perform them, but shouldn't this option be available to the developer in case they have such a need?
I've set mine to 500ms and it seems reasonably fast. 2 updates every 1000ms is not all that crazy. 😄

[2017-07-11 16:51] virengujariya opened #62 "Is Fetch2 available using gradle?"
Should I use fetch2 or previous copy?

[2017-07-13 11:02] tonyofrancis commented on #62
previous copy. Fetch 2 is still in development

[2017-07-13 11:02] #62 closed

[2017-07-13 11:05] tonyofrancis commented on #60
@Mithrandir21 Your pull request looked fine expect for one issue I commented on. Please review.

[2017-07-13 11:05] #59 closed

[2017-07-19 15:36] degill opened #63 "Remove android:allowBackup from AndroidManifest"
Libraries should not dictate whether an app allows backups or not.

Please remove ```android:allowBackup="true"``` from the AndroidManifest.

Thanks! :-)

[2017-07-20 23:09] tonyofrancis commented on #63
@degill Thanks for catching this

[2017-07-20 23:11] #44 closed

[2017-07-20 23:11] #51 closed

[2017-07-20 23:12] #52 closed

[2017-07-20 23:13] CeJienAJPC commented on #51
Thanks

[2017-07-20 23:19] #63 closed

[2017-07-20 23:32] tonyofrancis commented on #60
this is merged and will make it in next release

[2017-07-20 23:32] #60 closed

[2017-07-20 23:33] #41 closed

[2017-07-20 23:33] #54 closed

[2017-07-22 12:56] tonyofrancis commented on #52
Thanks for the suggestions. I made the fixes in fetch version 1 and will be pushing to version 1.1.3 today

[2017-07-22 13:32] tonyofrancis commented on #63
new version 1.1.3 released

[2017-07-22 13:33] tonyofrancis commented on #60
New version with this changed has been released. 1.1.3

[2017-07-24 14:37] khaleeljageer opened #64 "Consecutively pausing and resuming stops download."
Implemented UI for Pause/Resume download. Consecutively clicking on pause/resume button leads to download stops. When Refreshing UI, `requestInfo.getStatus()` returns 900(Queued). Help me to fix this. Using version 1.1.3.

[2017-07-25 10:03] tonyofrancis commented on #64
@khaleeljageer  Fetch process downloads in a queue based system. The default is 1 download at a time. All other downloads are then queued until its their time for downloading. When a download is paused, it technically goes to the back of the queue and the next request at the head of the queue is processed. If you change `fetch.setConcurrentDownloadsLimit(limit)` your are then able to download mult

[2017-07-25 16:22] Xenolion opened #65 "Fetch.getInstance(this)"
I have just wrote this in my Activity onCreate() method and Android Studio says the method getInstance(Context) is deprecated.

`Fetch fetch = Fetch.getInstance(this);`

Hey whats going on? is a problem in the library or really deprecated!? Or android studio problem because it is even cut through as the way deprecated method are treated in android studio!!
Help me with this!

[2017-07-26 16:59] VitorAndrioli commented on #65
It seems the getInstance() is really deprecated, although the README still uses it. I believe Fetch.newInstance(Context context) should be used.

[2017-07-27 19:36] Xenolion commented on #65
Yeah I have already done that!! And it worked! The read me should be changed then! @VitorAndrioli

[2017-07-28 01:21] tonyofrancis commented on #65
Thanks for reporting this. I will change.

[2017-07-28 01:23] tonyofrancis commented on #65
fixed.

[2017-07-28 01:23] #65 closed

[2017-07-28 01:23] #64 closed

[2017-07-29 06:05] KulwinderSinghRahal opened #66 "fetch.setOnUpdateInterval() is not working"
first of all thanks for this really useful libarary,
I have set `fetch.setOnUpdateInterval(2000)` but it is not updating after 2 seconds as expected

[2017-07-29 19:04] tonyofrancis commented on #66
@KulwinderSinghRahal are you getting progress updates?

[2017-07-30 07:29] KulwinderSinghRahal commented on #66
yes, onUpdate is called at random time but i want it to be after 2 seconds

[2017-07-30 15:39] tonyofrancis commented on #66
@KulwinderSinghRahal if you have more than one download processing on update may be called at a different times for download 1, download 2 and so on. Also, depending on how long it takes to write the downloaded bytes to the file, onUpdate may be called after two seconds or the time you set. I had a look at the code and verified that it does work as expected. Can you test in a test project?

[2017-07-30 16:01] AdamFM opened #67 "UNIQUE constraint failed"
E/SQLiteLog: (2067) abort at 31 in [INSERT INTO requests ( _id, _url, _file_path, _status, _headers, _written_bytes, _file_size, _error, _priority ) VALUES ( 117505259219586,
android.database.sqlite.SQLiteConstraintException: UNIQUE constraint failed: requests._file_path (code 2067)
at android.database.sqlite.SQLiteConnection.nativeExecuteForChangedRowCount(Native Method)
at android.database.sqlit

[2017-08-01 02:00] AdamFM commented on #67
from file manager in android..

[2017-08-03 12:05] tonyofrancis commented on #67
@AdamFM Before insert call `fetch.get(request)` to find out if the request already exist. If it does, call `fetch.remove(id)` to remove the request from fetch then proceed to insert it.

[2017-08-03 12:05] #67 closed

[2017-08-03 12:06] #66 closed

[2017-08-04 17:37] VitorAndrioli opened #68 "Fatal Exception: java.util.ConcurrentModificationException"
From my Crashlytics I got a

on

Crashlytics doesn't really give me information on what was done before getting there, so it's a bit hard for me to debug. Any ideas on what may be causing this?

Thanks.

[2017-08-05 16:14] tonyofrancis commented on #68
@VitorAndrioli from what I can gather, It seems that this issue is occurring inside the broadcast receiver that publishes download progress updates to the Fetch Listeners. I have a feeling the the array list that holds the listeners gets modified. (A listener gets removed or added) whiles trying to publish the updates to all attached listeners. Ill look into this more closely and should have a fix

[2017-08-06 08:09] sethchhim opened #69 "GroupId order question."
Hello I understand groupId is not yet implemented but I have a question for when it is live.

When we get a list of tasks with same groupId how will it be ordered? I presume that it will be by order of when the task was added. This would be ideal for me because I require searching for the earliest task in a group and cancelling it.

This is an amazing library, keep up the good work.

[2017-08-08 16:45] sethchhim commented on #69
Nevermind, this request is no longer relevant to my use case.

[2017-08-08 16:45] #69 closed

[2017-08-15 14:38] henrystivens opened #70 "UNIQUE constraint failed: requests._file_path"
I have a list of images that should be downloaded every time I start the application, the first time you download them correctly but the second time the application no longer downloads them because there is an sqlite exception:

[code]
My Code:
[code]

Thanks!

[2017-08-15 15:26] tonyofrancis commented on #70
Fetch does not allow you to enqueue/insert the same request more than once. Fetch maintains a database of all requests that were inserted. Your code needs to handle the first enqueue/insert and should resume downloading a request if it already exists in the Fetch database. You can go about this several ways.

1. To resume downloads on application startup call 'Fetch.startService(context)'. You can

[2017-08-15 15:38] henrystivens commented on #70
In the event that the file or image is updated on the server, could not download it again?

[2017-08-15 16:41] tonyofrancis commented on #70
Yes. What you can do is delete the first request from fetch by calling `fetch.removeRequest(id)`. The request will be deleted but not the file.

[2017-08-15 20:31] henrystivens commented on #70
Yes, I used `fetch.removeRequests();` and the app worked.

Thanks again.

[2017-08-15 20:31] #70 closed

[2017-08-22 20:06] riadhnet commented on #68
i got the same error here is the logcat
`08-22 21:02:36.891 8904-8904/br.com.vrtu.androidapp E/AndroidRuntime: FATAL EXCEPTION: main
                                                                      Process: br.com.vrtu.androidapp, PID: 8904
                                                                      java.util.ConcurrentModificationException

[2017-08-23 13:15] tonyofrancis commented on #68
@riadhnet thanks for reporting. Ill get a fix together and try to push an update soon

[2017-08-27 11:56] JusticeRage opened #71 "Proxy support?"
Hi! I'm looking for a download manager that supports proxies to replace android's default one (mainly because it doesn't!).
I've been browsing through your library and it seems that this feature doesn't exist at the moment either. Is this something you plan on adding in the future?

[2017-08-31 05:21] godmarvin opened #72 "unknown log"
Hi my phone is oneplus3T,android systerm version is 7.1.1;
when I having beening downloading data ,console export some log example:
[code]

[2017-09-02 12:54] tonyofrancis commented on #71
@JusticeRage I am planning on providing proxy support in version 2.0. But that may take some time.

[2017-09-02 12:55] #71 closed

[2017-09-02 12:55] tonyofrancis commented on #72
@godmarvin does this relate to the Fetch Library?

[2017-09-02 12:55] #72 closed

[2017-09-03 19:52] gurjantbhullar34 opened #73 "Error 904"
Hi.I am getting error status code 904 for maximum urls.It not work for all url.

[2017-09-03 19:53] gurjantbhullar34 opened #74 "Concurrent error"
When re_download same file again if it was failed get concurrent error .

[2017-09-12 22:11] TosinAF commented on #33
I got this happening to me if i queue 2 downloads and the concurrent limit is not 1. What would cause the thread to be interrupted?

[2017-09-14 12:30] TosinAF opened #75 "DownloadInterruptedException: DIE when doing concurrent downloads on API 26"
Attempt to do multiple downloads on an API 26 emulator. It seems the thread is interrupted and throws that error.

[2017-09-15 16:10] tonyofrancis commented on #73
@gurjantbhullar34 can you share the logs?

[2017-09-15 16:10] tonyofrancis commented on #74
@gurjantbhullar34 can you share your code?

[2017-09-15 16:11] tonyofrancis commented on #75
@TosinAF Fetch 1 is not compatible with API 26 because of the new service restrictions. I am currently working on Fetch 2.

[2017-09-16 18:52] gurjantbhullar34 opened #76 "STATUS_ERROR = 904"
when start downloading getting this error = STATUS_ERROR = 904

[2017-09-16 18:56] gurjantbhullar34 commented on #74
private void startDownload(String murl, String title, String mime,String image) {
    Request    request = new Request(murl, mPath, title + "." + mime);
      long  downloadId = mFetch.enqueue(request);
        if (downloadId != Fetch.ENQUEUE_ERROR_ID) {
            //Download was successfully queued for download.
            String currentDateTimeString = DateFormat.getDateTimeInstance().format(n

[2017-09-16 18:56] gurjantbhullar34 commented on #74
please send me your email i will send you complete class.

[2017-09-18 03:53] TosinAF commented on #75
Thanks. To Note, it works if you perform downloads one a time. Will close.

[2017-09-18 03:53] #75 closed

[2017-09-21 17:28] s9iper1 commented on #33
whats the solution any one ?

[2017-09-22 08:05] s9iper1 commented on #75
Doesn't work with android 5 compiled with api 25. same error

[2017-09-22 23:32] tonyofrancis commented on #74
@gurjantbhullar34 it would be best to create an example project and recreate the issue so we can test in the open.

[2017-09-22 23:33] tonyofrancis commented on #76
Closing this issue because you have another issue with the same error https://github.com/tonyofrancis/Fetch/issues/73

[2017-09-22 23:33] #76 closed

[2017-09-24 08:24] gurjantbhullar34 commented on #74
public class MainActivity extends AppCompatActivity implements View.OnClickListener, FetchListener {
    private Button mStart, mPause, mResume;
    private ProgressBar mProgressBar;
    private Fetch fetch;
    private long mDownloadId;

    @Override

    protected void onCreate(Bundle savedInstanceState) {
        super.onCreate(savedInstanceState);
        setContentView(R.layout.activity_main

[2017-09-24 08:41] gurjantbhullar34 commented on #74
My downloading class is above and i am getting error code 904. please explain me reason of this error.

[2017-10-12 09:19] frameset commented on #68
Is there any workaround that can be used in the meantime?

[2017-10-17 15:21] martinmek opened #77 "Can't do fetch.remove(id) when no storage error occurs"
Hi, I'm trying to remove both request and partially downloaded file when there's no storage on device, but I get this error stack trace, and it doesn't remove neither request or file.
This is what I'm trying to do:
<img width="687" alt="screenshot at oct 17 17-20-14" src="https://user-images.githubusercontent.com/22835433/31673440-8228ec3a-b35f-11e7-8f23-b561aa1599b6.png">

And here is log message

[2017-10-18 11:29] tonyofrancis commented on #77
@martinmek Being that the disk is full there is not enough space for the sqlite table to be edited. What you can do is query fetch to get the RequestInfo. You can then get the file name from the requestInfo object and delete the file using the normally java File object/ methods. If your app also caches data that can be deleted, you can clear the cache to help free up space on the device. Hope this

[2017-10-18 12:39] martinmek commented on #77
I did as you sad and it works. For anyone with same issue later, first I deleted file like @tonyofrancis said, then I called fetch.removeRequest(id).

[2017-10-18 12:39] #77 closed

[2017-10-18 16:46] tonyofrancis commented on #68
@VitorAndrioli @riadhnet  This bug has now been fixed in 1.1.4

[2017-10-18 16:46] #68 closed

[2017-10-18 17:24] tonyofrancis commented on #74
@gurjantbhullar34  If you get a status of 904. you can get the error code from a RequestInfo object. and comparing it against the different constants  from fetch like `Fetch.ERROR_*`

[2017-10-18 17:24] #74 closed

[2017-10-18 17:25] #73 closed

[2017-10-27 02:53] behelit opened #78 "Could not find com.android.support:appcompat-v7:26.1.0"
After adding the dependency for fetch, I receive the error below. When I check the sdk manager, there is nothing new to download.

Error:Could not find com.android.support:appcompat-v7:26.1.0.
Required by:
    project :app
    project :app > com.tonyodev.fetch:fetch:1.1.4

Please install the Android Support Repository from the Android SDK Manager.
<a href="openAndroidSdkManager">Open Android SDK M

[2017-10-27 02:58] behelit commented on #78
Solved
I had to add the google maven repo

maven {
            url "https://maven.google.com"
        }

[2017-10-27 02:58] #78 closed

[2017-11-01 23:33] pastafarianGit opened #79 "downloads only part of file"
I am downloading file from google drive and it downloads only part of file(119KB instead of 4MB), but I already get Fetch.STATUS_DONE onUpdate function and progress is at 100%. Do you have any idea what I am doing wrong?, it worked first time, but now every time downloads  only part of file.

Thanks for help!

[2017-11-02 00:09] #79 closed

[2017-11-15 11:41] mchowkar opened #81 "Progress and filesize on fetch listener gives wrong values"
On download started progress returns only 0 and 100 in return
while filesize returns -1 while downloading and once download completes it returns right filesize
I'm unable to set progress bar because of it

[2017-11-18 13:17] tonyofrancis commented on #81
@mchowkar the library depends on the server to send the file size when the initial download starts. A file size of -1 means that the library was unable to determine the proper file size. In that case, it would be best to show the user an indeterminate progress bar.

[2017-11-18 13:17] #81 closed

[2017-11-22 13:12] Micky007 opened #82 "What about multi threading?"
That's a simple request I don't know what I should type here 😂

[2017-11-26 15:54] sethchhim opened #83 "Expose cookie store"
I need to authenticate with server and store the cookie. Is there any way to add a cookie to Fetch so access will be granted? This is not Basic Auth so no header authorization. Thank you for any help!

[2017-11-30 14:27] #82 closed

[2017-11-30 14:28] tonyofrancis commented on #83
Unfortunately no.

[2017-11-30 14:28] #83 closed

[2017-11-30 15:25] sethchhim commented on #83
I'm looking at your Fetch2 sample and if I can drop in my own custom OkHttp client then that will solve this issue. Looking forward to giving it a try!

`Fetch/fetch2sample/src/main/java/com/tonyodev/fetch2sample/GameFilesActivity.java`

[code]

[2017-11-30 17:55] dougkeen opened #84 "Timing issue when re-downloading a file to the same location"
Let's say a file previous downloaded by Fetch was deleted from its location on disk from some external process, and we want to re-download that file to the same location. If you try to do a `fetch.enqueue(request)` with the same url and file path, you'll throw a `com.tonyodev.fetch.exception.EnqueueException: UNIQUE constraint failed: requests._file_path`, as one might expect.

It seems like you s

[2017-11-30 20:13] sethchhim commented on #84
I guess the callback would have to happen at `onUpdate` of your `FetchListener` that is attached.

[code]
I would make a list of `requestId` that are marked to retry. When fetch updates the request to `status = 905`, cross check it with your retry list and handle it from there. Remove from retry list when finished.

[2017-11-30 21:10] dougkeen commented on #84
The problem is that the request is never enqueued in the first place, so we don't get a requestId to retry (Fetch just catches the `EnqueueException` and returns -1). Also, since the request is never enqueued, we don't get updates in our `FetchListener`.

[2017-12-01 16:01] tonyofrancis commented on #84
@dougkeen If the requestInfo is not null you should be able to get the requestId for the old download. As @sethchhim mentioned, attach a Fetch listener before the remove request and wait for the status of `REMOVED` for that Id. before enqueuing. I am still working on Fetch2 which should over come many async issues. Please let me know if this helps

[2017-12-01 17:23] dougkeen commented on #84
Ah, I see. Basically make enqueue an async task triggered by the removal event of the existing request record (only when that conflicting record already exists). I can give that a whirl.

[2017-12-01 21:06] Micky007 commented on #82
Why have  you closed it?

[2017-12-04 17:09] guerrillalg opened #85 "Add possibility for configuration of HttpURLConnection at FetchRunnable."
Hello, I am considering to use your library in my application, however there is a need for me to customize the `HttpURLConnection` on the initiation. And this cannot be avoided.
So, I am considering to introduce some changes allowing the configuration of `FetchRunnable`. As it is going to be quite a big change in the library, I want to ask for approval from your side and a green light.
My suggesti

[2017-12-04 18:32] #84 closed

[2017-12-04 18:34] tonyofrancis commented on #85
@guerrillalg You are more than welcome to fork Fetch v1 and tweak it to your liking. I am currently working on Fetch v2 which will allow you pass in your own okhttp client. With that said I do not have an eta on its release yet.

[2017-12-04 18:34] #85 closed

[2017-12-05 11:19] guerrillalg commented on #85
That's good to hear!

What is the status of V2? When do you expect it to be released?

[2017-12-05 22:18] dougkeen opened #86 "Redirects aren't followed"
If the download URL returns a 3xx redirect status code, and the redirect is from http → https, the download immediately fails with a `IllegalStateException` rather than following the redirect(s) (up to some limited number of redirects). There's no option to allow that type of cross-protocol redirect.

[2017-12-12 13:03] andreirt opened #88 "Fatal Exception: java.lang.RuntimeException: Error receiving broadcast Intent"
Dear Tonyo, since we upgraded to 1.1.4, the error below appeared on Crashlytics. I still couldn't reproduce the error in our test devices, but it seems to be occurring at Android 5, 6 an 7. Best, Andrei.

#0. Crashed: main: 0 0 0x0000000000000000
       at android.app.LoadedApk$ReceiverDispatcher$Args.run(LoadedApk.java:1132)
       at android.os.Handler.handleCallback(Handler.java:751)
       at

[2017-12-12 20:42] tonyofrancis commented on #86
Fetch 1.1.4 and older does not fully support followSslRedirects. Fetch version 2 which I am working on will. Hoping to release it soon

[2017-12-12 20:42] #86 closed

[2017-12-12 20:57] dougkeen commented on #86
It will support `followSslRedirects` if you merge my pull request ;)

[2017-12-12 22:02] tonyofrancis commented on #88
@andreirt 1.1.5 is now released and should fix this issue.

[2017-12-12 22:02] #88 closed

[2017-12-14 15:36] joelphilippage opened #89 "RejectedExecutionException when applying settings."
I got a crash report from one of my app users. This happens after applying settings. This is the first time in a couple of months this has happend

Here is my code:
`new Fetch.Settings(getApplicationContext())
                    .setAllowedNetwork(Fetch.NETWORK_ALL)
                    .enableLogging(true)
                    .setConcurrentDownloadsLimit(1)
                    .apply();`

Here is

[2017-12-15 17:21] Mithrandir21 opened #90 "Fetch.remove(requestID) not removing Request from Fetch"
I currently have a scenario where I need to remove a Request from Fetch and then finish an activity.
I would think that the following code would do what is needed:
[code]
But after the activity has been finished and cleaned up, any new instance of Fetch created will still contain the old `req`. Even worse, the Request still has it's previous status (whatever it was before remove and activity.finis

[2017-12-16 01:34] tonyofrancis commented on #89
@joelphilippage This issue has been fixed in version 1.1.5.

[2017-12-16 01:34] #89 closed

[2017-12-16 01:41] tonyofrancis commented on #90
@Mithrandir21 What version of fetch are you using. The latest is 1.1.15?

[2017-12-16 08:32] polaris0227 opened #91 "Error code : -101 (No such file or directory)"
Hi,
I'm trying to use this library but I always get error when I'm trying to download a file.
Error code : -101
-------------------------- Logcat --------------------------------
java.io.IOException: No such file or directory
java.io.UnixFileSystem.createFileExclusively0(Native Method)
java.io.UnixFileSystem.createFileExclusively(UnixFileSystem.java:280)
java.io.File.createNewFile(File.java:948)
c

[2017-12-17 11:53] Mithrandir21 commented on #90
I'm using:
[code]

[2017-12-17 13:48] tonyofrancis commented on #90
@Mithrandir21 This seems like an edge case. I do not have a better workaround at this time other than the on you suggested. I'll mark this as a bug and look into it.

[2017-12-17 13:50] tonyofrancis commented on #91
@polaris0227 It seems that your application does not have write or read  storage permissions to the destination file. The user will have to grant storage permissions first before fetch can download the file to the intended location.

[2017-12-17 13:50] #91 closed

[2017-12-18 12:22] Mithrandir21 opened #92 "Final classes prevent Unit testing"
I have been trying to run some unit tests on logic code that I have written using Fetch classes, ```Fetch, Request and RequestInfo```.

But because they are final, they are not mockable.
Just wondering if they could be not-final, so that mocking and testing could be possible.

[2017-12-18 14:22] tonyofrancis commented on #92
@Mithrandir21 The easiest way to do this would be to fork the project and make the classes you need non final.

[2017-12-18 14:22] #92 closed

[2017-12-18 16:04] gaodeng opened #93 "Is there an api to get Content-Disposition filename?"
Content-Disposition: attachment; filename="filename.jpg"

[2017-12-19 09:15] Mithrandir21 commented on #90
Note that might or might not help:
I am running ```fetch.release()``` on destroy, which is happening shortly after ```activity.finish()```.

Not sure this has or should have any impact. Wanted to mention it just in case.

[2017-12-19 15:02] tonyofrancis commented on #93
@gaodeng unfortunately no. I am currently working on version 2 of fetch that will allow you to use your own downloader and is much more flexible. I'm currently putting on the finishing touches on the newer version. Please check back later this week. Thanks

[2017-12-19 15:02] #93 closed

[2017-12-19 17:04] Mithrandir21 opened #94 "Incorrect downloadedBytes if app is reopened after killed"
The FetchService runs and keeps track of all downloads, the files and sizes.

If the app is killed while FetchService is downloading a file and the same file is attempted queued after te app is reopened, there will exist a ```RequestInfo``` that will contain the information from the previously downloading file (with the number of bytes downloaded).

However, I have found that the downloadedBytes r

[2017-12-20 10:37] Sp4Rx opened #95 "Download not working with redirect URL"
Download fails when URL redirects from http:// to https://
Example: [http://hck.re/Rh8KTk]( http://hck.re/Rh8KTk) -- this is a short URL

Check this post for getting real url [302 Redirect from http to https ](https://stackoverflow.com/questions/14749307/302-redirect-from-http-to-https-in-android-using-dropbox-short-hyperlinks)

[2017-12-20 10:55] Mithrandir21 commented on #94
This does seem to be related to whether the HTTP server does or does not support "byte range" downloads.

Evident by the following 2 commands:

- curl -O --header "Range: bytes=0-1000" [URL PATH TO FILE]
- curl -O -C - [URL PATH TO FILE]

If you get a message saying something like:

It means the file cannot be continued, which would force the download of the file from the beginning.

[2017-12-22 13:54] SagarKhurana opened #96 "fetch.enqueue(request) returns -1"
What is the reason of fetch.enqueue method returning -1 instead of (long)downloadid, how can I resolve it... I have implemented the code to download 3 out of 10 download requests it is returning -1[ERROR_ENQUEUE_ID].

[2018-01-02 21:00] tonyofrancis commented on #96
@SagarKhurana it means that there was an issue enqueuing the download. Most likely fetch is already managing that download. Fetch does not allow you to enqueue the same download more than once unless its removed first. Also I just released a newer version of Fetch which is much more simpler to use. Please check out the readme.

[2018-01-02 21:00] #96 closed

[2018-01-02 21:49] tonyofrancis commented on #95
@Sp4Rx I just released a newer version of Fetch that allows you to use and configure okhttp and other http clients to perform the downloads using Fetch. Also it has lots of improvements. Please check the readme.

[2018-01-02 21:49] #95 closed

[2018-01-02 21:51] tonyofrancis commented on #94
@Mithrandir21 Thanks for your interest in Fetch. I just released a new version of Fetch. It has many new feature improvements and better reporting of download status and progress. Please checkout the readme for more details.

[2018-01-02 21:51] #94 closed

[2018-01-02 21:53] tonyofrancis commented on #90
@Mithrandir21 Just to let you know that I have released a new version of Fetch with lots of feature improvements and bug fixes. Please checkout the readme for me details.

[2018-01-02 21:53] #90 closed

[2018-01-04 06:30] imran-samed opened #97 "where is downloaded file stored"
i am not able to find the downloaded file

[2018-01-04 06:34] #97 closed

[2018-01-04 06:35] imran-samed commented on #97
i just find a file in Download -> fetch.

[2018-01-04 12:34] Minu-Sarraf opened #98 "SocketTimeoout Error"
I am getting following error while downloading images: Can i change readtimeout duration?
java.net.SocketTimeoutException
01-04 18:08:03.494 7422-7983/edu.uw.naturecollections W/System.err:     at java.net.PlainSocketImpl.read(PlainSocketImpl.java:488)
01-04 18:08:03.494 7422-7983/edu.uw.naturecollections W/System.err:     at java.net.PlainSocketImpl.access$000(PlainSocketImpl.java:37)
01-04 18:08

[2018-01-04 13:32] tonyofrancis commented on #98
@Minu-Sarraf what version of fetch are you using?

[2018-01-05 04:19] Minu-Sarraf commented on #98
@tonyofrancis I am using  'com.tonyodev.fetch:fetch:1.1.5'

[2018-01-05 07:36] Minu-Sarraf opened #99 "SSRV 416 issue"
Why I am getting following issue?
 java.lang.IllegalStateException: SSRV:416
01-04 12:37:04.680 5500-6073/edu.uw.naturecollections W/System.err:     at com.tonyodev.fetch.FetchRunnable.run(FetchRunnable.java:176)
01-04 12:37:04.680 5500-6073/edu.uw.naturecollections W/System.err:     at java.lang.Thread.run(Thread.java:818)

[2018-01-05 15:07] tonyofrancis commented on #98
Hello @Minu-Sarraf . The server is taking a very long time to respond. Unfortunately there is no easy way to change the timeout time in Fetch 1.1.5. I have released a newer version of Fetch check it out.
`implementation "com.tonyodev.fetch2:fetch2:2.0.0-RC2"`. See the readme for more details. With that being said I will be deprecating Fetch version 1 soon.

[2018-01-05 15:07] #98 closed

[2018-01-05 15:08] tonyofrancis commented on #99
Hello @Minu-Sarraf . I have released a newer version of Fetch check it out.
`implementation "com.tonyodev.fetch2:fetch2:2.0.0-RC2"`. See the readme for more details. With that being said I will be deprecating Fetch version 1 soon.

[2018-01-05 15:08] #99 closed

[2018-01-07 10:22] hDusan opened #100 "Android Studio 3 - NoClassDefFoundError"
Current date: 2018-01-07 11:15:12
Device: Samsung SM-G935F
Android Studio 3.0.1

////////////////////////

NoClassDefFoundError after call fetch builder

new Fetch.Builder(context, string)
                        .setDownloadConcurrentLimit(4) // Allows Fetch to download 4 downloads in Parallel.
                        .enableLogging(true)
                        .build();

///////////////////////

[2018-01-07 16:41] sathiyarajcbe commented on #100
No Class Definition Found! Our implementation/updation pending kindly do the needful ASAP
------------------------------------------------------------------------------------------------
java.lang.NoClassDefFoundError: Failed resolution of: Lkotlin/jvm/internal/Intrinsics;                                                                                     at com.tonyodev.fetch2.Fetch$Builder.<init

[2018-01-07 17:08] tonyofrancis commented on #100
@hDusan @sathiyarajcbe . I was able to replicate this issue. The Kotlin runtime and standard library apparently is not getting packed with Fetch version 2.0.0-RC2. mhm. I am working on this fix right now.

[2018-01-08 00:02] tonyofrancis commented on #100
@hDusan @sathiyarajcbe. The issue is now fixed in `com.tonyodev.fetch2:fetch2:2.0.0-RC3`. Please let me know if you find any other issues. Thanks.

-Tonyo

[2018-01-08 00:02] #100 closed

[2018-01-08 14:16] sathiyarajcbe commented on #100
There is any possibility for limiting/ to increase the download speed?

[2018-01-08 20:39] Kevin321an opened #101 "As migrate from 1.14 to RC3 The download speed get declined dramatically"
With 1.14, it used to reach 7MB/s but now it is mostly below 1MB/s

Any hint what could cause this?

Thanks,

[2018-01-08 21:27] tonyofrancis commented on #101
Hi @Kevin321an . Thanks for using Fetch. Do you have an example project I can test from? Also if you don't mind sharing the link you are trying to download from, device you are testing on, download speed etc. You should defiantly be getting better speeds from version 2 of the library. What happens if you change the `DownloadBufferSize` when constructing the Fetch builder? The default buffer size i

[2018-01-09 04:52] sathiyarajcbe commented on #100
NoClassDefFoundError while using RxFetch
_____________________________________________
rxFetch = new RxFetch.Builder(this, "GameFilesFetch")
                    .setLogger(logger)
                    .setDownloadConcurrentLimit(concurrentLimit)
                    .enableLogging(enableLogging)
                    .build();

  java.lang.NoClassDefFoundError: Failed resolution of: Lio/reactivex/andr

[2018-01-09 04:54] sathiyarajcbe commented on #100
Also downloading speed is very low when comparing v1.1.5. Even I have added the buffer size to 8192.

[2018-01-09 12:40] sathiyarajcbe commented on #101
Downloading speed is very low when comparing v1.1.5. Even I have added the buffer size to 8192.

[2018-01-09 14:35] tonyofrancis commented on #101
Are you able to share the url or a sample project for me to test?

[2018-01-09 15:08] sathiyarajcbe commented on #101
Ya sure! I have added the link with Sample app!
https://drive.google.com/open?id=1V80HzqtPIR_jYzP2rrodQXAOCHyI1Wdt
Check in Single download!

[2018-01-09 15:29] Kevin321an commented on #101
Hi Tonyo,
I tried double the defaultBufferSize and it did not solve the issue.

The download speed from your example "http://download.blender.org/peach/bigbuckbunny_movies/BigBuckBunny_640x360.m4v" perform huge different from my testing.

with v1 takes few seconds and the download speed could reach 13MB/s
On the other hand, v2 takes about 2 minutes and the download speed only reach 2MB/s Maximum.

[2018-01-09 15:33] sathiyarajcbe commented on #101
check with this link Tonyo,
https://drive.google.com/open?id=1prgIZkhnpdco-qRQGgbKQOIhzjb7oHW1

[2018-01-09 16:01] tonyofrancis commented on #101
@Kevin321an @sathiyarajcbe how many concurrent downloads are you running at a given time? If you pass a value greater than one to `setDownloadConcurrentLimit(1)` on the Fetch builder, and then enqueue multiple requests, Fetch will download as many request at the same time as the concurrentLimit allows. The more concurrent downloads you have at a given time, the slower download speeds per download

[2018-01-09 16:08] tonyofrancis commented on #101
I will also have a look at the samples and test. Waiting for your feedbacks.

[2018-01-09 16:17] Kevin321an commented on #101
I tried the `setDownloadConcurrentLimit(1)` and the OkHTTP downloader but it did not help to increase the downloading speed.

[2018-01-09 16:24] sathiyarajcbe commented on #101
For me too same result with limit 1 and OkHttp!

[2018-01-09 16:27] tonyofrancis commented on #101
@Kevin321an, @sathiyarajcbe I am now also getting very slow speeds also from the library. Looking into this further. Will label as a bug and try to get a fix asap.

[2018-01-09 16:30] sathiyarajcbe commented on #101
Waiting Tonyo!!!

[2018-01-09 16:32] Kevin321an commented on #101
Thank you

[2018-01-09 23:57] tonyofrancis commented on #101
@Kevin321an @sathiyarajcbe I have pushed a new version of Fetch with fixes. Please see README for new Fetch version and let me know if there are any issues.

[2018-01-10 04:26] sathiyarajcbe commented on #101
Working fine thank you!

[2018-01-10 15:00] Kevin321an commented on #101
It works now. Thanks,

[2018-01-10 19:09] tonyofrancis commented on #101
great.

[2018-01-10 19:09] #101 closed

[2018-01-12 10:49] sathiyarajcbe opened #102 "Namespace: already exists"
com.tonyodev.fetch2.exception.FetchException: Namespace:Downloader already exists. You cannot have more than one active instance of Fetch with the same namespace. Did your forget to call close the old instance?
at com.tonyodev.fetch2.fetch.FetchModulesBuilder.buildModulesFromPrefs(FetchModulesBuilder.kt:32)                                                                                        at c

[2018-01-12 11:08] #102 closed

[2018-01-12 15:16] sathiyarajcbe opened #103 "SocketTimeoutException"
FileDownloader
                                                                                java.net.SocketTimeoutException
                                                                                    at java.net.PlainSocketImpl.read(PlainSocketImpl.java:488)
                                                                                    at java.net.PlainSocketImpl.access$000(PlainSo

[2018-01-12 19:13] tonyofrancis commented on #103
@sathiyarajcbe This exception is reporting that the server did not respond in a timely fashion. The File Downloader handled the error as expected. Check the url you are trying to reach with a web browser to see if you are having the same issues.

[2018-01-12 19:13] #103 closed

[2018-01-17 05:46] gulshan183 opened #104 "Download is not starting for Oreo 8.0(OnePlus 3T): Fetch 2"
Following exception occurs when download is just started.
` FileDownloader
                                                       com.tonyodev.fetch2.exception.FetchException: request_not_successful
                                                           at com.tonyodev.fetch2.downloader.FileDownloaderImpl.run(FileDownloaderImpl.kt:76)

[2018-01-17 15:26] tonyofrancis commented on #104
@gulshan183 The error is indicating that the server did not send a response of `HTTP_OK`, `HTTP_ACCEPTED` or `HTTP_PARTIAL`. Can you try using the **okHttpDownloader** with Fetch instead, and testing if that works on the OnePlus 3T device? You can see how to set the okhttp downloader in the **README** under the **Downloaders** section. Waiting to hear back from you.

[2018-01-17 16:31] sethchhim opened #105 "Feature request: Attach bundle metadata to a request"
I'm using 2.0.0-RC5 and everything is working out great.

It would be useful to attach some persistent data to a `Request`. It is not a big deal because I can just clone and persist externally but I think it would be good for your library.

[code]

[2018-01-18 06:55] gulshan183 commented on #104
@tonyofrancis ,Thanks for update. I got this running after removing the app from optimize battery settings, but the real issue is still unknown. Since it was working with other Oreo devices and I think its related to OP3T device and its settings.

[2018-01-18 14:34] tonyofrancis commented on #104
@gulshan183 From the sound of it, it seems that the power saving settings was causing the server response back to Fetch to timeout.

[2018-01-18 14:34] #104 closed

[2018-01-18 15:04] tonyofrancis commented on #105
@sethchhim Thanks for the suggestion. I've have given this feature much thought, but decided not to implement it to Fetch for the following reasons:

1. The bundle/extra data is not directly tied to information needed by Fetch to perform a download.
2. Adding this extra data will decrease performance for querying download information.
3. The `download.request` object is only a copy of the initial

[2018-01-18 15:04] #105 closed

[2018-01-19 10:32] tampatamp opened #106 "Custom Downloader isnt set"
Hi,

i think that there´s a Bug on FetchModulesBuilder.
If I try to set a Custom Downloader, like the OkHttpDownloader inside your Sample Application, the defaultDownloader will always been set.

You can see this error on the following:
`  downloadManager = DownloadManagerImpl(
                    downloader = defaultDownloader,
                    concurrentLimit = prefs.concurrentLimit,

[2018-01-19 15:24] #106 closed

[2018-01-24 15:55] LudovicBtrs opened #107 "Multiple enqueuing download order"
Hi,

I'm trying to use Fetch and it is a very nice lib. Thanks.

However, I'm facing difficulties when I try to download multiples (enqueued) files.

From what I see (from the logs), **my requests are queued in the right order but are not downloaded in the same order**. Moreover, one of the requests has HIGH priority (+ first to be enqueued) but is the last to be downloaded.

I used your multi enq

[2018-01-24 18:56] tonyofrancis commented on #107
@LudovicBtrs Fetch processes requests for download by download Priority and time created. For example if you multi enqueued 5 requests and the last one has a high priority? It will be downloaded first. If the remaining requests has the same priority then Fetch chooses the oldest one by time created. I will have a look at the multi enqueued example again just to verify and will update you.

[2018-01-24 19:50] tonyofrancis commented on #107
@LudovicBtrs Just checked and the priority/ timestamp logic for enqueuing downloads is definitely not correct. Working on a fix and will release a new version in a few hours. Thanks for finding this bug. I will post back once I have released.

[2018-01-24 20:02] LudovicBtrs commented on #107
@tonyofrancis Sweet, thanks for your work ! I appreciate.
Lud'vic.

[2018-01-25 03:06] tonyofrancis commented on #107
@LudovicBtrs just pushed 2.0.0-RC7 with fixes. Please test and let me know if you have any issues.

[2018-01-25 11:02] LudovicBtrs commented on #107
@tonyofrancis Hi Francis,
It works like a charm.
Thanks for your time and reactivity !

Best regards,
Lud'vic.

[2018-01-25 11:04] #107 closed

[2018-01-31 00:09] Nordeast opened #108 "Allow of setting user generated Request Id"
As a feature request I am suggesting a way for a user to set their own request Id. I already track unique Id's for the things I download and having to track the request Id's on top of that seems unnecessary. This makes it easy for me to use the Id's that are already stored in my own database. Any thoughts?

[2018-01-31 18:23] tonyofrancis commented on #108
@Nordeast. Working on this feature for the next release. The changes will not affect anything in the library. Library user can set their own id. If the user does not provide an id, the library will auto generate one.

[2018-01-31 21:07] tonyofrancis commented on #108
@Nordeast just pushed a new version 2.0.0-RC8 of the library up with this feature. Comment back to let me know if you have any issues.

[2018-01-31 21:08] tonyofrancis commented on #108
Just as a note. Each request enqueued in Fetch has to have a unique id.

[2018-02-01 01:43] Nordeast commented on #108
Appears to be working in the application I am developing. If I encounter any issues I'll reopen.

[2018-02-01 01:43] #108 closed

[2018-02-02 03:10] CoMatu opened #109 "Cannot resolve method enqueune...."
I can not use the fetch2 because the Android Studio shows an error "cannot resolve method enqueune..."

[code]

[2018-02-02 08:47] tonyofrancis commented on #109
@CoMatu Verify that you do not have a typo in your project. Calling `mFetch.enqueune` instead of `mFetch.enqueue`

[2018-02-02 10:40] CoMatu commented on #109
automatic text entry, my mistake .... Thank you!

[2018-02-02 13:55] CoMatu commented on #109
![2018-02-02 18 53 31](https://user-images.githubusercontent.com/30466272/35736641-95dfa0ee-084a-11e8-90e8-30930fabef38.png)

[2018-02-02 14:37] tonyofrancis commented on #109
@CoMatu this has nothing to do the the library. You are missing the method name before the opening (

[2018-02-02 14:37] #109 closed

[2018-02-02 14:59] CoMatu commented on #109
I wanted to show that it offers the name of the method Android Studio

[2018-02-02 15:19] CoMatu commented on #109
I realized my mistake - I need to put my code inside the processing methods

[2018-02-02 15:47] CoMatu commented on #109
I showed that the IDE shows the name of the method. The method does not work.

[2018-02-07 22:46] halgatewood commented on #109
![screen shot 2018-02-07 at 4 45 05 pm](https://user-images.githubusercontent.com/83338/35945577-4f06f430-0c26-11e8-8d78-3f9638f20c3d.jpg)

@CoMatu I had the same error and moving the functions out of the other function seemed to solve it for me.

[2018-02-09 21:03] Sergios21 opened #110 "Encoding Problem"
I'm currently using your library at my project for downloading a large number of small files. These files are parts of a web app that needs to be downloaded locally and is displayed via a webview. Until RC5 everything was fine, I tried using RC8 and the downloaded files has a strange encoding thus the browser was not able to display them. BTW great work, keep it up.

[2018-02-10 13:34] tonyofrancis commented on #110
@Sergios21 what kind of weird encoding are you seeing? Can you share a sample? Does this happen in another Android Studio project?

[2018-02-13 14:57] tonyofrancis commented on #110
@Sergios21 is this still an issue?

[2018-02-13 19:28] Sergios21 commented on #110
I will be working on it tomorrow so I will let you know as soon as I am able to reproduce it. It is happening in my own Android studio project.

[2018-02-14 12:43] Sergios21 commented on #110
I've attached some files that were downloaded with the RC8 versio. As you will see they are corrupted or their encoding is wrong.

[sample.zip](https://github.com/tonyofrancis/Fetch/files/1723992/sample.zip)

[2018-02-14 12:49] Sergios21 opened #111 "Unhandled Exception Database is closed"
After I terminate my application sometimes the main activity crashes with an exception that I cannot handle. Following is the Logcat output:

E/AndroidRuntime: FATAL EXCEPTION: fetch_application
com.tonyodev.fetch2.exception.FetchImplementationException: database is closed
 at com.tonyodev.fetch2.database.DatabaseManagerImpl.throwExceptionIfClosed(DatabaseManagerImpl.kt:170)
at com.tonyodev.fetch2

[2018-02-14 20:07] CoMatu commented on #14
I have some problem
![2018-02-15 1 06 16](https://user-images.githubusercontent.com/30466272/36225456-8fe8144a-11ec-11e8-84fd-e882799330be.png)

[2018-02-22 16:32] Bakeneko opened #112 "Lower minSdkVersion"
I may be wrong but the minSdkVersion can safely be lowered to 14.

[2018-02-22 16:59] darkyelox opened #113 "Only onProgress is called when using RxFetch for enqueue"
when i use RxFetch for enqueue and set a listener only the onProgress method is called, onQueued, onResume and onCancelled are not called, but using normal Fetch enqueue method with callback parameters works

[2018-02-23 15:20] Nordeast opened #114 "Question: Resuming Download from where it left off after failure"
I have a question about how I can go about resuming a download when it fails part way through. I am downloading very large files and they sometimes fail to complete. It would be nice to keep the partial download and then finish the rest of the download later. I feel like this Fetch supports that already but I am having trouble figuring out how it would be done. My best guess is by trying the code

[2018-02-23 16:50] Nordeast commented on #114
Seems I got it right here though if there is some piece that I could be missing please feel free to add more details. I will try and find some time and help add some more documentation.

[2018-02-23 20:41] kevin-deep commented on #114
I think fetch.resume()  will not resume/retry the task already failed but fetch.retry() does.
In this case, you have to use Retry

[2018-02-25 18:18] #114 closed

[2018-02-26 16:32] sathiyarajcbe opened #115 "URL STATUS"
Hello how can i get the requested url status? file exists or not ...!

[2018-02-28 11:02] tonyofrancis commented on #113
@darkyelox Going to look into this issue. I was on vacation last week.

[2018-02-28 11:03] tonyofrancis commented on #115
@sathiyarajcbe I do not understand your question. Can you rephrase it?

[2018-02-28 11:03] tonyofrancis commented on #112
@Bakeneko I am going to look into this. Was on vacation last week.

[2018-02-28 11:03] tonyofrancis commented on #111
@Sergios21 I am going to look into this issue. Was on vacation.

[2018-02-28 11:04] tonyofrancis commented on #110
@Sergios21 I am going to look into this some more

[2018-02-28 13:07] sathiyarajcbe commented on #115
If we are submitting download request but if the file is not available in the requested URL means we are experiencing the app crashes...

[2018-03-03 15:05] tonyofrancis commented on #112
@Bakeneko This is fixed and will be in the next release. RC9 which I should be releasing on Mar 5, 2018.

[2018-03-03 15:05] #112 closed

[2018-03-03 15:33] tonyofrancis commented on #111
@Sergios21 I have fixed this issue and it will be in the next release RC9. Which I should be releasing on Mar 5th, 2018. Thanks

[2018-03-03 15:33] #111 closed

[2018-03-03 15:48] tonyofrancis commented on #113
@darkyelox I have fixed this issue and it will be in the next release RC9. Which will be released Mar 5, 2018. thanks

[2018-03-03 15:48] #113 closed

[2018-03-03 15:50] tonyofrancis commented on #115
@sathiyarajcbe Can you share the crash logs. I will have to replicate this. Thanks

[2018-03-03 16:03] tonyofrancis commented on #110
@Sergios21 Tested several urls and file downloads and they were all successful with no encoding issues. I also checked the md5 checksum of the downloaded files to make sure they matched. Could It be the device you are using? Can you test on another device?

[2018-03-03 20:09] Sergios21 commented on #110
HI Tony, I have tested on the Galaxy Note 5, on the Galaxy S8, on the Nexus 5x, on the Redmi 4x, on the Redmi note 3, One plus X, HTC U11 Plus and a Lenovo tab. We were using Amazon's S3 for storage. We have just switched to Amazon's cloudfront (I haven't tested it on cloudfront).

Following is a public S3 URL that you can test:
https://s3.amazonaws.com/myownbucket-8675309/my-internet-chart/my-web

[2018-03-03 20:41] tonyofrancis commented on #110
@Sergios21 Just tested and I got no encoding issue. Here is the sample file downloaded with Fetch2 on a Motorola device.
[fetchwebsite.html.zip](https://github.com/tonyofrancis/Fetch/files/1777869/fetchwebsite.html.zip)

[2018-03-04 10:53] Sergios21 commented on #110
I'll be working on the project tomorrow so I will keep testing to try and get to the bottom of this.

[2018-03-05 14:59] Sergios21 commented on #110
Hello Tony, I've been trying to find the issue. I''ve narrowed down that the issue occurs from RC6 onwards RC5 works just fine.
The way I'm using Fetch is the following:
I need to download two groups of files that are later fed into a webview for offline access.
The first group are files that contain web code and images. This is essential. for the web applications to run.

These web applications h

[2018-03-06 01:43] tonyofrancis commented on #110
@Sergios21 Here are a few troubleshooting suggestions.

1. Can you change the concurrent download limit to 1 for the applicationFetch and change the namespace from `application` to something else. Then try downloading  the files again

2. use the httpurlconnection downloader for the the applicationFetch and see if anything changes.

Looking forward to hearing the results.

[2018-03-06 01:43] #115 closed

[2018-03-06 12:14] Sergios21 commented on #110
Hello Tony,

I changed the namespace of my fetch instances and had the same results.

What actually worked was not using the OkHttpDownloader but reversing back to httpurlconnection .

I keep using the OkHttpDownloader for my content download and it works just fine.

[2018-03-06 14:25] tonyofrancis commented on #110
Yup I figured okHttp was encoding your content wrong. What you may want to do is check the different okhttp options and configure its settings. That may help. I will go ahead and close this issue. Open a new ticket if you have any issues.

[2018-03-06 14:25] #110 closed

[2018-03-06 14:49] Sergios21 commented on #110
OK Tony, thank you for your time and an awesome library. Keep up the good work.

[2018-03-06 16:20] Xenolion opened #117 "A Minor Issue on how Fetch works!"
I have started using some Features of Fetch though I have some misunderstandings on how it works. Help me with this questions:

Does Fetch store all the downloads I have ever downloaded or tried to download using it? So if I want a download list of example 400 downloads do I still get all of them or are they cleared after some time or after a certain limit?

Can Fetch send a Broadcast so I can use

[2018-03-06 18:27] tonyofrancis commented on #117
@Xenolion Thanks for using Fetch.

1. Fetch stores all downloads in a database unless you delete or remove them.
2. Attach a FetchListener to fetch to listen for status changes or you can query download information directly from Fetch.
3.  The sample app deletes the content for demonstration.

[2018-03-06 19:53] Xenolion commented on #117
Thanks for your fast a clear answer. Be blessed bro. Also Thanks for bringing Fetch.

[2018-03-06 19:53] Xenolion commented on #117
We can close this now!

[2018-03-06 21:43] #117 closed

[2018-03-07 16:41] Sergios21 commented on #110
FYI, it was a problem with the okHttp Response. My backend guys gzipped all files before uploading. Cloudfront does this on it's own. So the library read the "Accept-Encoding", "gzip, deflate, br" header and unzipped the files once but didn't know that the contents were zipped as well. Hence the encoding error. We have stopped zipping the files on our server and everything works perfectly.

[2018-03-08 15:30] leavjenn opened #118 "Question: How to check a group downloading status?"
Hi @tonyofrancis, great library, thanks for your working!

Could you shed some light on how to check a group downloading status, like progress, current speed, estimate remaining time, and whether it is completed? If I got it corrent, currently, the `FetchListener` only return 1 file download status.

Thanks again.

[2018-03-08 16:32] tonyofrancis commented on #118
@leavjenn Thanks for using the library. The `FetchListener` return status of all downloads. The methods on an `FetchListener` are called for all downloads once their status changes. You can identify a download by id using -> `download.getId() == id` or you can Identify a download belonging to a group by checking its group id -> `download.getGroup() == groupId` in the appropriate method.

[2018-03-08 16:57] leavjenn commented on #118
@tonyofrancis Thanks for you answer. I realised my question is not accurate. What I want to ask is, how to get the status of a list of cocurrent downloading? For example, I add 100 download requests, and the concurrent limit is 10, is it possible to get the progress, current speed, estimate remaining time, and whether are they all completed? I just tried add 16 requests, and below are the logs:

[

[2018-03-08 17:03] tonyofrancis commented on #118
The eta and bytesPerSec belong to the download object they are returned with. Please test out the sample app to have a better idea of how the library works.

[2018-03-08 17:21] leavjenn commented on #118
Alright, I realised (again) the question is a little tricky... If I want to download 100 files and the cocurrent limit is 10, since the library does't know the total size of all files until the last file starts downloading, it cannot show the estimate time and process of them all. Thanks for your answer. This is a great library, very appreciate your hard working.

[2018-03-08 17:22] #118 closed

[2018-03-09 14:10] Xenolion commented on #117
Instead of open another Issue I have another misunderstanding concerning the SampleApp. I was trying to make a follow up of the code so I added `DownloadListActvity` in my own Testing App but I moved the method `getFetch` to the same Activity `DownloadListActivity`. But now whenever I call the method `onBackPressed` or when the user get out of the Activity by actually pressing the back button, The

[2018-03-09 23:30] Xenolion commented on #117
Solved after commenting `fetch.close();` temporarily. But now I can not get the same instance due to

`Caused by: com.tonyodev.fetch2.exception.FetchException: Namespace:DefaultFetch already exists. You cannot have more than one active instance of Fetch with the same namespace. Did your forget to call close the old instance?`

Is there a way I can retrieve the same `Fetch` instance and add more do

[2018-03-11 22:30] Xenolion opened #119 "fetch.close(); leads to ANR Application Not Responding"
I have an activity where I build an instance of fetch in `onCreate()` then use that instance through out the `Activity`.

Finally `onDestroy()` I call `fetch.close();` This works fine the Activity destroyed and fetch instance is closed. But my phone freezes to about 9 seconds and usually with an ANR Application Not Responding after that then it works fine. But during the freeze NO button NOR input

[2018-03-12 03:09] tonyofrancis commented on #119
@Xenolion What version of Fetch are you using? Just released RC10. Please try the latest version of Fetch and let me know if you are experiencing the same issues.

[2018-03-12 03:55] Xenolion commented on #119
I have just upgraded to RC10 now, but the error keeps on, Screen freezes!

[2018-03-12 11:40] Sergios21 commented on #119
Hi @Xenolion I've implemented the same logic as you for my application (terminating my Fetch instances in the on destroy method). I have two POJOs that contain a fetch instance each. In my onDestroy I run the terminateDownloadObjects method that does the following:

[code]

When the application starts again I face no issues.

[2018-03-12 13:36] Xenolion commented on #119
I will try this looks good. But I also have another question can I retrieve Fetch instance if I know its Namespace?

[2018-03-12 13:49] tonyofrancis commented on #119
@Xenolion When you create a new instance of Fetch with a namespace (say "default") only one instance of Fetch with that namespace can be active. If you close the instance of Fetch with the namespace (say "default") and create a new instance of Fetch("default") again all the previous downloads and settings for that namespace are maintained.

As for closing Fetch and encountering errors. I am going

[2018-03-12 13:57] Xenolion commented on #119
Ooooh I have got you know I did not know that the same namespace can retrieve the available downloads! Thanks for this and Thanks for Fetch.

All the best in fixing the close-fetch bug.

[2018-03-12 14:05] AminDeveloper opened #120 "Failed to resume download"
In my app normally starting and pausing and resuming download works well
but if I repeat  pausing and resuming for several times it fails on resume with unknown error
here is the log info:

D/Main: Resumed download Download(id=2, namespace='Main', url='http://tct-cdn.cdn.p30download.com/p30dl-mobile/Elite.Killer.SWAT.v1.3.3_p30download.com.apk?1520424991', file='/storage/emulated/0/Download/m2m.ap

[2018-03-12 15:25] tonyofrancis commented on #119
@Xenolion @Sergios21 found the issue with closing Fetch and ANR. Working on a fix. Hope to release it soon.

[2018-03-13 02:19] dachev opened #121 "Document Fetch instance management"
The documentation is not clear on what are the valid strategies to manage a Fetch instance. I spent considerable amount of time trying to get background downloads working but kept running into issues.

For example, calling `instance.close()` seems to terminate all current downloads, which is not what we want. However, not calling this method leads to a `Namespace:DefaultFetch already exists. You c

[2018-03-13 06:35] AminDeveloper commented on #120
Ok i will change the link to see if it happens with new link or no
but what can i do to handle this kind of unknown errors? Is it correct to remove download and restart it again or it can be some sort of temporary problems like timeout or something like that and retry will solve it?

[2018-03-13 11:40] dachev commented on #121
@tonyofrancis Your code made me take another, more critical look at me code, and I found the bug: my assumptions about the lifecycle of my own objects were wrong. Thanks for your help and the awesome project!

[2018-03-13 11:40] #121 closed

[2018-03-13 14:13] Xenolion commented on #119
Thanks. We are waiting, Fetch Forever @tonyofrancis

[2018-03-13 16:05] tonyofrancis commented on #119
@Xenolion This is not a simple problem to fix. It will take some time. In the meantime use the solution @Sergios21 suggested. I do not have an estimated time on the fix. I will report back here once the fix is in place.

[2018-03-13 16:08] tonyofrancis commented on #120
@AminDeveloper It defiantly does seem like a timeout issue. What you can do is call `fetch.retry(id)` for the download to retry at the current position. Keep a counter of the retry attempts. If after lets say 2 attempts then you can stop retrying. I will defiantly look into this a bit further and verify that the library is reporting timeouts correctly.

[2018-03-13 16:55] Xenolion commented on #119
No worries! I did not mean I am waiting for my current project. I am waiting for future use. Actually I redesign my project. I now use a service that has a fetch object and so my activity just binds to it and access the downloads. This way the screen does not freeze in my activity. Though I am facing a challenge. How to stop a service when there is no actual downloading progressing!

[2018-03-13 18:15] Sergios21 commented on #119
You need to implement a connectivity change receiver to listen to connectivity changes. This way you can queue all the files that need to be downloaded in your Fetch instance. When the connectivity is lost you can pause Fetch and when it's back on you can resume your downloads. You don't need to stop your service while your app is executing just control what is happening in your service and termin

[2018-03-13 18:35] Xenolion commented on #119
Actually I can make a BroadCast Receiver and and register it in Manifest. But I was just hoping hoping for a lazy short cut for that in Fetch @Sergios21 . But now will make a broadcast receiver. And I think this library is growing! And It may be a big deal in the Future. Is there a stackoverflow tag yet for fetch2?? @tonyofrancis  This will save time and answering non- bug issues that are  fetch2

[2018-03-13 19:01] tonyofrancis commented on #119
@Xenolion @Sergios21 Fetch RC9 and RC10 already have `enableRetryOnNetworkGain(true)`. Please see the Fetch.Builder class. Fetch already monitors network connectivity, to start downloads once network connection is gained/reconnected. Just don't close the Fetch instance for it to work. @Xenolion I will create the stackOverflow tag soon :).

[2018-03-13 19:11] Xenolion commented on #119
Thanks and best of luck too, Waiting for the tag! :) @tonyofrancis .

[2018-03-14 21:40] Eyad19 opened #122 "it download to about 9 mb and stop"
it download to about 9 mb and stop

[2018-03-14 23:16] tonyofrancis commented on #122
@Eyad19 you will have to provide more information. Does the device or emulator has enough storage space? What error is fetch reporting?

[2018-03-15 16:52] #122 closed

[2018-03-15 20:08] tonyofrancis commented on #120
@AminDeveloper RC11 is now out. Can you test and let me know if you are still getting the UNKNOWN error for the download link?

[2018-03-15 20:18] tonyofrancis commented on #119
@Xenolion @Sergios21  RC11 is now live with the close fixes. Please check it out and let me know if you guys encounter any issues. @Xenolion I have added the stack-overflow link to the repository https://meta.stackoverflow.com/tags/fetch2

[2018-03-16 18:30] Xenolion commented on #119
Yeah the ANR is solved. Now `fetch.close();` works okay. Thanks to you! About the tag, I will activate it by asking a question soon! Also the link does not have to use `meta` because it is something else. Put `www` or nothing.

[2018-03-16 18:32] Xenolion commented on #119
The bug is solved! Now I can close Fetch instance without any error! @tonyofrancis

[2018-03-16 20:22] #119 closed

[2018-03-20 15:09] #120 closed

[2018-03-23 19:47] claudio-jeremias-clansoft opened #123 "SocketTimeoutException using enableRetryOnNetworkGain"
I enabled the RetryOnNetworkGain feature, but when my phone goes to flight mode for a very short time I get an exception and UNKNOW error.

`FileDownloader
                                                                              java.net.SocketTimeoutException: Read timed out
                                                                                  at com.android.org.conscrypt.NativeC

[2018-03-24 15:53] tonyofrancis commented on #123
@claudio-jeremias-clansoft Thanks for using Fetch. I have updated Fetch to now catch this exception. So the error now will be Error. CONNECTION_TIMEOUT. Also, if you call `download.getError().getThrowable()` when the error occurs, you will get the throwable that caused the exception to be thrown and act on that. Fetch tries hard to return specific errors, but across many devices and manufacturers

[2018-03-26 11:13] claudio-jeremias-clansoft commented on #123
Good to hear from you @tonyofrancis !!! I am updating the library to RC-12 and also handle that error callback to retry de download!!!
I let you know if I get some new issue.

Regards

[2018-03-26 14:42] #123 closed

[2018-04-06 06:24] mudi256 opened #124 "if once group is created add more download in group"
i am begginer in android, here i am face an issue,
i am developing an app for video download, here problem is that if once group is created and downloading is started, how to add another download

update group with new request

[2018-04-06 16:27] tonyofrancis commented on #124
@mudi256 See the `fetchBuilder.setDownloadConcurrentLimit(limit)` method on the FetchBuilder object. Note that the more concurrent downloads you have running, the longer it takes for all downloads to complete.

[2018-04-07 08:11] NainalChauhan commented on #34
How to check if the file has been deleted from sdcard using the new Fetch2 ?

[2018-04-07 09:58] NainalChauhan opened #125 "Check if file exists in storage and remove the file"
How to check if the file has been deleted from sdcard using the new Fetch2 . If it has been deleted then remove from fetch database. I have seen the method fetch.get(request) to get the request info and Fetch.ERROR_FILE_NOT_FOUND, but in the new fetch2 I am not able to find the method to get request info.

[2018-04-07 14:09] tonyofrancis commented on #125
@NainalChauhan Thanks for using Fetch2. I think you spotted a bug. Let me look into this and I will post back with the results

[2018-04-07 14:09] #124 closed

[2018-04-07 23:49] tonyofrancis commented on #125
@NainalChauhan I fixed a few bugs with Fetch2. Please check out the new version 2.0.0-RC13. If you call any of the `fetch2.getDownload or fetch2.getDownloads` methods, they will return the download information in a callback function. You can then check if the Download has a status of `Status.FAILED` call `download.getStatus()` and the Error on the Download will be `Error.FILE_NOT_FOUND` call `down

[2018-04-09 05:25] NainalChauhan commented on #125
@tonyofrancis Sorry for late reply. Thanks for solving the issue. I will let you know after implementing the updated version.

[2018-04-10 04:13] anhtuannd opened #126 "Download failed but onError was not called"
I tried Fetch 2 and made download request to unavailable file.
There was error in Logcat, but onError was never called.

`04-10 11:09:06.802 15653-15980/com.humaxdigital.mobile.bracelet E/Main: FileDownloader
                                                                        com.tonyodev.fetch2.exception.FetchException: request_not_successful

[2018-04-10 04:42] anhtuannd commented on #115
I experience the same problem. In my opinion, we should call FetchListener::onError.

[2018-04-10 07:09] anhtuannd commented on #126
Sorry my bad, the listener was clear elsewhere.

[2018-04-10 07:09] #126 closed

[2018-04-16 05:52] RobbieArmz opened #127 "Issue with SDK version"
I really like this library, however as it seems it is required to have my sdk set to 27.0.2 which is not ideal for me for compatibility purposes, is there any way rather than downloading the files and importing them directly to my project to get around that?

[2018-04-16 13:58] tonyofrancis commented on #127
@RobbieArmz You should be able to add resolution strategy to your apps build.gradle file to use the sdk version of you choice. You can try the following code. Add it to the bottom of you app's build.gradle file.

[code]
replace `supportVersion` with the sdk version you need. Please let me know if that help.

[2018-04-16 14:35] Sergios21 opened #128 "Cannot Resume group"
Hello Tony,

I've faced a new issue. I'm incorporating some pause/resume logic in my downloader. I initialise my two downloader instances of Fetch and enqueue my lists of download requests (one at each downloader). Each enqueued request has the same group id. The pauseGroup() method works like a charm. When I try to resume the downloads by using the resumeGroup() method it only resumes very few do

[2018-04-16 15:02] tonyofrancis commented on #128
@Sergios21 looking into this. I will update you soon

[2018-04-16 16:34] tonyofrancis commented on #128
@Sergios21. Fetch will only pause downloads that have the status of `Status.QUEUED or Status.DOWNLOADING`. So if you are using the `pauseGroup(groupId)` method, only downloads with status `Status.QUEUED or Status.DOWNLOADING` will be paused. The `onPaused(download)` method on attached Fetch Listeners will only be called for downloads that were actually paused.

Fetch will only resume downloads tha

[2018-04-16 17:13] Sergios21 commented on #128
The files in the queue that have not been completed have a status of FAILED and the error is "FILE_NOT_FOUND". Following is a snapshot of a failed file.

created = 518679961846929
downloaded = 0
error = {Error@9266} "FILE_NOT_FOUND"
file = "/pathtofile/toolbarButton-pageUp%402x.png"
group = 2121210
headers = {LinkedHashMap@9268}  size = 0
id = -2109345191
namespace = "app_assets"
networkType = {Ne

[2018-04-16 17:26] tonyofrancis commented on #128
@Sergios21 Can you test version 2.0.0-RC-12 and let me know if it works as expected for you. I have a feeling a bug was introduced in 2.0.0-RC13

[2018-04-16 17:34] Sergios21 commented on #128
Yes, you are correct. On RC12 everything works as expected.

[2018-04-16 17:35] tonyofrancis commented on #128
@Sergios21 Great. I know what the issue is. Going to fix soon.

[2018-04-16 18:21] Sergios21 opened #129 "Requests Lost when a group is paused"
I'm using the pauseGroup functionality. I'm doing this so that the downloads pause when the connectivity changes to Mobile data only (no wifi), I then prompt the user whether he wants to continue or keep the downloads paused. When pausing, usually 4-5 downloads are received as failed in the onError of my FetchListener. I collect the requests of these downloads in a sepparate Arraylist that contain

[2018-04-17 00:42] tonyofrancis commented on #128
This issue is now fixed in version 2.0.0-RC14

[2018-04-17 00:42] #128 closed

[2018-04-17 00:52] tonyofrancis commented on #129
@Sergios21 Are you calling `fetch.enqueue(downloads, SuccessCallback, ErrorCallback)` to retry the downloads?. If that is the case then you are doing it wrong. The enqueue methods will only enqueue a new download if the request does not already exist. If you try to enqueue a request that Fetch already has, the ErrorCallback will be called.

The correct method to call is `fetch.retry(ids)`. This me

[2018-04-17 10:37] Sergios21 commented on #129
Hello Tony, you are correct, I am using the retry method now and it works, in some very rare cases some requests fail again (could be a server error) so I have implemented a retry logic that keeps trying until the file is downloaded (will add a retries counter). Thank you.

[2018-04-17 11:49] smart222 opened #130 "Help wanted"
Hi,

  Is it possible with fetch? ow can do it

[2018-04-17 13:04] tonyofrancis commented on #129
@Sergios21 Glad you got a fix.

[2018-04-17 13:04] #129 closed

[2018-04-17 13:08] tonyofrancis commented on #130
@smart222 Yes it is possible with Fetch. Have you tried the sample app?.  What you do is create a new instance of Fetch in the Application class of your app and reference it in the different activities. What you can also do is create a single global instance of fetch and a global fetch listener and share that global listener with the different activities. Hope this helps.

[2018-04-17 13:10] smart222 commented on #130
@tonyofrancis could you add some samples for global listener and how to enqueue and state update adapter rows it will help me.

[2018-04-17 13:37] Sergios21 commented on #129
Hello again Tony, I noticed that the first retry works, but when a file fails to download a second time, it isn't added to the download queue (even though the retry method is called for its id), is there a maximum retry count for every file? If so, can I change this parameter somehow?

[2018-04-17 13:51] tonyofrancis commented on #130
@smart222 The sample app does have global instance of Fetch. in the App.java class. That is referenced in other Activities. Probably best to take the time and go through the code to get a better understanding of how Fetch works. Cannot do the work for you.

[2018-04-17 13:56] #130 closed

[2018-04-17 21:54] RobbieArmz commented on #127
Hi tony, thanks for the support. I tried the code you gave me and it ran just fine, thanks alot.

One more question, how do I set to run 1 download at a time?

[2018-04-17 22:00] tonyofrancis commented on #127
@RobbieArmz Glad it worked

[2018-04-17 22:00] #127 closed

[2018-04-17 23:11] RobbieArmz opened #131 "Getting error when downloading file"
Im getting the following error REQUEST_NOT_SUCCESSFUL.
This error happens due to my download url having redirects and I guess the library isnt following the redirect to the destination, so when I enqueue the download it instantly fails when it hit the listeners.

This is the link im using: http://www.blogger.com/video-play.mp4?contentId=c3e4bdcad249489f
I tried with a .mp4 the same file and it dow

[2018-04-18 14:32] tonyofrancis commented on #131
@RobbieArmz Thanks for using Fetch2. Fetch by default does not follow multi redirects. What you can do is provide Fetch a custom HttpUrlConnectionDownloader with a custom HttpUrlConnection object, or a custom OkHttpDownloader with a custom OkHttpClient object.

HttpUrlConnectionDownloader Example:
[code]

OkHttpDownloader Example:
[code]
You will also need to include the Downloaders dependency to

[2018-04-18 18:31] RobbieArmz commented on #131
Thanks once again @tonyofrancis this worked perfectly and now.
I want to ask one last quick thing, because I got kinda confused on it, what is actually the difference between removeAll() and deleteAll()

[2018-04-19 05:04] ealanhill opened #132 "`migrateFromV1toV2` throws `UNIQUE constraint failed` exception"
I was testing the migration from Fetch 1 to Fetch 2 using the provided migration tool and recieved the following exception:

[code]

Steps I took:
1. installed the previous version of my app
2. downloaded a file
3. installed the new version of my app
4. ran the app and received the exception

One cause may be the database had not been completely removed from previous installs (with Fetch 2) and I

[2018-04-19 17:55] #132 closed

[2018-04-19 20:37] dougkeen opened #133 "Brief connectivity breaks don't result in a retried download when `enableRetryOnNetworkGain == true`"
Repro steps in sample app:

1. Go to Single Download Demo and start the download
2. Once the download begins, go into airplane mode
3. Come back from airplane mode within 5 seconds
4. Instead of queueing and restarting, the download fails with a `CONNECTION_TIMED_OUT` error, and a retry never happens.

A retry only occurs if the break in connectivity is sustained for 5 or more seconds. This is due

[2018-04-19 21:15] dougkeen commented on #133
I was able to slap together an ugly fix here: https://github.com/phound-inc/Fetch/commit/c2deadab682de99965b7dc92edb3d62aba8425fd

I can pull request that if you want, but I think the better solution would be to set up a broadcast receiver to get connectivity events, and perform disconnect detection + retries based on those events.

[2018-04-19 22:47] tonyofrancis commented on #133
@dougkeen Thanks for brining up this issue. It was one of my concerns when implementing retry. The temporary fix would actually work perfectly! I did try implementing a broadcast receiver at one point and performed some tests, but the issue was that the Connectivity Manager at times is slow at reporting network changes. For example even when I disconnected from the network the connectivity manager

[2018-04-19 22:59] dougkeen commented on #133
Ok, PR submitted!

[2018-04-19 23:37] tonyofrancis commented on #133
@dougkeen awesome! Built new 2.0.0-RC16 version and gave you credit for the fix.

[2018-04-19 23:37] #133 closed

[2018-04-23 15:20] marcin-adamczewski opened #135 "Possibility to customise saving to output"
Hi,

It would be nice to have a possibility to customise saving input data to the output.
It would allow for making things like encryption on the fly. So while data are being downloaded
they would also be encrypted and saved to the output.

You could easily achieve this if in **FileDownloaderImpl** there would be an **OutputStream** instead of **RandomAccessFile** and if user would have ability to

[2018-04-23 22:43] tonyofrancis commented on #135
@marcin-adamczewski Thanks for using Fetch2. Interesting feature request. Looking into this feature and will update this post very soon. Please check back.

[2018-04-25 02:44] tonyofrancis commented on #135
@marcin-adamczewski I just released version 2.0.0-RC17 with this new feature. In order to provide your own OutputStream you need to provide Fetch your own custom Downloader. Example using a custom okHttpDownloader:

[code]
`The OutputStream getRequestOutputStream(@NotNull Request request, long filePointerOffset)` method on the downloader lets you return an output stream per request/download that F

[2018-04-25 08:14] nowkin commented on #34
same questions as NainalChauhan.This is not working in Fetch2 anymore

[2018-04-25 18:39] RobbieArmz opened #136 "Is there any way to accelerate the downloads?"
I was wondering if theres any way to speed up the download, cause I've been using it on my app, but the speed hardly goes past 300kb/s and I have 5mb/s link.
Also its not me, users have reported the same thing. But when they use apps such as ADM they download it at maximum speed.

Just wondering how to force the download to use maximum speeds.(if there is such thing)

[2018-04-25 18:53] tonyofrancis commented on #136
@RobbieArmz What version of Fetch are you using?. What does your Fetch Builder configuration look like? Are you using the OkHttpDownloader or OkHttpUrlConnectionDownloader. How many downloads are being downloaded in parallel? Once I have this information I can better help.

Also if you try the sample app. Do you get faster speeds there?

[2018-04-26 09:52] RobbieArmz commented on #136
- The build im using is this: com.tonyodev.fetch2:fetch2:2.0.0-RC14
- My Builder looks like the following:
[code]
- I do use OkHttpDownloader
- Usually even when I try with one single download it gives me extremely low speeds
- And the downloads links are all like these: http://www.blogger.com/video-play.mp4?contentId=c3e4bdcad249489f
PS: This file is very small so it instantly completes, but when

[2018-04-26 14:16] tonyofrancis commented on #136
@RobbieArmz Your configuration looks fine so far. The only thing that could slow the network down is several downloads going on at once. Another issue that can cause low performance is if you are also querying Fetch in the FetchListener. Especially the onProgress method. If you are querying Fetch in the onProgress method of the listener, and several downloads is ongoing, the downloads are fighting

[2018-04-26 14:17] tonyofrancis commented on #135
@marcin-adamczewski Have you been able to test this new feature out?.

[2018-04-26 16:04] marcin-adamczewski commented on #135
Hi @tonyofrancis,
I was roughly testing it today and it seems to work well. 😀
I was able to use my encrypting output stream using this code and then decode data with success.
I'll test it more on Monday and let you know if there is any issue.
So far it looks good. Thanks for really quick job.

[2018-04-27 15:21] marcin-adamczewski opened #137 "Removing requests from database when completed."
Hi,

I have two questions.

1. How to download a file twice with same url and file path?
For example there is a song under url = "www.url.com/newSet.mp3"
and I want to save it to ".../DOWNLOAD_PATH/newSet" path.
User fetched the file for the first time...then deleted it...and then fetched again.
Unfortunately it is impossible because I get error REQUEST_WITH_ID_ALREADY_EXIST.

The only solution th

[2018-04-27 19:01] RobbieArmz commented on #136
Okay so I ran tests, the thing is this, when I use the direct link which is .mp4 I get maximum speeds, I peaked at 6mb/s, when I use the blogger link I get 260kb/s.
I don't believe this is related to the blogger servers because when I use browser or external downloaders like ADM for example to download the video I get around 4mb/s speeds.

I'll put my entire activity here and the logs I get:
[code

[2018-04-28 13:09] tonyofrancis commented on #136
@RobbieArmz Just finished testing. I add a network interceptor to the okHttpClient to see what the actual url the download is happening from after the redirects. The redirected url returned by Blogger is not the direct url. It is returning some other url that is slow both on the App and the different web browsers I tested on.  My OkHttpClient:

[code]

Logs:
[code]
The last logged url is where the

[2018-04-28 13:48] RobbieArmz commented on #136
Is there any way to speed that up somehow, because I can download those at high speeds via browser but not through fetch x.x

[2018-04-28 14:11] andr3aLucch3si85 opened #138 "Problem with rest operation"
Hi is there a way to use download url with rest operation?
I need to use an url like this: https://mmg-stg.inera.it/dashboard/media/get?id=4355 but actually mainFetch.enque instruction fail.

[2018-04-28 14:34] #138 closed

[2018-04-28 15:46] tonyofrancis commented on #137
@marcin-adamczewski

Question 1.
**Reason for Fetch's behavior**
By default, Fetch stores all request in a database. Unless you provide your own ID for a request, Fetch uses a request's url + file path to create a unique `ID`. If that unique ID is already found in the Fetch database, Fetch will not enqueue a new request with the same information. Also, Fetch will not enqueue any new request with a

[2018-04-29 11:16] nowkin opened #139 "Download error on switch from wifi to mobile network"
hello,
Is there a way to handle network swichted from wifi to mobile / mobile to wifi? download progress jumps instantly to 100% and file is corrupt after using retry method after switchting the networks. hope somebody can help.

[2018-04-29 11:31] marcin-adamczewski commented on #137
Thank you for very detailed answer 👍
I understand that storing all requests in database prevents multiple downloads to the same file
path and also is needed for resuming incomplete downloads. Although I think you don't have to store in database the requests that already succeed or failed. You suggested to add optional feature to be able to clear such requests when finished. IMHO it should be defau

[2018-04-29 11:34] tonyofrancis commented on #137
@marcin-adamczewski The above solution will work with Fetch version 2.0.0-RC17 and older. Just released a new version of Fetch version 2.0.0-RC18 which has a **new RequestOptions feature**. With RequestOptions, you can tell Fetch when to take certain actions depending on a situation.

Your first issue can be solved with RequestOptions. Example:
[code]
The `RequestOptions.REPLACE_ON_ENQUEUE_FRESH`

[2018-04-29 11:41] #135 closed

[2018-04-29 11:49] tonyofrancis commented on #139
@nowkin Thanks for using Fetch. Have you added the `.enableRetryOnNetworkGain(true)` on the FetchBuilder?. This will resume the download when the network is lost and gained. Example:

[code]

Also note that internet connection may not be available when you call the `fetch.retry(id)` method causing the download to fail. If you set `enableRetryOnNetworkGain(true)` you should have no need to use the

[2018-04-29 11:51] tonyofrancis commented on #136
@RobbieArmz right now Fetch does not support chuck downloads. I'll will brainstorm this as a feature over the weekend and will get back to you.

[2018-04-29 12:31] RobbieArmz commented on #136
Alright tonyo, thaks alot.

[2018-04-29 12:34] marcin-adamczewski commented on #137
@tonyofrancis Wow, you're fast :)
I like the customisations you introduced. I'll test it tomorrow :)
Nevertheless I think that if you want to not make options like AUTO_REMOVE_ON_COMPLETED and
AUTO_REMOVE_ON_FAILED default, then such behaviour should be mentioned in Wiki so people are not confused and won't get into trouble.

Thanks 👍

[2018-04-29 16:50] saif0347 opened #140 "fetch stopping download after screen is finished on user move back"
When i start download in my download activity screen it downloads perfectly until i close the activity screen. After closing when i come back after some time it starts download from the last progress which i saw earlier while closing screen.  Seems like download was paused or stopped and resumed on opening screen again. I create fetch instance in onCreate() and close it on onDestroy() method of ac

[2018-04-30 10:37] marcin-adamczewski commented on #137
@tonyofrancis I find it problematic to download to the same file path twice using options you've added.
I've used REPLACE_ON_ENQUEUE_FRESH option. It works fine if I try to download using Request with same id twice but not when trying to download from two different url to same path.

Here is a code to reproduce it.

`   private void twoDifferentUrlsToSameDirectory() {
        final String filePath

[2018-04-30 13:43] tonyofrancis commented on #136
@RobbieArmz I started working on the chunk file downloader extension for Fetch. Got to download a completed file lol. This chunk file downloader still needs lots of polishing and proper integration with Fetch. Don't have a hard release date yet. Hoping in less than 2 weeks, but I will keep updating this post with updates. I will be adding chunk downloading as a feature once all the bugs are worked

[2018-04-30 19:26] tonyofrancis commented on #137
@marcin-adamczewski I understand the use case. mhmmmm. There are two requirements that needs to be met before Fetch is able to enqueue a request.
1. The file path needs to be unique to prevent data corruption in a multi downloading environment.
2. The request id need to be unique. Identifying purposes.

I'm not sure if you know this, but you can create a request with your own unique id `new Reques

[2018-04-30 21:28] marcin-adamczewski commented on #137
@tonyofrancis
Yes, I've seen those UNIQUE constraints on database. And you're right that creating wiki would be very helpful to users so they can understand how it works without looking into the code.

I think the new option you've added will solve my problem. I will be able to test it on Friday though.

I'm just thinking now...do we need all those RequestOptions.
If you'd remove from database all

[2018-05-01 13:48] tonyofrancis commented on #137
@marcin-adamczewski

**Benefits of the many Request Options**
 For example while developing an app, I want to ensure that I am not enqueuing and overriding any existing requests, but only want to delete it if it fails. Different apps will defiantly have different use cases. Depending on feedback I get, I will add or remove them from the library as we go.

**The benefits for keeping requests in a d

[2018-05-01 16:15] RobbieArmz commented on #136
No prob tonyo, I've heard that this old free project called "GigaGet" used the chunk download methodology, and could get good speeds but that project got discontinued and thats a big nono for me. They might even be on github somewhere if you wanna take a look for ideas.

[2018-05-02 10:52] tonyofrancis commented on #129
@Sergios21 sorry for the late reply. If you are using the `ConnectivityManager.CONNECTIVITY_ACTION` broadcast receiver that is fired by the system to retry the downloads and get `REQUEST_NOT_SUCCESSFUL`, it most likely means that internet connection is not established. When the broadcast receiver is called it simply means that the device is connect to a network not that the device has internet con

[2018-05-03 02:32] tonyofrancis commented on #136
@RobbieArmz  I have made lots of progress with the chunk file downloader. Works really well. Just need to retrofit/ polish it up a bit and it should be ready to go in the next few days.

[2018-05-03 10:43] nowkin commented on #139
that helped alot thanks ;)

[2018-05-03 10:50] nowkin opened #141 "Update progress when app is closed"
Hello
is it somehow possible to get progressupdates when the app is closed? Want to use if for android notifications in the notification bar. When the app is opened its all working but as soon as closing the app the notification dont get any updates anymore from onProgress or onCompleted

kind regards and thanks alot for your hard work

[2018-05-03 11:44] RobbieArmz commented on #136
@tonyofrancis no problem take, take your time with it. I'm pretty sure is gonna be awesome.

[2018-05-04 08:02] LaserStony opened #142 "REQUEST_WITH_ID_ALREADY_EXIST"
I have something Like this.
[code]

[2018-05-04 13:12] tonyofrancis commented on #142
@LaserStony Fetch stores all request in a database(This is used to manage downloads). If the database already has a request with the same id `request.getId()` or a request with the same url `request.getUrl()`, Fetch will reject the new request and you will get an error. As of version `2.0.0-RC19`, you can tell Fetch to replace an existing request without you having to manually remove them with `Fe

[2018-05-04 13:14] tonyofrancis commented on #141
@nowkin There is no way to get a list of fetch listeners. I am curious as to why you would want to get a list of the listeners? Maybe others my need this added.

[2018-05-06 00:33] tonyofrancis commented on #136
@RobbieArmz Just pushed the new version of Fetch 2.0.0-RC20 with the new Parallel/Chunk Downloader. Parallel/Chunk downloading **is not enabled by default**. The examples below shows you how you can enable chunk downloading.

**Example 1.** Passing the new ` Downloader.FileDownloaderType.PARALLEL` file downloader type in the OkHttpDownloader or HttpUrlConnectionDownloader constructor and adding th

[2018-05-07 10:47] #142 closed

[2018-05-07 10:47] #141 closed

[2018-05-07 16:50] RobbieArmz commented on #136
Hi, I tested with and without the new feature, sure as hell the speed its much better.
As a matterfact, it is 3x faster than usual, when I dont use it my speed is 150kb/s, with, it goes up to 600kb/s+

One question, I assume the chunks are split in 4 threads(hence the 4x faster speeds), is there any way to increase the amount of threads?

[2018-05-07 17:46] tonyofrancis commented on #136
@RobbieArmz Answer in my previous response in last example. Override `getFileSlicingCount` method for the custom downloader. The value returned by this method is the number of threads that will be used for the specified request. Sorry it was not so clear.

[2018-05-07 18:53] tonyofrancis commented on #136
@RobbieArmz
Create a customer downloader class that extends the existing okHttpDownloader class
[code]
Create instance of Fetch that uses the custom downloader
[code]

[2018-05-07 19:28] RobbieArmz commented on #136
Thanks Tonyo, now my app downloads at full speeds even tho the server limits it.
One question, since chunk downloading splits the file in several threads, lets assume I split a file into 20 slices, how many should I set on concurrent limit so it doesnt impact on the device performance.

Cause 20 slices = 20 threads, times lets say... 5 files = 100 threads? Or am I wrong?

[2018-05-07 21:56] tonyofrancis commented on #136
@RobbieArmz

Concurrent limit dictates how many requests that can be downloaded at a given time.

Here is Fetch’s thread count break down.

1. Fetch uses 1 thread to do all the main work. Such as scheduling, queuing requests etc.
2. Each request that is currently being downloaded spins up 1 initial thread. If Parallel downloading is enabled for the request, the total threads per downloading reques

[2018-05-08 09:36] MotherChickenCOL opened #143 "I need some help with multiple downloads"
Hi im so sorry, im hoping that you can help me with this, this is my first app and my first download system, im using your library because its pretty cool and  easy to use.

But im stuck in one part, i created a service wich processs my downloads, send a broadcast to another class to update my ui, and store  the content in a database that i use.

The problem is that when i put like 5 different dow

[2018-05-08 11:06] tonyofrancis commented on #143
@MotherChickenCOL Thanks for using Fetch.

I think your issue is the request. Right now it’s `final Request request = new Request(url, folder);` it needs to be `final Request request = new Request(url, folder + "/" + fileName);`

If that’s not your question can you please rephase it so I can better understand the issue.

[2018-05-08 12:31] MotherChickenCOL commented on #143
Thanks for answering i think i already solved my issue, my issue was that de FetchListener was duplicating rows on my database, i forgot to validate the next thing

 if(request.getId() == download.getId())

As your documentation says, sorry my bad, now im not having any issue, just a question, well actually two.

The first one is would you recommend to limit the downloads? and how much do you thin

[2018-05-08 13:43] tonyofrancis commented on #143
@MotherChickenCOL You what have to limit the downloads based on what your app users expect and what would be the best performance for your app. Apps like Netflix tends to queue all the downloads and process 3 to 5 downloads at a time. I would say that is an appropriate range.

[2018-05-08 21:06] RobbieArmz commented on #136
Alright Tonyo, I'll perform some testings, and see what configs goes best for me.
Thanks once again.

[2018-05-09 00:35] #136 closed

[2018-05-09 00:35] #137 closed

[2018-05-09 00:35] #143 closed

[2018-05-11 13:14] tobybonhof opened #144 "How to alter a download's group id ?"
Is there an api function to achieve this when you have access to the fetch object and/or downloadinfo object

[2018-05-11 17:02] the-kenneth opened #145 "Readme needs updating"
The methods below no longer exist. Can these be set per request anymore?

`request.setPriority(Priority.HIGH);
  request.setNetworkType(NetworkType.WIFI_ONLY);`

[2018-05-11 22:44] tonyofrancis commented on #145
@the-kenneth They are still available. Ensure that you are importing the proper classes.
[code]
[code]

[2018-05-11 23:01] tonyofrancis commented on #144
@tobybonhof You can go about this in 2 ways.
Example 1: Using the updateRequest method
[code]

Example 2: Remove the existing request from Fetch whiles not deleting the file, and then enqueue the new request. Fetch will continue downloading where the old request left off.
[code]

[2018-05-12 12:28] tonyofrancis commented on #136
@RobbieArmz Just pushed out version 2.0.0-RC21 with bug fixes for the parallel downloader.

[2018-05-12 13:15] #145 closed

[2018-05-12 21:46] tobybonhof commented on #144
Thanks for your answer! This is very useful.

[2018-05-12 21:46] #144 closed

[2018-05-13 15:32] chimzycash opened #146 "Logo Proposal"
Hello...

I came across your amazing project and i wanted to help contribute to your awesome project by using my logo Design Skills to help create a logo for your project...

I am already working on some ideas... i will update it here for you to give feedback and possibly any change or tweek you may want...

Regards.

[2018-05-13 16:15] chimzycash commented on #146
Hello...

Here is my design idea... please do let me know if you want any tweak or change in colour or design.
You can also share your own idea...

if you find this design good enough and you like it... please do let me know so i can send you all the files including the vector files for your use...

[2018-05-14 11:45] tonyofrancis commented on #146
@chimzycash This is awesome!! Thanks for the contribution. The design with the blue background and white text will surly catch everyone's eye. Great Work. Notable credit will be given for your work and contribution! :)

[2018-05-14 11:58] tonyofrancis commented on #146
@chimzycash would it also be possible to squeeze this linke somewhere on the big logo?

Simple, powerful, customizable file download manager library for Android.

[2018-05-15 21:55] chimzycash commented on #146
@tonyofrancis i'm really glad you like the design... ;)

do you want the words SIMPLE, POWERFUL, CUSTOMIZABLE FILE DOWNLOAD LIBRARY FOR ANDROID

to be included in the files?

[2018-05-15 22:10] chimzycash commented on #146
Like this?

![logo design_fetch_thumbnail 2](https://user-images.githubusercontent.com/37814297/40086170-1ec49c3a-5895-11e8-9a30-f439e36cf8d3.jpg)

[2018-05-16 11:44] mashahbazi opened #147 "multipart(multisession)"
is the fetch download in multipart or multi session just like internet download manager????

[2018-05-16 19:58] tonyofrancis commented on #147
@mashahbazi Fetch can download a request in multiparts and also download several request in parallel.

[2018-05-16 19:59] tonyofrancis commented on #146
Its missing the `Library` work in the statement but it looks great

[2018-05-17 05:12] mashahbazi commented on #147
I don't mean start several request , I mean it start a file in several part and at end of downloading all of parts start merging them to one file.

[2018-05-17 07:11] chimzycash commented on #146
@tonyofrancis i have added it...

is there any other thing you would want me to change so i can do it and get all the FILES READY for you to use

![logo design_fetch_thumbnail 2](https://user-images.githubusercontent.com/37814297/40161794-b99a008c-59a9-11e8-96d2-acd6ae610f16.jpg)

[2018-05-17 10:49] tonyofrancis commented on #147
@mashahbazi Yes its possible with Fetch using the Parallel Downloader. Fetch will automatically split the file in several multi parts and merge them all together when complete.

Examples below taken from this thread: https://github.com/tonyofrancis/Fetch/issues/136

Just pushed the new version of Fetch 2.0.0-RC21 with the new Parallel/Chunk Downloader. Parallel/Chunk downloading **is not enabled b

[2018-05-17 10:54] tonyofrancis commented on #146
@chimzycash This is perfect! At the bottom right you can add `created by: @chimzycash` to the files. I would like others to know that you created it when they see the logo instantly. This Project is open source others need to know your contributed. Thanks.

[2018-05-17 11:42] dhpanteon opened #148 "Blob URL Support"
Dose this download blob URL ?

[2018-05-17 20:41] chimzycash commented on #146
@tonyofrancis
I am really glad you like and accepted the design... and also glad to contribute to your amazing project...

i will prepare all the files including the vector files and upload for your use...

I appreciate the fact that you want me to be recognized as the logo creator :) ... but it wouldn't look great and work well on a logo...

I will get the files ready for your use...

[2018-05-18 00:55] chimzycash commented on #146
The files are ready for your use and merge

Here are the google drive files:
https://drive.google.com/drive/folders/1vn0qWqopQUwCF-WEwRNVTjwO4-7iqb3q?usp=sharing

[2018-05-18 06:51] MotherChickenCOL opened #149 "Downloads staying on queue"
Hi, first of all i want to thank you a lot!, this library is awesome, its perfect, and a lot of my users are happy now with the download system.

But there  is some users that are saying that the downloads are not working, they sent me screenshots and it  appears like the download doesnt start, it stays in queue for ever, but its weird because in my device it works perfect, and in 15k devices too,

[2018-05-18 15:42] tonyofrancis commented on #146
@chimzycash awesome! I will update the project. Thanks!

[2018-05-18 15:42] #146 closed

[2018-05-18 15:51] tonyofrancis commented on #149
@MotherChickenCOL Thanks for using Fetch. What version of Fetch is bundle with your application? The current release is 2.0.0-RC21. I suspect that the users may be trying to download the same request and Fetch may be rejecting it. Fetch now supports RequestOptions that will force an request to enqueue even if its already in Fetch. The previous request will be discarded.  This [thread](https://gith

[2018-05-19 05:44] DeevD opened #150 "Request Feature"
So powerful download manager library bro. Thank for this library .Please add  Custom Field for download object and notification for download status bro.

[2018-05-19 13:16] tonyofrancis commented on #150
@DeevD Thanks for using Fetch. The request and download object has a tag field that you can use to add custom data on a download. Example

[code]

As for notifications, I do not believe that Fetch should handle this. Being that notifications has to be custom to each application, it would be best for the application developer to provide the notifications. The Fetch Listener provides all the callbac

[2018-05-19 13:38] DeevD commented on #150
thank bro can you provide sample for notification in next release version  bro ?

[2018-05-19 14:15] tonyofrancis commented on #150
See my previous comment. Fetch will not be implementing notifications.

[2018-05-19 14:15] #150 closed

[2018-05-19 22:04] tosam144 opened #151 "Downloads completed not called"
I enqueue a number of files using

            mainFetch.enqueue(requestList, new Func<List<? extends Download>>() {
                @Override
                public void call(List<? extends Download> downloads) {

                }
            }, new Func<com.tonyodev.fetch2.Error>() {
                @Override
                public void call(com.tonyodev.fetch2.Error error) {

[2018-05-20 12:25] tonyofrancis commented on #151
@tosam144 the `getDownloadsWithStatus` method queries Fetch about the status of downloads at a given time. It is not continuously called.  What you must do is attach a Fetch Listener before enqueuing the downloads. Every time a download completes, the FetchListener's `onCompleted(download)` method is called.

[2018-05-20 13:19] tosam144 commented on #151
Thanks for the commment. Yes, I have added the Fetch Listener already. So if I have multiple files enqueued,  how do I know that ALL individual downloads have been completed? Do I have to check each individual file in the Listener to the ones enqueued, or how do I know that ALL files are downloaded?

[2018-05-20 18:25] Moeinh77 opened #152 "Delete Function not working"
Hey,i was using deleteAll() function for deleting all my downloaded files but it seams it doesn't delete them from storage it says that  Cleared Database Main.db but when i check the storage files are still there can you check this to see whats the problem?

[2018-05-21 11:16] tonyofrancis commented on #152
@Moeinh77 Just tested the deleteAll() method and all the requests and downloaded files were deleted off the devices. Make sure that M+ devices have accepted the read/write permission before deleting. Fetch is not able to delete files if the permission is not granted. If that's not the case. Where in your code are you calling the delete method?.

[2018-05-21 11:16] #147 closed

[2018-05-21 11:16] #148 closed

[2018-05-21 11:16] #149 closed

[2018-05-21 11:26] tonyofrancis commented on #151
@tosam144 This code should work for what you want to do.
[code]

[2018-05-21 20:21] tosam144 commented on #151
OK, thanks, that is exactly what I have done. It works! Thanks.

[2018-05-22 11:50] #151 closed

[2018-05-23 03:57] Moeinh77 commented on #152
This is my code
i make an ob ject from this class and ido my things with it but wheni call deleteAllFiles the deleteAll function doesnt do the job i wonder why

`
class download_controller(val activity: Activity) {

    var UriList=ArrayList<Uri>()

    private var RequestList=ArrayList<Request>()

    private val okHttpClient = OkHttpClient.Builder().build()

    private var GroupmainFetch:Fetch

[2018-05-23 06:46] tosam144 opened #153 "Download speed with multiple small files"
I am downloading a large number of small files (more than 1000 files of less than around 1 KB) from a server that requires authentication. It is very surprising that the download takes so long. If I zip all the files and download one zip, it is much faster. Why is downloading individual files so slow? I use this code:

    private static Fetch getFetch(Context context) {
        if (mFetch == null

[2018-05-23 15:34] DeevD opened #154 "question"
I would like to ask for fetch bro .It can download in background service ?

[2018-05-23 18:22] tonyofrancis commented on #152
@Moeinh77 the reason why the delete all method is not working is because of the `RequestOptions.AUTO_REMOVE_ON_COMPLETED` that is set. This option removes the request inside Fetch but does not delete the file. See the java docs. When `deleteAll()` method is called, the request is not found so the download cannot be deleted. You may want to try one of the other Enqueue RequestOptions.

[2018-05-24 02:42] DeevD commented on #154
thank you bro. It really help for me :D

[2018-05-24 09:06] Moeinh77 commented on #152
ah,understood
is there a way to be able to redownload files with same name but being able too delete them with fetch functions too?

[2018-05-24 10:12] #152 closed

[2018-05-24 10:12] #154 closed

[2018-05-24 15:34] tosam144 commented on #153
OK, thank you. I decided to use the zip file approach. Thanks!

[2018-05-24 18:30] #153 closed

[2018-05-31 07:20] duncanokeyo opened #155 "File slicing"
Lets assume that we have set slicing count to 5 for split download.. and the server does not support multithreaded download, will fetch fall back to downloading sequentially, or how do we handle this scenerio.

[2018-05-31 07:47] tonyofrancis commented on #155
@duncanokeyo Fetch will automatically handle this situation. Fetch first checks if the server responds with Http OK code or Http Partial code. If the server responds with OK then only a single connection is made egnoring the slice count and download will begin from the very start. If the PARTIAL code is returned, then Fetch will open connects totaling the slice count and continue to download where

[2018-05-31 07:51] duncanokeyo commented on #155
Thanks.... it works

[2018-05-31 07:53] duncanokeyo commented on #155
Another concern, is there a callback to show each block progress information, if am downloading using PARALLEL? just like the way IDM does?

[2018-05-31 08:04] tonyofrancis commented on #155
The parallel downloader only reports the progress as a whole not in blocks. Would you be able to give me a solid example for reporting each block progress?

[2018-05-31 08:06] duncanokeyo commented on #155
i thought it would be a nice feature to add

[2018-05-31 10:19] Mayur-007 opened #156 "fetch.close(); should be maintained in library, app crashing and have to write complex logic for maintaining it"
Your Sample App's Logic should be inside Library.

https://github.com/tonyofrancis/Fetch/blob/v2/sampleApp/src/main/java/com/tonyodev/fetchapp/App.java

[2018-05-31 14:31] tonyofrancis commented on #156
@Mayur-007 Can you explain in more detail?

The instance of Fetch that the App class returns is a global instance. It can be accessed in many different activities. The close check was put in place to ensure that if the instance was closed **accidentally** inside an activity. An activity should not be calling the close method on the instance because the instance does not technically belong to the a

[2018-05-31 14:35] tonyofrancis commented on #155
@duncanokeyo I have not come a cross a solid reason to add this feature that's why I asked. Each new feature adds a burden on the library and I want to ensure that features are not added to the library because they are nice to have but are needed.

[2018-05-31 14:50] Mayur-007 commented on #156
The purpose of using any 3rd party library is to make things simpler,
You are missing out on it.
Instead of making users writing so much code, you can make it easy.

[2018-05-31 19:00] MrVipinVijayan opened #157 "com.android.tools.r8.utils.AbortException"
When I add your library, it will trigger com.android.tools.r8.utils.AbortException when i am trying to run.

[2018-05-31 19:45] tonyofrancis commented on #156
@Mayur-007 you have not properly explained the pain points. or the crashes you are getting when using the library.

[2018-05-31 19:45] #155 closed

[2018-05-31 19:48] tonyofrancis commented on #157
@MrVipinVijayan it seems that adding the Fetch Library increases your apk size method count over the 64k limit. Do you have multidex enabled for your project? https://developer.android.com/studio/build/multidex

[2018-06-01 10:44] tonyofrancis commented on #156
@Mayur-007 Being that you are using the same Fetch namespace in multiple activities, you can create a global singleton of Fetch and access it in the different activities. You do not have to close the global instance of Fetch and downloads will also continue in the background.

[2018-06-01 11:48] Mayur-007 commented on #156
Take a look at Implementation of https://github.com/lingochamp/FileDownloader/wiki and see how small, easy to use & simple it is.

[2018-06-01 13:51] tonyofrancis commented on #156
@Mayur-007 I totally understand and I aim to make Fetch as simple as possible with the more feedback I get. Fetch is very different from FileDownloader because it provides a wide range customization for use cases that FileDownloader that does not support. For example Fetch allows you to provide your own output stream to save downloading files and do encryption and much more. I will be creating a w

[2018-06-04 06:46] dhpanteon commented on #148
Refer this link
https://superuser.com/questions/948738/what-is-the-blobhttp-prefix-and-where-can-i-learn-more-about-this

[2018-06-04 09:53] duncanokeyo opened #158 "Preallocate space"
does fetch preallocate space  before downloading a file, if not how does it handle situations where there is not enough enough disk space during download

[2018-06-04 10:37] Mayur-007 commented on #156
That sounds great,
I will ping If I get free from work and will see If I can help you in any way.
Thanks

[2018-06-04 11:32] tonyofrancis commented on #158
@duncanokeyo Fetch does not preallocate space before downloading. That would be slow and in efficient. Fetch will begin a download and if there is no more space available. The download stops, and its status is changed to `Failed` and the Error returned is `Error.NO_STORAGE_SPACE`.

Example:
[code]
Resume the failed download after space is made available
[code]

[2018-06-04 16:00] duncanokeyo opened #159 "more callbacks"
so far i like the library but i think you should add the following callbacks
1) when connecting to the server to fetch resource
2) when there is a drop in connection and we are in waiting state

[2018-06-05 01:58] tonyofrancis commented on #159
@duncanokeyo Can you give me a solid use case for adding these methods?.

[2018-06-05 01:58] #158 closed

[2018-06-05 06:51] duncanokeyo commented on #159
ok when am displaying these downloads in a listview , i want the user to know the state of each download in a more detailed way. for example, when there is no connectivity, the user should be able to know that the download is waiting for network...

[2018-06-05 20:12] tonyofrancis commented on #159
@duncanokeyo The FetchListener provides several callback methods to update the user interface when the state of a download changes. In terms of network connectivity, the Fetch library should not be the one alerting the user interface about network connection status. If `retryOnNetworkGain` is set on Fetch, currently downloading downloads `status` will be changed back to `Queued`, Fetch listeners a

[2018-06-05 20:21] tonyofrancis commented on #159
@duncanokeyo on second thought it maybe possible to do this with Fetch easily. Let me have a second look and I will update this post.

[2018-06-07 14:13] tonyofrancis commented on #156
Still doing some polishing. looks very promising.

[2018-06-07 14:13] tonyofrancis commented on #159
@duncanokeyo I was able to figure out a way. I will post back when the new version is released.

[2018-06-07 14:17] Mayur-007 commented on #156
Great, you can close if you want.
We can still discuss.

[2018-06-07 18:32] duncanokeyo commented on #159
thanks

[2018-06-07 20:31] tonyofrancis commented on #156
@Mayur-007 Just released Fetch version `2.1.0-RC1`. This release does have breaking changes so please view the README and CHANGELOG documents. This release simplifies Fetch's usage and addresses many of the library's pain points. This release also adds a new accompanying library. The FetchFileServer :) . Have been working on it for a while and happy to include it in this release. The sample app ha

[2018-06-07 20:31] #156 closed

[2018-06-07 20:50] #159 closed

[2018-06-08 08:17] duncanokeyo opened #160 "Split count"
Please enable the option of setting file split count on a request object and not Fetch instance... this way i will be able to set different split count variables for different requests

[2018-06-08 10:16] tonyofrancis commented on #160
@duncanokeyo Fetch supports both Parallel and Sequential downloading. Adding split count onto the request class will confuse users. The getFileSlicingCount method on the downloader does pass the request object. You can use this information to determine the splitting per request. You can extend HttpUrlConnectionDownloader or the OkHttpDownloader.

[2018-06-08 11:58] Mayur-007 commented on #156
Cool. Will check it out once I get free.

[2018-06-08 16:30] #160 closed

[2018-06-09 09:03] sn32247 opened #161 "OutOfMemoryError"
When a few videos are in the download queue,android Profiler in android studio shows 322.16 MB has been used and the app stops.
java.lang.OutOfMemoryError:Failed to allocate a 48 byte allocation with 3968 free bytes and 3KB until OOM.

[2018-06-09 12:56] tonyofrancis commented on #161
@sn32247 What version of Fetch are you using?. Can you replicate? Share logs?. What devices were you testing on?

[2018-06-10 11:49] duncanokeyo opened #162 "File changes"
how does fetch handle a situation where a file that is being downloaded is changed from the server side?

[2018-06-10 16:45] tonyofrancis commented on #162
@duncanokeyo what kind of changes? Can you give an example?

[2018-06-10 17:27] duncanokeyo commented on #162
Let’s say we a downloading a file  x which has 10mb, then let’s assume the same file on the server has been changed to 20mb.... how does fetch handle such a situation

[2018-06-10 22:46] tonyofrancis commented on #162
@duncanokeyo Fetch keeps track of how many bytes have been downloaded so far and it also checks the content length when connected to the server and will update. So if the content length is greater it will download the addition bytes. If the content length is less Fetch will assume that the download has been completed and mark it as complete. I will be looking at implementing ETags soon which will

[2018-06-11 09:24] mseleng opened #163 "appcompat dependency."
Hey,
are the `appcompat-v7` dependencies really necessary for this library? If not, could they be removed?

Thanks!

[2018-06-11 11:22] tonyofrancis commented on #163
@mseleng It was not needed. Removed in version 2.1.0-RC3. Thanks

[2018-06-11 11:22] #163 closed

[2018-06-11 11:23] #161 closed

[2018-06-11 23:15] #162 closed

[2018-06-12 07:35] mashahbazi opened #164 "file dosen't download completely when using pause and parallel download"
hi
when i use pause file doesn't download completely and for example in mp4 files it can't play. i think this play issue because I lose some part of my file for example my 100MB file download 99MB and complete. I found that this is because of I use the parallel in my custom downloader

[2018-06-12 10:44] tonyofrancis commented on #164
@mashahbazi can you share your custom downloader and a sample url I can test?.

[2018-06-13 11:37] mseleng opened #165 "Java compatibility."
Hi!

I decided to use this library within my company's Java project and I found out that although it (the library) uses exceptions as error handling mechanism, it is not Java-friendly at all. I already forked the repository and began adding `@Throws` annotation to the methods which throw a checked exception and I already changed 9 files.

However, I am afraid that I will not find every occurrence

[2018-06-13 14:16] tonyofrancis commented on #165
@mseleng Thanks for taking an interest in this. Fetch was developed using the Kotlin language and I tired to follow the Kotlin best practices as much as possible. With that said, I tried to also make the project as Java friendly as possible. The sample project demonstrates this.

My reason for not adding `@Throws` on the methods that throw an exception is because every time you would have to call

[2018-06-13 14:52] mseleng commented on #165
First of all, I totally understand this. Kotlin is my favorite language for a long time. I have never ever needed checked exceptions in my pure Kotlin prjects, so now I feel the pain everytime I write Java.

I can't think of any reasonable solution. Maybe annotating just methods that are the part of the public API and not care about their callers etc. In my Kotlin projects, I use [funKtionale](htt

[2018-06-14 07:06] vaibhav-droid opened #166 "tracking with multiple activities."
I want to implement it using service as I have multiple screens to download and can navigate through them while downloading and progress bar can show something like 1/2 file downloaded. A good example will be notiifcations UI like udemy app.

[2018-06-14 10:02] #164 closed

[2018-06-14 21:52] tonyofrancis commented on #166
@vaibhav-droid What you are trying to achieve is very possible with Fetch. However you will have to implement the service and notifications yourself.

[2018-06-15 21:56] #166 closed

[2018-06-18 11:16] Ziejer opened #167 "Response headers"
Hi,
I'm looking for the way to get response headers. In "Download" interface there is only:

 `/** The headers used by the downloader to send header information to`
  `   * the server about a request.*/`
  `  val headers: Map<String, String>`

but it contains only request headers. I need a way to get some from response.

Thanks for any response.

[2018-06-18 16:13] tonyofrancis commented on #167
@Ziejer If you are using a version of Fetch older than 2.1.0-RC6, its only possible to get the response headers if you are using the OKHttp downloader and adding an interceptor to the okhttp client.

If you are using Fetch version 2.1.0-RC6 just released, you have to create a custom HttpDownloader that extends from Downloader or one of it subclasses, and overriding the `onServerResponse(request: S

[2018-06-20 15:28] #167 closed

[2018-06-20 17:44] familqasimov opened #169 "Logo offer for Fetch File Downloader"
Hi sir. I'm graphics designer. I have studied your work. Your current logo is very good but I think a new simple logo will make you more visible. I would like to offer logo. I can give you all the formats of the design free. If you want I send you PR or a change please specify.

![untitled-1](https://user-images.githubusercontent.com/36432269/41675152-f91c7e76-74d2-11e8-85ae-3cdc857d172f.png)

Goo

[2018-06-23 13:00] sethchhim opened #170 "Do not replace existing file"
Current version `2.1.0-RC7`, issue after upgrading from `2.0.0-RC22`

I enqueue two of the exact same Request:
`D/FetchService: Request(url='omit', file='omit', id=-840885301, groupId=68352, headers={Authorization=Basic Og==}, priority=NORMAL, networkType=ALL, tag=68354)`

`D/FetchService: Request(url='omit', file='omit', id=-840885301, groupId=68352, headers={Authorization=Basic Og==}, priority=N

[2018-06-26 01:43] tonyofrancis commented on #169
@familqasimov I am happy with the current logo. Thanks for taking the time to present another.

[2018-06-26 01:43] #169 closed

[2018-06-26 11:59] tonyofrancis commented on #170
@sethchhim Released new Fetch version 2.1.0-RC9. Added new Enqueue Action option: EnqueueAction.DO_NOT_ENQUEUE_IF_EXISTING.  Fetch will call the error callback and pass the error: Error.REQUEST_WITH_FILE_PATH_ALREADY_EXIST.

You will have to set the EnqueueAction.DO_NOT_ENQUEUE_IF_EXISTING option on newly created requests. The default enqueue action for request is still EnqueueAction.REPLACE_EXITI

[2018-06-26 11:59] #170 closed

[2018-06-28 13:00] Ziejer opened #171 "Possibility to change URL after expiration"
I got something very similar to #26. But I cannot find this method `fetch.updateUrlForRequest` in Fetch2. Is it implemented?

[2018-06-28 16:15] tonyofrancis commented on #171
@Ziejer Looking into this. Will update you soon.

[2018-06-29 07:04] duncanokeyo opened #172 "Adjust queue size at runtime"
how can i adjust queue size at run time rather than setting this property when creating fetch instance?

[2018-06-29 10:18] duncanokeyo opened #173 "add option"
add option to add download and let the user download on demand, not enqueing where the download is downloaded automatically

[2018-06-29 13:38] tonyofrancis commented on #173
@duncanokeyo Sorry. I do not understand this request.

[2018-06-29 13:39] tonyofrancis commented on #172
@duncanokeyo Each time you would like to change the queue size, you will have to create a new instance of Fetch with the same namespace. That is the best solution.

[2018-06-29 13:39] #172 closed

[2018-06-29 13:50] duncanokeyo commented on #173
instead on enqueueing  the download so that it is downloaded automatically, let the download be added to the download list, so that the user can choose to download

[2018-06-29 14:33] tonyofrancis commented on #171
@Ziejer I have just pushed a new version of Fetch 2.1.0-RC10. Use the `fetch.updateRequest(oldRequestId, newRequest, callback, callback)` method to update an existing request.

[2018-06-29 14:33] #171 closed

[2018-06-29 16:44] tonyofrancis commented on #173
@duncanokeyo looking into this issue.

[2018-06-29 16:47] duncanokeyo commented on #173
yeah, for example in ADM we have two option when user inputs URL, first option is to start the download,
second is just to add the download in the download list,

[2018-06-30 13:57] tonyofrancis commented on #173
@duncanokeyo New version of Fetch released 2.1.0-RC11. This release adds a new boolean field on the Request class called downloadOnEnqueue. If true, Fetch will begin downloading the request when its turn arrives after being enqueued. If false, Fetch will only store the request in the database with a status of Status.None after being enqueued. The Fetch Listener onQueued method will still be called

[2018-06-30 14:07] duncanokeyo commented on #173
Thanks alot, but it would be more concise if we store this request in the database with a status of ADDED.

[2018-06-30 14:11] duncanokeyo opened #174 "progress report for each block"
Could we have download status for each block,
something like this

fun onProgressBlock(download:Download,blockIndex:Int,offset:Long,endBytes:Long)
so that we can debug each block progress...

[2018-06-30 16:11] tonyofrancis commented on #173
@duncanokeyo Agreed. Working on a revision update

[2018-07-01 05:53] duncanokeyo commented on #174
let me intergrate it, will give you a feedback

[2018-07-01 06:12] duncanokeyo opened #175 "Sending "HEAD" instead of "GET" for information retrieval."
its will be much efficient to send a Head request so as to retrieve information about a URL, for example the content length. when we send the HEAD request, we only get the headers not the body, so as such it is more efficient.
Some urls do not behave properly when we send two Get requests , one for retrieving information, the other one for retrieving response body, when such urls encounter the sec

[2018-07-01 06:33] duncanokeyo commented on #174
thanks alot, it works very well.

[2018-07-01 06:51] duncanokeyo commented on #174
Could the block info be persisted in the database, such that we can get the information about each block
for example . also
ArrayList<BlockInfo>blocks  = fetch.getBlockInfoList();

[2018-07-01 08:08] duncanokeyo opened #176 "Add option not to delete file"
i have noticed that when i delete a download , the downloaded file is also deleted..
Add option where the user will only choose to remove the download from the list but the downloaded file stays in the disk

[2018-07-01 10:19] #173 closed

[2018-07-01 10:20] tonyofrancis commented on #176
@duncanokeyo This option already exist. Call `fetch.remove(id)`

[2018-07-01 10:20] #176 closed

[2018-07-01 13:52] tonyofrancis commented on #174
@duncanokeyo New release version of Fetch 2.1.0-RC13 has a new method `fetch.getDownloadBlocks(downloadId: Int, func: Func<List<DownloadBlock>>)`

[2018-07-01 13:52] #174 closed

[2018-07-01 13:53] tonyofrancis commented on #175
@duncanokeyo New Fetch version 2.1.0-RC13 has these changes. The Parallel downloader should be more stable now. Would like your feedback.

[2018-07-01 13:57] duncanokeyo commented on #175
let me test and send feedback

[2018-07-01 18:49] duncanokeyo opened #177 "Redownload file"
Add the ability to redownload a file with COMPLETE status
so that we have something like

fetch.redownload(id);

[2018-07-01 20:04] tonyofrancis commented on #177
@duncanokeyo I do not understand your issue clearly. Fetch current behavior: If a file is already downloaded/has a status of `COMPLETE`, and you enqueue it again with `request.setEnqueueAction(EnqueueAction.REPLACE_EXISTING);`. The download will start again from the start. Note that is the default behavior.

[2018-07-01 20:22] duncanokeyo commented on #177
okay, thanks

[2018-07-02 09:38] emanzanoaxa commented on #167
But it can be useful to have the response headers saved on the Download object to have the content-type information tied to the download file. To know what type of file it is.
Overriding OkHttpDownloader lets you know that header but you have to manage the relation between the download request and the headers.

[2018-07-02 10:47] #177 closed

[2018-07-02 12:30] duncanokeyo opened #178 "Request not successfull"
Fetch throws request not successful error in this url,
https://medicitvod-vh.akamaihd.net/i/abr/4267/4267_full_en_20180628_RCM_MVengerovMasterclass_def_hd_,720,1030,1450,2110,3010,.mp4.csmil/segment2_4_av.ts?start=0&end=180

[2018-07-02 13:42] tonyofrancis commented on #178
@duncanokeyo I was able to download the file fine both with the Okhttp and httpurlConnection downloaders with Fetch. Both Parallel and Sequential mode worked. The file is 3.83MB in size.

[2018-07-03 00:35] #178 closed

[2018-07-03 16:18] duncanokeyo opened #179 "download butch , and display progress"
there are some videos which are split into various chunks and loaded.. these videos usually come with a meta file which shows all the urls that will be loaded. for example you can take a look at this m3u8 file

https://proxy-074.dc3.dailymotion.com/sec(x352c8abc0193ba0d774e7825b3c6260)/video/775/221/402122577_mp4_h264_aac_l2.m3u8

the file will contain several download links.
can you add the abili

[2018-07-04 11:09] tonyofrancis commented on #179
@duncanokeyo Solution:
1. Get all the urls from the meta file.
2. Create a request for each link with a different file name or use `EnququeAction.INCREMENT_FILE_NAME`
3. Set the same groupId for each request.
4. Enqueue the list of requests
5. In the attached Fetch Listener `onProgress` and `onComplete` methods check if the `download.groupId` match and update the UI progress accordingly.
6. After

[2018-07-04 15:34] #179 closed

[2018-07-05 07:41] duncanokeyo opened #180 "using fileprovider uri"
android added a file provider where we can pick directories, files etc.
Can you add the ability for fetch to download to the URI'(directory in this case)

[2018-07-05 15:20] tonyofrancis commented on #180
@duncanokeyo I am currently polish some of Fetch's Api's. I will update this post with more information soon.

[2018-07-08 18:59] him2016 opened #181 "App crashing when downloading a file from server"
Hi,
I'm new to this library and was testing it by integrating it into my app. But when I try downloading a file from server the app crashes with message in logcat:
Abort message: 'heap corruption detected by dlmalloc_real'

Please help.. thanks..

[2018-07-09 12:34] gitTroncoAgs opened #182 "Cancel timeout request"
When I try to cancel a known timeout downloading request.
All the other tries are queued but not notified in the listener untill the Timeout error succeded.

I think the problem could come from the "while". But in not sure

    override fun cancel(id: Int): Boolean {
        synchronized(lock) {
            throwExceptionIfClosed()
            return if (currentDownloadsMap.containsKey(id)) {

[2018-07-09 16:10] tonyofrancis commented on #181
@him2016 Can you provide sample code?. The environment you tested in??. More detail is needed to further assist.

[2018-07-09 16:16] tonyofrancis commented on #182
@gitTroncoAgs Can you post the FetchConfiguration.Builder code used to get an instance of Fetch?. That would be helpful. What is` fetchConfigurationBuilder.setDownloadConcurrentLimit(10)` limit set to?.

[2018-07-09 16:22] gitTroncoAgs commented on #182
As you can see in the gif. When i click in cancle the timeout file when it is downloading(queued)
The other interactions with the other files are not queued, until the timout error its fired

This is mi fecth configuration
val fetchConfiguration = FetchConfiguration.Builder(context)
                .enableLogging(false)
                .setProgressReportingInterval(PROGRESS_INTERVAL)

[2018-07-09 17:59] tonyofrancis commented on #182
@gitTroncoAgs Thanks. Looking into this

[2018-07-11 01:37] tonyofrancis commented on #180
@duncanokeyo Just released Fetch version 2.1.0-RC14. To provide your own download location/ outputStream for a request url, create a custom downloader class that extends the `HttpUrlConnectionDownloader` or `OkHttpDownloader` class. Then override the ` getRequestOutputResourceWrapper(request: Downloader.ServerRequest): OutputResourceWrapper?` method. The method allows you to provide Fetch a Wrappe

[2018-07-11 01:37] #181 closed

[2018-07-11 01:39] tonyofrancis commented on #182
@gitTroncoAgs Just released a new version of Fetch 2.1.0-RC14. Which has a fix for this issue. Please let me know if it works well for you.

[2018-07-11 07:42] zubairehman opened #183 "How to connect to remote URL which requires authentication"
Hi,

First of all thanks for such a great library for downloading.
I have been using this library and came across a scenario where i need to connect to remote URL which requires authentication but it seems there is no documentation that addresses my issue. Could you please suggest how to do it by using this library. Thanks :)

[2018-07-11 08:21] gitTroncoAgs commented on #182
It works!! Thanks very much!!

[2018-07-11 09:41] Karuhanga commented on #183
Since you can specify the downloader you would like to use, as per this, ([https://github.com/tonyofrancis/Fetch#downloaders](https://github.com/tonyofrancis/Fetch#downloaders)).
You could just add the authentication credentials to okhttp. I found a good question on stackoverflow for this. ([https://github.com/tonyofrancis/Fetch#downloaders](https://github.com/tonyofrancis/Fetch#downloaders))

[2018-07-11 13:51] cc-rock opened #184 "Missing callbacks for some operations"
Since all operations that fetch exposes perform some database writing, they are all offloaded to a background thread, but not all of them can be passed a callback to be notified that the operation has completed.
All fetch operations should accept an optional callback argument, a function to be called after the operation has completed.
Actually, most of fetch operation cannot be passed a callback,

[2018-07-11 14:30] tonyofrancis commented on #184
@cc-rock Thanks for using Fetch. The methods you mentioned should in fact always execute the intended operation **without fail**. Is there a case where this is not happening?.

[2018-07-11 15:11] cc-rock commented on #184
@tonyofrancis it's not about knowing whether the operation has failed or not, but rather knowing WHEN it has completed, in order to proceed with other operations that need the given operation to be completed first, to avoid potential timing conflicts.

[2018-07-12 01:47] tonyofrancis commented on #184
Looking into this. Will post back.

[2018-07-12 09:53] kaiv587hh opened #185 "progress return back?"
I try to listen file progress ,then I called
 mRxFetch.addListener(this);
but when I call
 mRxFetch.pause(downloadId);
for example :
the callback called
onProgress 30
pause !!!
 onProgress  60
onPaused 40

onResume 40

why onProgress 60 > onPause 40 , should onProgress called after pause called ? should the progress return back ? @dougkeen @jacobtabak @tonyofrancis

[2018-07-12 14:13] bryanollivie opened #186 "How I define GET metod request ????"
Some amazon links only accept GET request.

[2018-07-12 14:51] tonyofrancis commented on #186
@bryanollivie Fetch sends a get request. Can you explain your issue in detail? Also, you can provide Fetch a custom downloader. See the downloader section in the readme. https://github.com/tonyofrancis/Fetch

[2018-07-12 14:56] tonyofrancis commented on #185
@kaiv587hh Have you taken a look at the sample app?
1. Configure Fetch and add listeners.
2. Enqueue Download.
3. Check the `download.id` of the download returned in the FetchListener callbacks and update UI accordingly.

Please share sample code so we can better assist.

[2018-07-12 15:07] kaiv587hh commented on #185
here is my server code
`public class DownloadOpsStub extends IDownloadOps.Stub implements FetchListener {

    private RxFetch mRxFetch;
    private Context mContext;
    private final RemoteCallbackList<IDownloadListener> mDownloadListeners = new RemoteCallbackList<>();
    private final Map<Download,DownloadInfo> mCacheDownloadInfo = new WeakHashMap<>();

    public DownloadOpsStub(Context conte

[2018-07-12 15:16] kaiv587hh commented on #185
when I call pause(id)  ,I can still receive onProgress callback ,and when I resume ,it return back to previous progress , when I call pause/resume qickly as the code showing 2s period.

[2018-07-12 15:23] bryanollivie commented on #186
Hi @tonyofrancis,
Well... my setup is this. I need to make a download request to an amazon server, I have customized the downloader and made the request that it is fixed as HEAD, not as GET.
But the amazon server does not accept HEAD.
I saw that in your class"ParallelFileDownloaderImpl" this setting is fixed.
Metod run()
`val openingRequest = getRequestForDownload(initialDownload, HEAD_REQUEST_MET

[2018-07-12 15:31] tonyofrancis commented on #185
@kaiv587hh Can you share the log again with the downloadId???. I am testing on my end.

[2018-07-12 15:49] tonyofrancis commented on #186
@bryanollivie Ah I see the problem. ParallelFileDownloaderImpl uses the Head request for the initial check to see if the server supports Partial downloading and was suppose to help fix some other issues/performance. What I can do is add a method to Downloader that will check if head is supported for the url.

[2018-07-12 16:13] tonyofrancis commented on #185
Just finished doing some tests and was not able to replicate the issue in the current release. What version of Fetch are you using? Tested with latest is 2.1.0-RC14.
This was a known bug in older versions of Fetch.

[2018-07-12 16:30] bryanollivie commented on #186
Great @tonyofrancis. Thaks

[2018-07-12 19:44] tonyofrancis commented on #186
@bryanollivie Just pushed out a new version of Fetch 2.1.0-RC15. Please let me know if it works well for you. The downloader has a new method `fun getHeadRequestMethodSupported(request: ServerRequest): Boolean` which you can override and return false for urls pointing to a server not supporting the `HEAD` method.

[2018-07-13 00:52] kaiv587hh commented on #185
@tonyofrancis my dependency is 2.1.0-RC13 ,when I use the lib, it's the latest version

[2018-07-13 01:19] kaiv587hh commented on #185
@tonyofrancis  I still replicate the bug, can you share your demo code to me ?  in my end ,when called pause(id) , I still receive the progress, and I only download one file to ensure there is no other task . so  when do you call the onProgress ?  receive data ? or writeToFile ?   or write progress to db ? is the data source same of Download object onPause and onProgress called ? so sorry that I a

[2018-07-16 02:00] kaiv587hh commented on #185
The problem  still exists. hope  soon...

[2018-07-16 12:15] zubairehman opened #187 "Getting reference of last fragment in viewPager"
Hi,
Thanks for such a great library.
I have two pagers one is to show active downloads and one is to show completed ones. I am getting the same data on both of the fragments because reference.get()?.onQueued(download, waitingOnNetwork) is always giving me the reference of last fragment.

Please guide me how to solve the issue. Thanks :)

[2018-07-16 12:32] zubairehman commented on #187
Here is my code:
Fragment 1:
`public class QueueFragment extends BaseFragment implements ActionListener {

    //static variables
    private static final int STORAGE_PERMISSION_CODE = 200;
    private static final long UNKNOWN_REMAINING_TIME = -1;
    private static final long UNKNOWN_DOWNLOADED_BYTES_PER_SECOND = 0;
    private static final int GROUP_ID = "listGroup".hashCode();

    //UI variab

[2018-07-16 12:45] duncanokeyo commented on #187
In queuefragment onresume method, you are getting downloads in a particular group, but you are not specifying the kind of downloads you want (status,) so you might display downloads with status complete in query fragment.

[2018-07-16 12:49] zubairehman commented on #187
actually in queue fragment i need all statuses but in finished fragment i need only completed. but the problem is when im setting listener and using singleton fetch object, its sending call back to finished fragment with download object so i need to put check everywhere in this case
`                if(download.getStatus() == Status.COMPLETED)
`

is there any other way to do it?

[2018-07-16 19:34] tonyofrancis commented on #187
@zubairehman in `FinishedFragment`. You fetchListener listener is override all methods with the different status of the download. Use the `AbstractFetchListener` and only override the onComplete method.

[code]

Let us know if that helped.

[2018-07-16 19:34] #186 closed

[2018-07-16 19:36] tonyofrancis commented on #185
@kaiv587hh  Can you share a sample project. I have been unable to replicate this issue.

[2018-07-17 08:22] him2016 opened #188 "Not able to update download status flag in Realm DB"
@tonyofrancis I am maintaining the files that need to be downloaded in Realm DB. In the activity class, I have setup the fetch configuration and the listener. From my adapter class, I try to make a Request object and enqueue it. I am not getting a callback when media has been downloaded so that I can update my Realm DB.

Please help..

[2018-07-17 09:20] zubairehman commented on #187
thanks @tonyofrancis its working fine now :)

[2018-07-17 13:57] tonyofrancis commented on #188
@him2016 did you attach a FetchListener to the fetch instance and override the onComplete method?.
[code]
You can also have a fetch listener notify you of the status of all downloads when you attach a listener. Eg:
[code]

[2018-07-17 13:57] #187 closed

[2018-07-18 07:02] duncanokeyo opened #189 "okhttp retryOnConnectionFailure"
if i set this value to true, will it affect the way fetch behaves internally?

[2018-07-18 07:44] AminDeveloper opened #190 "Getting file size before starting download"
Hi
I'd like to ask is it possible to get download file size before starting to download?

[2018-07-18 10:47] #188 closed

[2018-07-18 10:47] tonyofrancis commented on #189
@duncanokeyo. It should not affect Fetch's behavior.

[2018-07-18 10:55] tonyofrancis commented on #190
@AminDeveloper. The file size is retrieved when Fetch starts downloading the request for the first time.

[2018-07-18 11:35] AminDeveloper commented on #190
It is right but I just want to show file size to the user before he decide to start download.
is there a special method like getDownloadInfo() for example for getting file info like file size without starting download?
or would you add it if not?
Thanks

[2018-07-18 13:33] tonyofrancis commented on #190
@AminDeveloper let me brain storm and see if there is a simple way of doing this in Fetch and will post back here soon.

[2018-07-18 14:06] kaiv587hh commented on #185
my test download path is http://7xawii.com1.z0.glb.clouddn.com/1490232809284f81c7e9c2a4647ce46aff59145fdd3fc.png

simply ,
1. call enque(download)
2. when got onProgress callback soon call pause(id) ,
3. then kill the app
4. start the app
5. getDownload
6. resume the downloadId
7. the download progress is return to 0

can you add some log when you write to your db ?

because  the progress of the o

[2018-07-18 14:08] kaiv587hh commented on #185
I use breakpoint but it works well,
I am considering if multithread problem ?

[2018-07-18 14:17] kaiv587hh commented on #185
do you have email or wechat ?
for more information to communicate ?

[2018-07-18 14:41] kaiv587hh commented on #185
@tonyofrancis ok,  because the lib is  using in my company's  project, so sorry to share the full code , but it's too urgent for me . So I have read your code today .
but for me , it's not a good idea to read all .I am not familiar than you.

It's probabilistic,  in my end  the probability is more than 50% ,just for small file .

Is it possible about writing file successful ,but db failed ?

I am

[2018-07-18 14:44] kaiv587hh commented on #185
by the way, the progress is wrong ,while the file has been successfully downloaded as the previous correct progress. I use adb to watch that.

[2018-07-18 15:37] tonyofrancis commented on #185
@kaiv587hh I was able to replicate the problem when Fetch uses the Sequential Downloader. The same issue was fixed on the Parallel Downloader a while back.

Working on a patch. In the mean time you can use the Parallel Downloader.
eg
[code]

[2018-07-18 15:52] kaiv587hh commented on #185
ok,thanks , so will the default downloader be fixed later?

--------------原始邮件--------------
发件人："Tonyo Francis "<notifications@github.com>;
发送时间：2018年7月18日(星期三) 晚上11:37
收件人："tonyofrancis/Fetch" <Fetch@noreply.github.com>;
抄送："kaiv587hh "<zhaokai@cvte.com>;"Mention "<mention@noreply.github.com>;
主题：Re: [tonyofrancis/Fetch] progress return back? (#185)
-----------------------------------

@kaiv587h

[2018-07-18 15:57] tonyofrancis commented on #185
hoping to get it fixed today or by tomorrow.

[2018-07-18 16:59] duncanokeyo opened #191 "New progress callback (started)"
fetch should include a callback that will notify us when a download in the queue is about to be processed. ie started(Download download);

[2018-07-18 17:03] tonyofrancis commented on #191
@duncanokeyo yup. Working on a new release and just noticed that there was no started callback. Going to implement one.

[2018-07-18 17:30] tonyofrancis commented on #190
@AminDeveloper I will be adding a new method to Fetch called `fun getContentLengthForRequest(request: Request, fromServer: Boolean, func: Func<Long>): Fetch`. Ill post back here soon.

[2018-07-19 07:40] zubairehman opened #192 "Option to control downloading speed"
Hi,
i have been using this library and its working really good but i want to control the downloading speed and assign a particular download speed to a file being downloading.

e.g. Suppose i have three files and i want to define:

1. File one = 30 KB/s
2. File two = 70 KB/s
3. File three = 100 KB/s

or can i do it globally for all the downloads because i dont want to reserve all my bandwidth for d

[2018-07-19 08:17] duncanokeyo opened #193 "provide custom implementation of the database"
i think fetch should be able to allow developers to provide custom implementation of the database.

[2018-07-19 08:31] duncanokeyo opened #194 "Support for chunk download"
Could fetch add support for chunk download..
for example i made a request to download a file and it returned the response below

Transfer-Encoding: chunked
Access-Control-Allow-Origin: https://render.githubusercontent.com
Content-Security-Policy: default-src 'none'; style-src 'unsafe-inline'; sandbox
Strict-Transport-Security: max-age=31536000
Vary: Authorization,Accept-Encoding
 X-Content-Type-Op

[2018-07-19 13:36] tonyofrancis commented on #193
@duncanokeyo if you need this level of customization. It may be best to fork the project.

[2018-07-19 13:36] #193 closed

[2018-07-19 13:49] tonyofrancis commented on #194
looking into this.

[2018-07-19 13:49] tonyofrancis commented on #192
@zubairehman let me know into this. Fetch at this moment does not support controlling download speeds. Working on the next release now and will post back.

[2018-07-19 16:31] duncanokeyo opened #195 "additional fields for the database"
could it be possible to include filename and file type in the database fields

[2018-07-19 17:22] tonyofrancis commented on #195
@duncanokeyo I can add those fields but the tag field does not work well for you?. What about setting custom json into the tag field. eg::

[code]
What if I add just a single field called `dataMap` . That is of type `HashMap<String, String`> . Then you can use it to store file information???

[2018-07-19 18:06] duncanokeyo commented on #195
yes, i think that would work

[2018-07-21 07:13] zubairehman opened #196 "setDownloadConcurrentLimit on FetchConfiguration doesn't work"
Hi,

I have been using fetch and trying to change `setDownloadConcurrentLimit` at runtime but it doesn't work. I have set `setDownloadConcurrentLimit = 3` and started 2 downloads, then i changed it to 1 but both files were downloading (one file should wait in a queue). Even i closed my application and next time i initialized FetchConfiguration with `setDownloadConcurrentLimit = 1` but both files a

[2018-07-21 09:04] duncanokeyo opened #197 "on progress called after onpause called"
am experiencing issues, where sometimes onProgressCallback is still called (only once) after i call onpause. usually, the expected behaviour is that when onpause is called, onprogress should not be called..

[2018-07-21 11:36] duncanokeyo commented on #196
i think fetch does not support runtime change of concurrentlimit, but possibly you could create a new fetch instance using the same namespace and set the new concurrent limit

[2018-07-21 12:06] tonyofrancis commented on #196
@zubairehman . I think I may have spotted a bug. Testing. Also as Duncanokeyo mention,
you can only set the concurrent limit when you create a new Fetch instance but you can have multiple instances of Fetch that has the same namespace open with different concurrent limits. Make sure you close Fetch instances when no longer needed.