[2019-03-30 19:35] tonyofrancis commented on #348
okay. Please let me know if it still does not work. Then maybe you can share your code via email and i can better help there. My email is on my profile page.

[2019-03-30 19:47] JumpLizard commented on #347
@tonyofrancis Wow, that's really impressive work. I'll check it now. Thanks so much!

[2019-03-30 20:03] chaosphinx commented on #347
Hi, this time I got `416 Requested range not satisfiable`. Maybe there's come conflicts with `client.setRequestProperty("Range", "")`?

[2019-03-30 22:38] tonyofrancis commented on #347
Dont worry about setting the range header. Fetch sets the default range for you. Thats how it supports resume.

[2019-03-31 10:05] JumpLizard commented on #347
But if the range isn't overrided, some files' size would be wrong. I've posted an issue before ([issue 320](https://github.com/tonyofrancis/Fetch/issues/320)). The link is expired. Here is a valid one: [test link](https://zee5vodnd.akamaized.net/hls/1080p/tvshows/ONAIR_SHOWS/Zee_Tv/October2018/03102018/Aap_Ke_Aa_Jane_Se_Ep181_03102018_hi.mp4/media-1/segment-0.ts?hdntl=exp=1554091891~acl=/*~data=hd

[2019-03-31 14:14] tonyofrancis commented on #348
@waqas117 The request id `request.getId()` is based on the url and file name.  If the file name changes the request id will always be different. In your sample code, the file name is generated with `System.currentTimeMillis()` appendend to it's name. This function will always return a different value. Hence the reason Fetch will generate a new requestId each time.

[2019-03-31 14:31] waqas117 commented on #348
I understand the underlying concept but i saved all previous request ids i just want to resume with that ids but it gives error. `System.currentTimeMillis() ` just created new file and it gives new request id but that same ids should resume but it didn't.

Take a look an example.

`System.currentTimeMillis().toString.plus(".mp4")` generates 123372847327.mp4 with request id 67543

but when i want t

[2019-03-31 15:00] tonyofrancis commented on #347
@JumpLizard @chaosphinx Let me know if this code helps and I will try bake it in the next release

[code]

[2019-03-31 15:52] tonyofrancis commented on #348
@waqas117 I had a look at the code you shared. Without the full picture there is not much I can help with.  Example Activity that works with resume after app is closed.
[code]

[2019-03-31 16:01] chaosphinx commented on #347
Hi, I changed the `if` statement to:

    if (acceptRanges) {
        client.setRequestProperty("Range", "")
    }

and it works for both the 302 link and different-size link.

Here's my full code (in Kotlin):

    override fun onPreClientExecute(@NotNull client: HttpURLConnection, @NotNull request: com.tonyodev.fetch2core.Downloader.ServerRequest): Void? {
        super.onPreClientExecute(client,

[2019-03-31 16:15] JumpLizard commented on #347
Hi, I changed the if statement to:

    if (acceptRanges) {
        client.setRequestProperty("Range", "")
    }

and it works for both the 302 link and different-size link.

Here's my full code (in Kotlin):

    override fun onPreClientExecute(@NotNull client: HttpURLConnection, @NotNull request: com.tonyodev.fetch2core.Downloader.ServerRequest): Void? {
        super.onPreClientExecute(client, r

[2019-04-01 13:34] ahar commented on #344
Hey @tonyofrancis ! Thank you for quick fixes :)
There is a problem with this one.
Still see com.tonyodev.fetch2.exception.FetchException: request_not_successful in logs and files in error status.

However, my solution to this was to check network with timeout, smth like 10 seconds, bcs, VPN connection is not stable, specifically, when you try to connect.

[2019-04-01 16:57] ahar commented on #179
Do you know if concurrent limit is per request or per group of requests?

[2019-04-01 19:15] ahar opened #349 "Lack of the methods to work with group downloads"
Hi @tonyofrancis !

I am aware of this issue: https://github.com/tonyofrancis/Fetch/issues/179

However, I found out that fetch doesn't have good api to work with group downloads.
1) There is **no retry method** for group. However, **resume/delete/remove are there**
2) Fully understand, that the minimal entity for fetch right now is Request/Download, but, for more convenient work experience, I bel

[2019-04-01 19:51] tonyofrancis commented on #179
@ahar concurrent limit is per Fetch instance. You can create as many Fetch instances as you would like. All you have to do is change the namespace on the FetchConfiguration builder. See the FetchConfiguration java docs.

[2019-04-01 19:52] tonyofrancis commented on #349
1. Noted. I will add the retry method that takes in a list in the next release.
2. As of Fetch 3.0.0, Fetch has lots of Group support via the FetchGroup class and  FetchGroupListener. Here is the changeLog for group support:
[code]
Sorry this information is not available in the readme. Way to much features to document there. At some point I will start a wiki.

4. Fetch is fully customizable and al

[2019-04-01 19:52] #346 closed

[2019-04-01 20:12] ahar commented on #349
@tonyofrancis nice!
Thank you for quick reply!

[2019-04-02 12:17] ibosong opened #350 "CPU cost heavily"
Thanks for sharing this nice library. I found the sample app costs heavily in cpu when downloading.

![image](https://user-images.githubusercontent.com/4411010/55401635-f6ba6c00-5583-11e9-88fd-536f06a492c4.png)

[2019-04-02 14:01] tonyofrancis commented on #350
@ibosong Thanks for using Fetch. I noticed that you are using the Parallel Downloader. The Parallel Downloader opens/creates the specified amount of connections(default I believe is 3-6) on different threads to download parts of the file in parallel resulting in a faster file download. This is per download. With that comes the cost of using more memory and cpu. So if you have 2 downloads going at

[2019-04-02 14:02] #348 closed

[2019-04-02 16:08] DennisVanAcker01 opened #351 "Difference between remove and cancel"
What is the difference between remove/cancel/delete of a download? I downloaded the sample and it's really not clear to me. It's not mentioned in the README either... Also, is there any way i can be notified when all downloads of a group are completed, or do i have to write code myself for that? Great library, a wiki would be awesome

[2019-04-02 18:31] gbirk opened #352 "hasActiveDownloads as Observable/Flowable"
Hello Tony.
There is any way I can use **hasActiveDownloads** as an Observable/Flowable?

I was debugging my app to fix an issue and I saw that **FetchHandlerImpl** throws an exception if the call is done on the main thread. (as mentioned by you here as well https://github.com/tonyofrancis/Fetch/issues/297)
`override fun hasActiveDownloads(): Boolean { if (Thread.currentThread() == Looper.getMainL

[2019-04-02 20:32] DennisVanAcker1 commented on #351
Nevermind i found it by searching in the code:

Remove:
-cancels download
-deletes the download from the database
-deletes tmp files

Delete:
-cancels download
-deletes the download from the database
-deletes tmp files
-deletes created/download file

Cancel:
-cancels the download
-adds the possibility to retry later

[2019-04-03 09:56] ababo commented on #137
Hi!

I'm facing the same problems:
1. I don't want Fetch to produce memory leaks remembering all my processed requests, since my Fetch-instance will last for a long time.
2. Sometimes I get `onCompleted` called when the target file is empty. Enqueuing a new request with the same url and filename leads to the same situation. But I can download the file easily using a browser or any other tool.

[2019-04-03 18:51] #351 closed

[2019-04-03 18:51] #349 closed

[2019-04-03 18:55] tonyofrancis commented on #352
@gbirk nice catch on the behavior. I will fix in the next release.` hasActiveDownloads(): Boolean` will be depricated soon. Use the new `RxFetch.hasActiveDownloads(includeAddedDownloads: Boolean): Convertible<Boolean>` method instead.

[2019-04-04 16:15] JumpLizard commented on #347
After some tests, I think it works pretty well. Thanks for your help!

[2019-04-04 16:15] #347 closed

[2019-04-05 10:18] thib-rdr opened #353 "Is there a way to have Fetch not create files as soon as downloads are enqueued ?"
Hi,

Love your lib, very powerful.

I'm using it to sync a large number of files between a client and a server. Each time a user hits the sync button, I get all my files urls from a db in my server, compare them to what I have on my device, and enqueue the missing files to fetch accordingly.

Problem, is that I didn't see that Fetch is creating empty 0b files on the device as soon as downloads are

[2019-04-05 19:09] gbirk commented on #352
Are you planning on having a `hasActiveDownloads` that doesn't complete the Observer after returning? Something that we can use to subscribe and keep listening for state updates?

[2019-04-07 11:20] jpvs0101 opened #354 "Any way to auto retry failed downloads?"
[code]

I often face "Download fail" even for direct links. Both when single as well as multiple downloads. When we manually resume download, it resumes. So is there any inbuilt options to automate retry?
Or any workaround?

[2019-04-08 13:58] tonyofrancis commented on #354
@jpvs0101 There is no build in option to retry a failed download. If a download fails then the idea behind it is it may fail again in a future. That is why there is no automatic retry for failed downloads in the library. A download can fail for so many reasons that the library cannot handle them all. That is why the errors are returned to the user of the library to handle.  Also an auto retry opti

[2019-04-08 13:58] #350 closed

[2019-04-08 13:59] tonyofrancis commented on #352
@gbirk I see what you are saying. Mhm let me look into this for the next release.

[2019-04-08 14:10] tonyofrancis commented on #353
@thib-rdr I have to have a look at the enqueue code again to give you better answer. But I do know that it is needed because of the different enqueue settings eg `EnqueueAction` and helping maintain better download status especially when there are several instance of Fetch running with the same namespace etc.

[2019-04-08 15:00] thib-rdr commented on #353
Ok, I get it. But IMO, this could be a setting, especially when using `EnqueueAction .UPDATE_ACCORDINGLY`... After looking at the code, I guess it could be feasible...

[2019-04-08 16:19] jpvs0101 commented on #354
Actually I solved it myself with simple trick.

1) Store retry count (mutable extras) inside download request.
2) When download failed -> if (count < 10) {count ++; retry;}
(Note: When user manually click resume button, then i reset count =0)

My code
[code]

That simple.
But you can make it more easy by add an built in variable to download request like below.

[code]

Actually you already gave us

[2019-04-08 19:28] tonyofrancis commented on #354
@jpvs0101 Let me look into this and I will follow up.

[2019-04-10 04:45] cepero91 opened #355 "No error receive on wifi disconect"
Hi developers sorry for my english, a got an issue. When start a download of a list of images and turn off wifi before downloads finish i am not receive notification of error via log or toast, i am using rxfetch with a class pretty similar to GameFilesActivity. Thanks for you help

[2019-04-10 13:57] tonyofrancis commented on #355
@cepero91 Fetch will not throw an error because an error did **not** occur. The wifi was just disconnected. Fetch will continue to download the files the next time the wifi is connected.

[2019-04-10 16:26] cepero91 commented on #355
Then I have a question, there is some way to notify the user when the connection is interrupted. I have put Log in each of the methods of the AbstractFetchListener interface and none are triggered when the connection is lost.

My idea is the following:
- start the download
- cause a connection error
- stop the progress and put the background in red
- Notify that the connection has fallen

Is that

[2019-04-11 13:43] DennisVanAcker1 opened #356 "Default EnqueueAction should be REPLACE_EXISTING but is UPDATE_ACCORDINGLY instead"
I did not define any enqueueaction anywhere in my project. When i dive into the Fetch code, my request somehow has the UPDATE_ACCORDINGLY enqueue action...

[2019-04-11 14:15] tonyofrancis commented on #356
@DennisVanAcker1 The default was Replace_Existing before. But after many complaints and confusion, it was replaced to Update_Accordinlgly. It is the best option and what many users expect.

[2019-04-11 15:06] cepero91 commented on #355
Hi again, this issue can be closed, i found a solution, set enableRetryOnNetworkGain to false, this trigger enError method, in my case thats what i want

[2019-04-12 15:25] jpvs0101 commented on #356
Update_Accordinlgly is more natural & best option!

[2019-04-12 15:38] DennisVanAcker1 commented on #356
I was confused because the comments in the EnqueueAction class say that the default is something else, so i thought i was a possible bug

[2019-04-12 15:44] DennisVanAcker1 opened #358 "Downloads are not starting while Fetch is queueing and adding DownloadInfo"
I need to download 1350 files. But while these files are queueing to be downloaded, the downloads do not start. Is there any way i can make the downloads start downloading while i'm queueing fetch requests? I'm probably going to need the awaitFinish() method and/or a JobScheduler. Any help/tips would be much appreciated

[2019-04-12 22:06] Awsom3D commented on #358
Don't know if it helps, but I'm using a parallel foreach to speed up the enqueue

[code]

[2019-04-15 08:50] DennisVanAcker1 commented on #358
i'll check it out. Thanks alot!

[2019-04-18 13:52] #355 closed

[2019-04-18 13:52] tonyofrancis commented on #356
@DennisVanAcker1 I will update the documentation

[2019-04-18 13:52] #356 closed

[2019-04-19 07:43] DennisVanAcker1 commented on #358
I created some kind of request dispatcher, it's seems to solve alot. But it would be nice if this was included in Fetch

[2019-04-20 23:06] midaslefkowitz opened #360 "SQLiteException when pass list with 1000+ elements to fun enqueue(requests: List<Request>)"
First off, I really like this library. Thank you very much for it.

I think that my issue is related to the one found here #277

[2019-04-22 08:13] khaleeljageer opened #361 "java.lang.IllegalArgumentException: byteCount < 0: -2"
I'm trying to download this file

always getting IllegalArgumentException. Don't know the reason. Using following code snippet. Same code working for other file url.

        val fetchConfiguration = FetchConfiguration.Builder(this)
                     .setDownloadConcurrentLimit(3)
                     .build()

        fetch = Fetch.getInstance(fetchConfiguration)

        val url = "https://ww

[2019-04-22 16:16] tonyofrancis commented on #360
@midaslefkowitz A fix for that issue was released in Fetch 2.3.1. Are you using Fetch 2.3.1 or greater? Are you still seeing this issue in later releases? Replicate on a physical device or emulator?.

[2019-04-22 16:29] tonyofrancis commented on #361
@khaleeljageer Just tested the link. For some reason the server response header is returning the content length of -2. That is incorrect. It should be greater than 0.
Response:
Accept-Ranges = bytes
Content-Range = bytes 0--2/-1
Conent-Length = -2

Something does not seem right with this response. You may want to contact the webserver administrator. Hope this helps.

[2019-04-22 18:01] tonyofrancis commented on #354
@jpvs0101 Reviewed your solution. The issue I see is that if this is implemented in the library, the library will retry the failed download right away still causing the starvation of downloads that were enqueued last. Whiles this is no issue for fetch handling a small amount of downloads. Imagine a batch of 1000 or more download each having to retry 10 times. It could be a while before other downl

[2019-04-22 18:16] tonyofrancis commented on #352
@gbirk Fetch version 3.0.4 has been released with a new method `fun addActiveDownloadsObserver(includeAddedDownloads: Boolean = false, fetchObserver: FetchObserver<Boolean>): Fetch` added to fetch. This uses a fetch observer for the update. The Fetch Observer is notified every 5 minutes by default. You can change this by setting the interval on the Fetch configuration. `fetchConfiguration.setHasAc

[2019-04-22 18:19] tonyofrancis commented on #353
@thib-rdr I had a look at your PR but It was not the best way to go about this. Just released Fetch version 3.0.4 that handles this correctly. All you have to do is set two options on your Fetch Configuration.
eg:
[code]
Let me know if this works well for you.

[2019-04-22 18:23] tonyofrancis commented on #358
@DennisVanAcker1 @Awsom3D new Fetch version 3.0.4 release with the fixes for this. Just remove your dispatcher code and enqueue requests normally. Please let me know if this works well for you.

[2019-04-22 18:27] thib-rdr commented on #353
Awesome ! Thanks very much for your help, that will work for me !

[2019-04-22 18:27] #353 closed

[2019-04-23 13:41] DennisVanAcker1 commented on #358
I'll check it out and will let you know. Thanks

[2019-04-23 13:59] jpvs0101 commented on #354
But I guess it is better to have an built-in option for retry. It is fundamental like pause / resume. Because the developer know these basics when it comes 1000 downloads. Auto retry provides better end user experience. That's important. Of course it depends on how we implement, so all the things.  I can say that my app is much better after I implement auto retry myself.

**I started a huge file d

[2019-04-23 14:01] jpvs0101 commented on #361
May we have error callback instead of crash exception?

[2019-04-23 18:38] midaslefkowitz commented on #360
Im using Fetch and RxFetch 3.0.3, this is the first time that I am using Fetch in a project. I am using it to download potentially thousands of files at a time and monitoring their download status. To do that my original plan was to enqueue a List of Requests, map the result to a list of download ids, then flatmapped to RxFetch.getDownloads. I was able to work around it by calling flatmapIterable

[2019-04-24 09:16] sealiasheq opened #362 "Can I download files one by one؟"
Can I download files one by one? For example when completed first download it get next download ... I don't need to get files simultaneously.
I see your project but can't find any sample for my problem.
Thank's

[2019-04-24 14:26] gbirk commented on #352
Thanks @tonyofrancis, I'll give it a try as soon as possible.

[2019-04-24 14:36] sealiasheq opened #363 "Use from your library in my Custom adapter?"
I have an adapter with my custom model like bellow:

[code]

But how can I use from your library in my adapter, you are using from:
`private final List<DownloadData> downloads = new ArrayList<>();`
But I am using from my model:
`private List<SubContentModel> subContentModels;`

How you are fill `downloads`?
What can I do?

[2019-04-24 15:59] #360 closed

[2019-04-24 16:01] tonyofrancis commented on #361
An error callback can be added.

[2019-04-24 16:07] tonyofrancis commented on #362
@sealiasheq Yes you can. Have a look at the sample app SingleDownloadActivity.

[2019-04-24 16:08] tonyofrancis commented on #363
@sealiasheq Have a look at the sample app DownloadListActivity. That should point you in the right direction.

[2019-04-24 18:35] JumpLizard opened #364 "Is there a way to just remove "Range" header?"
In issue #347 , I set the header `Range` to empty (`""`), but is there a way to just remove it? For this [link](https://youku.com-l-youku.com/20181208/2151_d49239e0/1000k/hls/4da8d792fd3000.ts), If set `Range` to empty, the download size will be 1 byte which is incorrect. In browser like Firefox and Chrome, when downloading files like these, there seems no `Range` header at all. Sorry to bother yo

[2019-04-24 19:13] tonyofrancis commented on #364
@JumpLizard let me look into this.

[2019-04-25 11:54] thib-rdr opened #365 "Untagged socket detected in strict mode"
Hey,

When enabling Strict mode in the app, I noticed several errors appearing in the logs :

        at android.os.StrictMode.onUntaggedSocket(StrictMode.java:2012)
        at com.android.server.NetworkManagementSocketTagger.tag(NetworkManagementSocketTagger.java:78)
        at libcore.io.BlockGuardOs.tagSocket(BlockGuardOs.java:47)
        at libcore.io.BlockGuardOs.socket(BlockGuardOs.java:310)

[2019-04-25 14:10] tonyofrancis commented on #365
@thib-rdr The issue is not specific with Fetch but is with okHttp. See [issue 3537](https://github.com/square/okhttp/issues/3537)

[2019-04-25 15:13] #358 closed

[2019-04-25 15:14] #352 closed

[2019-04-25 15:14] #362 closed

[2019-04-25 15:14] #363 closed

[2019-04-25 15:21] zeeshanzzz opened #366 "Unable to add window -- token android.os.BinderProxy@9dde70e is not valid; is your activity running?"
while enqueue in my code:
fetchConfiguration= new FetchConfiguration.Builder(getActivity())
                .setDownloadConcurrentLimit(3)
                .enableRetryOnNetworkGain(true).enableLogging(true)

                .build();

        fetch = Fetch.Impl.getInstance(fetchConfiguration);
       final List<Request> requests =new ArrayList<>();

        for(int i=0; i<modelList.size();i++){

[2019-04-25 15:30] tonyofrancis commented on #364
@JumpLizard What you can do is override the `onPreClientExecute` of the Downloader. You would have to create a custom downloader by extending OkHttpDownloader or HttpUrlConnectionDownloader and setting it on the FetchConfiguration `config.setHttpDownloader(new HttpUrlConnectionDownloader(Downloader.FileDownloaderType.PARALLEL))`.

The `onPreClientExecute` method does some setting up on the client

[2019-04-25 15:40] tonyofrancis commented on #361
@jpvs0101 Just looked into this some more. An error callback can be added but I does not make much sense. If a client connection is not successful in the `fun execute(request: Downloader.ServerRequest, interruptMonitor: InterruptMonitor): Downloader.Response? ` method the Parallel or Sequential downloader that is handling the download needs to know this so they stop and return control to the downl

[2019-04-25 15:42] tonyofrancis commented on #366
@zeeshanzzz This error has nothing to do with Fetch but with your activity. A google search should lead you in the right direction.

[2019-04-25 15:44] tonyofrancis commented on #354
@jpvs0101 great use case. Let me take a second look into this.

[2019-04-25 17:27] JumpLizard commented on #364
Hi, I've tested 3 links that I've mentioned in this and previous issues. They all worked. Thanks for your help, I'll keep testing.

[2019-04-25 23:28] #364 closed

[2019-04-26 19:02] #365 closed

[2019-04-26 19:02] #366 closed

[2019-04-26 19:12] tonyofrancis commented on #361
Just reviewed this some more and an error callback will not be added to the Downloader for the following reasons:
1. If an exception is thrown, then it is most likely an IO error that we cannot recover from and the download will need to be marked as having failed.

2. The downloader  already has a method called `fun onServerResponse(request: ServerRequest, response: Response)`. This method is call

[2019-04-26 19:12] #361 closed

[2019-04-26 20:32] tonyofrancis commented on #354
@jpvs0101 Just released Fetch version 3.0.5 with this new feature. Also released fetch version 3.0.6 and the androidx version 3.1.0. See change log and readme.

[2019-04-27 08:05] sealiasheq opened #367 "ERROR: Failed to resolve: androidx.tonyodev.xfetch2:xfetch2:3.1.0"
I am adding these:

[code]

And I tested:

[code]

but get me:

`ERROR: Failed to resolve: androidx.tonyodev.xfetch2:xfetch2:3.1.0`

Work with your library is hard!!!!! your support is very very weak.

[2019-04-27 15:08] tonyofrancis commented on #367
@sealiasheq there was a typo in the readme.  Updated it. Try this
[code]
Also in terms of support what kind of support do you feel is missing?. Does the sample app not help or have inform information to get you started with the library?

[2019-04-29 03:05] jpvs0101 commented on #354
Awesome, give me few days to test it...

[2019-05-01 11:43] #367 closed

[2019-05-01 17:42] sudovijay opened #368 "Encoding Issue With .TS Files"
Hey,
Firstly thanks for such a beautiful lib. just today tried downloading some encrypted hls segments, it seems to generate corrupt / invalid segment file which can't be decrypted with key
its more of AES encrypted stuff, non utf-8 characters.
While regular hls segment downloads works fine. can you please look into? if i try to download the same segment file with chrome or curl it works pretty fi

[2019-05-01 18:12] sudovijay commented on #368
You can test that by this command.

openssl aes-128-cbc -d -in part-1.ts -out decrypted_segment.ts -nosalt -iv 0 -K <replace this with key_hex>

[2019-05-03 14:38] tonyofrancis commented on #368
@sudovijay Are you using the Parallel or Sequential Downloader? What does your FetchConfiguration look like?

[2019-05-03 14:47] tonyofrancis commented on #354
1. Yeah will update the docs.
2. No. Global always takes priority if set. Just like the global network conditions.
3. If you call `request1.getAutoRetryMaxAttempts()` it will return 2. That is what was set on it. `fetchConfig.setAutoRetryMaxAttempts(6)` is global and its a different setting. The `download` object now has two fields. `autoRetryMaxAttempts` which will return the same as the request.

[2019-05-03 14:58] ahar opened #369 "Help Wanted"
Hi @tonyofrancis !

I am developing downloader using your library.
The main content to be downloaded is video files, including plain mp4 and ts files.
I want to have limit over the downloads count. At the same time I would like to have PARALLEL download type, and have a limit for download, let's say 3 files in the same time.

As far as I understand now, if I use PARALLEL type fetch concurrent limi

[2019-05-03 15:07] sudovijay commented on #368
I did tried with both actually, lemme paste my configuration

[code]

[2019-05-03 15:11] sudovijay commented on #368
tbh i was just working on this, it pretty weird actually the actual URL  is this one
[code]
some sort of header issue is there, like with regular chrome android browser or any other download manager it works pretty fine but with fetch it just break the file.

[2019-05-03 16:56] jpvs0101 commented on #354
Reset retry attempts is master piece!
Thank you very much!
Awesome work!

[2019-05-03 16:56] #354 closed

[2019-05-03 18:31] sudovijay commented on #368
Seems to be solved, more like range issue :) thanks anyway mate !

[2019-05-03 18:31] #368 closed

[2019-05-04 13:36] tonyofrancis commented on #369
@ahar Thanks for using Fetch. The `setDownloadConcurrentLimit(3)` method on the FetchConfiguration.Builder class is to control how many requests/downloads can be downloaded at the same time. So if the limit is 3 only 3 downloads can be downloaded at the same time.

When you select to use the Parallel downloader, what it does is it breaks the download into smaller parts and downloads these parts in

[2019-05-06 12:33] MahdiPishguy opened #370 "can be use on Flutter"
in flutter we dont have very good library like with this library and i'm trying to know how can i use this library on flutter or import on that

[2019-05-06 12:51] tonyofrancis commented on #370
@MahdiPishguy This library is build for Android. It uses components like Handler. In theory someone can folk the library and replace the android dependencies with java ones to make it a Java library which should work with flutter.

[2019-05-06 14:46] #369 closed

[2019-05-08 19:35] ahar commented on #369
Ok, thank you for info @tonyofrancis .

But this is not what I mean :) Sorry for the poor explanation.

I want to limit user downloads(i.e. files) in the same time. So, if I want to use parallel, I would need to create 3 instances of fetch, and spread files between them, something like queue. Is it normal for fetch? Do you have example for this?

[2019-05-08 19:37] ahar opened #372 "Adding big amount of ts files to download too slow"
If I download ts chunks, let's say file size is 1000 Mb, and each chunk is 10Mb. It will cause app to almost stop working. Is there another way to prevent this rather than using AsyncTask?

Thanks

[2019-05-09 13:46] tonyofrancis commented on #372
@ahar Fetch does the enqueuing on a background thread. The enqueue callbacks are called on the ui thread. Could it be your callback code is doing to much on the ui thread? Have you tried commenting out some code to pinpoint the exact location?.

[2019-05-12 14:37] yohane55 opened #373 "get Downloads, Status or any info by url or destination file?"
I cant access download info/status by url or destination file, in my project I have to download many files (>1000 * n)), different from time to time and it would be great if the library could provide to access download info easily so I don't have to keep track of ids with urls separately.

[2019-05-12 21:08] yohane55 commented on #373
Ok I got it ..... I thought the ids are returned from Fetch's database... but now I know the were generated from Request object.... thank you.

[2019-05-12 21:08] #373 closed

[2019-05-13 16:23] #372 closed

[2019-05-14 15:25] gbirk commented on #352
Hi @tonyofrancis. The feature is working as expected. I ended up implementing in a different way. I register the fetch observer to keep listening for changes, then I update my own PublishSubject<Boolean>. This subject can be used to subscribe with distinctUntilChanged() to receive events only when there is a change.

[2019-05-17 10:45] harshitwynk commented on #135
Hi @tonyofrancis
I have just come across this library for downloading music files.
But unfortunately, there is no `getRequestOutputStream()` method present in Downloader interface anymore.
Can you please help me to implement CipherOutputStream to encrypt files while downloading?

[2019-05-17 11:15] daniellAlgar opened #374 "Group id not found when deleting downloads"
Hi!

I'm struggling with an inconsistent behaviour using `groupId`.

Let's say I have

[code]

And I start a download in `Foo` by
[code]

I expect this to work, but it doesn't :). The `FetchHelper#cancel` function doesn't find the `groupId` (nor a `tag` if I would set it). The `groupId` is always `0` here, and the `tag = null`.

What am I doing wrong?

[2019-05-19 19:28] tonyofrancis commented on #374
@daniellAlgar. Tested the deleteGroup method and it works correctly.  I suspect it is your cancel method. Write it this way an test again.
[code]
Please let me know if this helps.

[2019-05-20 06:57] anshupatel25 opened #375 "issue in content length"
hello,
i am developing one application that have multiple file downloading functionality, and i am integrated fetch library for user can easily download large file even if user have slow network.

but issue is when i am downloading file CONTENT-LENGTH value return should be -1 i don't know whats the problem and that file i downloaded from browser also it work perfectly fine. but that library retur

[2019-05-20 13:27] tonyofrancis commented on #375
@anshupatel25 Does the file download fine with Fetch?. The library may return -1 for the content-length because that is what the server returned. It may simply just mean that the files length is not know(undetermined). Fetch is still able to download files even if the content length is not determined. Resume is not supported for if the server returns -1 for the content length. Hope this helps.

[2019-05-20 20:35] daniellAlgar commented on #374
@tonyofrancis Thanks for the response! (and library, of course!!).

I found my problem.. I had a few unit tests that used your library to download videos (the same video), and I would delete the video file from disk before each test. What I didn't understand was that Fetch doesn't care if I delete the file - it's internal cache will continue to say that it has downloaded given file.. Instead, I'm

[2019-05-20 20:48] daniellAlgar opened #376 "Add support for groupProgress"
Hi @tonyofrancis!

Maybe I'm missing something here but.. I can see that you have a `FetchGroupInfo#groupDownloadProgress()`, but I can't see that it is ever used. And I can't find how to access it?

I would expect there to be a `fetch.groupProgress(groupId: Int)`. Is this value/functionality possible to access somewhere?

Best regards,
Daniell Algar

[2019-05-20 20:49] daniellAlgar opened #377 "Add support for groupEta"
Hi @tonyofrancis!

I would expect there to be a `fetch.groupEta(groupId: Int)`. Is this value/functionality possible to access somewhere?

Best regards,
Daniell Algar

[2019-05-20 22:36] tonyofrancis commented on #374
Fetch has two removal methods. Delete which deletes the files and request/download from the database and the remove methods which just removes the request from the database but does not delete the file.  Fetch does check if the file exists. If the file does not exists the request/download status is set to error and the error field states why the error occurred.

I think what you are experiencing m

[2019-05-20 22:52] tonyofrancis commented on #376
@daniellAlgar
There are two ways to get group progress and group information. The first one is attaching a FetchGroupListener.
[code]
The other way is getting a FetchGroup and attaching observers to it.
[code]
Note: FetchGroup objects are live objects. If a change happens in the group, the FetchGroup object will always reflect this change without having to query it again. The attached observers wi

[2019-05-20 22:53] tonyofrancis commented on #377
Closing this ticket. Answered in [issue 376]https://github.com/tonyofrancis/Fetch/issues/376l)

[2019-05-20 22:54] #377 closed

[2019-05-21 06:05] daniellAlgar commented on #376
@tonyofrancis This is awesome. Thank you very much!

Just a follow up question: `AbstractFetchGroupListener ` weights in on queued (not started) downloads as well I guess? So if we download 10 objects, but limit the concurrency to 1, we will still get the full progress for all 10 objects?

Thanks again!

[2019-05-21 06:22] daniellAlgar commented on #374
Yeah I was playing around with `EnqueueAction` as well. Maybe I was doing something else wrong when I used that one but... It works now at least with what I wrote in my second answer here so I'll leave it like that for now :).

[2019-05-21 06:22] #374 closed

[2019-05-21 10:54] tonyofrancis commented on #376
@daniellAlgar Each of the group methods on the AbstractFetchGroupListener should return a Fetchgroup object. That Fetchgroup object will always have the updated group information/downloads. Say you insert 10 downloads to Fetch with concurrent limit 1. All downloads belong to the same group. The group information will show 1 being downloaded and the others with a status of queued. etc.

[2019-05-21 19:25] daniellAlgar commented on #376
@tonyofrancis Yes, great 👍 Although I can't seem to get a smooth progress/eta. I have `.setDownloadConcurrentLimit(100)`.. Doesn't help.. `fetchGroup.downloads.sumByDouble { it.etaInMilliSeconds.toDouble() }`, doesn't help.. Lots of files (images) get's 0 eta. And I use `fetchGroup.groupDownloadProgress`.

So instead I'm trying to make Fetch download my largest files first (videos), so that I get

[2019-05-22 08:37] daniellAlgar commented on #376
I ended up doing

[code]

[2019-05-22 11:00] daniellAlgar commented on #376
In your `FetchGroupInfo`, where you calculate

[code]

don't you want to calculate it on bytes instead? The above will always give a resolution of `downloads.size` as best, right?

I guess the underlying problem is that you don't know all the bytes, until you start all downloads? So the above might be the best default calculation. But would it make sense to have a "download all files" concept, whe

[2019-05-22 14:09] #375 closed

[2019-05-22 14:15] tonyofrancis commented on #376
@daniellAlgar The sever may return -1 for a download's contentLength. That will cause an inaccurate reporting for the downloads progress. Mhmmmm. What I may be able to do is check if all the downloads have a proper contentLength. If every thing checks out calculate the progress based on bytes if not default to the above code. What you think? May even fix that space issue whiles im at it. lol

[2019-05-23 19:37] daniellAlgar commented on #376
@tonyofrancis sounds like a plan! At least worth trying.

Though it sounds like this approach could cause the progress to go backwards, when jumping between how it's calculated? And that's a no no. So you'll have to add logic for locking it at the greatest so far (as minimum)? Unless one adds a Download to the group, then it may go back in progress once.

[2019-05-24 02:59] huongnv251291 opened #378 "download error by unexpected end of stream"
i'm got error when download file on samsung j2
java.net.ProtocolException: unexpected end of stream
before it stop down because error sometime throw log
 FileDownloader downloads slice FileSlice(id=1506190530, position=4, startBytes=63909978, endBytes=85213304, downloaded=18539174)
    java.net.ProtocolException: unexpected end of stream
        at okhttp3.internal.http1.Http1Codec$FixedLengthSour

[2019-05-24 06:19] fathimath-munisa opened #379 "Background Download"
How can I use this library to schedule a download using work manager along with other chained task(which should execute on success of download) in work manager

[2019-05-24 13:28] tonyofrancis commented on #376
@daniellAlgar valid points. mhmm I will keep this issue open for more brain storming. In the mean time it would be better to calculate group progress manually in your case.

[2019-05-24 13:29] tonyofrancis commented on #378
@huongnv251291 are you able to reproduce the error more than once.

[2019-05-24 13:40] tonyofrancis commented on #379
@fathimath-munisa Fetch creates and maintains its own thread and provide callbacks to return data. In order to work with work manager you would have to create an instance of Fetch and block the work manager thread until the download completes.
Example:
[code]
I am currently looking for a way to make this better.

[2019-05-27 16:01] #379 closed

[2019-05-27 16:01] #378 closed

[2019-05-28 03:16] jordyamc opened #380 "Downloads in rare cases get "buged" and auto complete right after enqueue"
Sometimes in rare cases when the request was already downloaded or failed the library gets confused and finish the download right after enqueue when another request in send, it creates an empty file but the file is never downloaded, i have to delete manually the database entry of that request to make the library download it normally

[2019-05-28 03:38] fathimath-munisa opened #381 "same namespace different activities"

[2019-05-28 03:38] #381 closed

[2019-05-28 11:38] yohane55 commented on #376
one additional thing is that when the group is empty (for some reason), it does crash throwing `ArithmeticException` and to prevent this I had to check the number of downloads before requesting group progress like this
`it.progress = if (fetchGroup.downloads.isNotEmpty()) fetchGroup.groupDownloadProgress else 0`
but for more cleaner code it would be great if this checking process is don in the Fet

[2019-05-28 11:49] yohane55 opened #382 "Crash at Fetch.Impl.getDefaultInstance();"
I was trying to initialize fetch default configuration in different thread and on main thread when trying to get default instance i some times get app crashes due race condition I think.

so just to avoid the app crashes it would be great to have default configuration which is an optimal for most case and used when none is provided by the user. This way it would be more crash free.

[code]

[2019-05-28 12:04] fathimath-munisa commented on #379
fetch.hasActiveDownloads(true) { result -> competedDownloads = result }
result returns false on pausing download.

[2019-05-28 12:35] yohane55 commented on #380
I think you can configure Fetch not to create empty files from FetchConfiguration.

[2019-05-28 14:11] tonyofrancis commented on #376
@yohane55 gonna look into this. Thanks for reporting.

[2019-05-28 14:17] tonyofrancis commented on #380
@jordyamc What you are experiencing is the Default EnqueueAction which is `UPDATE_ACCORDINGLY`. Each request can specify the an enqueueAction. See the EnqueueAction enum for more information.
[code]
EnqueueAction options
[code]

Hope this helps. Also @yohane55 solution will also help with the empty files created.

[2019-05-28 14:23] tonyofrancis commented on #382
@yohane55 The crash indicates that the global configuration is not set and rightfully so. The reason why this cannot be set initially by the library is because it requires a context to be passed in. The best practice is to always set the default configuration when the app starts in the Application class `onCreate` method.
Hope this helps.

[2019-05-28 18:17] yohane55 commented on #382
@tonyofrancis  Ok now I get it now. Thanks!

[2019-05-28 19:44] #382 closed

[2019-05-29 08:25] freehussain commented on #376
can you please send complete code to do group download progress, please

[2019-05-29 09:50] yohane55 opened #383 "FetchFileServer add a folder and its content"
is it possible to share folders and all contents using File server?

[2019-05-29 10:41] tonyofrancis commented on #383
@yohane55 Folders would have to be zipped before sending, or you can queue all of the folders files and send it that way.

[2019-05-29 10:42] tonyofrancis commented on #376
@freehussain have a look at the sample app. That should get you started in the right directly.

[2019-05-29 11:50] yohane55 commented on #383
@tonyofrancis ok I will try the second one. Thank you very much.

[2019-05-29 11:50] #383 closed

[2019-05-30 14:02] #380 closed

[2019-06-01 09:48] EbrahimSadeghi opened #384 "Download start from begin when use fetch.resume"
hi dear , when we want to resume a file, download start from begin

[2019-06-01 13:46] tonyofrancis commented on #384
@EbrahimSadeghi The reason maybe because the server you are downloading the file from does not support resume. If you try another link does it resume properly?

[2019-06-02 06:14] EbrahimSadeghi commented on #384
The server I'm currently using support resume, i test it with IDM , but with downloadManager the resume begin from start.

[2019-06-02 08:10] EbrahimSadeghi commented on #384
thanks @tonyofrancis , issue was from server

[2019-06-02 08:10] #384 closed

[2019-06-03 09:38] msarelo-intive opened #385 "Add support to getting content length for multiple requests."
Hi @tonyofrancis
I have case that I want to pull content length for multiple files. There is any chance to add support for it?
Eg.:
Fetch:
 ` fun getContentLengthForRequests(requests:List<Request>, fromServer: Boolean, func: Func<List<Pair<Id,Long>>>, func2: Func<Error>?): Fetch`
RxFetch:
`fun getContentLengthForRequests(requests:List<Request>, fromServer: Boolean): Convertible<List<Pair<Id,Long>>

[2019-06-03 14:28] freehussain commented on #376
hello,

@tonyofrancis  i have looked at simple app, there is no group download notification

[2019-06-03 14:39] tonyofrancis commented on #385
@msarelo-intive I think this can be added. Going on vacation this week. Once Im back ill look into this.

[2019-06-03 14:55] tonyofrancis commented on #376
@freehussain here is an example.
[code]

[2019-06-03 15:18] freehussain commented on #376
hello,

thank for quick response,

can you please provide use an example how to make it show on notification area with progress indicator?

thank you a-lot for your help

[2019-06-04 10:02] jpvs0101 opened #386 "Downloader.FileDownloaderType.PARALLEL doesn't support cloud locattion when using SAF"
[code]
Fetch 3.1.1 AndroidX version.

When I try to download any file to cloud locations using SAF (Storage Access Framework) such as Google Drive, Box, etc, fetch returns UNKNOWN_IO_ERROR. But it works when using `Downloader.FileDownloaderType.SEQUENTIAL`.

I guess that it is the limitation of `PARALLEL` mode. But it would be great if the library does like below...
[code]

or can you give us the

[2019-06-05 13:34] tonyofrancis commented on #376
@freehussain Please check out the FetchNotificationManager interface java documentation on how to create notifications for downloads.

[2019-06-05 13:43] tonyofrancis commented on #386
@jpvs0101 What you can do is override the `getRequestFileDownloaderType(request: ServerRequest, supportedFileDownloaderTypes: Set<Downloader.FileDownloaderType>): FileDownloaderType` method on the Downloader and only return the `FileDownloaderType.SEQUENTIAL` type in the set. The download manager will use that information to download the request. In that method you can do checks on the url etc. Ho

[2019-06-05 14:51] tom42530 opened #387 "issue android 4.4.2 ethernet detection"
Hi !

It seems to have an issue with connectivity  detection and android kitkat (4.4.2)

I'm testing on a device with ethernet/wifi

When i start app with only ethernet enabled, download not starting.But when i connect wifi downloads start after some seconds.

Thanks for your support

I'm available if you need more tail

[2019-06-05 15:44] tonyofrancis commented on #387
@tom42530 Are you able to try on a different kitkat devices? Are you only experiencing this issue on kitkat devices? What does you fetch configuration look like?

[2019-06-05 16:04] tom42530 commented on #387
Sorry but i just have one type of device for kitkat and ethernet/wireless.Maybe i can try with virtual device but i don't no if ethernet can be simulate.I wil check. For my fetch config :
` FetchConfiguration fetchConfiguration = new FetchConfiguration.Builder(ContentUpdateService.mApplication)
                .setDownloadConcurrentLimit(3)
                .enableLogging(true)
                .ena

[2019-06-05 16:11] tonyofrancis commented on #387
@tom42530 Your fetch configuration looks fine. It could just be that device. Try the simulator and let me know.

[2019-06-05 16:13] tom42530 commented on #387
i just check on an kitkat emulator. wifi and ethernet simply does not exist in settings panel. it seems not possible

[2019-06-07 09:29] jpvs0101 commented on #386
Sorry, when I did several test with different versions of android, both emulator & real device, most of the time google drive not working! In Box, sometimes works, sometimes not works! No clear logs to trace the issue. You can always reproduce this issue! I can't get it what is going on...

[2019-06-10 06:52] alirezaafkar commented on #387
Isn't it related to https://github.com/square/okhttp/issues/4481?

[2019-06-12 07:22] tom42530 commented on #387
sorry for the delay.perhaps. i need to do some test with local use of fetch. I mean not with gradle  implementation "androidx.tonyodev.fetch2:xfetch2:3.1.0" but with a clone of sources and integrate it  has module in my project but at the moment i have some issue to do that

[2019-06-12 11:50] tom42530 commented on #387
ok i come back with some info.
seeems the problem is related to NetworkInfoProvider.kt l.129 (context.isNetworkAvailable())
in function isNetworkAvailable ,manager.activeNetworkInfo return null when im connected with ethernet
so i tried to setInternetAccessUrlCheck in fetchconfiguration and then  in NetworkInfoProvider isNetworkAvailable use url open connection rather than context.isNetworkAvailab

[2019-06-12 12:02] tom42530 commented on #387
by modifying the function isNetworkAvailable with this return it seems working :
`return manager.allNetworkInfo.any { n -> n.isConnected }` (deprecated api 23)

[2019-06-12 13:45] jpvs0101 opened #388 "Storage full, fat32 4GB limit scenarios"
I am using uri (SAF) to save files.

1) FAT32 has 4GB limitation for a single file. When we download a 4.6GB file to FAT32 memory card, fetch creates 4GB file & starting download. When progress reaches 4GB, download failed with 'UNKNOWN_IO_ERROR'
2) Internal storage (Linux File System) of android device has 2GB free space. We start a 3GB file download. Fetch creates 2GB file & starts downloading.

[2019-06-12 16:12] maulik9898 opened #389 "Adjust FileSlicingCount runtime"
Is it possible to set FileSlicingCount at runtime..? I want the user to set FileSlicingCount for specific download. And also the ability to set different chunk no for different downloading.
Same feature for DownloadConcurrentLimit.  I want the user to set DownloadConcurrentLimit and also able to change DownloadConcurrentLimit at runtime.

[2019-06-12 17:11] maulik9898 opened #390 "Wrong filename for google drive download links"
When using google drive download link like this one

`https://doc-08-60-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/vrjqdumliftd7s3pnk79ihs435nc5i4g/1560355200000/12024208594662412395/*/1wgeEKZDdf1-zS0vD-2YGVpLPzQcw4q3y?e=download`

it doesn't recognise the correct file name.
for the above link, it detects file name as ` 1wgeEKZDdf1-zS0vD-2YGVpLPzQcw4q3y`
but what it

[2019-06-13 22:30] tonyofrancis commented on #387
@tom42530 I was able to pin point the network on main thread exception and will fix. also improved the isNetworkAvailable method. Will add to the next release

[2019-06-13 23:06] tonyofrancis commented on #388
@jpvs0101 looking into this.

[2019-06-13 23:12] tonyofrancis commented on #389
@maulik9898 You would have to create a custom downloader and override method `fun getFileSlicingCount(request: ServerRequest, contentLength: Long): Int?`. Then set the custom downloader on the fetch configuration.

[code]
Note custom FileSlicingCount only works for Parallel Downloaders. Hope this helps.

[2019-06-13 23:18] tonyofrancis commented on #390
@maulik9898 looking into this.

[2019-06-14 01:46] maulik9898 commented on #389
Ok, so is there any way i can customise this fileslicing option for each and every new download request

[2019-06-14 14:57] tonyofrancis commented on #389
@maulik9898 The `fileSlicingCount` method is called for each download request when started. So you are able to set the slice count for any download request.

[2019-06-14 14:59] tonyofrancis commented on #386
I will have a chance to give this a try over the weekend.

[2019-06-14 16:25] maulik9898 commented on #389
Ohh i get it now. Thank you for this awesome library

[2019-06-14 18:12] maulik9898 opened #391 "Download speed is -1"
I am getting download speed as -1 same for eta it is also -1
but for same link in fetch app demo i am getting correct speed why ..?

here is [gist](https://gist.github.com/maulik9898/5a5912f203bd3a81bc1b5d328bd1f44b) of my files

QueueFragment is where i show downloads
MainViewModel is shared ViewModel

[2019-06-15 05:52] #389 closed

[2019-06-16 07:10] maulik9898 opened #392 "Segmented file transfer - Feature Request"
It would be cool and very useful if this library support segmented file transfer. Which means downloading one file from multiple servers or urls.

[2019-06-17 12:05] deepakkumardk opened #393 "Download is not starting"
String imageFilePath = "";
        try {
            String root = Environment.getExternalStorageDirectory().toString();
            File myDir = new File(root + "/MyFolder/");
            if (!myDir.exists()) {
                myDir.mkdirs();
            }
            String name = title + "_" + new Date().getTime() + ".jpg";
            File imageFile = new File(myDir, name);
            imageFi

[2019-06-18 07:38] DHosseiny opened #394 "Database Plugin"
Fetch uses Room Database and we are using GreenDao Database in out app. This causes to two database connection to be open concurrently. How about a pluggable Database interface that the default implementation is with Room but clients can change it with their own implementations.
Thank you

[2019-06-18 08:41] deepakkumardk commented on #330
Hi, @tonyofrancis I have the same issue Fetch is working fine on the emulator but on the real device. Any idea what's the issue?

[2019-06-19 23:27] tonyofrancis commented on #394
@DHosseiny. This is already possible in Fetch. Extend the FetchDatabaseManager interface with your custom class and database and set an instance onto the FetchConfiguration.

[2019-06-19 23:29] tonyofrancis commented on #393
@deepakkumardk The Fetch onqueue method has 2 callbacks. Are any of them being called? Does the sample app work on your device?

[2019-06-19 23:52] tonyofrancis commented on #392
@maulik9898 Fetch partially supports this with the Parallel Downloader. You would have to create a custom Downloader by implementing the Downloader interface or extending OkHttpDownloader or HttpUrlConnectionDownload. Then you would override the `onExecute` method and provide you own custom network client. The `onExecute` method gets passed the server request. You can use the server request to pro

[2019-06-19 23:53] tonyofrancis commented on #391
@maulik9898 The server may not be returning the needed information to determine the eta and download speed. -1 mean it is undetermined. See the java documentation.

[2019-06-20 00:31] maulik9898 commented on #392
Ok thank . I will try this and get back to you

[2019-06-20 00:33] maulik9898 commented on #391
Oh i solve this. I was trying to get speed and eta from download object   from Listener

[2019-06-20 04:51] #391 closed

[2019-06-20 08:47] #390 closed

[2019-06-20 09:18] maulik9898 opened #395 "Performance issue"
I am using this library in one of my project. But there is a serious performance issue with this library.
To check is this library issue or another issue I compare the performance of this library with another library [Okdownloader](https://github.com/lingochamp/okdownload) and Android app [ADM downloader](https://play.google.com/store/apps/details?id=com.dv.adm&hl=en_IN).

Here is a common configu

[2019-06-20 09:20] maulik9898 commented on #395
The App I develop to perform this test https://github.com/maulik9898/PerformanceTest

[2019-06-20 09:28] maulik9898 commented on #395
Here is CPU profile image from android studio.
1) Ok downloader

![image](https://user-images.githubusercontent.com/21076623/59837865-99a4aa00-936b-11e9-8984-3545e79ffc53.png)

2) Fetch

![image](https://user-images.githubusercontent.com/21076623/59837900-ae813d80-936b-11e9-92e1-bc54fc44eff5.png)

I am no expert in this but this may be helpful to you.

[2019-06-20 13:46] tonyofrancis commented on #376
Fixed. Will be in next release.

[2019-06-20 13:46] #376 closed

[2019-06-20 13:48] #394 closed

[2019-06-20 15:27] tonyofrancis commented on #386
@jpvs0101 I was able to pin point the error. `java.io.FileNotFoundException: Unsupported mode: rw`. Changed ` context.contentResolver.openFileDescriptor(uri, "rw")` to ` context.contentResolver.openFileDescriptor(uri, "w")` and it worked. The ContentProvider documentation does not have the updated modes. I was able to successfully use the Parallel downloader. Look out for the next release.

[2019-06-21 03:10] tonyofrancis commented on #395
looking into this

[2019-06-21 03:17] jpvs0101 commented on #386
Awesome, you always rocks! Also please consider reducing permissions #284

[2019-06-21 08:19] maulik9898 commented on #395
This problem only present in PARALLEL mode

[2019-06-23 14:33] tonyofrancis commented on #388
fixed. will be in next release

[2019-06-23 14:58] tonyofrancis commented on #392
Added new segment(Int) field on Downloader.ServerRequest class in next release. This will better help with identifying which parts of the file a server request is being made for. This can be used to download parts of the file from different servers.

[2019-06-23 14:59] #393 closed

[2019-06-23 15:04] jpvs0101 commented on #388
Very cool, what is the new behaviour?

[2019-06-23 15:32] tonyofrancis commented on #385
@msarelo-intive this has been added to fetch. It will be in the next release.

[2019-06-23 15:55] tonyofrancis commented on #395
@maulik9898 Thanks for reporting in detail. Made it super simple to pin point the issue. It is fixed now. It will be in the next release.

[2019-06-23 16:25] tonyofrancis commented on #386
@jpvs0101 had a look at issue #284 again. My position still stands. The library depends on the network state permissions defined to get network change notifications. It is actually the ConnectivityManager that require these permissions not the library.

[2019-06-23 16:56] tonyofrancis commented on #385
@msarelo-intive  new version of fetch is now available with the new get content length method. see readme and changelog.

[2019-06-23 16:57] tonyofrancis commented on #386
@jpvs0101   new version of fetch is now available. See readme and changelog.

[2019-06-23 16:57] tonyofrancis commented on #387
@tom42530 new version of fetch is now available with fixes. See readme and changelog.

[2019-06-23 16:59] tonyofrancis commented on #388
@jpvs0101  new version of fetch is now available with this new feature. See readme and changelog.

On enqueue Fetch will try to pre allocate the file on local storage. If it fails an error is returned FILE_ALLOCATION_FAILED. This feature can be turned off in the fetch configuration. It is on by default.

[2019-06-23 17:00] tonyofrancis commented on #392
@maulik9898 a new version of fetch is now available. The Download.ServerRequest class now has a new field called segment that will return the file part that is being downloaded.

[2019-06-23 17:04] tonyofrancis commented on #395
@maulik9898 a new version of fetch is available with this fix. see the readme and changelog.

[2019-06-24 03:03] jpvs0101 commented on #386
I understand that it was tightly coupled, but it would be great if we can use only `android.permission.INTERNET` & all other permissions are optional. So we can add permissions only if we use a particular feature.  You can even set internet permission as optional when we use only local files.

For example, in my case, i don't check whether the connectivity is on or off, or user using wifi or not.

[2019-06-24 04:35] jpvs0101 commented on #388
Working! Thanks!

[2019-06-24 04:35] #388 closed

[2019-06-24 04:38] jpvs0101 commented on #386
Not working with Google Drive, but works with Box. I tried various platforms, sequential, parallel, preallocation. But none works with Google drive. It shows download complete, then upload complete, but the file in google drive shows 0 bytes. Logs are normal.

[2019-06-24 05:14] maulik9898 commented on #395
@tonyofrancis that's awesome man.

[2019-06-24 05:52] maulik9898 commented on #395
cpu usage of fetchActivity drop from 50% to 20%-25% that's amazing

[2019-06-24 05:52] #395 closed

[2019-06-24 06:37] tom42530 commented on #387
@tonyofrancis thanks for your feedback. i will test your changes

[2019-06-24 06:45] maulik9898 opened #396 "Google Drive files Size -1"
When I add google drive file for downloading fetch failed to get the size and also fetch download the file as SEQUENTIAL Download but google drive files support multipart downloading.

*Direct DL Link:* https://doc-14-60-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/0no78ht120jh68pn1u8r6c72utbablam/1561356000000/12024208594662412395/*/1bj3kEsBDdaVolTFanb3km8XlKHvDsfgC?e

[2019-06-24 06:47] maulik9898 commented on #392
I will look into it.

[2019-06-24 06:47] #392 closed

[2019-06-24 07:32] DHosseiny commented on #395
Hi! can u tell the version number?

[2019-06-24 11:55] ali-bagheri opened #397 "can not download 2 request with same url ,concurrent!?"
Hi,
if start 2 Request by same URL and same file path, one of them not response and not call listener!!

i use Fetch in a chat messenger , and may be 2 message have same image ,when start download images (concurrent) one of them downloaded but another not  response.

[2019-06-24 12:20] tonyofrancis commented on #395
@DHosseiny fixed in androidx version 3.1.2 latest. The bug has existed for a long time now. Glad @maulik9898 spotted it.

[2019-06-24 12:21] #385 closed

[2019-06-24 12:23] tonyofrancis commented on #386
If it works with box and local storage the issue is then with gDrive. You may want to look at the documentation.

[2019-06-24 12:24] #387 closed

[2019-06-24 12:27] tonyofrancis commented on #396
@maulik9898 when ever the server returns -1 for the content length the sequential downloader is used.

[2019-06-24 12:35] tonyofrancis commented on #397
@ali-bagheri Fetch cannot download 2 request to the same file path. It is unsafe to do so. The file path have to be unique for each request managed by Fetch. What you can do is replace the existing request or increment the file path. Here is how it is done:
[code]
See the other `EnqueueAction`'s  for more use cases.

[2019-06-24 14:17] jpvs0101 commented on #386
OK, it is weird, I close this issue for now, I will come back later!

[2019-06-24 14:17] #386 closed

[2019-06-24 15:26] maulik9898 commented on #396
oh, I see Google doesn't send `Content-Length` header while downloading the file.

I got a workaround for this,

if I send a request like this
[code]

I get response header as
[code]

and using `content-range: bytes 0-255/430141753` to find the size of the file which will be `430141753 bytes`

using the above solution I can show the user the size but not able to get fetch to download the file in P

[2019-06-24 15:37] tonyofrancis commented on #396
@maulik9898 I will have a look at this.

[2019-06-24 18:55] tonyofrancis commented on #396
@maulik9898 Thanks for reporting your finds. I was able to integrate getting the content length from the Content-Range header if the Content-Length header is not available. This fix will go into the next release. I am pushing for today or tomorrow.

[2019-06-24 19:44] tonyofrancis commented on #396
@maulik9898 new version of Fetch 3.0.9 and androidx 3.1.3 released with this fix.

[2019-06-25 02:21] maulik9898 commented on #396
it's still not working. Size shows as -1.
I was able to pinpoint the problem
[code]
the reason is above code is not case insensitive because google send header in small caps `content-range: bytes 0-255/430141753`

[2019-06-25 07:07] iramgarhia opened #398 "r u there i need help how to implement in web 2 view"
hello,
sir i need help i have project web 2 view app i want to implement download manager can u guide me

[2019-06-25 07:07] DHosseiny opened #399 "FetchDatabaseManager should work with Download not DownloadInfo"
I want to use greenDao to implement FetchDatabaseManager. but FetchDatabaseManager uses DownloadInfo and GreenDao does not let this line of code:
`greenDaoDownloadInfoDao.insert(downloadInfo)`

Must insert exact type not inherited type.
Is there a way to change FetchDatabaseManager signature to `FetchDatabaseManager<T : Download>` or `FetchDatabaseManager<T : DownloadInfo>`?

Note: GreenDaoDownloa

[2019-06-25 08:53] maulik9898 opened #400 "Download Complete notification Bugged"
When the download is completed and there are other downloads running then download complete notification get bugged. Notification is reappearing after dismissed.

here is video to understand clearly

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/21076623/60084034-68a1ec00-9754-11e9-9422-643e564917d8.gif)

[2019-06-25 09:05] iramgarhia commented on #400
bro can u provide me source code beacuse m facing error

[2019-06-25 10:12] maulik9898 commented on #400
@iramgarhia what type of eeror you are facing ..? Please elaborate

[2019-06-25 13:32] tonyofrancis commented on #396
Google never follow protocol do they. Ill fix soon

[2019-06-25 13:33] tonyofrancis commented on #398
@iramgarhia please have a look at the sample app. It will guide you in the right direction

[2019-06-25 13:38] tonyofrancis commented on #400
@iramgarhia please provide sample code or a better example.

[2019-06-25 13:40] tonyofrancis commented on #400
Are you using the default notification manager or a custom notification manager?

[2019-06-25 13:40] #397 closed

[2019-06-25 14:25] alex-berdnikov opened #401 "Fetch's getDownload() method often throws FetchException"
I faced an issue where during group download process Fetch.getDownload() method throws
FetchException in throwExceptionIfClosed(). I debugged the flow and never caught the moment when closed field in FetchImpl.kt becomes true.

[2019-06-25 14:32] alex-berdnikov commented on #401
Sorry, false alarm :)
P.S. Thank you for this great library

[2019-06-25 14:54] maulik9898 commented on #400
the default one

[2019-06-25 14:56] maulik9898 commented on #400
The default one
here is my configuration
[code]

[2019-06-25 15:13] alex-berdnikov commented on #401
@tonyofrancis  Not sure if I have to re-open it or not. The thing is that this behavior is not regular. I can often observe it but I don't have any certain steps to reproduce it to report. Have you ever observed something like this? Would really appreciate the answer.

[2019-06-25 17:48] tonyofrancis commented on #399
looking into this

[2019-06-25 18:23] alex-berdnikov commented on #401
So the thing is that FetchImpl.closed field randomly becomes true after few attempts to pause a download or a group of downloads.

[2019-06-25 22:35] tosam144 opened #402 "Using two fetch instances simulaneously"
In two different tabs in my app, I am using two instances of fetch to download files. When the user downlaods the file in tab 1 (which takes a while) and then switches to tab 2 in order to start the download of the file in tab 2 (while the download in tab 1 is still ongoing), the event onCompleted from fetchListener in tab 1 is called and contains the downloads of tab 2. It seems that the two inst

[2019-06-26 03:43] shuwenyouxi opened #403 "Bug: download complete return me an empty file"
1.download a file
2. delete the file in file system after download complete
3.download this file again

result: Fetch will return me an empty file and complete callback was invoked

[2019-06-26 04:33] maulik9898 commented on #402
U can use groupId to distinguish from which group this download belong.
here is small example

In Tab 1 fragment

[code]

In Tab 2 fragment

[code]

[2019-06-26 04:37] maulik9898 commented on #403
@shuwenyouxi  I am also facing this issue.
@tonyofrancis please look into this

[2019-06-26 14:20] tosam144 commented on #402
Thanks! So is it recommended to only have exactly **one single** instance of fetch and **one single** fetchListener throughout the entire application?

[2019-06-26 14:41] maulik9898 commented on #402
I think that depends on your application.  In my case, I have only one instance of fetch running in background service with a single listener and I use **LiveData** to post data to fragments

[2019-06-26 17:55] maulik9898 opened #404 "Get Average download complete speed"
How can i get Average download speed at which download is complete. It is for completed download to know at which average speed whole download is completed .

[2019-06-26 18:12] alex-berdnikov commented on #401
Ok, I've debugged it more carefully and I think I have to close this issue and open another one :)

[2019-06-26 18:12] #401 closed, assigned to nobody

[2019-06-26 18:23] alex-berdnikov opened #405 "getDownload() methods' callbacks very often aren't triggered until the end of downloading process."
I encountered a bug on attempt to get result from fetch.getDownload()  and all other related methods. Very often when I call getDownload() method during group downloading process it's callback method might be called only once or never called at all until the very end of the downloading.
So for instance we have a group download process in progress, while it's running I call getDownload(id, result -

[2019-06-26 20:19] alex-berdnikov commented on #405
I observe this behavior both in Fetch and FetchRx.

[2019-06-27 06:49] JakubNeukirch commented on #403
Same issue here

[2019-06-27 07:40] JakubNeukirch commented on #403
I done small investigation, the problem occurs when the file url and filename is the same with each download. Only first download happen, next request will be completed instantly with file size 0B. I guess this is something about storing ids somewhere - ids are generated by hashcode of url and filename, so if any of them doesnt change the id will be the same as requests before.

[2019-06-27 08:26] maulik9898 commented on #403
Yes mostly because fetch doesn't check file existance when we try to add download with same filename as previously completed download.
Fetch only check if any download with this filename present or not and if present it will just move new request to completed downloas as default behavior of UPDATE_ACCCORDINGLY enque action.

[2019-06-27 12:22] maulik9898 opened #406 "Update dowload url"
Is it possible to update the URL of the current downloading file?
Considering the situation where some link expires after some time so to update our download with a new fresh link. this will save internet data as the previously downloaded file will be reused instead of creating a new file and starting the download again.

[2019-06-27 16:17] #398 closed, assigned to nobody

[2019-06-27 17:06] tonyofrancis commented on #402
@tosam144  If you want two different instances of fetch and have them be separated you need to specify a namespace for each fetch instance.
[code]
Please have a look at the sample app!

[2019-06-27 17:10] tonyofrancis commented on #403
@maulik9898 is correct! What you need to do is set `enableFileExistChecks(true)` on the fetchConfiguration or use a different enqueue action. See `enableFileExistChecks(true)` documentation. EnableFileExistChecks is off by default.
[code]

[2019-06-27 17:14] tonyofrancis commented on #404
@maulik9898 There are many ways to get the average download speed.
1. From a listener attached to fetch.
2. From the `download.getDownloadedBytesPerSecond()` itself.

See the documentation.

[code]

[2019-06-27 18:02] tonyofrancis commented on #406
@maulik9898 You can go about this two different ways.
1. Use the `fetch.updateRequest` method. Wait till the fetch listener `onError` method  is called about the download failing due to url expiry. Then call updateRequest method. It will continue where the download left off.
[code]
2. The second option requires you to create an custom downloader.
[code]
You can also override the CustomDownloaders

[2019-06-27 18:06] tonyofrancis commented on #405
@alex-berdnikov Can you please share a sample code?

There should be no reason to call fetch.getDownload() method inside a listener callback. Attach a `FetchGroupListener` or `AbstractFetchGroupListener` which has group download listeners. Please let me know if this helps.

[2019-06-27 18:09] alex-berdnikov commented on #405
I don't call it in listener callbacks, no. I call it in my code, while group downloading is in progress.

[2019-06-27 18:13] alex-berdnikov commented on #405
Here's an example
<img width="607" alt="Screen Shot 2019-06-27 at 21 12 09" src="https://user-images.githubusercontent.com/2362513/60289957-4fe63180-9920-11e9-8763-f790e4c6d2f7.png">

If current download is not a group download, everything goes smooth, but if it's a series of downloads in a group going on, getDownload()'s result is delayed until downloading process is ended.

[2019-06-27 19:21] maulik9898 commented on #406
@tonyofrancis  ok i will look into it.
There is one more issue how can i change concurrent download limit of fetch at runtime like on user pref change .?

[2019-06-27 19:23] maulik9898 commented on #404
I was talking about overall download speed after download is completed.
Because after download is completed speed become -1 so instead of this i was hoping that i can get overall average speed of completed download

[2019-06-27 20:06] tonyofrancis commented on #406
@maulik9898  `fetch.setDownloadConcurrentLimit(999)`

[2019-06-27 20:19] tonyofrancis commented on #405
@alex-berdnikov Tested something this simple and I get a callback each time.
[code]
What does you fetch configuration look like?
Note that all callbacks are done on the main thread So if your progress reporting interval is set too low it may be blocking the results of the get download.

[2019-06-27 20:26] tonyofrancis commented on #404
@maulik9898 After a download completes, the `getDownloadedBytesPerSecond` field is set to -1 because it is no longer being downloaded. No point in the library saving this information. What you can do is keep a map of the returned getDownloadedBytesPerSecond and store that data somewhere for each download. After the download is done you can then calculate the average.

Fetch also has a class called

[2019-06-27 20:32] alex-berdnikov commented on #405
OkHttpClient client = new OkHttpClient.Builder()
                .writeTimeout(5, TimeUnit.MINUTES)
                .connectTimeout(5, TimeUnit.MINUTES)
                .readTimeout(5, TimeUnit.MINUTES)
                .retryOnConnectionFailure(true)
                .addInterceptor(new HttpLoggingInterceptor())
                .protocols(Arrays.asList(Protocol.HTTP_1_1))
                .addNetwor

[2019-06-27 21:39] iramgarhia commented on #398
@tonyofrancis how to fix this sir?
![Capture](https://user-images.githubusercontent.com/52193487/60302690-54dbbe80-98e9-11e9-88e5-8f4088d25f3e.PNG)

[2019-06-27 21:51] iramgarhia commented on #398
unable to debug app where is problem

[2019-06-27 22:59] tosam144 commented on #402
Thank you!

[2019-06-27 22:59] #402 closed, assigned to tonyofrancis

[2019-06-27 23:10] tonyofrancis commented on #405
@alex-berdnikov what is the value of `.REFRESH_DELAY`? any thing less than 2 seconds will cause slow ui performance.

[2019-06-28 00:51] alex-berdnikov commented on #405
It's 500 ms at the moment

[2019-06-28 01:00] maulik9898 commented on #406
@tonyofrancis for some reason using
[code]
stops all running download i have to restart all again

[2019-06-28 03:35] maulik9898 commented on #406
fetch.updateRequest  does not resume the download from the previous position it starts download from the beginning and also results of fetch.updateRequest  will be updated download with new id so there will be two downloads of the same filename and different id as fetch only cancel the old download and not remove it. it also causes notification bug as there will be two downloads one new and one ol

[2019-06-28 04:11] maulik9898 commented on #406
After some digging, I found that u delete old request from the database ( `fetchDatabaseManagerWrapper.delete(oldDownloadInfo)` ) but u do not update listener about removing a request that's why we see two notification as to the previous one never removed.

[code]

[2019-06-28 05:28] iramgarhia opened #407 "Unable to debug this app can u fix this"
unable to debug check and please tell me sultions sir?
![60302690-54dbbe80-98e9-11e9-88e5-8f4088d25f3e](https://user-images.githubusercontent.com/52193487/60323598-5b912280-9937-11e9-932a-b83b22faf5ae.png)

[2019-06-28 06:09] alvince commented on #403
But the checks fileExistChecksEnabled is true default, in the source code latest

[code]

@tonyofrancis

[2019-06-28 06:57] iramgarhia commented on #407
![60302690-54dbbe80-98e9-11e9-88e5-8f4088d25f3e](https://user-images.githubusercontent.com/52193487/60323552-3e5c5400-9937-11e9-935d-162436f5977b.png)

[2019-06-28 08:13] arifaizin opened #408 "How to hide notification when download complete"
[Question] I make many group download request.. so the notification really disturbing when download complete.. can i hide notification when download complete.. or just show one notification for all group request to show complete message.. and show retry if download  #failed? i have read the sample app but not find this

[2019-06-28 15:49] tonyofrancis commented on #403
@alvince You are correct!. That was my mistake. File checking is enabled by default. The issue is with the enqueue action. The default is update_accordingly. It should be set to a different option.

[2019-06-28 15:52] tonyofrancis commented on #405
@alex-berdnikov 500 ms is too low. Fetch will keep posting progress updates every 500 ms and causes other ui events to be super delayed. Its best to set it no lower than 2 seconds.

The reason why fetch allow for low progress reporting is because fetch can be used anywhere outside of an activity, such as a services etc.

[2019-06-28 16:01] tonyofrancis commented on #406
@maulik9898

1. `setDownloadConcurrentLimit(999)` performs the correct behavior by stopping all current download and restarting them after the concurrent limit is set. Fetch downloads request by priority so it makes sense to restart the downloads.
2. `updateRequest()` as the method names suggests it updates a request. Which means it has to delete the existing request before it sets the current one

[2019-06-28 16:03] tonyofrancis commented on #407
@iramgarhia We would need more context to help. Did you download the project from github? What branch are you working on. You should be able to build against the v3.0 or the v3.0-develop branch.

[2019-06-28 16:04] tonyofrancis commented on #408
@arifaizin I am currently working on fixes a few things with the fetch notification manager. Once I complete the updates I will let you know.

[2019-06-28 16:45] maulik9898 commented on #406
I was talking about the old request. as you first cancel old download then remove it from database and update database with the new request which has new id and it is not equal to the old one. So I think User should get notified that Old Download with download id xxx is changed to new download with download id yyy so that we can update UI accordingly.
What currently happens is that we get the prog

[2019-06-29 03:03] ghost opened #409 "ERROR: Failed to resolve: com.tonyodev.fetch2core:fetch2core:3.0.9"
When I try to implement com.tonyodev.fetch2:fetch2:3.0.9 I get that error.
Error does not occur with version 3.0.8

[2019-06-29 07:13] alvince commented on #403
I think it was effected by file checking, and fixed it. #410

Please check it @tonyofrancis

[2019-06-29 10:26] tonyofrancis commented on #409
looking into this

[2019-06-29 18:07] jpvs0101 opened #411 "download.getTotal() not working in 3.1.3"
Default fetch config.
Test url: https://www.apkmirror.com/wp-content/themes/APKMirror/download.php?id=730602
(Click download after load the page)

Fetch 3.1.3 => download.getTotal() retruns -1
Fetch 3.1.2 => download.getTotal() retruns 50.9MB which is correct

[2019-06-29 18:20] maulik9898 commented on #411
![1619221544](https://user-images.githubusercontent.com/21076623/60387979-8bbbfb00-9ac8-11e9-84fd-30f32a7615ed.png)

Working perfectly

Please share some code to better understand

[2019-06-29 18:37] jpvs0101 commented on #411
[code]

I fetch the file size (content-length) manually using okhttp (not using `fetch.getcContentLength()`) before start download. (For show to the user). Then start the download. I update the progress in recyclerview adapter (download.getTotal()).

[2019-06-30 02:16] maulik9898 commented on #411
You have to create Custom downloader class. Like this one
[code]

and then use it in fetch configuration

[code]

The issue you are facing will be fixed in next release as @tonyofrancis  already push commit https://github.com/tonyofrancis/Fetch/commit/136bf515548e34557d9389c8e285cb70f1a89773
related to this issue.

Follow this issue for more info https://github.com/tonyofrancis/Fetch/issues/396

[2019-06-30 04:11] iramgarhia commented on #407
M download latest verison

[2019-06-30 04:17] jpvs0101 commented on #411
I use 3.1.2 for now, because custom download manager is not needed for my purpose. @maulik9898  Thank you very much for your timely clarification.

[2019-06-30 12:40] tonyofrancis commented on #411
@jpvs0101 fixed in next release

[2019-06-30 12:41] tonyofrancis commented on #409
@munix this will be fixed in next release. will post back soon. Use 3.0.8 in the mean time

[2019-06-30 12:42] tonyofrancis commented on #406
@maulik9898 this fix will be in the next release

[2019-06-30 12:43] tonyofrancis commented on #403
@alvince  provided a fix. It will be pushed in the next release.

[2019-06-30 12:44] tonyofrancis commented on #400
@maulik9898 Working on a better notification manager. I will post back here soon.

[2019-06-30 12:45] tonyofrancis commented on #399
@DHosseiny an update for this is in the next release. Just polishing everything up and will post back here soon.

[2019-06-30 23:37] whyorean opened #413 "Feature Request : Add a method to get all groupIDs"
Hey there, thanks for the awesome library.

`Do we have a method to get a list of all queued/active groupIDs ?`

If not, would you please consider adding it ? If its not too much of a work.
Also if this can be achieved with current codebase, kindly let me know about the workarounds.

Thanks

[2019-07-02 09:48] shuwenyouxi commented on #403
@tonyofrancis May I known the time of next release

[2019-07-04 21:13] darkdoctor opened #415 "Error using on Androidx"
Duplicate class org.intellij.lang.annotations.Flow found in modules annotations-13.0.jar (org.jetbrains:annotations:13.0) and annotations-java5-17.0.0.jar (org.jetbrains:annotations-java5:17.0.0)
Duplicate class org.intellij.lang.annotations.Identifier found in modules annotations-13.0.jar (org.jetbrains:annotations:13.0) and annotations-java5-17.0.0.jar (org.jetbrains:annotations-java5:17.0.0)
Du

[2019-07-06 13:48] darkdoctor commented on #415
Hi, does any one help's on this Repo?`

I really want to use this lib but I get the above build error, any help would be very appreciated.

gradle.properties
android.enableJetifier=true
android.useAndroidX=true
org.gradle.jvmargs=-Xmx1536m

[2019-07-06 19:55] #405 closed, assigned to tonyofrancis

[2019-07-07 11:13] nthtrung09it commented on #415
Hi @darkdoctor, I'm using AndroidX and this library works for me on both Android Studio 3.4.1 and Android Studio 3.5 beta 5.

[2019-07-07 11:26] nthtrung09it opened #416 "[Feature request] Query download(s) by tag"
Hey, thanks for the awesome library.
Currently I'm using tag to determine the download/request. (Because Download id is type of **Int**, but in my case we are using **String** for primary key, that is why I'm using tag).
So I need a method/fun to query download(s) by tag.

How about if we make Download **id** and **group_id** are type of **String** instead of **Int**?

Thanks

[2019-07-07 15:26] tonyofrancis commented on #416
@nthtrung09it What we can do is add a method to get the downloads by tag.
`fetch.getDownloadsByTag(tag, callback)`.

[2019-07-07 16:49] #407 closed, assigned to iramgarhia

[2019-07-07 16:51] #404 closed, assigned to tonyofrancis

[2019-07-07 17:39] #403 closed, assigned to tonyofrancis

[2019-07-07 17:44] tonyofrancis commented on #396
@maulik9898  This issue is now fixed in new Fetch version 3.0.10/Androidx 3.1.4

[2019-07-07 17:45] tonyofrancis commented on #399
@DHosseiny   This issue is now fixed in new Fetch version 3.0.10/Androidx 3.1.4. See change log. FetchDatabaseManager has been updated to allow you better customization. Please let me know how well it works for you.

[2019-07-07 17:46] tonyofrancis commented on #400
@maulik9898  This issue is now fixed in new Fetch version 3.0.10/Androidx 3.1.4 . Note: Updates have been make to the default notification manger class. Please see changelog and sample app DownloadsListAcivity for an example.

[2019-07-07 17:46] tonyofrancis commented on #406
@maulik9898  This issue is now fixed in new Fetch version 3.0.10/Androidx 3.1.4. The FetchListener onDelete method is now called first when updating a request.

[2019-07-07 17:48] maulik9898 commented on #396
Thx for the update

[2019-07-07 17:49] tonyofrancis commented on #408
This issue is now fixed in new Fetch version 3.0.10/Androidx 3.1.4. If you need more customization. You can try this code.
[code]
Note the `shouldCancelNotification` method.

[2019-07-07 17:50] tonyofrancis commented on #409
@munix This issue is now fixed in new Fetch version 3.0.10/Androidx 3.1.4.

[2019-07-07 17:51] tonyofrancis commented on #411
@jpvs0101 This issue is now fixed in new Fetch version 3.0.10/Androidx 3.1.4.

[2019-07-07 17:52] tonyofrancis commented on #413
@whyorean  This issue is now fixed in new Fetch version 3.0.10/Androidx 3.1.4.
[code]

[2019-07-07 17:52] tonyofrancis commented on #415
@darkdoctor  This issue is now fixed in new Fetch version 3.0.10/Androidx 3.1.4.

[2019-07-07 17:54] tonyofrancis commented on #416
@nthtrung09it This issue is now fixed in new Fetch version 3.0.10/Androidx 3.1.4.
[code]

[2019-07-07 19:50] viskum opened #418 "error in pie"
when i am implementing this api in pie android version it is showing me error like this

java.lang.NoSuchMethodError: No direct method <init>(ILjava/lang/String;Ljava/util/Map;Ljava/lang/String;Landroid/net/Uri;Ljava/lang/String;JLjava/lang/String;Lcom/tonyodev/fetch2core/Extras;ZLjava/lang/String;)V in class Lcom/tonyodev/fetch2core/Downloader$ServerRequest; or its super classes (declaration of '

[2019-07-07 22:52] tonyofrancis commented on #418
@ clean your project and make sure you are using the latest version of Fetch.

[2019-07-08 04:26] maulik9898 commented on #396
@tonyofrancis  works perfectly

[2019-07-08 04:26] #396 closed

[2019-07-08 04:27] maulik9898 commented on #400
@tonyofrancis  now working correctly

[2019-07-08 04:27] #400 closed, assigned to tonyofrancis

[2019-07-08 06:00] DHosseiny commented on #399
Thank you. I will check it.

[2019-07-08 08:40] viskum commented on #418
I have tried but it is saying error io exeption

[2019-07-08 08:41] viskum commented on #418
![Screenshot_20190708-140930_Download Manager](https://user-images.githubusercontent.com/37956793/60795958-3946a280-a18a-11e9-953b-0781f2c95f93.jpg)

[2019-07-08 10:06] nthtrung09it commented on #416
Thanks @tonyofrancis, I've just checked and it works as expected.

[2019-07-08 10:06] #416 closed, assigned to tonyofrancis

[2019-07-08 18:49] whyorean commented on #413
Perfect ! Thanks

[2019-07-08 18:49] #413 closed, assigned to tonyofrancis

[2019-07-09 01:15] jpvs0101 commented on #284
@tonyofrancis
Read this XDA article https://www.xda-developers.com/android-permissions-bypass-play-store-apps/

Users will definitely scare of ACCESS_NETWORK_STATE & ACCESS_WIFI_STATE.

Consider to give option to remove those permissions as soon as possible. It is getting late. They are come close.

[2019-07-09 08:13] ghost commented on #409
Thanks!

[2019-07-09 08:13] #409 closed, assigned to tonyofrancis

[2019-07-09 13:50] tonyofrancis commented on #418
@viskum If you use breakpoints during debugging you can actually see the true error message.
`download.getError().getThrowable()`

[2019-07-09 13:51] #415 closed, assigned to tonyofrancis

[2019-07-09 13:51] #411 closed, assigned to tonyofrancis

[2019-07-09 19:57] xeinebiu commented on #415
Thank you for your quick response. :)

Very appreciated.

[2019-07-10 14:53] viskum commented on #418
Can you have a look on this code as you have mentioned above i have not used break points in anywhere..........

import android.Manifest;
import android.content.Intent;
import android.content.pm.PackageManager;
import android.net.Uri;
import android.os.Build;
import android.os.Bundle;
import android.os.Environment;
import android.support.annotation.NonNull;
import android.support.v4.app.Notificati

[2019-07-11 00:29] #408 closed, assigned to tonyofrancis

[2019-07-11 00:29] #406 closed, assigned to tonyofrancis

[2019-07-11 00:29] #399 closed, assigned to DHosseiny

[2019-07-11 00:32] tonyofrancis commented on #418
@viskum Have you check the logs to see what error your are getting? The on error `onError` method of the Fetch listener will return the exact error `throwable`. What error are you getting?. Does it work on another device????

[2019-07-11 04:57] viskum commented on #418
I have tested in a marshmallow device it was working fine

[2019-07-11 04:58] viskum commented on #418
i am getting this type of error

2019-07-10 21:56:41.973 17448-17448/com.aspsine.multithreaddownload.demo D/DownloadListActivity: java.net.UnknownServiceException: CLEARTEXT communication to speedtest.ftp.otenet.gr not permitted by network security policy
        at okhttp3.internal.connection.RealConnection.connect(RealConnection.java:148)
        at okhttp3.internal.connection.StreamAllocation.f

[2019-07-11 04:59] viskum commented on #418
the main thing I've got is

2019-07-10 21:56:42.077 17448-17448/com.aspsine.multithreaddownload.demo D/DownloadListActivity: java.net.UnknownHostException: Unable to resolve host "www.exampletonyotest": No address associated with hostname
        at java.net.Inet6AddressImpl.lookupHostByName(Inet6AddressImpl.java:126)
        at java.net.Inet6AddressImpl.lookupAllHostAddr(Inet6AddressImpl.java:105

[2019-07-11 07:10] maulik9898 commented on #418
@viskum  You have to set CLEARTEXT traffic flag to true in manifest.
Add `android:usesCleartextTraffic="true"`  in manifest like below example

[code]

See demo app for more info

[2019-07-12 14:08] #418 closed, assigned to tonyofrancis

[2019-07-12 16:14] viskum commented on #418
Done its working fine thanks for the solution

[2019-07-13 11:34] jpvs0101 opened #419 "Some times files get corrupt"
Fetch 3.1.4x Standard config.

Download complete normally, everything seems normal.
But some times files get corrupt.
Also sometimes it failed to get file size. Old version 3.1.2 did not have this issue.

I can't reproduce it, but it might useful info to you!

[2019-07-13 12:43] tonyofrancis commented on #419
@jpvs0101 Thanks for reporting. Are you able to share any urls? Here or via email?. Would love to test. Keeping this issue open to allow others with the same issue to post.

[2019-07-16 06:32] jpvs0101 commented on #419
I noticed when download apks from www.apkpure.com.  I guess mostly from dynamically generated links. But no issues when using old version (3.1.2) of Fetch!

Update: Users reporting this issue frequently 😕

[2019-07-17 02:39] NitishGadangi opened #420 "Small initial part of file is not getting downloaded"
**Issue Description:**
I am using fetch to download mp3 files from the server.
But later realized that the first 3 seconds of the mp3 file is missing in the downloaded file.
This is happening with all of my mp3 links.
here is a test [link](https://aac.saavncdn.com/426/f64ddaeb6ff9142d2aade5fe57f06f55_320.mp4).

**Version Details:**
using `fetch2:3.0.10`
and `fetch2okhttp:3.0.10`
with following con

[2019-07-17 19:20] tonyofrancis commented on #419
Will test over the weekend

[2019-07-17 19:21] tonyofrancis commented on #420
@NitishGadangi What happens if you try to download another file? Does it download correctly?. You can try a previous version of Fetch also and let me know if that worked?

[2019-07-21 18:08] xeinebiu commented on #415
Hi.
Unfortunately, this issue is not yet fixed.
I am having exatly same issue.

Duplicate class org.intellij.lang.annotations.Flow found in modules annotations-13.0.jar (org.jetbrains:annotations:13.0) and annotations-java5-17.0.0.jar (org.jetbrains:annotations-java5:17.0.0)
Duplicate class org.intellij.lang.annotations.Identifier found in modules annotations-13.0.jar (org.jetbrains:annotations:13

[2019-07-22 01:39] CarsonRedeye opened #421 "RxFetch should not return nullable types for Convertible"
`getDownloads` and `resetAutoRetryAttempts` have the return type of Convertible<Download?> which throws an "item is null" exception. It's not hard to wrap this with an "onErrorResumeNext" but it leads to messy code.

[2019-07-22 14:01] tonyofrancis commented on #421
@CarsonRedeye I will try ton have a look into this soon.

[2019-07-22 17:27] thatsenam opened #422 "does it supports m3u8 video type?"

[2019-07-23 18:24] MohammadFneish7 opened #423 "How to get download file name"
I want to get the download file name just before starting the download process.
I tried the following:
[code]
Output:
[code]

[2019-07-23 19:44] tonyofrancis commented on #423
@MohammadFneish7 Do you have a sample url I can test?. Does it work with another url?

[2019-07-23 19:45] tonyofrancis commented on #422
Fetch will allow you to download any file.

[2019-07-23 20:48] MohammadFneish7 commented on #423
@tonyofrancis  Thanks for your reply, currently I'm testing on the following URL:
https://www.androidhive.info/wp-content/uploads/2017/07/androidhive2x.png

I also tried different URL's but neither worked.

[2019-07-23 21:48] MohammadFneish7 commented on #423
@tonyofrancis now I'm solving my problem this way without fetch` (Using java.net.URL and org.apache.commons.io.FilenameUtils)` :

[code]

I thought that it might be helpful to improve fetch.

[2019-07-25 19:56] #422 closed, assigned to tonyofrancis

[2019-07-26 05:14] enwokoma opened #424 "Unable to play downloaded media files"
I have this Open-Source project that I am contributing to, it's called [TimberX](https://github.com/naman14/TimberX)

This Music Player does not play downloaded music files, when I search for the song name in TimberX, I cannot find the newly downloaded file. Even when I go from my phone's file manager and open the audio file with TimberX, the music player is still unable to play that particular so

[2019-07-26 08:44] mt131 commented on #379
Type mismatch.
Required:
Func<Boolean>
Found:
(Nothing) → Unit

[2019-07-28 07:33] duncanokeyo opened #425 "kotlin coroutines"
internally i see you are using executor service, coroutines are more lightweight and might improve fetch performance

[2019-07-30 02:22] CarsonRedeye opened #426 "How to fail download due to network connection"
My use case is I want to enqueue a download, but have it fail if there is no network connection and delete the download and never retry. I tried setting `request.autoRetryMaxAttempts = 0` but when I attach an observer with `attachFetchObserversForDownload(downloadId, object : FetchObserver<Download> {...` all I ever receive in onChanged is QUEUED status, never failed.

I would like a callback for

[2019-08-09 12:13] DennisVanAcker1 opened #427 "okhttp3.internal.http2.StreamResetException: stream was reset: CANCEL"
I'm encountering this issue alot. It causes downloads to fail. I'm aware that this doesn't have much to do with Fetch itself, but this is kind of a last resort before using Http1.1. Any help would be much appreciated

![image (1)](https://user-images.githubusercontent.com/20066687/62778057-8ed6dd80-baaf-11e9-8252-81c13686d23e.png)
![image (2)](https://user-images.githubusercontent.com/20066687/627

[2019-08-10 14:58] MohammadFneish7 commented on #278
I have the same issue, during downloading any file, notifications (beep sound) keep coming out on every update, here is how I use it, knowing that I'm not facing the issue on my emulator with Android 7.1 it only appears on my mobile device with Android 9.1:

[code]

[2019-08-12 14:51] cdn34 opened #428 "UI becomes unresponsive when downloading files from certain urls"
An example of when this happens is when I try to download this particular url https://www.nejm.org/doi/pdf/10.1056/NEJMoa1813865. This file is under a subscription and I'm only able to download it once I log in.

If I set the cookies I get after logging in the website, the download finishes successfully and the UI is responsive as always. If I don't set the cookies the download fails and the UI be

[2019-08-14 14:29] ricardomello-hotmart opened #429 "Remove not working"
Hi, I'm trying to remove downloads (both running and completed) using the remove(id) method and nothing happens. I've checked the database and the rows are still there and neither is the onRemoved method of the listener called.

The call I'm using is `fetch.remove(requestId)`

Everything else is working properly, not sure what could be happening. Any ideas? Thanks.

[2019-08-16 14:06] BlueCobold opened #430 "Download not starting after 404"
Hi.

When one of my downloads fails due to 404, I can create a new fetch-instance and enqueue new downloads, but they will never start. The enqueue-callbacks are called (just the enqueue-one, not the error-one).
Using xfetch2:3.1.4 on Android 6.0.1

`

        val fetchConfiguration = FetchConfiguration.Builder(context)
                .setDownloadConcurrentLimit(3)
                .build()

[2019-08-18 21:04] MohammadFneish7 opened #431 "Multiple notification issues"
I'm using the `DefaultFetchNotificationManager` where:

- A notification beep sound plays on every update (I believe on it goes on on every  `DefaultFetchNotificationManager.notify()` call)
- How to handle an `On-Finished_Download_Notification_Click`
- How to get the estimated time _(shown in the notification while downloading)_ from the fetch download object
- Is there any clear implementation ex

[2019-08-20 12:22] ricardomello-hotmart commented on #429
The problem was that I was using RxFetch and not subscribing the result of the remove.

[2019-08-20 12:22] #429 closed, assigned to nobody

[2019-08-21 15:31] DennisVanAcker1 commented on #185
This issue is still appearing in the latest version using the SequentialFileDownloader. I have debugged a whole day in Fetch and could not find what causes the issue. I'm caching files using a low priority and when i need a file urgent i enqueue it again with a priority set on high (i also cancel& retry the downloads with a lower priority to make sure the high priority one is done first). The down

[2019-08-22 09:09] DennisVanAcker1 commented on #185
@tonyofrancis in the DownloadManagerImpl a new filedownloader gets assigned like this on line 92: currentDownloadsMap[download.id] = fileDownloader. But if there's already a filedownloader object, shouldn't that object be cancelled & cleaned up. I think 2 SequentialFileDownloaders might be running for the same file

[2019-08-22 09:32] DennisVanAcker1 commented on #185
@tonyofrancis is it possible that two SequantialFileDownloaders are running at the same time for the same download? On line 92 in DownloadManagerImpl, there's this: currentDownloadsMap[download.id] = fileDownloader. But what happens if a downloadManager already existed for that download.id key, what happens to it?

[2019-08-22 10:29] DennisVanAcker1 commented on #185
for some reason, the downloadmanager logs the same download twice:
[code]

[2019-08-22 12:27] DennisVanAcker1 commented on #185
My logs in a situation that goes wrong. You can clearly see that DownloadManager logs are printed twice. If you'd ask me, the problem lies somewhere in the start method of DownloadManagerImpl . @tonyofrancis

[code]

[2019-08-22 13:26] macgills commented on #431
Re the vibrations and noise you can just override the creation of the notification channels
[code]
And either lower the priority or null out `NotificationChannel.setSound` I would think.

I would like if this was the default behaviour as I am replacing the DownloadManager in Kiwix (https://github.com/kiwix/kiwix-android) and have run into this problem. An audible update every few seconds seems lik

[2019-08-22 15:40] DennisVanAcker1 commented on #185
Update: this might be a threading issue.
The breakpoint on  downloadCounter += 1 breaks once, while the log "DownloadManager starting download" is printed twice.

[2019-08-23 14:15] DennisVanAcker1 commented on #185
@tonyofrancis I think i found the problem. I managed to copy the Fetch sourcefiles into my own project to be able to debug and place my own logs into Fetch. The issue has to do with timing.

The DownloadManager start() method gets called twice, which makes sense because the old download started and gets cancelled and the new one also starts...

The problem is that any of the download threads are s

[2019-08-26 05:58] CarsonRedeye commented on #355
This does not trigger onError when the download is started while offline :(

[2019-08-26 11:11] tonyofrancis commented on #431
@MohammadFneish7 You can always create your own custom `FetchNotificationManager`. The `DefaultFetchNotificationManager` Fetch provides is not a fit all solution. As a matter of fact it will be deprecated in the next release.

To customize notifications the way you want, implement the `FetchNotifcationManager` interface and override `postDownloadUpdate`. Fetch post all download updates to this met

[2019-08-26 11:13] tonyofrancis commented on #430
@BlueCobold . Each Fetch request has an `enqueueAction` Field that states how fetch should handle downloads that are already enqueued. Please have a look at `EnqueueAction` documentation.

[2019-08-26 11:17] tonyofrancis commented on #428
@cdn34 Your issue is ` .setProgressReportingInterval(100)`. You are updating the UI on the main thread every 100 milliseconds. This will cause serious performance issues. Fetch sets the default to 2_000 milliseconds. Every two seconds.

[2019-08-26 11:21] tonyofrancis commented on #427
@DennisVanAcker1 You can pass a custom okhttp client to Fetch.
[code]
In your application add the latest okhttp client packages and provide that to fetch. Not sure if that will fix your problem.

[2019-08-26 11:22] tonyofrancis commented on #426
@CarsonRedeye on your` FetchConfiguration` set `.enableRetryOnNetworkGain(false)`

[2019-08-26 11:24] tonyofrancis commented on #425
@duncanokeyo I am looking into coroutines and other kotlin goodies that can be used. Will have a roadmap for the next release soon. Stay tuned.

[2019-08-26 11:25] tonyofrancis commented on #424
@enwokoma What errors are you getting. Can you share sample code??.

[2019-08-26 11:26] tonyofrancis commented on #423
@MohammadFneish7 Thanks for sharing. I will look into this more.

[2019-08-26 11:28] tonyofrancis commented on #420
is this still an issue?

[2019-08-26 11:38] DennisVanAcker1 commented on #427
Ok i'll try that out, thank you.

I commented multiple times last week on the issue "progress return back? #185" I spend quite some time on debugging and reproducing the issue; and i think i found the problem. Could you please look into that aswell?

[2019-08-26 12:04] BlueCobold commented on #430
The default is UPDATE_ACCORDINGLY, but the docs don't say what the manager will do if that download was failed previously. I would assume it would either count as "not downloaded" and thus be started or as "not completed" and thus resume. Both is not the case. I imagine REPLACE_EXISTING would solve the issue, but updated docs would still be helpful. It surely does not count as "completed" though a

[2019-08-26 14:20] Zaraki596 opened #432 "Can you post an example in Kotlin"
As the title suggest Can you post the example in kotlin?
Since I am a beginner and want to use the library but there is no proper example of how to use it?

[2019-08-26 14:57] tonyofrancis commented on #430
If a download error-ed it will stay as error-ed. I will update the docs.

[2019-08-27 00:07] CarsonRedeye commented on #426
Hi tony. I did that and it works partially. It now throws an error if the network connection fails after the download has started. However if there is no network connection when the download is queued, no error is thrown. Is that a bug? The workaround for now is to check for connection before downloading myself, but that is a bit hacky imo.

[2019-08-27 05:05] jpvs0101 commented on #420
Might be related to #419 ?

[2019-08-27 17:01] cdn34 commented on #428
@tonyofrancis the report interval being set to a low value can perhaps cause issues, but that's not the problem here, or at least it doesn't seem to be, as when the correct cookies are passed the file downloads without issues and there's no slowness.

The slowness comes when no cookies are passed and the downloader reaches the onCompleted listener, it seems to freeze here for a second or more depe

[2019-08-31 07:19] enwokoma commented on #424
Whenever I download the media (mp3) file and play with TimberX, I can't really see anything good in the logcat. But, what caught my eye in the logcat is **"No such file or directory"**. I think the issue could be from the way Fetch saves the file content after downloading. There just has to be an issue somewhere.

[2019-09-03 07:16] Grzegorz-l90 commented on #424
I believe to experience the same issue. I use fetch to download image files. After successful download, files are not listed in the gallery app, although I can find them via file manager. Then, when I open that file with gallery, it has way less options than other image files.

![Screenshot_2019-09-03-08-57-57](https://user-images.githubusercontent.com/13750065/64151906-acd3fb80-ce2b-11e9-8ba1-139

[2019-09-07 11:24] tonyofrancis commented on #432
@Zaraki596 I do plan on writing the example in kotlin.

[2019-09-07 11:25] #430 closed, assigned to tonyofrancis

[2019-09-07 11:28] tonyofrancis commented on #428
mhm. So it seems the server is doing some kind of check at some point and causes the slow/ freeze up. That does not seem like an issue with Fetch being that it downloads fine when the cookies are passed. What cookie values are you sending back?

[2019-09-07 11:28] #431 closed, assigned to tonyofrancis

[2019-09-07 11:30] tonyofrancis commented on #427
@DennisVanAcker1 Were you able to get this resolved?

[2019-09-07 11:42] tonyofrancis commented on #426
Mhm. If a download is ongoing and internet connection is lost then then we check if we need to retry, if retry is false then we throw an error. It can take some time depending on the timeout values set on the client. Are you using a custom downloader?

[2019-09-07 11:44] tonyofrancis commented on #424
Can you share sample code?

[2019-09-07 11:44] #423 closed, assigned to tonyofrancis

[2019-09-08 04:39] CarsonRedeye commented on #426
Hi Tony. The functionality you describe is working. However this scenario isn't:
1. The device is offline
2. A download is queued.
EXPECTED: An error is thrown that there is no connectivity. (I want to show the user there is no network and they can try again later, but the API doesn't allow me this)
ACTUAL: onChanged only fires with QUEUED status and nothing else.

[2019-09-09 07:40] DennisVanAcker1 commented on #427
haven't encountered the issue anymore but it's hard to reproduce. I can't say for sure.
Can you please re-open issue #185, this is a big and way more urgent problem in your library. I can also provide feedback on a fix for that because i can reproduce it. I would even have done a pull request myself but i don't have permission

[2019-09-12 15:32] mayankagarwal09 opened #434 "Range Header not working"
It downloads the entire file even after adding Range header for partial content

[2019-09-13 15:49] ajmalajuz opened #435 "Notification sound playing continuously in Pie"
when downloading a file notification sound playing continuously in android pie.

[2019-09-17 06:38] Zaraki596 commented on #432
Thank you for considering it

[2019-09-17 18:23] amitmittal commented on #435
i am facing same problem. There is sound is played repeatedly until download is in progress. Is there any way we can control notification sounds?

[2019-09-18 02:18] CarsonRedeye opened #436 "FetchObservers get garbage collected if created as local variable"
I'm trying to observe the status of a download, but quite often `val observer = it.get()` on line 270 of `ListenerCoordinator` returns null, since they are stored as WeakReferences. The effect of this is that my view never receives a callback that the download is complete and sits there permanently with the loading indicator.

[2019-09-19 16:11] Meight opened #437 "How to set request data?"
Hi there, and thank you for this amazing library!

I'm trying to download a file off of an API that requires me to authenticate through a `token` field passed in the body of the request rather in the headers as shown in the documentation.

I have gone through the source and couldn't find anything related to request bodies whatsoever. Is there any way to achieve this using Fetch?

Thank you in adva

[2019-09-19 18:22] benthemobileguy opened #438 "Cannot save file in internal storage"
I want to download a file to my internal storage with a created folder such that the content would be private to my application only. Is there a way to this?

[2019-09-20 13:59] tonyofrancis opened #439 "Status Update"
Hello Fetch users!

This is just a quick update on the status of Fetch. I recently switch job two months ago so this is the reason for the long delay in my responses and library updates. I should be getting back to my normal progress in the next two weeks. Thanks for your patience!.

RoadMap:
1. Fix open issues in Fetch version 3.
2. Start work on Fetch version 4 which will be using kotlin corouti

[2019-09-23 06:31] Grzegorz-l90 commented on #424
I use kind of helper method for that.

[code]

Maybe there is something wrong because of adding and removing listener dynamically for each downloaded file?

[2019-09-24 11:25] Zaraki596 commented on #435
same Issue facing here and if it is in Vibrate mode the vibration motors work all the time until the download is completed. I should just give a normal nudge at the start and end of the download file.

[2019-09-24 11:55] Zaraki596 commented on #435
It seeem Like the issue is in this line
In defaultFetchNotificationManager.kt class
[reference](https://stackoverflow.com/questions/45919392/disable-sound-from-notificationchannel)

`channel = NotificationChannel(channelId, channelName, NotificationManager.IMPORTANCE_DEFAULT)`

Here `IMPORTANCE_DEFAULT` should be `IMPORTANCE_LOW `for the Android 8.0 and up.
and at least give the facility to set th

[2019-09-25 17:05] enwokoma commented on #424
Well, mine is a little different because I made customizations to my downloader whereby I am able to download multiple files using the example in the [**sampleApp**](https://github.com/tonyofrancis/Fetch/tree/v3.0/sampleApp) of fetch. Here is a breakdown of how mine works
First, I declared an instance of fetch in my App.java (the global configurations file)
[code]
Then in my Activity, I initialize

[2019-09-27 08:53] Zaraki596 commented on #435
Current Situation: Workaround for this problem is Create a notificationBuilder method without any sound or vibration method included. This will solve the issue as of now

[2019-09-28 09:16] #437 closed, assigned to nobody

[2019-09-30 05:54] jpvs0101 commented on #439
Good to hear from you, Please give priority to this #419, since it is serious issue for users, because of valuable data might lost!

[2019-09-30 12:04] mrshadow98 opened #441 "UNKNOWN_IO_ERROR while downloading file"
![Image 2019-08-04 at 11 25 17 PM](https://user-images.githubusercontent.com/42746938/65877203-af812c80-e3a8-11e9-8004-336925d44fb3.jpeg)
This error comes while downloading files in Android x or API 29

[2019-10-05 10:14] MohammadFneish7 commented on #435
Use my java fetch notification manager version below. I'd created two channels, a silent one for a progress update and another loud one (with sound) for completed or error downloads.

[code]

[2019-10-05 10:16] MohammadFneish7 commented on #431
@tonyofrancis, please consider updating the default notification manager to work as my java notification manager version below. I'd created two channels, a silent one for a progress update and another loud one (with sound) for completed or error downloads. Thanks

[code]

[2019-10-05 10:42] MohammadFneish7 opened #442 "How to get Eta"
How to get or calculate the estimated time remaining for the **Download** object to finish.
It is already done in the`DownloadNotification.getEtaInMilliSeconds()`, but not available in the `Fetch Download Object`.

[2019-10-05 13:04] MohammadFneish7 commented on #196
Any updates here?!! still facing the same issue
thanks

[2019-10-05 13:17] tonyofrancis commented on #438
`context.getFilesDir()` is internal to your application. You can store files there.

[2019-10-05 13:17] #438 closed, assigned to nobody

[2019-10-05 13:21] tonyofrancis commented on #442
`download.getEtaInMilliSeconds()` The FetchListener also returns `etaInMilliSeconds` in the onProgress method.

[2019-10-05 13:24] tonyofrancis commented on #441
Can you provide more details: You can enable logging in Fetch:
[code]

[2019-10-05 13:44] tonyofrancis commented on #436
Observers and Listener and are store with weak references in Fetch. You should store then in a field variable to prevent them from going out of scope.

[2019-10-05 13:44] #436 closed, assigned to nobody

[2019-10-05 13:46] #435 closed, assigned to nobody

[2019-10-05 13:50] tonyofrancis commented on #434
Do you have sample? code?

[2019-10-05 13:50] #432 closed, assigned to tonyofrancis

[2019-10-05 13:50] #428 closed, assigned to tonyofrancis

[2019-10-05 13:52] #425 closed, assigned to tonyofrancis

[2019-10-05 16:56] #442 closed, assigned to tonyofrancis

[2019-10-05 18:22] tonyofrancis commented on #419
I have not been able to replicate this bug. Can you provide a url?. Sequential or Parallel downloading?

[2019-10-05 19:52] MohammadFneish7 opened #443 "setDownloadConcurrentLimit(1) Not working"
This is an old/new bug as I believe, where **setDownloadConcurrentLimit(1)** never worked for me. First I thought that it is not working when trying to change it after `Fetch `object is created, but it seems that it is not working even when building with `FetchConfiguration `object. Simply it never worked.

Here is how I'm building Fetch:

[code]

And here is where I'm to change after building the

[2019-10-06 15:27] jpvs0101 commented on #419
Try to download any apk from www.apkpure.com. Parallel download!
Also I use SAF.

[2019-10-06 17:39] SirGatsby opened #444 ""GameAssets" where i can change the settings !"
Hy, im new to android, i want know where i can change the settings of files ? i have changed the url with 100k test file, but with my url that is an zip i get error could not get game files ! And how to change from 10 to 1, ?

[2019-10-07 07:42] cdn34 commented on #428
It seems like it is an issue with fetch, since the slowness only happens on android using fetch, on iOS using NSURLSessionDownloadTask that works fine in either case. The cookies are retrieved after login so its value vary.

[2019-10-09 10:50] emerging-coders opened #446 "setNotificationManager() in FetchConfiguration causes continuously play sound in Android 9.0 API 28 One Plus 6"
I am setting notification manger to get download update in notification bar and its fine. But its continuously playing notification sound in device One Plus 6 which is run on Android 9.0 API 28.
My code for setting notification is:
`FetchConfiguration fetchConfiguration = new FetchConfiguration.Builder(mContext)
                    .setDownloadConcurrentLimit(50)
                    .setAutoRetryM

[2019-10-12 09:59] xeinebiu commented on #446
Override the "channelId" with a custom one.
`                  @NotNull
                    @Override
                    public String getChannelId(int notificationId, @NotNull Context context) {
                        return CHANNEL_ID;
                    }`

[2019-10-12 10:08] xeinebiu commented on #64
Using the below code, still the Pause and cancel button are stopping the download.

MAX_DOWNLOAD_COCURRENT_LIMIT = 5;
PROGRESS_REPORTING_INTERVAL = 1000;

 FetchConfiguration fetchConfiguration = new FetchConfiguration.Builder(this)
                .setDownloadConcurrentLimit(FETCH_MAX_DOWNLOAD_CONCURRENT_LIMIT)
                .setProgressReportingInterval(FETCH_PROGRESS_REPORTING_INTERVAL)

[2019-10-12 10:27] xeinebiu commented on #327
Still does not work.
Clicking Pause or Cancel will stop the download

[2019-10-12 12:25] emerging-coders commented on #446
Thank god! For fixing this problem I was downloaded your library project and fixed it!! Sorry :) Now I will fix using new channel!

[2019-10-15 18:33] benthemobileguy opened #447 "Unable to enforce group downloads"
Am trying to download an array of strings via group download but it does not work for me.

[code]

[2019-10-16 07:45] abdulsnovasys opened #448 ":app:checkDebugDuplicateClasses"
java.lang.RuntimeException: Duplicate class org.intellij.lang.annotations.Flow found in modules annotations-13.0.jar (org.jetbrains:annotations:13.0) and annotations-java5-17.0.0.jar (org.jetbrains:annotations-java5:17.0.0)
  Duplicate class org.intellij.lang.annotations.Identifier found in modules annotations-13.0.jar (org.jetbrains:annotations:13.0) and annotations-java5-17.0.0.jar (org.jetbrain

[2019-10-16 07:45] abdulsnovasys commented on #448
Still issue is exits

[2019-10-21 15:32] Lucaffo opened #449 "Why all the interfaces are not abstract classes"
Every time i use this library, I have to create my own abstract class for each interface you use.
I do this because, i had to implements 25 methods for each listener, and obviously i don't use each of them.

Should be awesome, if we can implement methods into interfaces that we really want.

This is short solution that i can give about this feature:

Open your interface file class, and write as ab

[2019-10-23 08:34] randauto opened #450 "How can I customize Notification?"
I saw in your lib this code, class : DefaultFetchNotificationManager.kt

override fun getDownloadNotificationTitle(download: Download): String {
        return download.fileUri.lastPathSegment ?: Uri.parse(download.url).lastPathSegment
        ?: download.url
    }

But I don't want to show lastPathSegment, how can I change it by other value from my project?
Thanks in advance!

[2019-10-24 07:22] razi3742 opened #451 "Sometime image downloading failed"
hi first of all thank you for providing such a nice solution.

I am using your library to download parallel images. while downloading images some time i got socket  time out exception although your solution try to re download images in background after few interval. in my case i have 88 images to download but some time it fails to download 1 or 2 images and their size remain to 0 byte and download

[2019-10-24 18:06] xeinebiu opened #452 "Notification: Change the Title for request (download)"
Hi.

Is there any possibility to change the Title displayed on notification for each download.
Or would help more, if the Request model can accept a Title property.

[2019-10-26 17:08] tonyofrancis commented on #419
@jpvs0101 Tried reproducing this bug several times today with no luck. Tried several downloads from the apkpure website. Is it possible for you to share a sample project where this happens constantly?

[2019-10-26 17:29] tonyofrancis commented on #451
Hi @razi3742 On your request try adding `request.setAutoRetryMaxAttempts(n)`. Fetch will retry your download if it fails n number of times. Hope this helps.

[2019-10-26 17:36] tonyofrancis commented on #452
@xeinebiu Fetch uses the DefaultFetchNotificationManager to display notifications. What you can do is extend `DefaultFetchNotificationManager` and override the `updateNotification` method. `DefaultFetchNotificationManager` extends from `FetchNotificationManager` so you can provide your own full implementation.
Example:
[code]

[2019-10-26 17:38] tonyofrancis commented on #450
@randauto you can fully customize the notifications. See my answer [here](https://github.com/tonyofrancis/Fetch/issues/452)

[2019-10-26 17:40] tonyofrancis commented on #449
@Xedoll There are abstract Listeners. ` AbstractFetchListener` and `AbstractFetchGroupListener`

[2019-10-26 17:43] tonyofrancis commented on #448
@abdulsnovasys There seems to be a mismatch of dependencies inside your project. Not an issue with Fetch per-say.

[2019-10-26 17:49] tonyofrancis commented on #447
@benthemobileguy you have not given enough information about what is not working. Are you unable to get the downloads by groupId? Please provide more information/context

[2019-10-26 17:53] tonyofrancis commented on #446
You can override the `createNotificationChannel` and prevent it from vibrating or playing sounds by setting those values = false. You  can also override `updateNotification` and `.setOnlyAlertOnce(true)` on the notification.

[2019-10-26 17:53] #446 closed, assigned to tonyofrancis

[2019-10-26 17:57] tonyofrancis commented on #444
@SirGatsby I do not understand what setting you are trying to change.

[2019-10-26 18:01] tonyofrancis commented on #443
@MohammadFneish7 What happens when you set the setDownloadConcurrentLimit(n) to n numbers. Does fetch download n files or only 1? What version of Fetch are you using? You should be able to test easily with the sample app provided and the DownloadListActivity. Let me know if this helps.

Edit: Just reread your issue. You cannot set concurrent to 1 download? Just tested with the sample app and Downl

[2019-10-26 18:05] #441 closed, assigned to tonyofrancis

[2019-10-26 18:06] #434 closed, assigned to tonyofrancis

[2019-10-26 18:09] #427 closed, assigned to tonyofrancis

[2019-10-26 18:10] tonyofrancis commented on #185
@DennisVanAcker1 are you till interested in providing a fix?? Just catching up on issues.

[2019-10-26 18:15] tonyofrancis commented on #426
@CarsonRedeye I see what you are saying. There is not built in logic to throw an exception if there is no internet connection when a new download is enqueued. Fetch stores the download information normally and waits till there is internet connect. The best solution is to check for network connection before enqueuing. Will make a not of this for future releases.

[2019-10-26 18:15] #426 closed, assigned to tonyofrancis

[2019-10-26 18:25] tonyofrancis commented on #424
@enwokoma @enwokoma
There a 3 problems here:
1. The directory where Fetch will download the file is not created.  Verify that the directory the files will be stored is created and accessible.
2. Fetch does not handle adding media to the media gallery. Fetch is simply a downloader.
3. Ensure your file has the right extension attached to it so the system can find the right app to play the media.

[2019-10-26 18:38] tonyofrancis commented on #420
@NitishGadangi @jpvs0101 Just test and have been able to successfully download the file several times matching the md5 hash code each time vs the one I downloaded via a web browser. I am wondering if this could be related to network connection, network hops etc. Not sure what else I can try to reproduce this issue. Any other information would be much appreciated.

[2019-10-26 19:05] MohammadFneish7 commented on #443
@tonyofrancis I'm using fetch `com.tonyodev.fetch2:fetch2:3.0.10`. No matter what value I use for `setConcurrentLimit` It keeps downloading every download I pass. Besides, I'm sure that only single instance of fetch is running per application. You can check my application code [here](https://github.com/MohammadFneish7/Casper) or even download and run the apk from [here](https://github.com/Mohammad

[2019-10-26 19:29] NitishGadangi commented on #420
If you are using Chrome
You can use this link to stream the Audio (and listen first few seconds without Downloading)

https://aac.saavncdn.com/426/f64ddaeb6ff9142d2aade5fe57f06f55_320.mp4

Now try downloading the same and listen the difference in the first 1second..

Don't know why but this bug is happening with only these kind of links.

[2019-10-26 23:54] enwokoma commented on #424
Well, for your first suggestion, the directory is already created on app launch, long long time before the download starts.
For the second and third suggestions, the file downloaded is already a media file and has the necessary file extension. So, I am not doing any extra work as regards to that.

[2019-10-27 23:54] randauto commented on #450
Many thanks!

[2019-10-27 23:54] #450 closed, assigned to tonyofrancis

[2019-10-28 07:20] enwokoma commented on #424
[Here's](https://gitlab.com/gigabytedevelopers/sonshub-mobile) the project.
Takes a while to build...
Am not doing any extra work concerning the download. Everything is handled by Fetch.
So, I believe this persistent problem is from Fetch...
Same download with Chrome, different outcome

[2019-10-28 07:59] DennisVanAcker1 commented on #185
I spent alot of time in actually debugging this and finding out what causes the issue during working hours. This issue is not on the agenda of the company i'm working at so i can't put anymore time into this i'm afraid

[2019-10-29 04:35] jpvs0101 commented on #419
Recently I find it here. Goto www.clipconverter.cc. Paste a video url to get download link. Try download using SAF setup. Also try in apkmirror site. Users also reporting when downloading PDFs on sites which needs signup.

Update 1:
Just confirmed. Fetch version 3.1.0 works correctly, but latest version  3.1.4 has issues. I guess that the issue started when you play with range header. So please ta

[2019-10-29 08:42] Lucaffo commented on #449
My question is why all the interfaces are public and not private. Might be awesome that only the abstract interfaces are public. (And rename the AbstractFetchListener into FetchListener)

[2019-10-30 10:34] mustansarsaeed opened #453 "Dowloading stops when application is killed"
Hi,

Thank you for the nice library. I have experienced an issue that when I have grouped some downloads and after grouping I kill the application, the downloading also gets stopped. It doesn't resume even if I relaunch the application. Can you please give me some pointer how can I achieve this functionality?

Thank you in advance.

[2019-10-30 15:29] akaisun opened #454 "bad file descriptor"
first, i appreciate you to made awsome library what operating using content resolver.
It happened when i download some files. maybe they are too large or something. do you have idea to solve it?

[2019-10-31 14:40] akaisun commented on #454
solved it.

added proguard rules
-keep class com.tonyodev.fetch2.** {*;}
-keep class com.tonyodev.fetch2core.** {*;}
-keep interface com.tonyodev.fetch2.** {*;}
-keep interface com.tonyodev.fetch2core.** {*;}

[2019-10-31 15:09] jobhh commented on #449
I'm not sure I understand your question. Per definition all methods in an interface are public and declared with an empty body.

AbstractFetchListener is a FetchListener. If you create a AbstractFetchListener you can choose which methods to implement, either none, some or all. What is exactly the functionality you're missing in the current implementation?

[2019-10-31 15:24] #454 closed, assigned to nobody

[2019-11-01 18:00] xeinebiu commented on #452
Hi.

I already was doing on this way but I find it hard to know the correct title for correct Download.

[2019-11-02 18:50] MohammadFahimi opened #455 "Delete file automatically"
I download files with this library but  downloaded files deleted automatically after some times( a day or a few days)?

[2019-11-04 14:37] visuall opened #456 "Slow download start"
Hi,

For some reason the download lib takes really long time to start a new download when used on device ( like Minix or AndroidTV ) with removable storage ( SD card or USB flash ). When I use it on a smartphone for example all works well and download starts in less than 10s after being added to queue. The same thing on device with removable storage can take minutes. The enqueue request completes

[2019-11-04 22:39] AndroidMoneyCourse commented on #424
You need to inform Android about downloaded file @enwokoma

Here is the solution
`    public void scanFile(Context ctxt, String x, String mimeType) {
        MediaScannerConnection
                .scanFile(ctxt, new String[] {x},
                        new String[] {mimeType}, null);
    }`

and in onComplete listener for Fetch
`scanFile(context, download.getFile(), fileExtension)`|

It's a sham

[2019-11-05 11:08] abhikommen opened #457 "Getting query result in main thread...."
Is there any way to get result object in main thread instead of another thread

[code]

[2019-11-06 00:54] enwokoma commented on #424
Thank you so much. This fix looks neat.
I will implement this before the weekend and let you know if it works.
Thanks once again for the assistance!

[2019-11-08 09:15] nikhilmaurya10 opened #458 "Can't get this simple example to work"
**onCompleted()** callback is called only for the first time load. Subsequent click on the same button has no effect. but if i close my application using back button press this works again but not if I clear the app from recent or rebuild it.

Another issue that arises , when files have been downloaded once and I reopen the app and click on the button again download status print 150/150 but the bu

[2019-11-09 03:23] akaisun opened #459 "downloaded count is weired"
![image](https://user-images.githubusercontent.com/17962656/68522125-13254080-02eb-11ea-885e-f6c12f98aa39.png)

This is my log.
I downloaded only one.
But they say they've downloaded a total of 13 of them.
I think It is holding the previously downloaded in my cache.
fetch.delete is deletes the file and fetch.remove is deletes notification.
Is it possible to reset only what is contained in the prev

[2019-11-09 13:43] enwokoma commented on #424
@AndroidMoneyCourse Another very big thank you for the fix.
I can confirm that it works.

If you can scroll back up a little, you would see my sample code. Now, your fix works but it onlu works when the DownloadingFragment is open in the app because I added the Fetch listener inside the onResume method of the fragment.
Now my challenge is, if the file completes the download while am on another act

[2019-11-09 18:28] nikhilmaurya10 commented on #459
I have same issue onCompleted callback is a mess. I can't figure out how this is happening. If i put a counter variable and increment it in the onComplete callback the incremented value is not correct.

[2019-11-10 07:24] akaisun commented on #459
I think I found out why there is a problem.
First, I didn't remove the listener.
second, there was left after download completed in fetch request db

and this is my fixed code

`
fetchModulesBuilder = FetchModulesBuilder.buildModulesFromPrefs(fetchConfiguration)
fetch = FetchImpl.newInstance(fetchModulesBuilder)

fetchModulesBuilder.handlerWrapper.post {
            fetchModulesBuilder.fetchDataba

[2019-11-10 08:32] akaisun opened #460 "multiple notification issue"
There is a problem with downloading. it got completed from listener but notification status still displayed downloading.
i think its cause about async processing.
how can i solve it?
sequece mode has also problem.

[2019-11-10 11:58] akaisun commented on #460
i used setNotificationManager before. but it does not work fine.
I implemented a notification using a listener. and work fine.

fetch.addListener(downloadListener, notify = false, autoStart = true)

notify = false is work

[2019-11-10 12:31] nikhilmaurya10 commented on #459
@akaisun Why would the listener notify using onCompleted() even after the download is completed. See this issue #458
The download++ is not reliable at all I don't know what kind of concurrency issues are there.

[2019-11-10 13:06] #460 closed, assigned to nobody

[2019-11-12 02:03] akaisun commented on #459
1.you have to remove listener after finish download.
2.have to delete rows of table in database which finish downloaded.
fetch seem to searching database before request to server. and use it.

[2019-11-12 02:03] #459 closed, assigned to nobody

[2019-11-14 02:56] randauto commented on #455
This is an error? I don't see that in my project.

[2019-11-14 09:21] ralphgabrielle opened #461 "onCompleted event called twice !!!!"
This project seems to work before, but for some reason some event callback are getting called twice (worse is 3x) on onCompleted event when downloading. I already remove listener and still persists. Guess I will switch to other downloader such a waste I've been using this for few projects and this bug is a killer.  If you guys faced this before and found a solution, I would appreciate any help. Th

[2019-11-14 10:19] randauto opened #462 "How can I only resume download via Wifi?"
Method: enableRetryOnNetworkGain(true) will make resume download when I switch on, of internet. But I only want execute only in wifi and not execute in other like 3G, 4G,...
Can this library set up like that?
Thanks!

[2019-11-16 08:02] saurabh983 opened #463 "Downloading not working in android 10."
I have implemented the library in my app to download videos. It is working great till android 9 with fast speed.
But download is not even getting started in android 10.

i have initialized the fetch instance in application class. and using default notification manager provided with the library.

Please help me out.

[2019-11-17 22:32] razar-dev commented on #463
Add in AndroidManifest.xml to section Application
android:requestLegacyExternalStorage="true"

https://developer.android.com/training/data-storage/files/external-scoped

[2019-11-25 07:41] Livekus opened #464 "Is Fetch can do Bandwidth throttling"

[2019-11-27 10:18] tariqul000 opened #465 "UNKNOWN_IO_ERROR"

[2019-11-30 18:34] aysi143 opened #466 "facing each bug"

[2019-12-05 11:51] tariqul000 opened #467 "Multiple notification title can't change."
Hi,
I want to change the notification title for every content. for the first content title change working but not changing other content titles.

[code]

[2019-12-06 04:39] nikhilmaurya10 commented on #461
Do you have any Ideas about how to debug this bug, make be we can do a collab to fix this issue, cause I think this is the best library available since it's so simple to use #458

[2019-12-11 22:02] iamkurtgoz opened #469 "is remaining download"
How do I know if there is a download in progress?

[2019-12-12 04:21] #467 closed, assigned to nobody

[2019-12-13 22:31] enwokoma commented on #424
Fixed

[2019-12-13 22:31] #424 closed, assigned to tonyofrancis

[2019-12-15 08:50] Navidhp opened #470 "encrypt file on fly with fetch"
hi, I need to encrypt the file with start download on the fly and when finished download decrypt the file and use it in my app, how to encrypt the file in fetch?

[2019-12-17 05:05] enwokoma opened #471 "Download Location"
It would be nice if there is a way to save downloaded  files to a custom location in the external SD Card. Not everyone has enough space in their Internal Storage and this is a huge let down.

[2020-01-02 14:05] rranjithkumar100 commented on #403
Still issue persists

**My dependency**
 implementation "androidx.tonyodev.fetch2:xfetch2:3.1.4"

**My config**

       FetchConfiguration fetchConfiguration = new FetchConfiguration.Builder(context)
                .enableFileExistChecks(false)
                .enableHashCheck(false)
                .setAutoRetryMaxAttempts(30)
                .setDownloadConcurrentLimit(20)
                .buil

[2020-01-06 03:32] jahirfiquitiva commented on #327
This doesn't seem to be fixed yet. I'm using version `3.1.4` @tonyofrancis

[2020-01-07 04:39] XiXiongMaoXiong commented on #470
Yes I wanted to know how to implement this. Usually I do this with an HTTPUrlConnection which streams the data into a buffer and then I encrypt the buffer and keep writing it into the file on the fly. But I wonder if there is any way to do such with fetch2 or if you can add such feature into the library that would be so great. @tonyofrancis

By the way you may ask where does such feature applies i

[2020-01-08 04:23] XiXiongMaoXiong commented on #470
Or is there a way to access the byte stream of the file which is getting downloaded? @tonyofrancis

[2020-01-08 09:53] rranjithkumar100 commented on #403
waiting for this long time

[2020-01-10 18:55] obirawa opened #472 "How can i access the DatabaseManager used by fetch instance?"
`Fetch.Impl.getDefaultInstance().getFetchConfiguration().getFetchDatabaseManager(); //returns null`

I didn't create set a database manager when i created the FetchConfiguration object, how do i get the default one in use?!!

[2020-01-22 10:41] XiXiongMaoXiong commented on #472
This is one of if not the most shittiest repos in Github where the developer does't give 2 fucks about any of the opened issues.

[2020-01-22 13:37] Navidhp commented on #470
we resolved this! @tonyofrancis thank you so much for your excellent library

[2020-01-22 13:37] #470 closed, assigned to nobody

[2020-01-22 14:30] obirawa commented on #472
for now, accessing the Database manager wrapper was enough in my case so i used reflection to access it using the following code:

FetchImpl fetch = (FetchImpl) Fetch.Impl.getDefaultInstance();

            FetchDatabaseManagerWrapper fetchDatabaseManagerWrapper = null;
            try {
                Field field = FetchImpl.class.getDeclaredField("fetchDatabaseManagerWrapper");

[2020-01-22 14:34] #452 closed, assigned to tonyofrancis

[2020-01-23 11:29] XiXiongMaoXiong commented on #470
bebinam che jori halesh kardi mohandes?

[2020-01-25 09:20] Navidhp commented on #470
@NotNotMarshall you can set StorageResolver for your fetch and get the getRequestOutputResourceWrapper method!

[2020-02-08 11:46] XiXiongMaoXiong commented on #470
Can you share a code example? I am overriding the methods in StorageResolver but don't know what to do in getRequestOutputResourceWrapper(). There is just a writeByte() and write() method which seems not to help much.

[2020-02-09 07:30] Navidhp commented on #470
@NotNotMarshall for encryption on a fly you need to use the cipher algorithm. when you using StorageResolver and getRequestOutputResourceWrapper method giving you the output by the stream and you can be encrypted as a byte.
following this road :
1- instance cipher before per download and keep (key and Ivparamete)r in your storage (sharedpreferences or file)
2- passing cipher to custom getRequestOu

[2020-02-10 10:34] dioseltorre opened #473 "Content-MD5 header checker failed if response header is in lowercase"

[2020-02-10 16:11] XiXiongMaoXiong commented on #470
Kheyli mamnoooooon!

[2020-02-10 19:47] ClarkXP commented on #215
Iḿ having the same error. With a breakpoint in Error callback I can see that the exception is: `java.lang.IllegalArgumentException: Unknown URL file:///data/user/0/<appId>/cache/<folder>/<fileName>`

[2020-02-10 19:59] ClarkXP commented on #215
Following her stacktrace when you are using EnqueueAction.REPLACE_EXISTING, fetch try to delete a file that not exists because the manual deletion, Causing this error in method StorageResolverHelper.deleteFile: Line 137

[2020-02-12 02:55] ebitogu opened #474 "DownloadManager Stops once app goes to the background"
Hello, I am getting a weird behaviour where the Fetch Download Manager for some reason stops the download once the app goes into the background.Is it supposed to happen that way?

[2020-02-12 02:59] #474 closed, assigned to nobody

[2020-02-12 05:44] #473 closed, assigned to nobody

[2020-02-12 05:45] dioseltorre commented on #473
This seems to be working with the latest version.

[2020-02-12 08:34] andj207 opened #475 "request_not_successful while downloading mp3 file from Google Drive"
I'm trying to download mp3 file from Google Drive but Fetch always throw `request_not_successful `whilst Exoplayer can stream the mp3 very well. I've put then same request headers to Exoplayer and Fetch2 but only Exoplayer works.

    mapOf(
                            "Authorization" to "Bearer <my access token>"
                            , "Accept" to "*/*"
                            , "Accep

[2020-02-12 09:16] andj207 commented on #475
It's my bad, the token has been altered in another func before passing to Fetch so authentication failed.

[2020-02-12 09:16] #475 closed, assigned to nobody

[2020-02-24 14:03] mustansarsaeed commented on #453
@tonyofrancis Any pointer on this? 1. Stops downloading when application is killed, 2. Downloaded files get corrupted in specific cases.

[2020-03-07 12:52] XiXiongMaoXiong commented on #470
Salaam dash, I have implemented it and everything works fine except the resume part. Whenever I resume a download I get an UNKNOWN_IO error.
Can you give an example of how to resume the download?

[2020-03-07 12:52] XiXiongMaoXiong commented on #470
I am appending to the FileOutputStream in the custom StorageResolver when there is a resume but it keeps giving me an UNKNOWN_IO error.

[2020-03-07 13:19] Navidhp commented on #470
@NotNotMarshall hey bro
yes this problem saw on the resume or reopening application again
resolve description:  you must be calculated block offset on your resume and seek cipher to the current point
how to do that :
1- you must have keys and iv
2- override setWriteOffset method on  getOutputResourceWrapper
3- the first step you must calculate skip like this :
[code]
4- the step two you must calcu

[2020-03-07 13:55] jpvs0101 opened #476 "Some files (Created by SAF uri) not updated in Android MediaStore"
I use SAF in fetch. Sometimes newly downloaded files not updated in Android MediaStore. So other apps can't detect the file. (Device: Redmi Note 7s, MIUI 11, Android 9)

Example: Download several mp3 files using fetch. One or two files not showing in Music Player.

[2020-03-08 13:56] NotNotMarshall commented on #470
I am already using this piece of code:

[code]

which used to work but now I'm totally lost. Do you have a Telegram ID?

[2020-03-08 13:56] NotNotMarshall commented on #470
The problem is at setWriteOffset I can tell.

[2020-03-08 16:23] NotNotMarshall commented on #470
Thank you very much for your response, the problem is not with resuming an encrypted stream because I can handle that the problem is with the way to implement a resume in setWriteOffset and also where to properly init. the F streams and C streams.
If you don't mind giving me your Telegram ID that would most kind of you.

Thanks in advance.

[2020-03-14 14:44] NotNotMarshall commented on #470
Kon midi dadash?
Dadash kon midi bokonim?

[2020-03-16 14:37] amoozesh3 opened #477 "How do I check if the download completed in onCreate?"
Hi.
First of all thank you for providing such a nice solution.
How do I check if the download completed in onCreate?
The following code work without problem, but maybe user cancel the download operation before completion and incomplete file exists in the path.

try {
     File root = android.os.Environment.getExternalStorageDirectory();
     File path = new File(root.getAbsolutePath() + "/telavat/

[2020-03-20 14:02] NotNotMarshall commented on #470
Dadash nemidi bokonim?

[2020-03-25 03:52] alsojin0806 opened #478 "How to implement single download link multi-threaded download？"

[2020-03-25 15:14] JBramauer opened #479 "FetchFileServer: Support for Uri (Content Providers)"
Title pretty much says it all. My goal is to make files accessible via the FileServer when users follow the normal "share" workflow (android.intent.action.SEND) in Android, resulting in my app receiving a content Uri.

Currently FileResource requires an absolute path (which we don't have, but an Uri).
A ContentResource class would be a nice addition.

[2020-03-29 15:38] moisoni97 commented on #477
Note: this works only for downloading files in one take, pause/resume won't work because we are deleting the file and the request when the user cancels the download, so everytime it will start from the beginning.

You can check if the files exist in `onCreate` like this:
[code]
Then in `onCreate` check if the file exists:
[code]
In order to know when a download has completed, you have to override

[2020-03-29 17:20] amoozesh3 commented on #477
Hi @moisoni97 .
Thank you very much for your response.

[2020-03-29 21:04] #477 closed, assigned to nobody

[2020-03-31 13:43] NickPakhomov opened #481 "How do you compile your library code?"
Tonyo, first of all, great work writing this amazing library that we've been using for so long.

Due to the circumstances, we have to copy all of the lib source code into our project and introduce few tweaks along the way.

One thing that I don't quite get, is how do you manage to compile your project with `Interface Func does not have constuctors`? The 2 ways of solving this is either create an a

[2020-04-06 15:59] captain-nemo1 commented on #476
Maybe MediaStore doesn't get updated. Sometimes this happens. I had this problem earlier in my app.
I used MediaScannerConnection(context,String[]{path), mimeType, callback) after download finishes. This will update MediaStore.

[2020-04-06 22:59] jahirfiquitiva opened #482 "How to open file when notification is pressed?"
Hi

How can I open the downloaded file when the notification is pressed, just like `DownloadManager` works?

Thanks in advance

[2020-04-10 16:12] guy244 opened #483 "D"
Q

[2020-04-11 10:24] jpvs0101 commented on #476
What is exactly path means? uri.toString() or uri.getPath()? Because it seems like MediaScannerConnection() doesn't mind uris....

[2020-04-13 03:38] xwh3238557 opened #484 "Crash when "No space left on device"."
Hi:
I got a exception,when there is no space left on device.

android.system.ErrnoException:write failed: ENOSPC (No space left on device)
--
 libcore.io.Posix.writeBytes(Native Method)
 libcore.io.Posix.write(Posix.java:273)
 libcore.io.BlockGuardOs.write(BlockGuardOs.java:319)
 libcore.io.IoBridge.write(IoBridge.java:496)
 java.io.RandomAccessFile.writeBytes(RandomAccessFile.java:478)
 java.io.R

[2020-04-13 06:26] AlexStarc commented on #484
Seems this one is already has been adressed in https://github.com/tonyofrancis/Fetch/pull/480

[2020-04-14 06:39] LathiyaVinal opened #485 "It returns " waitingOnNetwork false " in onQueued method even there is No internetConnection and start download."

[2020-04-14 13:35] LathiyaVinal opened #486 "downloaded file getting corrupted if kill app while downloading is in progress."
1)downloaded file getting corrupted if kill app while downloading is in progress.
2) it will be better if you add feature for corrupted file that if kill app or cancel downlaoding then delete corrupted file.

[2020-04-14 13:53] captain-nemo1 commented on #476
Path means the directory you want to scan. You can read about it more in the Android Documentation.
For example, if you want to scan the Storage just pass Environment.ExternalStorageDirectory().

[2020-04-15 09:21] jpvs0101 commented on #461
Facing the same issue...

[2020-04-15 12:08] LathiyaVinal commented on #419
I also getting same issue with version 3.1.4.
It generates error " UNKNOWN" sometimes. So please take a look.

[2020-04-16 02:17] jpvs0101 commented on #476
Scanning entire folder might take more battery. So scanning individual file is better. Also it is better if it is inbuilt in Fetch!

[2020-04-18 05:30] LathiyaVinal opened #487 "Progress returns back when reopen after destroying app."
Follow steps to generate issue :
1) start download
2) when downloaded started and progress returns after queued, pause app and destroy app.
3) reopen app and again start downloading
4) progress returns back
onProgress: 9
onProgress: 7
onProgress: 18
onProgress: 17
onProgress: 26
onProgress: 21
onProgress: 35
onProgress: 24
onProgress: 44
onProgress: 28.

[2020-04-29 15:33] juanagu commented on #379
the correct code is :
`fetch.hasActiveDownloads(true, Func { competedDownloads = it })`

[2020-04-30 15:12] vyasishanatc194 opened #488 "How to get count based on download status without using call back function"
I want to give a message to the user if the downloading count is greater than 0 then I need to warn about please wait to download complete

[code]

[2020-05-02 15:21] #185 closed

[2020-05-02 15:44] #443 closed, assigned to tonyofrancis

[2020-05-02 15:44] #444 closed, assigned to tonyofrancis

[2020-05-02 15:44] #447 closed, assigned to tonyofrancis

[2020-05-02 15:44] #448 closed, assigned to tonyofrancis

[2020-05-02 15:45] #449 closed, assigned to tonyofrancis

[2020-05-02 15:46] #451 closed, assigned to tonyofrancis

[2020-05-02 15:48] tonyofrancis commented on #453
@mustansarsaeed You can use work manager or a foreground service to continue the downloads.

[2020-05-02 15:48] #453 closed, assigned to nobody

[2020-05-02 15:49] #455 closed, assigned to nobody

[2020-05-02 15:50] tonyofrancis commented on #457
All fetch callbacks are returned on the main thread.

[2020-05-02 15:50] #457 closed, assigned to nobody

[2020-05-02 15:54] tonyofrancis commented on #462
You can use `FetchConfiguration.setGlobalNetworkType(NetworkType.WIFI)` or `Fetch.setGlobalNetworkType(NetworkType.WIFI)` or you can set it when you create a request `request.setNetworkType(NetworkType.WIFI)`

[2020-05-02 15:54] #462 closed, assigned to nobody

[2020-05-02 15:55] #463 closed, assigned to nobody

[2020-05-02 15:56] tonyofrancis commented on #464
You can implement your own custom downloader to do this but Fetch does not support throttling by default.

[2020-05-02 15:56] #464 closed, assigned to nobody

[2020-05-02 15:56] #465 closed, assigned to nobody

[2020-05-02 15:56] #466 closed, assigned to nobody

[2020-05-02 15:57] tonyofrancis commented on #469
Attach a FetchListener to Fetch

[2020-05-02 15:57] #469 closed, assigned to nobody

[2020-05-02 15:59] tonyofrancis commented on #471
@enwokoma Yes you can do that with Fetch. Provide the FetchConfiguration your implementation of `StorageResolver`

[2020-05-02 15:59] #471 closed, assigned to nobody

[2020-05-02 16:00] tonyofrancis commented on #472
You cannot get a instance of the Fetch Database. What you can do is provide Fetch your own custom database manager . `FetchConfiguration.setDatabaseManager(manager)`

[2020-05-02 16:00] #472 closed, assigned to nobody

[2020-05-02 16:03] tonyofrancis commented on #456
You may want to use the ParallelDownloader. `FetchConfiguration..setHttpDownloader(new HttpUrlConnectionDownloader(Downloader.FileDownloaderType.PARALLEL))`

[2020-05-02 16:03] #456 closed, assigned to nobody

[2020-05-02 16:03] #478 closed, assigned to nobody

[2020-05-02 16:23] tonyofrancis commented on #488
You can observe a download via its ID and an observer.
[code]

[2020-05-02 16:29] tonyofrancis commented on #487
When the app was forced closed, Fetch may have not had a chance to save the progress and data after 24%. When the app was relaunched it must have restarted at 24 which was the last saved progress and then downloaded a few bytes reporting 28% when the app reopened.

[2020-05-02 16:30] tonyofrancis commented on #486
Can you provide a sample to recreate this issue?

[2020-05-02 16:37] tonyofrancis commented on #485
When a new download request is enqueued `waitingOnNetwork` returned in `fun onQueued(download: Download, waitingOnNetwork: Boolean)` will always return false because it was just enqueued. After the enqueue process, fetch will try to process and download the enqueued request, if no network is found `onQueued(download: Download, waitingOnNetwork: Boolean)` will be called again with `waitingOnNetwork

[2020-05-02 16:43] tonyofrancis commented on #483
@guy244 You can. You would have to provide Fetch your custom `StorageResolver` and override `getRequestOutputResourceWrapper` method. See `FetchConfiguration.setStorageResolver(resolver)`

[2020-05-02 16:52] tonyofrancis commented on #482
@jahirfiquitiva You would have to provide Fetch with a custom FetchNotificationManager. You can extend DefaultFetchNotificationManager and override the `updateNotification` method.

[code]

[2020-05-02 17:06] tonyofrancis commented on #481
@NickPakhomov I have not encountered this issue. Your project is probably on a newer version of kotlin, gradle and other libs whiles the Fetch library is still on older versions. I am currently updating the project to use newer versions.

[2020-05-02 18:17] tonyofrancis commented on #476
@jpvs0101 Fetch's main purpose and goal is to be the best file downloader on Android, not media organizer. I'd recommend after getting a file status of `completed` your code calls the necessary APIs on MediaStore to make sure media files are synced properly.

[2020-05-02 18:46] jpvs0101 commented on #476
I understand. Fetch saves file. Just one extra step needed for special cases like SAF. Otherwise it's purpose not fulfilled. Because saving files without access (partially) is not usually most developers expect. Atleast provide an option. It will be really helpful.

Pie - MIUI 11 (Redmi Note 7s)
Issue happens when I Choose 'Download' (Default option SAF document chooser UI) as location.
If I choos

[2020-05-02 21:57] tonyofrancis commented on #486
@LathiyaVinal This may be related to #419 . I am currently planning for a new version this week with the fixes.

[2020-05-02 22:20] tonyofrancis commented on #479
@JBramauer Thanks for using Fetch Server. You will be happy to know that I added an API for this in the up coming release that will launch in a few days.

In the new version you can provide FetchResource with a URI like this:
[code]

Fetch server should automatically find the URI input stream and do the work. If it does not work out of the box, you can provide your own custom FileResolver implemen

[2020-05-02 23:35] tonyofrancis commented on #461
I was able to replicate this issue. A fix is coming in the next few days.

[2020-05-02 23:44] tonyofrancis commented on #458
@nikhilmaurya10 The issue you are experiencing may be because of the `EnqueueAction`. See `request.setEnqueueAction(EnqueueAction.UPDATE_ACCORDINGLY)` for more information.

[2020-05-02 23:44] #458 closed, assigned to nobody

[2020-05-02 23:45] tonyofrancis commented on #419
I think I have fixed this issue. Will do some more testing. Watch out for a new version of fetch in the next few days.

[2020-05-02 23:45] tonyofrancis commented on #420
This bug may be related to #419 . A fix will be released in the the next few days.

[2020-05-02 23:48] tonyofrancis commented on #439
Hello Fetch users!

Sorry for the delayed Update. A new version of Fetch with a ton of Fixes will be released in the next few days.

RoadMap:

- Fix open issues in Fetch version 3.

- Start work on Fetch version 4 which will be much easier to use. I am hoping to fix many of the usage issues with Fetch and making it much lighter.

Suggestions are welcomed for version 4!!

[2020-05-02 23:48] tonyofrancis commented on #421
Fixed this bug. A new version of Fetch will be released in the next few days.

[2020-05-03 09:47] NickPakhomov commented on #481
I've only managed to compile your project with newest Kotlin 1.4M-1 and adding keyword `fun` to `interface Func` so I could use SAM. Super weird anyways. Didn't expect older versions of Kotlin to support compilation of the current source code.

[2020-05-03 12:48] tonyofrancis commented on #481
When using Fetch in older versions of Kotlin pre 1.4, the callbacks are call like this:`fetch.hasActiveDownloads(true, Func { competedDownloads = it })`. The reason for this is because I wanted to support Java lambas in the library and this was the best balance for java and kotlin users.

[2020-05-05 04:08] vyasishanatc194 commented on #488
Is it possible for another activity?
Images are downloading in the main activity and I want to check them in sub-activity.

[2020-05-05 22:55] tonyofrancis commented on #488
Yes you can. Just get another instance of Fetch and attach a listener or observer to it just like the main activity and you will get updates.

[2020-05-06 13:46] vyasishanatc194 commented on #488
Thank you @tonyofrancis, I will try this and let you know if I need more help from you

[2020-05-09 11:14] vyasishanatc194 commented on #488
Hello @tonyofrancis,

I have multiple downloading request-id, I want to check all download request has been completed or not before user action on the button, but when I check with your logic I always get all downloaded completed even downloading images

[2020-05-10 17:36] tonyofrancis commented on #488
In the onChanged method of the observer or onCompleted method of the Fetch listener, you must first check for the download id. If it matches what you have in your list, then you should update.

[code]

[2020-05-11 05:46] Adil-Sattar opened #489 "Video Download Error"
https://likee.com/@448061210/video/6824273807885114484

Not downloading video from this url

[2020-05-12 14:01] Teityan opened #490 "Download Progress is -1"
When downloading, the progress and time will be -1.
Some files are displayed correctly.
Why is that?When downloading, the progress and time will be -1.
Some files are displayed correctly.
Why is that?

[code]

[2020-05-13 13:39] akshaykalola28 opened #491 "download inputstream direclty"
I want to download inputstream directly from this library. because i am already using this library for download and i don't want download by some other cases. Can anyone help me for this?

[2020-05-13 21:37] gmanrainy opened #492 "File corrupted if change network"
Hi.
I use 3.1.4 version
FetchConfiguration:
`FetchConfiguration fetchConfiguration = new FetchConfiguration.Builder(this)
.setDownloadConcurrentLimit(2)
.enableRetryOnNetworkGain(true)
.setAutoRetryMaxAttempts(10)
.createDownloadFileOnEnqueue(true)
.enableHashCheck(true)
.setHttpDownloader(new OkHttpDownloader(NetworkProvider.getClient(), Downloader.FileDownloaderType.PARALLEL))
.build();`
So, if

[2020-05-15 03:57] mahdiazarm commented on #490
Does the URL you trying to download from accept ranges?
I faced the same issue couple of days ago, The URL that I'm trying to download from wasn't a direct link and didn't accept any ranges.

[2020-05-15 13:27] amsurana opened #494 "Send local broadcasts instead of System wide"
I noticed that the library sends a system wide broadcast: com.tonyodev.fetch2.action.QUEUE_BACKOFF_RESET

I wanted to know what made you send system-wide broadcasts? It is not possible to use LocalBroadcastManager for this purpose ?

[2020-05-15 13:31] Teityan commented on #490
Thank you.
The reason was that the Content-Length was not set.
Disabling Gzip compression in Apache cured it.

[2020-05-15 13:31] #490 closed, assigned to nobody

[2020-05-20 11:12] Teityan opened #495 "Get background download status."
I get the background download status by storing the ID in sharedpreferences so that it can be retrieved when the Activity is reopened.
However, getDownload only calls it once, and you don't know what happens afterwards.
Is there any good way to reconfigure the Listner?

[2020-05-20 16:09] razar-dev opened #496 "SD Card support"
Environment: Android 10, Fetch Sample APP (+code mod)

To select a directory I build and send an ACTION_OPEN_DOCUMENT_TREE intent like in the following code:
val intent = Intent(Intent.ACTION_OPEN_DOCUMENT_TREE)
startActivityForResult(intent, 999)

And give URI path:
content://com.android.externalstorage.documents/tree/0403-0201%3A

Path to file:
content://com.android.externalstorage.documents/tre

[2020-05-22 05:02] razar-dev commented on #489
This is not a link to video, this is HTML page.
To get a video, you need to parse the page and find the link to the video.
Valid url: http://video.like.video//eu_live//5uN//11xuP7_4.mp4?crc=2377112116&type=5

[2020-05-22 05:08] razar-dev commented on #495
To get information about the status of downloads you can use
`fetch.addListener(fetchListener)`
In order to stop
`fetch.removeListener(fetchListener)`

You can also configure the frequency of receiving messages
`setProgressReportingInterval`

[2020-05-22 18:46] #495 closed, assigned to nobody

[2020-05-26 09:11] mellowfunk commented on #489
a question??

anyone know how can I download this video https://www.kadgroove.net/watch.php?vid=cd4a48874

regards

[2020-05-27 04:42] Adil-Sattar commented on #489
Thanks razer-dev

[2020-05-27 04:42] #489 closed, assigned to nobody

[2020-05-28 10:18] wax911 opened #497 "Any plan to support observables instead of callbacks?"
Hi @tonyofrancis, thanks for the amazing library really appreciate the work that you've put in! I was just wondering that since the androidx variant of the project uses kotlin it would be nice if you ship minor artifacts with either lifecycle `livedata` or coroutines `flow` to replace/complement the follwoing:
- `com.tonyodev.fetch2core.Func<R>`
- `com.tonyodev.fetch2core.DownloadBlock.AbstractFet

[2020-06-06 14:09] tonyofrancis commented on #497
@wax911 I plan on bringing live data and flow to fetch in version 4. Please stay tune!

[2020-06-06 14:09] #497 closed, assigned to tonyofrancis

[2020-06-06 14:36] tonyofrancis commented on #496
@razar-dev It is possible. You will have to provide the FetchConfiguration a custom instance of StorageResolver. See the `DefaultStorageResolver` class to get started.

[2020-06-06 14:45] tonyofrancis commented on #494
@amsurana Great catch! I have added `intent.setPackageName(context.packageName)` to limit the scope. The reason why we don't use LocalBroadcastManager is because we would have to add the androidx support library as a dependency to only use `LocalBroadcastManager`.

[2020-06-06 14:46] tonyofrancis commented on #492
@gmanrainy Thanks for reporting this issue. A fix has been made. I will be releasing a new version of Fetch this weekend.

[2020-06-06 14:49] tonyofrancis commented on #491
@akshaykalola28 I do not understand what you are trying to do?

[2020-06-06 14:52] akshaykalola28 commented on #491
@tonyofrancis  I want to download inputstream.

Currently I can download it using the normal file operation.

So, can I do with this?

[2020-06-06 15:39] #421 closed, assigned to tonyofrancis

[2020-06-06 15:40] tonyofrancis commented on #439
A version 3 update will be released this weekend!!

[2020-06-06 15:40] #461 closed, assigned to tonyofrancis

[2020-06-06 15:41] #476 closed, assigned to tonyofrancis

[2020-06-06 15:41] #479 closed, assigned to tonyofrancis

[2020-06-06 15:41] #481 closed, assigned to tonyofrancis

[2020-06-06 15:41] #482 closed, assigned to tonyofrancis

[2020-06-06 15:42] #483 closed, assigned to tonyofrancis

[2020-06-06 15:42] #484 closed, assigned to tonyofrancis

[2020-06-06 15:42] #485 closed, assigned to tonyofrancis

[2020-06-06 15:42] #486 closed, assigned to tonyofrancis

[2020-06-06 15:42] #487 closed, assigned to tonyofrancis

[2020-06-06 15:43] #496 closed, assigned to tonyofrancis

[2020-06-06 15:43] #494 closed, assigned to tonyofrancis

[2020-06-06 15:43] #492 closed, assigned to tonyofrancis

[2020-06-06 15:43] #488 closed, assigned to tonyofrancis

[2020-06-06 15:43] #420 closed, assigned to tonyofrancis

[2020-06-06 15:50] tonyofrancis commented on #491
@akshaykalola28 you can provide Fetch with a custom downloader that allows you to access the inputstream of a download.

[code]

[2020-06-08 01:47] tonyofrancis commented on #419
Hey at @jpvs0101. We have a new preview version of Fetch that should fix this issue. Please give it a try and let me know if it works well for you. I am going to wait a few days before releasing the full version.

[code]

[2020-06-12 21:11] #491 closed, assigned to tonyofrancis

[2020-06-12 21:11] tonyofrancis commented on #419
@jpvs0101 Any updates?

[2020-06-13 05:58] jpvs0101 commented on #419
@tonyofrancis
Still issue exists!
(I am using SAF + fetchOkhttp.)

Steps to reproduce:
- Start a download from apkmirror (or any site, I hope).
- Clear app from recents -> resume ->  rapidly press pause/resume -> CAFR -> resume -> turn off the internet -> CAFR -> resume -> finish download.
- Check the downloaded file, it is corrupted.

Logs looks normal...

[2020-06-13 10:13] MustafaHasria opened #498 "get url of file after downloaded by clicking on notification"
i want open file after download by clicking on notification

[2020-06-14 08:27] jaykeerti commented on #424
@enwokoma Hey, can you share the fix of Downloading while in another activity?

[2020-06-14 14:12] #498 closed, assigned to nobody

[2020-06-15 22:38] Hashsharma commented on #143
@MotherChickenCOL @tonyofrancis can you please provide fetch downloader with intentservices in an another activity. I am newbie and just begin developing need your support with this problem.

[2020-06-18 12:06] visuall opened #499 "Allowed Networks"
Hello,

It is not actually a bug but probably an extension. Currently the lib supports WiFi and All for download types. This kind of fails for devices that are connected to the network via Ethernet and has no WiFi. In such case the only way to make downloads work is to allow all downloads which leads to allowing Cellular downloads too. It should be possible to allow Ethernet only without Cellular.

[2020-06-21 18:45] ayodelekehinde opened #500 "Questions regarding the lib"
Hi, awesome lib. I have questions though.
1. Can we use fetch in production app?
2. Connectivity change: does fetch handle network change? With a pause mechanism to resume after full connectivity restored ?
3. To ensure download keep running we wanna use fetch with workmanager, can we?

[2020-06-26 05:39] Nandish96 opened #501 "Getting CONNECTION_TIMED_OUT only when network is changed from data to WIFI"
Hi,
I wanted to handle network changes for download so I set enableRetryOnNetworkGain(true) in fetchConfiguration.
It works really well when network changed from wifi to mobile data, or when turning on and off the wifi /mobile Data.
But when i change the network from mobile data to wifi without switching off the mobile data I'm receiving a download fail with CONNECTION_TIMED_OUT error.
Is there a

[2020-06-26 08:12] viskum opened #502 "android 10"
Hey developer,
I an testing this project on android 10 it is not enqueue the download. And not showing any type of updates.(api 28)
But when i test this project on lolipop devices it is working correctly.
can you please tell me what can i do for it.

[2020-06-27 23:30] alsojin0806 commented on #502
see this link  https://github.com/tonyofrancis/Fetch/issues/463

[2020-06-28 07:16] enwokoma commented on #502
@wangjinwei0806 That does not entirely solve the issue. I don't even know why the initial issue was closed... Yes, the download works after the fix but, the underlying issue is that, it doesn't save properly.
Take for instance, after downloading an MP3, that MP3 file is not seen yet by other player apps.

[2020-06-28 19:06] viskum commented on #502
Hey...there...
The Issue was fixed by the upper link👍👍👍

[2020-06-28 19:06] #502 closed, assigned to nobody

[2020-07-06 15:17] nomizodiac commented on #461
@tonyofrancis as you have closed this issue? is it fixed? Because i am getting this issue and i am using version
androidx.tonyodev.fetch2:xfetch2:3.1.4

[2020-07-06 15:28] ralphgabrielle commented on #461
I think its time to check similar/other libraries. This issue is already closed.

[2020-07-06 16:42] razar-dev opened #503 "Change "NetworkType" for single download"
Hello how can I change the Network Type for an already started download?

[2020-07-08 07:29] kayesn786 opened #504 "Disable notification sound"
@tonyofrancis in some devices(Android 10) am getting notification sound.

FetchConfiguration fetchConfiguration = new FetchConfiguration.Builder(context).setDownloadConcurrentLimit(3)
                .setNotificationManager(new DefaultFetchNotificationManager(context) {
                    @NotNull
                    @Override
                    public Fetch getFetchInstanceForNamespace(@NotNull

[2020-07-09 21:42] abhishekhugetech opened #505 "Continue Downloading file even after screen lock."
Is there any way to keep the download running even after the user has pressed the lock screen button.

Currently, my device android version is 10 (Pie)

[2020-07-10 06:34] thezeeshan92 commented on #505
Yes, you can download using foreground service.

[2020-07-10 07:10] thezeeshan92 opened #506 "Read-only file system"
This error show when download file.
Read-only file system

[2020-07-14 11:03] abhishekhugetech commented on #505
@ZeeshanArid Thanks for the answer but I am already having a foreground service that enqueues the download again and again if the download fails (not canceled by the user). But the problem is that I have to show one extra notification for running that ForegroundService (Maybe, not good for UX).

Is there any way to make the Download Service Foreground while showing the default notification by the

[2020-07-14 13:29] #506 closed, assigned to nobody

[2020-07-15 07:16] tobiasdroste opened #507 "IllegalArgumentException thrown by ContentResolver"
`context.contentResolver.delete(uri, null, null)` will throw an IllegalArgumentException when the url is not starting with "content". This has the effect that enqueuing with enqueue action "REPLACE_EXISTING" is not working when no existing file is found.

This
https://github.com/tonyofrancis/Fetch/blob/61e5b53f1598380e60fdfe1f12133310355576ea/fetch2core/src/main/java/com/tonyodev/fetch2core/Storag

[2020-07-15 08:34] tobiasdroste commented on #507
My suggestion to solve this would be to replace `else context.contentResolver.delete(uri, null, null) > 0` by `else false`

[2020-07-16 14:29] carrypann opened #508 "Specific fileDownloaderType in HttpUrlConnectionDownloader not working"
I declare a FetchConfiguration with a HttpUrlConnectionDownloader like this:
[code]

However Fetch still check download type and ignores the fileDownloaderType I specific:
[code]

Furthermore, `FetchCoreUtils.getRequestSupportedFileDownloaderTypes` has catched generic exception, so above catch block will never be executed.

[code]

And `GET` HTTP method is used to check if parallel downloading sup

[2020-07-28 20:21] alosoft commented on #461
Any workarounds?

[2020-08-01 14:04] Shabinder opened #509 "Download Doesnt Start After Enquing requests!"
I am using fetch like below:

 val fetchConfiguration =
            FetchConfiguration.Builder(this)
                .setDownloadConcurrentLimit(4)
                .build()

        fetch = Fetch.Impl.getInstance(fetchConfiguration)
        fetch?.addListener(fetchListener)

 withContext(Dispatchers.IO){
                    val request= Request(obj.url, obj.outputDir)
                    request.p

[2020-08-01 14:15] Shabinder commented on #509
After enabling Logging ,

got these:

D/LibGlobalFetchLib: Added listener com.shabinder.spotiflyer.worker.ForegroundService$fetchListener$1@822a3cd

D/LibGlobalFetchLib: PriorityIterator backoffTime increased to 1 minute(s)
 D/LibGlobalFetchLib: PriorityIterator backoffTime increased to 2 minute(s)

Log of one the downloads(All are same= Queued :-| )
group=0, priority=NORMAL, headers={}, downloade

[2020-08-01 14:32] Shabinder commented on #509
I found a temporary WorkAround ,
there were some previously uncompleted which were blocking any new to download , so they all just waited in queue...
I cleared my apps data and cache , and it started working again!

So , i Want to Implement following:

everytime I create Fetch instance , all the previous queue or record to get deleted!
How to approach this?
Found : **fetch.removeAll()**
Thanks for

[2020-08-06 04:55] #509 closed, assigned to nobody

[2020-08-07 04:06] cowboybkit commented on #504
I get notification sound each update progress percent, it is crazy

[2020-08-07 05:56] KhurramShahzad094 opened #510 "Resuming or restarting download issue after app kill"
@tonyofrancis I am facing an issue in downloading a video. It downloads successfully, if i dont kill the app. but if the download is in progress and I kill the app and again go into app and click to download that particular video then it doesnot resume or restart the download and only calls these two callbacks. 1) onAdded. 2)onQueued
After that nothing happens.

I tried to find out the issue but n

[2020-08-12 15:24] nomizodiac opened #511 "File Download complete but file has 0 bytes"
I download a file using fetch i get Complete callback and file gets save/created in memory but with 0 bytes

`String finalPath = Environment.getExternalStorageDirectory().getAbsolutePath() + File.separator + Constants.MEERA_APPS_PATH + File.separator + fileName;
        final Request request = new Request(downloadPath, finalPath);
        request.setPriority(Priority.HIGH);
        request.setNetw

[2020-08-17 08:44] macgills commented on #439
@tonyofrancis any updates on the release? Would love to get a new version out to Kiwix users.

[2020-08-17 15:17] tonyofrancis commented on #511
@nomizodiac  It would be hard to say what the issue is with only the request information. Have you tried downloading the file on a physical device or emulator? Are the results always the same?. Also, try a different downloadPath to see if you get the same results.

[2020-08-17 15:25] tonyofrancis commented on #510
@KhurramShahzad094 Fetch uses `EnqueueAction` to handle different situations when enqueuing a download. Have a look at the `EnqueueAction` enum class.
[code]
Note the default enqueue action is `EnqueueAction.UPDATE_ACCORDINGLY` which does the following
[code]

If the enqueue action is not the issue, it could be that an error occurred for the download. Query the download first and log its status an

[2020-08-17 15:50] tonyofrancis commented on #508
@pop0505 Thanks for using Fetch.

The latest version of Fetch implements `getRequestSupportedFileDownloaderTypes(request: Downloader.ServerRequest): Set<Downloader.FileDownloaderType>` as such:
[code]
A network call is made to the server to verify that the server properly supports range requests / parallel downloading. If `Downloader.FileDownloaderType.SEQUENTIAL` is not specified.

After much tes

[2020-08-17 15:53] tonyofrancis commented on #507
@tobiasdroste Great catch. Will be fixed in the next version of fetch that will be released this week.

[2020-08-17 16:09] tonyofrancis commented on #505
Background downloading is very complex on Android because some device manufacturers force kill your app even when a foreground service is running. Even WorkManager does not always work correctly.

See: https://dontkillmyapp.com/
See: https://issuetracker.google.com/issues/122098785

The best you can do, is to implement a Foreground Service and inform the user to disable any battery settings that m

[2020-08-17 16:10] tonyofrancis commented on #504
Fix is coming this week.

[2020-08-17 16:11] tonyofrancis commented on #503
@razar-dev You can call `fetch.updateRequest(oldRequestId, newRequest, listener)`

[2020-08-17 16:22] tonyofrancis commented on #501
@Nandish96 Thanks for using Fetch.

The NetworkManager may still be reporting that the network is still available and connected, even though it is no longer available. Hence the reason the download fails with `CONNECTION_TIMED_OUT`. There is nothing the library can do to handle this issue.

What you can do is to attempt a retry. You can set how many times a download should be retried before Fetch

[2020-08-17 16:27] tonyofrancis commented on #500
1. Yes!
2. Fetch handles connectivity changes! You can also specify what network types a download can be performed on.
3. Create a worker and call `fetch.awaitFinishOrTimeout(allowTimeInMilliseconds: Long)` to keep the worker alive whiles fetch performs the downloads. Workers have a maximum of 10 minutes. So the most you can set is 10 minutes.

Try out the sample project in the repository!

[2020-08-17 16:48] tonyofrancis commented on #499
@visuall Thanks for using Fetch!
How about I do this for you.
[code]
In the next version of Fetch due to be released this week, you will be able to specify `NetworkType.UNMETERED`

Best,
-Tonyo

[2020-08-17 16:51] tonyofrancis commented on #439
@macgills I plan on releasing a preview of v3 with lots of bug fixes today. Once I have feedback, It should go public this week.

[2020-08-17 17:20] tonyofrancis commented on #419
@jpvs0101 Just released another preview build. Spent the whole day working on this. I think it's finally fixed. Please test and let me know how it goes.
[code]
Sorry about the long delay. It's been hectic on my end for quit sometime now.

[2020-08-17 17:22] tonyofrancis commented on #499
@visuall If you would like to test. I pushed a preview build. You can test and let me know if it works well for you
[code]

[2020-08-17 17:36] #503 closed, assigned to tonyofrancis

[2020-08-19 05:15] Braxeo opened #512 "A resource failed to call close"
When closing the app while "Don't keep activities" is turned on, i receive several "W/System: A resource failed to call close." warnings

As well as once i've gotten a Download to Status.COMPLETED then cleared the cache and go back into the app, i'll also receive this same error

(I've used StrictMode to get more detailed information on the issue)
[Report.txt](https://github.com/tonyofrancis/Fetch

[2020-08-19 14:42] tonyofrancis commented on #508
New version of Fetch has been released. See readme for new version number.

[2020-08-19 14:42] tonyofrancis commented on #507
New version of Fetch has been released. See readme for new version number.

[2020-08-19 14:42] #507 closed, assigned to tonyofrancis

[2020-08-19 14:43] tonyofrancis commented on #504
New version of Fetch has been released. See readme for new version number.

[2020-08-19 14:43] #504 closed, assigned to tonyofrancis

[2020-08-19 14:43] tonyofrancis commented on #500
New version of Fetch has been released. See readme for new version number.

[2020-08-19 14:43] #500 closed, assigned to tonyofrancis

[2020-08-19 14:43] tonyofrancis commented on #499
New version of Fetch has been released. See readme for new version number.

[2020-08-19 14:43] #499 closed, assigned to tonyofrancis

[2020-08-19 14:44] tonyofrancis commented on #439
New version of Fetch 3.0.11 and AndroidX version 3.1.5 has been released. See readme for new version number.

[2020-08-19 14:44] tonyofrancis commented on #419
New version of Fetch has been released. See readme for new version number.

[2020-08-19 14:45] tonyofrancis commented on #486
New version of Fetch has been released. See readme for new version number.

[2020-08-19 14:46] tonyofrancis commented on #492
New version of Fetch has been released. See readme for new version number.

[2020-08-19 14:47] tonyofrancis commented on #461
New version of Fetch has been released. See readme for new version number.

[2020-08-19 14:51] tonyofrancis commented on #512
@Braxeo I will have to take a closer look into this issue. Will report back.

[2020-08-20 08:38] ayodelekehinde commented on #500
Aiit, thanks I'm implementing it as I type

[2020-08-20 08:47] macgills commented on #439
Awesome, thank you

[2020-08-20 13:20] jpvs0101 commented on #419
@tonyofrancis Tested 3.1.5. Seems like download file corruption issue solved But it seems like we cannot pause/stop download sometimes which is annoying same as corrupted download. (I am not discouraging, but trying to help).
Reproduce: Goto apkpure.com, download an apk, rapidly press pause/resume button. Now download can't be stopped normally. We have to force close app to stop download. Version

[2020-08-20 15:07] tonyofrancis commented on #419
@jpvs0101 I was able to replicate this behavior! . Looking into it

[2020-08-23 10:45] ghost commented on #327
still doesn't work

[2020-08-23 14:27] ghost opened #513 "Notification button doesn't work"
Notification cancel and pause in DefaultFetchNotificationManager.kt doesn't work. Every time I clicked those button, notification keeps disappear.
Maybe related to this issue #327

Here's my code
[code]

I also tried custom notification using listener with Downloader.FileDownloaderType.PARALLEL enabled, sometimes onCompleted event called twice even more when download finished.

[2020-08-24 09:17] razi3742 opened #514 "Help Required ?? How to make post Request"
I am using Fetch by using CustomHttpConnectionLoader as a downloader. can any one tell how i can call post request with this ??

[2020-08-24 14:23] razi3742 commented on #419
@tonyofrancis  @jpvs0101 can any one tell how to use this library for post request

[2020-08-24 15:22] bensadiku opened #515 "Low download speed"
Is there a configuration to improve the speed of the download.

I'm downloading large files 1gb+, on a 200+mbps network and it's taking few hrs. Was wondering if there is a configuration i missed to improve this. I'm using `androidx.tonyodev.fetch2:xfetch2:3.1.5`

Something that might be useful is that i'm noticing the `onDownloadBlockUpdated` show up on logs often. Not sure how relevant that is.

[2020-08-25 08:36] viveking opened #516 "Request with POST Method"
Hi found this library helpful in many ways.
But was searching around for a while, regarding some configurations to download a file.
We have to consume a POST method with some request Body.

Help Appreciated.
Good Work @tonyofrancis

[2020-08-25 09:31] abhishekhugetech commented on #505
Thanks, @tonyofrancis It's best if we disable battery optimization for our app, then it works perfectly fine with a foreground service.

[2020-08-25 09:31] #505 closed, assigned to tonyofrancis

[2020-08-25 10:05] abhishekhugetech opened #517 "Error REQUEST_NOT_SUCCESSFUL when Download Failed from getintopc.com"
**URL Downloading**-> http://51.83.136.12/Getintopc.com/BluffTitler_Ultimate_15.0.0.1_Multilingual.rar?md5=_jQwKLaEW30Wk-ArOgA6sg&expires=1600940204

**throwable** -> **String** -> com.tonyodev.fetch2.exception.FetchException: request_not_successful

**throwable** -> **StackTrace** ->
com.tonyodev.fetch2.downloader.ParallelFileDownloaderImpl.run(ParallelFileDownloaderImpl.kt:160)
com.tonyodev.fetc

[2020-08-25 10:09] FelixBurkhard commented on #511
I have a similar problem. When I start the app for the first time with a new save path it downloads the file as expected. When starting the app the second time the file download completes but the file has 0 bytes.
Deleting the file (either manually or in code) before retrying to download does not change the outcome.
Any ideas what could be the problem here?

Update:
calling removeAll() on the Fetc

[2020-08-26 18:19] Tabassum789 opened #518 "setDownloadConcurrentLimit(10) not working"
i have changed the .setDownloadConcurrentLimit(1) to .setDownloadConcurrentLimit(10) but there is no difference in downloading
Is there any way to download files parallel ????

[2020-08-28 07:00] tobiasdroste commented on #512
I'm getting a lot of those messages `W/System: A resource failed to call close. ` too. But not only when closing the app. Also when doing many downloads.

[2020-08-28 20:39] tosam144 opened #519 "Where is the logfile?"
I have enabled logging using `.enableLogging(true)`. May I know where the logfile is located?

[2020-08-30 14:34] #501 closed, assigned to tonyofrancis

[2020-08-30 14:34] #508 closed, assigned to tonyofrancis

[2020-08-30 14:34] #510 closed, assigned to tonyofrancis

[2020-08-30 14:35] tonyofrancis commented on #519
@tosam144  There is no log file. All logging is directed to logCat

[2020-08-30 14:35] #519 closed, assigned to nobody

[2020-08-30 14:38] tonyofrancis commented on #518
@Tabassum789 `setDownloadConcurrentLimit(number)` allows you to download files in parallel. Check out the sample app in the repo to see how its done.

[2020-08-30 14:38] #518 closed, assigned to nobody

[2020-08-30 14:44] tonyofrancis commented on #516
@viveking Thanks for using Fetch. Fetch only uses the Get and Head method out of the box to download files. If you need to make a post request before downloading a request, you may need to create a custom Downloader. Have a look at the sample app in the repo and checkup the Java docs.

[2020-08-30 14:49] tonyofrancis commented on #515
Hello @bensadiku. `.setDownloadConcurrentLimit(3)` allows fetch to download more than one file at a time. If you need a single file to download faster you must provide fetch with a parallel downloader.

[code]

Check out the sample app in the repo for more examples.

[2020-08-30 14:53] tonyofrancis commented on #514
@razi3742 Fetch by default only uses the Get and Head methods. If you need to post, you may need to provide fetch with a customer downloader.

[code]

[2020-08-30 15:05] tonyofrancis commented on #513
@nana-desu when implementing a custom version of DefaultFetchNotificationManager you must also override the `getFetchInstanceForNamespace` method to provide the fetch instance the download belongs too.

[code]

[2020-08-30 15:08] tosam144 opened #520 "enableRetryOnNetworkGain(false) not working"
I am using

        FetchConfiguration fetchConfiguration = new FetchConfiguration.Builder(mContext)
                .setNamespace("docs")
                .enableRetryOnNetworkGain(false)
                .setDownloadConcurrentLimit(3)
                .build();

and expected that `onError` is thrown once Internet connection is lost. I want `onError` to be thrown once Internet is lost during a downl

[2020-08-30 15:31] tonyofrancis commented on #517
@abhishekhugetech Have you tried the download on a different device or emulator?. Does the download work in a browser on the device. I noticed the the url uses the ip address instead if host name eg: google.com. What if you tried the host name instead does it work??

[2020-08-30 15:37] tonyofrancis commented on #520
@tosam144 . What is the testing procedure?. Airplane mode. Switching the wifi on or off??. Does it work as expected on a different device or emulator?

Also, the http client fetch uses to download has a minimum timeout of about 15 seconds before failing.

[2020-08-30 15:50] tosam144 commented on #520
While downloading, turn off Wifi (or turn on Airplaine mode, both brings up the issue). My setup is: I have 2 tabs in my app and in each of the 2 fragments, the user can download something. Each fragment uses a new fetch instance with its own namespace. In both fragments, the fetch config is the same (the one I posted already), using `enableRetryOnNetworkGain(false)`. Now the interesting thing is,

[2020-08-30 18:43] tonyofrancis commented on #520
@tosam144 . If it works in one fragment it should work in the other fragment. Can you share a sample app? My email is located in my profile

[2020-08-31 04:43] badrazizi opened #521 "okhttp 4.* min sdk 21 (android 5)"
you can bump library_min_version to 21 or set okhttp to version 3.12.12 which is the last version that support sdk older than 21

[2020-08-31 05:21] nana-desu commented on #513
I use this but notification keeps disappear when pause clicked
[code]

For custom listener .addListener(), can you fix for onCompleted called twice or more when using Downloader.FileDownloaderType.PARALLEL enabled

Thank you

[2020-08-31 05:47] razi3742 commented on #514
@tonyofrancis can we create two instances of Fetch one for get request and second with above configurations for post requests ??

[2020-08-31 19:42] fernandodeveloper commented on #419
I try dowloading zip but still corrupt too. I using 3.1.5

[2020-08-31 20:05] #515 closed, assigned to nobody

[2020-09-01 12:48] ghost commented on #513
I implemented that but notification keeps disappear or maybe download stopped while pause clicked.

Another problem with custom notification on setListener, sometimes when download finished but notification stuck at 100%. This issue related to this https://github.com/tonyofrancis/Fetch/issues/460

Edit: I already fixed for DefaultFetchNotificationManager, but only problem downloadNotification.isCo

[2020-09-05 15:47] alighasemia81 opened #522 "issue with pause / resume"
hi
thank you for this useful library
in new version 3.1.5 lots of bugs have been fixed.thanks a lot
but a major bug have been created!
if we pause a file that is downloading and then resume it download will stop and get error!
This causes the system to be completely unused!
please follow up this problem.thanks a lot

[2020-09-06 04:59] alighasemia81 commented on #522
i got this error

`<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
    <html><head>
    <title>416 Requested Range Not Satisfiable</title>
    </head><body>
    <h1>Requested Range Not Satisfiable</h1>
    <p>None of the range-specifier values in the Range
    request-header field overlap the current extent
    of the selected resource.</p>
    </body></html>`

[2020-09-08 04:54] asker517 commented on #405
@alex-berdnikov any progress on this issue?

[2020-09-08 08:38] alex-berdnikov commented on #405
No, unfortunately

[2020-09-09 05:40] asker517 commented on #405
@alex-berdnikov i just found  remove``HttpLoggingInterceptor`` or HttpLoggingInterceptor set level to `basic` or `none` can solved...

[2020-09-09 13:58] #514 closed, assigned to nobody

[2020-09-12 22:16] austinkottke commented on #511
Confirmed:

com.tonyodev.fetch2:fetch2:3.0.11

Still an issue. onComplete fires but the fileUri is 0 bytes.

Simulator, device doesnt matter.

[2020-09-12 23:38] joelphilippage opened #523 "Concurrent Limit Not Working"
I only want to allow downloading of 1 file at a time in my app. I believe this is supposed to be the default fetch configuration, but their appears to be no limit for me even if I set it to 1.

Here is my method for initiating fetch:
[code]
I am using the fetch.enque method to start a download. I want the first download to start immediately and all the others to be added to a queue where they will

[2020-09-13 14:06] joelphilippage commented on #523
Doing some seaching, I see the same issue has been closed twice, but don't see a solution:
https://github.com/tonyofrancis/Fetch/issues/443
https://github.com/tonyofrancis/Fetch/issues/196

I am using androidx.tonyodev.fetch2:xfetch2:3.1.5
I also tried to make fetch in the companion object so it will be static to make sure there could only be one instance but am still seeing the issue.

[2020-09-13 20:50] joelphilippage opened #524 "Fetch crashes with SSL error BAD_DECRYPT"
Downloads occasionally crash part way through with this error:
[code]

This is not sent to the fetch handler so I'm not sure how to catch this and recover from it.

[2020-09-15 08:33] mreinhardt24 commented on #511
I had a similar issue where the fetch instance contained already finished downloads. As @FelixBurkhard mentioned I had to remove the downloads from it. E.g. call removeAll() or remove(downloadId). Now everything works fine.

[2020-09-17 13:25] mreinhardt24 commented on #419
@tonyofrancis No idea if this is related to the problem mentioned here but it seems like the onCompleted callback after resuming a download is not called in version 3.1.5. Also the progress callback seems to be missing the callback with 100%.

Version 3.1.0 works as expected. Maybe this helps.

[2020-09-18 11:31] NNirosan02 commented on #419
This still an issue for others? Still getting a similar issue

[2020-09-18 13:26] fernandodeveloper commented on #419
I I managed to solve mine by changing the download mode from Downloader.FileDownloaderType.PARALLEL  to Downloader.FileDownloaderType.SEQUENTIAL

[2020-09-21 16:54] Dezley-VROwl commented on #486
Hi, this issue is still present for me in 3.0.11. I noticed a few things:

- When you kill the app while it's downloading and then restart the app, it adds the amount of bytes that have been downloaded up to that point to the file. So for example with Big Bunny, the initial file size is 151 MB. If it has downloaded 50 MB and you kill and restart the app, the file size will be set to 201 MB.

- Thi

[2020-09-25 01:28] ghost commented on #513
Any workaround?

[2020-09-26 04:23] Jatin-Sondagar opened #525 "Fetch Issue When Run in Background"
Hello, First of all thanks for this wonderful library.
I was integrating this lib in one of my project but i found one issue that when i start download from list its working fine but when i press back button and get back to same activity it doesnot resume download. I want every queued download to complete in background even if i leave screen.

So please suggest me if i am missing something or reso

[2020-09-27 12:04] robbyl commented on #406
Having the same issue.
Updating the url makes the download to start from the beginning it does not continue from where I left

[2020-09-30 09:00] iroidzeel opened #526 "ConnectivityManager$TooManyRequestsException"
I'm getting crash sometimes

ConnectivityManager$TooManyRequestsException

when I start for downloading files

[2020-10-01 10:22] serhiy-mazur commented on #520
I have the same behavior. Is there any update?

[2020-10-03 18:31] NotNotMarshall commented on #470
@tonyofrancis !!

[2020-10-04 12:04] XiXiongMaoXiong opened #527 "[CRITICAL BUG] Wrong download total size after resuming"
At first shot the total size gets shown correctly but after a cancel and resume, or a pause and resume the total size is alreadyDownloadedSize + totalSize!

This bug is only in version 3.1.5 of Android X... Version 3.1.4 doesn't have this bug
@tonyofrancis

[2020-10-05 15:16] XiXiongMaoXiong commented on #527
@tonyofrancis
!!!

[2020-10-05 16:29] XiXiongMaoXiong commented on #520
Answer me!

[2020-10-05 16:29] XiXiongMaoXiong commented on #520
Answer my issue!

[2020-10-05 17:58] XiXiongMaoXiong commented on #527
This bug is only in version 3.1.5 of Android X... Version 3.1.4 doesn't have this bug I just tested.

[2020-10-06 08:58] Dezley-VROwl commented on #527
I am having the same issue with the non-Android X version and posted my issues in an old, closed issue (#486.) I'll post it here again in case it helps:

"Hi, this issue is still present for me in 3.0.11. I noticed a few things:

- When you kill the app while it's downloading and then restart the app, it adds the amount of bytes that have been downloaded up to that point to the file. So for exampl

[2020-10-06 11:52] XiXiongMaoXiong commented on #527
Yep same problem in my case. For right now I have fallen back to 3.1.4 version but it feels more like getting out from the shower and stand under the rain, because 3.1.4 has a ton of bugs and issues that were all fixed in 3.1.5 as the dev himself said that he doesn't bother his lazy bum to work in this library. So now I'm in pitfall of going with a buggy version or using a new version but implemen

[2020-10-06 11:55] NotNotMarshall commented on #527
By the way this is the example project in case if you need to take a look... It is simple and doesn't have a lot of stuff just a download function and a custom resolver class.

https://drive.google.com/file/d/1OzLUJwdPgcn7JDsYtRoP_fxZX6f08d3t/view?usp=sharing

RAR password: 123

[2020-10-06 11:56] NotNotMarshall commented on #527
And oh let me thank you very much for your reply. That's so kind of you ^_^

[2020-10-06 13:57] NotNotMarshall commented on #527
@tonyofrancis You should really start taking your lib issues seriously otherwise just archive the repo or give it to someone else for maintaining.

[2020-10-08 10:01] amrashraf1992 commented on #511
i have same issue with onCompleted event it fired when we have network failure ?

[2020-10-09 14:35] l132a commented on #526
i have the same problem

[2020-10-10 11:31] sanjaysingh1990 opened #528 "REQUEST_NOT_SUCCESSFUL"
File downloading 50% after it's not getting downloaded but file is working fine.

{
    "autoRetryAttempts": 5,
    "autoRetryMaxAttempts": 5,
    "created": 1602328936848,
    "downloadOnEnqueue": true,
    "downloaded": 17017742,
    "downloadedBytesPerSecond": -1,
    "enqueueAction": "UPDATE_ACCORDINGLY",
    "error": "REQUEST_NOT_SUCCESSFUL",
    "etaInMilliSeconds": -1,
    "extras": {

[2020-10-10 17:43] zunjae commented on #154
I've been through every issue here on GitHub and you mention this a lot without specifying what you mean.

Let's say I enqueue a download in WhateverActivity, how do I continue downloading the file through a service? I've already injected a Fetch instance into my Service subclass. What "continue download" method do I need to use?

[2020-10-10 20:20] badrazizi commented on #521
@tonyofrancis your last commit almost 2 month ago, since a lot of developers relay on this in their apps and it's a lot of work to write our own or move to another library.

if you can not maintain this project anymore you can transform the repo to any of the contributors or any developer willing to take the work.

[2020-10-11 17:37] zunjae opened #529 "Get all downloads in a group"
Hi. For whatever reason I'm unable to query every download in a group, including completed ones

This correctly gives me ALL downloads.
[code]

This however does not. Completed downloads disappear
[code]

Version used: "androidx.tonyodev.fetch2:xfetch2:3.1.5"

Is this by design or is there a way around this?

[2020-10-11 17:43] #529 closed, assigned to nobody

[2020-10-15 11:11] husam47 commented on #419
Hello,

I am facing the issue again and a lot, the files downloaded normally but it is corrupted, I tried with normal configurations and with the custom same issue, on some devices the file downloaded without issues but on others downloaded normally but corrupted.

here is my normal configuration
Downloader<HttpURLConnection, Void> customDownloader = new CustomDownloader();
        FetchConfigurat

[2020-10-22 13:48] kambrish opened #530 "After Close the fetch and start again dowloading the same file not started download"
I started multiple download and it is working successfully but when I kill my app I close the Fetch instance at that time some files was not completely downloaded. after some time I again start the app and again put these file for download it added successfully in fetch but actually files was not downloading.

[2020-10-26 04:40] praveenkumar2K06 opened #531 "Help for adding fetch listener"
Can any one help me in adding fetch listener

[2020-10-28 13:38] zunjae commented on #531
[code]

All you need to know

[2020-10-30 16:59] vkotovv commented on #208
I've used this code to enqueue synchronously using RxJava Completable:

[code]

[2020-11-01 16:56] zunjae opened #532 "Unable to make a SAF supported StorageResolver"
Hello, I would like to know how to implement SAF with Fetch. Here is what I've tried so far:

1) Ask user for permission to store files in a specific folder using

[code]

This part works. I got the URI to the root folder of the user selected folder

StorageResolver implementation:

[code]
My issue appears in getRequestOutputResourceWrapper. I need to create an OutputStream based on the URI I crea

[2020-11-01 21:15] zunjae commented on #532
Closest thing I've found is to simply not implement `createFile` and instead create the file in `getRequestOutputResourceWrapper`

May work but breaks the interface contract

[2020-11-04 11:39] praveenkumar2K06 commented on #531
Should i add like this?

[code]

[2020-11-11 03:48] AbreuY commented on #516
@viveking You can manage your response with another library like volley and then pass the download link obtained from response to your download service or any other method you have.

[2020-11-11 03:53] AbreuY commented on #522
Hi @alighasemia81 This seems more like a problem with the server than with the fetch library. Please check this link. [416 Requested Range Not Satisfiable](https://stackoverflow.com/questions/5891431/416-requested-range-not-satisfiable)

[2020-11-11 03:57] AbreuY commented on #525
@Jatin-Sondagar are you using a download service for this? I recommend you to do a download service to manage it on background.

[2020-11-17 16:08] badrazizi commented on #532
try this way

[code]

[2020-11-17 16:36] badrazizi commented on #527
@NotNotMarshall, @Dezley-VROwl does this happen with you in Parallel File Download or Sequential File Download

[2020-11-17 16:40] Dezley-VROwl commented on #527
@badrazizi On both settings

[2020-11-17 18:17] badrazizi commented on #527
i was able to reproduce this only with Sequential File Download, Parallel File Download give me correct total size

@Dezley-VROwl i could not reproduce it, could share a link to test with.

[2020-11-18 13:20] thib-rdr opened #534 "How to implement a custom FetchHandler ?"
Hi, long term user of you lib, thanks for your hard work !

I've created in my code a new FetchHandlerImpl, extending FetchHandler, and added all the necessary code. How can I tell my local Fetch implementation to use this custom handler ? Something to do with the modules ? I'm having trouble figuring it out. Just a quick FYI my app is still in Java 😄

Thanks in advance

[2020-11-19 20:56] badrazizi opened #536 "don't resume download if content-type or content-length changed"
if download session expired it's suppose to fail but instead it over write the file with the new response.

i propose that it check if content-type or content-length or both are changed before it try to resume download.

[2020-11-20 11:52] NotNotMarshall commented on #527
https://drive.google.com/file/d/1OzLUJwdPgcn7JDsYtRoP_fxZX6f08d3t/view?usp=sharing

[2020-11-20 11:53] XiXiongMaoXiong commented on #527
Both

[2020-11-20 11:53] XiXiongMaoXiong commented on #527
This will reproduce the error:
https://drive.google.com/file/d/1OzLUJwdPgcn7JDsYtRoP_fxZX6f08d3t/view?usp=sharing
RAR password: 123

[2020-11-21 07:41] AlirezaGhanbarinia opened #537 "Coroutines"
Is Coroutines used in Fatah library or Do you have a plan to use Coroutines ?